ul, li {
    list-style: none;
}
.bank_list {
    margin-top: 0px;
    clear: both;
}

.bank_list #b_l li {
    float: left;
    width: 60px;
    margin: 10px 10px 0px 0;
    border-bottom: none;
    padding: 0 !important;
}

.event, .tut {
    height: 15px;
    padding-left: 20px;
    margin-top: 5px;
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.event {
    color: #da0000;
    background: url(../images/event.png) left no-repeat;
}

.tut {
    background: url(../images/tut.png) left no-repeat;
}

.bk_logo {
    position: absolute;
    top: 10px;
    left: 310px;
}

.pm_submit {
    width: 200px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.pm_submit:hover {

}

.submit {
    margin: 20px 0 0;
    width: 100%;
    text-align: center;
}

.img-active {
    border: 2px solid blue !important
}

.img-bank {
    border: 2px solid white
}

div .selected {
    background-color: #e8f4fb;
}

ul#bl li img {
    padding: 3px 3px 3px 3px;
}

.payment-mode {
    display: block;
    margin: 15px 23px 0px 0px;
    float: left
}

.desc-mode {
    /*font-size: 13px;*/
    font-weight: bold
}

#daykeep {
    display: none;
    margin-top: 10px;
}

.info1 {
    display: none;
}
label .control-label{
    font-weight: bold;
}