<section class="page no-padding" id='payment' ng-controller='payment' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-credit-card"></span> <span data-i18n="">Thanh toán</span> </strong></div>
        <div class="panel-body">

            <form novalidate="novalidate" data-smart-validate-form>
                <div class="col-xs-12" data-smart-wizard finish-label="finish"
                     data-smart-wizard-callback="checkout">
                    <div class="form-bootstrapWizard clearfix">
                        <ul class="bootstrapWizard hidden-xs">
                            <li data-smart-wizard-tab="1" >
                                <a> <span class="step">1</span>
                                    <span class="title" data-i18n="">Thông tin cá nhân</span>
                                </a>
                            </li>
                            <li data-smart-wizard-tab="2" >
                                <a> <span class="step">2</span>
                                    <span class="title" data-i18n="">Phương thức thanh toán</span>
                                </a>
                            </li>
                            <li data-smart-wizard-tab="3">
                                <a> <span class="step">3</span>
                                    <span class="title" data-i18n="">Chọn loại thẻ/tài khoản thanh toán</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" data-smart-wizard-pane="1">
                            <div class="overwrite-title hidden-sm hidden-md hidden-lg" data-i18n="">Thông tin cá nhân</div>
                            <br>

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control " placeholder="Họ và tên" id="payer_name" ng-model="payer_name"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control " placeholder="Số điện thoại" id="payer_phone_no" ng-model="payer_phone_no"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control " placeholder="Email" id="payer_email" ng-model="payer_email"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control " placeholder="Địa chỉ" id="payer_address" ng-model="payer_address"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control " id="total_amount" disabled ng-model="total_amount" placeholder="Số tiền thanh toán"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" data-smart-wizard-pane="2">
                            <div class="overwrite-title hidden-sm hidden-md hidden-lg" data-i18n="">Phương thức thanh toán</div>
                            <br>
                            <div class="row">
                                <div class="animate-switch-container">
                                    <div class="animate-switch">
                                        <div class="col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" id="payment_0" ng-model="payment" ng-click="selectPaymentBank(payment)" name="payment" value="0">

                                                        <label id="80" for="payment_0" class="control-label">Thanh toán Bảo Kim</label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" id="payment_2" ng-model="payment" ng-click="selectPaymentBank(payment)" name="payment" value="2" checked>

                                                        <label id="2" for="payment_2" class="control-label">Thanh toán trực tuyến bằng thẻ quốc tế</label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" id="payment_3" ng-model="payment" ng-click="selectPaymentBank(payment)" name="payment" value="3">

                                                        <label id="3" for="payment_3" class="control-label">Chuyển khoản InternetBanking</label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" id="payment_1" ng-model="payment" ng-click="selectPaymentBank(payment)" name="payment" value="1">

                                                        <label id="1" for="payment_1" class="control-label">Thanh toán trực tuyến bằng thẻ ATM nội địa</label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div >

                            </div>

                        </div>
                        <div class="tab-pane" data-smart-wizard-pane="3">
                            <div class="overwrite-title hidden-sm hidden-md hidden-lg" data-i18n="">Chọn loại thẻ/tài khoản thanh toán</div>
                            <br>
                            <div class="row-fluid method">
                                <div class="bank_list">
                                    <ul id="b_l">
                                        <li ng-repeat="bank in banks" ng-model="abc">
                                            <img class="img-bank" id="{{bank.id}}" src="{{bank.logo_url}}" value="{{bank.id}}" ng-click="ChooseBank(bank.id, $event)"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row wizard">
                            <div class="actions clearfix">
                                <ul role="menu" aria-label="Pagination" style="margin-top: 30px;">
                                    <!--<li class="hidden-lg hidden-sm"  data-smart-wizard-prev><a href="#" data-i18n="previous"></a></li>-->
                                    <!--<li class="hidden-xs hidden-md"  data-smart-wizard-next>-->
                                    <!--<a href="" name="submit" data-i18n="" ng-click="checkout()"> Hoàn thành</a>-->
                                    <!--</li>-->
                                    <!--<li class="hidden-sm hidden-lg btn-end"  data-smart-wizard-next><a href="" data-i18n="next"></a></li>-->
                                    <!--<li class="hidden-sm hidden-lg btn-submit"  data-smart-wizard-next>-->
                                    <!--<a href="" name="submit" data-i18n=""> Hoàn thành</a>-->
                                    <!--</li>-->
                                    <li class="hidden-lg" data-smart-wizard-prev><a href="#"
                                                                                    data-i18n="previous"></a>
                                    </li>
                                    <li data-smart-wizard-next>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>