<div id='selectcv' ng-controller="selectcv" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <section class="panel panel-default">
        <form novalidate="novalidate" data-smart-validate-form id="formselectcv">
                <!-- Panels -->
                <div ng-repeat="(name, panel) in panel.panels" ng-hide="panel.height == '0px' || panel.hide" class="row-fluid panel" style="min-height:{{panel.height}}; position:relative" ng-style="{'width':!panel.span?'100%':(panel.span/1.2)*10+'%'}">
                    <!-- Error Panel -->
                    <div class="row-fluid">
                        <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                            <a class="close" ng-click="panel.error=false">&times;</a>
                        </div>
                    </div>
                    <!-- Content Panel -->
                    <div class="row-fluid">
                        <mobile-panel type="panel.type"></mobile-panel>
                    </div>
                </div>
        </form>
    </section>
</div>
</div>

