<div id='addnewcv' ng-controller="addnewcv" xmlns="http://www.w3.org/1999/html" ng-init="init()">

<div class="page no-padding-moblie no-padding">
<section class="panel panel-default">


<div class="panel-heading form-group"><strong><span class="glyphicon glyphicon-th"></span>
    <span data-i18n="manage cv"></span></strong>
</div>

<div class="panel-body no-padding">
<form id="formAddnewcv" novalidate="novalidate" data-smart-validate-form>
<div class="col-md-12 no-padding">
<div class="col-md-6 form-group no-padding-mobile">
<div class="border-group">
<div class="panel-heading border-wrapper form-group">
    <strong>
        <span class="glyphicon glyphicon-user"></span>
        <span data-i18n="personal information">Thông tin cá nhân</span>
    </strong>
</div>
<div class="panel-body padding-moblie">
<div class="col-md-3 col-xs-12 no-padding">
    <div id="inputAll" class="col-lg-12 no-padding image-container">
        <div id="canvasImg" class="hide">
            <canvas width="111" height="111" id="canvas" image-cropper image="cropper.sourceImage"
                    cropped-image="cropper.croppedImage" crop-width="111" crop-height="111"
                    keep-aspect="true"></canvas>
        </div>
        <div id="imgFinal"><img class="image-crop-final" crossorigin="anonymous"
                                ng-src="{{cropper.croppedImage}}"/></div>
        <div class="image-avatar btn btn-danger col-sm-12"><i class="fa fa-pencil"></i> <span
                data-i18n="select image"></span><input id="inputImg" type="file"
                                                       img-cropper-fileread
                                                       image="cropper.sourceImage"
                                                       class="image-crop-input"/></div>
        <label id="notifiSuccess" class="hide notifisuccess text-center col-md-12 no-padding"
               data-i18n="avatarsuccess"></label><label id="notifiDL"
                                                        class="hide notifierror text-center col-md-12 no-padding"
                                                        data-i18n="avatarexceeded"></label><label
            id="notifiSDD" class="hide notifierror text-center col-md-12 no-padding" data-i18n="avatarwrong"></label>
    </div>
</div>
<div class="col-md-9 col-xs-12 no-padding padding-desktop">
    <div class="col-md-12 no-padding">
        <div class="col-md-4 no-padding">
            <label for="title"><span
                    data-i18n="full name">Họ và Tên (*):</span><span class="red">*</span> </label>
        </div>
        <div class="col-md-8 form-group no-padding">
            <input type="text" name="full_name" ng-model="cv.fullname"
                   data-i18n="i18n-placeholder" placeholder="full name"
                   class="form-control " maxlength="255"
                   data-smart-validate-input
                   reset-field
                   data-required
                   data-message-required="validate input login fullname"
                    >

        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-4  no-padding ">
            <label for="title"><span
                    data-i18n="dob">Ngày sinh</span><span class="red">*</span></label>
        </div>
        <div class="col-md-8 form-group no-padding marginbot0px">
            <!--<div class="input-group  ">-->
            <!--<input type="text" class="form-control" ng-model="cv.dob"-->
            <!--datepicker-popup="{{format}}"-->
            <!--data-smart-validate-input-->
            <!--is-open="openedDateOfBirth"-->
            <!--name="dob" placeholder="dd/mm/yyyy"-->
            <!--ng-click="openDateOfBirth($event)"-->
            <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
            <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default"-->
            <!--ng-click="openDateOfBirth($event)"><i-->
            <!--class="glyphicon glyphicon-calendar"></i></button>-->
            <!--</span>-->
            <!--</div>-->
            <div class="no-padding" ng-model="cv.dob" is-open="opened2" name="dob" data-required dateformat
                 smart-date></div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-4 no-padding">
            <label for="title"><span
                    data-i18n="indentify no">Số CMND:</span></label>

        </div>
        <div class="col-md-8 form-group no-padding">
            <input type="text" ng-model="cv.identification"
                   data-i18n="i18n-placeholder" placeholder="indentify no"
                   class="form-control "
                   data-smart-validate-input
                   reset-field maxlength="15"
                   data-required
                   data-message-required="Xin hãy nhập CMND"
                    >
        </div>
    </div>

</div>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-3  no-padding">

        <label for="title"><span
                data-i18n="indentify date">Ngày cấp CMND:</span></label>

    </div>
    <div class="col-md-9 form-group no-padding marginbot0px padding-desktop">
        <!--<div class="input-group  ">-->
        <!--<input type="text" class="form-control" ng-model="cv.date_range"-->
        <!--datepicker-popup="{{format}}"-->
        <!--data-smart-validate-input-->
        <!--is-open="openeddateRange"-->
        <!--name="date_range" placeholder="dd/mm/yyyy"-->
        <!--ng-click="openedDateRange($event)"-->
        <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
        <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-default"-->
        <!--ng-click="openedDateRange($event)"><i-->
        <!--class="glyphicon glyphicon-calendar"></i></button>-->
        <!--</span>-->
        <!--</div>-->
        <div class="no-padding" ng-model="cv.dateOfIssue" is-open="opened1" name="date_range" dateformat
             smart-date></div>
    </div>
</div>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-3  no-padding">
        <label for="title"><span
                data-i18n="indentify place">Nơi cấp CMND:</span></label>
    </div>
    <div class="col-md-9 form-group no-padding padding-desktop">
        <input type="text" ng-model="cv.placeOfIssue"
               data-i18n="i18n-placeholder" placeholder="indentify place"
               class="form-control "
               reset-field maxlength="50"
               data-smart-validate-input
               data-required
               data-message-required="Vui lòng hãy nhập nơi cấp"
                >
    </div>
</div>

<!--</div>-->
<!--</div>-->
<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-3  no-padding">
        <label for="title"><span
                data-i18n="address">Địa chỉ</span></label>
    </div>
    <div class="col-md-9 form-group no-padding padding-desktop">
        <input type="text" ng-model="cv.address"
               data-i18n="i18n-placeholder" placeholder="address"
               class="form-control "
               reset-field maxlength="255"
               data-smart-validate-input
               data-required
               data-message-required="Vui lòng hãy nhập địa chỉ"
                >
    </div>
</div>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-3  no-padding">
        <label for="title"><span
                data-i18n="email">Email (*)</span><span class="red">*</span></label>
    </div>
    <div class="col-md-9 form-group no-padding padding-desktop">
        <input type="text" ng-model="cv.email" name="emailCv"
               data-i18n="i18n-placeholder" placeholder="email"
               class="form-control "
               data-smart-validate-input
               data-required maxlength="255"
               reset-field
               data-message-required="validate input email"
               data-email
               data-message-email="validate input email form"
                >
    </div>
</div>


<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-3  no-padding">

        <label for="title"><span
                data-i18n="mobile">Di động (*)</span><span class="red">*</span></label>
    </div>
    <div class="col-md-9 form-group no-padding padding-desktop">
        <input type="text" name="mobilePhone" ng-model="cv.cellphone"
               data-i18n="i18n-placeholder" placeholder="mobile"
               class="form-control "
               data-smart-validate-input
               data-required maxlength="15"
               reset-field
               numbers-only
               data-message-required="validate phone number"
                >
    </div>
</div>

<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-3 no-padding">

        <label for="title"><span
                data-i18n="phone">Cố định</span></label>

    </div>
    <div class="col-md-9 form-group no-padding padding-desktop">
        <input type="text" ng-model="cv.homephone"
               data-i18n="i18n-placeholder" placeholder="phone"
               class="form-control "
               data-smart-validate-input
               data-required maxlength="15"
               reset-field
               numbers-only
               data-message-required="Vui lòng hãy nhập số điện thoại cố định"
                >

    </div>
</div>

<div class="col-md-12 col-xs-12 form-group no-padding">
    <div class="col-md-3  no-padding">
        <label for="title"><span
                data-i18n="gender">Giới tính</span><span class="red">*</span></label>
    </div>
    <div class="col-md-9 no-padding padding-desktop">
        <div class="col-md-3 no-padding">
            <div class="radio no-margin">
                <label>
                    <input type="radio" ng-model="cv.gender"
                           name="man" value="man" checked="checked">
                    <label class="control-label no-padding" data-i18n="male">Nam</label>
                </label>
            </div>
        </div>
        <div class="col-md-3 no-padding">
            <div class="radio no-margin">
                <label>
                    <input type="radio" ng-model="cv.gender"
                           name="woman" value="woman">
                    <label class="control-label no-padding" data-i18n="female">Nữ</label>
                </label>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

<div class="col-md-6 form-group no-padding-mobile">
    <div class="border-group">
        <div class="panel-heading border-wrapper form-group">
            <strong><span class="glyphicon glyphicon-pushpin"></span> <span data-i18n="personal summary">Giới thiệu bản thân
                            </span></strong>
        </div>
        <div class="panel-body">
            <div class="col-md-12 form-group no-padding">
                <div class="col-md-4  no-padding">
                    <label for="title"><span
                            data-i18n="language">Ngôn ngữ:</span></label>
                </div>
                <div class="col-md-8 no-padding">
                    <input type="text"
                           data-i18n="i18n-placeholder" placeholder="language" ng-model="cv.introductionVO.language"
                           class="form-control "
                           reset-field maxlength="150"
                           data-smart-validate-input
                           data-required
                            >
                </div>
            </div>
            <div class="col-md-12 form-group no-padding">
                <div class="col-md-4  no-padding">
                    <label for="title"><span
                            data-i18n="hobbies">Sở thích cá nhân:</span></label>
                </div>
                <div class="col-md-8 no-padding">
                    <input type="text" ng-model="cv.introductionVO.hobby"
                           data-i18n="i18n-placeholder" placeholder="hobbies"
                           class="form-control "
                           reset-field maxlength="255"
                           data-smart-validate-input
                           data-required
                            >
                </div>
            </div>
            <div class="col-md-12 form-group no-padding">
                <div class="col-md-4  no-padding">
                    <label for="title"><span
                            data-i18n="select skills">Chọn kĩ năng</span><span class="red">*</span></label>
                </div>
                <div class=" col-md-8 no-padding">
                    <select ng-model="parentCategory" name="service"
                            ng-change="chooseParentCategory(parentCategory)"
                            ng-options="category.name for category in categories"
                            data-smart-validate-input options-class
                            class="form-control">
                        <option value='' selected data-i18n="select service"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 form-group no-padding" ng-show="parentCategory && parentCategory.children">
                <div class="col-md-4  no-padding">
                </div>
                <div class=" col-md-8 no-padding">
                    <select ng-model="childrenCategory" name="serviceChildren"
                            ng-change="chooseChildrenCategory(childrenCategory)"
                            ng-options="cat.name for cat in parentCategory.children track by cat.name"
                            data-smart-validate-input
                            class="form-control">
                        <option value='' selected data-i18n="chosen service mobile"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 form-group no-padding">
                <div class="col-md-4  no-padding">
                </div>
                <div class="selected-skill col-md-8 no-padding">
                    <select name="skills" data-smart-validate-input data-required
                            id="selectedSkill"
                            data-message-required="validate skill" aria-required="true"
                            aria-describedby="title-error"
                            data-placeholder="select skills"
                            aria-invalid="true" ng-model="selectedSkills"
                            ng-options="skill as skill.name for skill in customCategory"
                            data-smart-select2 multiple
                            ng-click="selectSkillClick()"
                            class="form-control select2 select2- disableIOSDropDown"
                            style="width:100%"></select>
                </div>
            </div>
            <div class="col-md-12 form-group no-padding">
                <div class="col-md-4  no-padding">
                    <label for="title"><span
                            data-i18n="experience year">Số năm kinh nghiệm</span><span class="red">*</span></label>
                </div>
                <div class="col-md-8 no-padding">
                    <input type="text" ng-model="cv.yearofexperience" name="yearofexperience"
                           data-i18n="i18n-placeholder" placeholder="experience year"
                           class="form-control "
                           reset-field maxlength="3"
                           data-smart-validate-input
                           data-required
                           data-message-required="validate input year of experience"
                            >
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-4  no-padding">

                    <label for="title"><span
                            data-i18n="chose time">Có thể đi làm</span><span class="red">*</span></label>
                </div>
                <!--<div class="col-md-8 form-group no-padding marginbot0px">-->
                <!--&lt;!&ndash;<div class="input-group  ">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="cv.date_range"&ndash;&gt;-->
                <!--&lt;!&ndash;datepicker-popup="{{format}}"&ndash;&gt;-->
                <!--&lt;!&ndash;data-smart-validate-input&ndash;&gt;-->
                <!--&lt;!&ndash;is-open="openeddateRange"&ndash;&gt;-->
                <!--&lt;!&ndash;name="date_range" placeholder="dd/mm/yyyy"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-click="openedDateRange($event)"&ndash;&gt;-->
                <!--&lt;!&ndash;dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-click="openedDateRange($event)"><i&ndash;&gt;-->
                <!--&lt;!&ndash;class="glyphicon glyphicon-calendar"></i></button>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="no-padding" ng-model="cv.startDate" is-open="opened3" data-required  mindate mindatemobile name="date_range" smart-date></div>-->
                <!--</div>-->
                <div class="col-md-8 form-group no-padding">
                    <select class="form-control" name="startDate" ng-model="cv.startDate" data-required
                            data-message-required="validate available time for work" data-smart-validate-input>
                        <option value="" selected data-i18n="chose time"></option>
                        <option value="one week" data-i18n="one week"></option>
                        <option value="two week" data-i18n="two week"></option>
                        <option value="three week" data-i18n="three week"></option>
                        <option value="four week" data-i18n="four week"></option>
                        <option value="one month" data-i18n="one month"></option>
                        <option value="two month" data-i18n="two month"></option>
                        <option value="three month" data-i18n="three month"></option>

                    </select>
                </div>
            </div>
            <div class="col-md-12 form-group no-padding">
                <div class="col-md-4  no-padding">
                    <label for="title"><span
                            data-i18n="job goals">Mục tiêu công việc: </span></label>
                </div>
                <div class="col-md-8 no-padding">
                    <textarea
                            class="form-control  padding-bot-proposal" ng-model="cv.introductionVO.jobTarget"
                            data-i18n="i18n-placeholder" placeholder="job goals"
                            data-smart-validate-input
                            data-required="Xin hãy nhập mục tiêu công việc."
                            data-message="Xin hãy nhập mục tiêu công việc."
                            rows="7" maxlength="255"
                            reset-field
                            data-message-required=""></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-12 no-padding">
    <div class="col-md-6 form-group no-padding-mobile">
        <div class="border-group">
            <div class="panel-heading border-wrapper">
                <strong>
                    <span class="glyphicon glyphicon-cog"></span>
                    <span data-i18n="education and capacity">Học vấn và năng lực</span>
                </strong>

                <div class="pull-right">
                    <a href="javascript:;" ng-click="addEducation()" class="padding-r5"><span
                            class="glyphicon glyphicon-plus"></span> <span data-i18n="add"
                            >Thêm</span></a>&nbsp;&nbsp;
                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-12 form-group no-padding">
                    <li class="animate-repeat" ng-repeat="education in cv.educations track by $index">
                        <span>{{education.schoolName}}</span>
                        <span class="col-md-12 col-md-12 col-xs-12">{{education.startDate | date: "dd/MM/yyyy" }} - {{education.endDate | date: "dd/MM/yyyy"}}</span>

                        <div class="col-md-12 no-padding">
                            <a href="javascript:;" class="no-padding" ng-click="editEducation(education)"><span
                                    class="glyphicon glyphicon-pencil"></span> <span data-i18n="edit">Edit</span></a>
                            <a href="javascript:;" class="no-padding" ng-click="deleteEducation(education)"><span
                                    class="glyphicon glyphicon-trash"></span> <span data-i18n="delete">Delete</span></a>
                        </div>
                    </li>
                    <!--<a id="addEducation"-->
                    <!--class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right"-->
                    <!--ng-click="addEducation()"-->
                    <!-->
                    <!--<span&ndash;&gt;-->
                    <!--data-i18n="add">Thêm</span>-->
                    <!--</a>-->

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 form-group no-padding-mobile">
        <div class="border-group">
            <div class="panel-heading border-wrapper">
                <strong><span class="glyphicon glyphicon-screenshot"></span> <span data-i18n="experience">Kinh nghiệm
                            </span></strong>

                <div class="pull-right">
                    <a href="javascript:;" ng-click="addExperience()" class="padding-r5"><span
                            class="glyphicon glyphicon-plus"></span> <span data-i18n="add"
                            >Thêm</span></a>&nbsp;&nbsp;
                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-12 form-group no-padding">
                    <li class="animate-repeat" ng-repeat="experience in cv.experiences track by $index">
                        <span>{{experience.position}}</span> - <span>{{experience.companyName}}</span>
                        <span class="col-md-12 col-xs-12">{{experience.fromDate | date: "dd/MM/yyyy" }} - {{experience.toDate | date: "dd/MM/yyyy"}}</span>

                        <div class="col-md-12 no-padding">
                            <a  href="javascript:;" class="no-padding" ng-click="editExperience(experience)"><span
                                    class="glyphicon glyphicon-pencil"></span> <span data-i18n="edit">Edit</span></a>
                            <a  href="javascript:;" class="no-padding" ng-click="deleteExperience(experience)"><span
                                    class="glyphicon glyphicon-trash"></span> <span data-i18n="delete">Delete</span></a>
                        </div>
                    </li>

                    <!--<a id="addExperience"-->
                    <!--class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right"-->
                    <!--ng-click="addExperience()"-->
                    <!-->
                    <!--<span-->
                    <!--data-i18n="add">Thêm</span>-->
                    <!--</a>-->

                </div>

            </div>


        </div>
    </div>
    <div class="col-md-12 no-padding padding-right10px form-group">
        <div>
            <button save id="Save"
                    class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right non-display"
                    ng-click="Save()"
                    ><span data-i18n="save"></span>
            </button>
            <button save id="Update"
                    class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right non-display"
                    ng-click="Update()"
                    ><span data-i18n="update"></span>
            </button>
            <button id="Cancel"
                    class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right"
                    ng-click="cancel()"
                    ><span
                    data-i18n="cancel">Hủy</span>
            </button>
        </div>
    </div>
</div>
</form>
</div>

</section>
</div>
</div>
</div>

