#addnewcv .border-wrapper {
    display: block;
    padding: 2px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f5f5f5;
}

#addEducation .modal-dialog {
    width: 100%;
    max-height: 100%;
}

#addnewcv .border-group {
    border: 1px solid #dddddd
}

#addnewcv .padding-right10px {
    padding-right: 10px !important;
}
#addnewcv input[type="search"] {
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 3px;
}
/*#addnewcv .selected-skill .select2-container--open {*/
    /*z-index: 0;*/
    /*position: inherit !important;*/
/*}*/

/*#addnewcv .select2-container--open {*/
    /*position: fixed !important;*/
    /*z-index: 9999999;*/

/*}*/

.dropdown-menu {
    margin-top: 5px;
}

#addnewcv .select2-choices li {
    width: auto;
}

#addnewcv .select2-choices {
    padding-left: 11px !important;
}

.selected-skill li {
    width: auto;
    margin-top: 5px;
}

#addnewcv .select2-container--default .select2-selection--multiple {
    border: 1px solid #cbd5dd;
}

#addnewcv .marginbot0px {
    margin-bottom: 0px !important;
}



#addnewcv .red {
    color: red;
}

.pac-container {
    position: fixed !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 2px;
    line-height: 1;
    /*font-size: 18px*/
}

#addExperience .modal-dialog {
    width: 100%;
    max-height: 100%;
}

#addEducation .margin-left1px {
    margin-left: 1px;
}

#addExperience .margin-left1px {
    margin-left: 1px;
}

#addExperience .leftSelect2 {
    left: 760.006958px !important;
}

#addEducation .close {
    margin-top: -15px !important;
}

#addEducation .border-wrapper {
    display: block;
    padding: 2px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f5f5f5;
}

#addEducation {
    transform: translate(-30%, 0%) !important;
}

#addExperience {
    transform: translate(-30%, 0%) !important;
}

#addExperience .margin-left30px {
    margin-left: -5px !important;
}

@media (max-width: 991px) {
    #addEducation {
        transform: translate(0%, 0%) !important;
    }

    #addExperience {
        transform: translate(0%, 0%) !important;
    }
}

@media (max-width: 768px) {
    #addnewcv .no-padding-mobile {
        padding: 0px;
    }
    #addnewcv .select2-selection__choice__remove
    {
        display: none;
    }
}

#addnewcv .image-crop-final {
    width: 111px;
    height: 111px;
}

#addnewcv .image-avatar {
    width: auto;
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
    padding: 6px 16px;
}

#addnewcv .image-avatar input.image-crop-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /*font-size: 20px;*/
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

#addnewcv .notifierror {
    color: #ca674c;
}

#addnewcv .notifisuccess {
    color: #4c9c77;
}

@media (min-width: 992px) {
    #addnewcv #inputAll .col-sm-12 {
        width: auto;
    }
}

@media (min-width: 992px) {
    #addnewcv .padding-desktop {
        padding-left: 35px !important;
    }
    .selected-skill .select2-container--open {
        z-index: 0;
        position: inherit !important;

    }

    .select2-container--open {
        position: fixed !important;
        z-index: 9999999;

    }
}
