<section class="page no-padding" id="projects" ng-controller="projects" ng-init="init();">  
  <!-- Panels -->
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Quản lý công việc</strong></div>
    <div class="panel-body">
      <div>
        <table datatable-basic on-selection="selectedRow" table-options="custom" class="datatable table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Bids</th>
              <th data-class="expand" data-hide="phone,tablet,desktop">Description</th>
              <th data-hide="phone,tablet">Skills</th>
              <th data-hide="phone,tablet">Start Date</th>
              <th data-hide="phone,tablet">Price (VND)</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
</section>