#projects .emerald{
  border-bottom: 1px solid #00578a;
}

#projects .dataTables_filter label{
    width: 100%;
}
#projects .dataTables_filter input{
}
#projects .dataTables_filter .input-group-addon{
    width: auto;
}
#projects .dt-toolbar {
    display: block;
    position: relative;
    padding: 0px;
    width: 100%;
    float: left;
    border-bottom: 0px;
    background: none;
    /*margin-bottom: 20px;*/
}
.dataTables_filter input {
  width: 89%;
}

.dataTables_length{
    display: none;
}
