<div id='slideshow' ng-controller='slideshow' ng-init="init()">
    <!--<section>-->
        <div>
            <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-transition="fadeAndSlide" rn-carousel-buffered
                class="carousel1">
                <li ng-repeat="(name, panel) in slides" ng-class="'id-' + slide.id">
                    <div ng-style="{'background-image': 'url(' + panel.background + ')'}" style="position: relative;"
                         class="bgimage">
                        <div class="row-fluid">
                            <mobile-panel ng-if="panel.panel" type="panel.panel.type"></mobile-panel>
                        </div>
                    </div>
                </li>

            </ul>
            <div class="indicators bg-default" rn-carousel-indicators ng-if="slides.length > 1" slides="slides"
                 rn-carousel-index="carouselIndex"></div>
        </div>
    <!--</section>-->
</div>