#slideshow .container{
  padding:0;
  margin:0;
  height: auto;
}
#slideshow ul{
  overflow-y: auto;
}

#slideshow .bgimage{
  height:100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#slideshow .persona-banner-container {
  margin-left:10%;
  margin-right:10%;
  width: 100%;
  margin-top: -25px;
  zoom: 1;
}

#slideshow .persona-banner-container .persona-banner-content {
  position: absolute;
  z-index: 5;
  width: 40%;
  text-align: left;
}
#slideshow .persona-banner-container .persona-banner-title {
  /*font-size: 50px;*/
  margin-bottom: 15px;
  margin-top: 30%;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
#slideshow .persona-banner-container .persona-banner-text {
  /*font-size: 22px;*/
  width: 100%;
  margin: 0 0 25px;
  color: #fff;
}
#slideshow .persona-banner-container .btn-hire, .persona-banner-container .btn-work {
  min-width: 140px;
}
#slideshow .banner-container .btn-work {
  min-width: 140px;
}
#slideshow .btn-plain-alt {
  background-color: transparent !important;
  background-image: none !important;
  color: #fff !important;
  text-shadow: 0 -1px transparent !important;
  font-weight: bold !important;
  border:2px solid;
  padding: 18px 25px;
  box-shadow: none;
  margin:5px;
}
#slideshow .btn-xxlarge {
  /*font-size: 22px !important;*/
  font-weight: bold;
  border-radius: 5px !important;
}

#slideshow .indicators{
  text-align: center;
  position: absolute;
  bottom: 5px;
  z-index: 1030!important;
  width: 100%;
}