<!--<section style="  max-width: 1045px;" class="page" id="projects" ng-controller="mail" ng-init="init();">-->
<section class="page no-padding" id='mail_detail' ng-controller='mail_detail' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-envelope"></span> Mail </strong></div>
        <div class="panel-body">
            <div class="inbox-nav-bar no-content-padding">

                <h1 class="page-title txt-color-blueDark hidden-xs hidden-sm"><i class="fa fa-fw fa-inbox"></i> Inbox </h1>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="http://localhost/vaber/#/mail">Inbox</a>
                        </li>
                        <li>
                            <a href="#/inbox/sent">Sent</a>
                        </li>
                        <li>
                            <a href="#/inbox/draff">Draff</a>
                        </li>
                    </ul>
                </div>

                <div class="inbox-checkbox-triggered">

                    <div class="btn-group">
                        <a tooltip-placement="bottom" tooltip="Mark Important" class="btn btn-default "><strong><i
                                class="fa fa-exclamation fa-lg text-danger"></i></strong></a>
                        <a tooltip-placement="bottom" tooltip="Move to folder" class="btn btn-default "><strong><i
                                class="fa fa-folder-open fa-lg"></i></strong></a>
                        <a ng-click="deleteSelected()" tooltip-placement="bottom" tooltip="Delete"
                           class="deletebutton btn btn-default "><strong><i
                                class="fa fa-trash-o fa-lg"></i></strong></a>
                    </div>

                </div>

                <a id="compose-mail-mini" class="btn btn-primary pull-right hidden-desktop visible-tablet"> <strong><i
                        class="fa fa-file fa-lg"></i></strong> </a>

                <div class="btn-group pull-right inbox-paging">
                    <a class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-left"></i></strong></a>
                    <a class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-right"></i></strong></a>
                </div>
                <span class="pull-right number-span"><strong>1-30</strong> of <strong class="ng-binding">367</strong></span>

            </div>
            <div id="inbox-content" class="inbox-body no-content-padding">

                <div class="inbox-side-bar hidden-xs hidden-sm">

                    <a ui-sref="app.inbox.folder.compose" id="compose-mail" class="btn btn-primary btn-block" href="#/inbox//compose">
                        <strong>Compose</strong> </a>
                    <div>
                        <h6> Folder <a tooltip="Refresh"  class="pull-right txt-color-darken "><i class="fa fa-refresh"></i></a></h6>

                        <ul class="inbox-menu-lg">
                            <li>
                                <a href="http://localhost/vaber/#/mail"> Inbox
                                    <span>(120)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/inbox/sent"> Sent
                                </a>
                            </li>
                            <li>
                                <a href="#/inbox/draft"> Draft
                                </a>
                            </li>
                            <li>
                                <a href="#/inbox/trash"> Trash
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-wrap custom-scroll" >
                    <h2 class="email-open-header">
                        Re: Timelogs of last client <span class="label txt-color-white">Inbox</span>
                        <a href-void tooltip-placement="left" tooltip="Print" class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>
                    </h2>

                    <div class="inbox-info-bar">
                        <div class="row">
                            <div class="col-sm-9">
                                <img ng-src="images/g1.jpg" alt="me" class="away">
                                <strong> Sagi Orlaf</strong>
                                <span class="hidden-mobile">&lt;sadi.orlaf@smartadmin.com&gt;to <strong>me</strong> on <i>Oct 5, 2014</i></span>
                            </div>
                            <div class="col-sm-3 text-right">

                                <div class="btn-group text-left">
                                    <a class="btn btn-primary btn-sm replythis">
                                        <i class="fa fa-reply"></i> Reply
                                    </a>
                                    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a class="replythis"><i class="fa fa-reply"></i> Reply</a>
                                        </li>
                                        <li>
                                            <a href="" class="replythis"><i class="fa fa-mail-forward"></i>
                                                Forward</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-print"></i> Print</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href=""><i class="fa fa-ban"></i> Mark as spam!</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-trash-o"></i> Delete forever</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inbox-message">
                        <p>Hey James,</p>
                        <br>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <br>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                    </div>

                    <div class="inbox-download">
                        1 attachment(s) — <a class="link-blue" href=""> Download all attachments</a>

                        <ul class="inbox-download-list">
                            <li>
                                <div class="well well-sm">
                                    <span>
                                        <img style="width: 120px; height: 150px" ng-src="images/g1.jpg">
                                    </span>
                                    <br>
                                    <strong>rocket.jpg</strong>
                                    <br>
                                    400kb
                                    <br>
                                    <a class="link-blue" href=""> Download</a> | <a class="link-blue" href=""> View</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
