
.inbox-nav-bar {
    height: 70px;
    margin-bottom: 0;
    padding: 20px 14px;
    background: #fff;
}
.inbox-nav-bar .page-title {
    display: inline-block;
    margin: 0;
    width: 196px;
    line-height: 33px;
    vertical-align: middle;
}
.inbox-body.no-content-padding {
    margin-top: 0;
    background: #fff;
    overflow: hidden;
}
.no-content-padding {
    margin: -10px -14px 0 -14px;
}
.inbox-nav-bar .page-title {
    display: inline-block;
    margin: 0;
    width: 196px;
    line-height: 33px;
    vertical-align: middle;
}
.page-title {
    margin: 12px 0 28px;
}
.txt-color-blueDark {
    color: #4c4f53 !important;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.inbox-checkbox-triggered > .btn-group {
    margin-right: 10px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.inbox-checkbox-triggered > .btn-group .btn {
    padding-left: 14px;
    padding-right: 14px;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
}
.btn, a:link, button {
    -webkit-tap-highlight-color: rgba(169, 3, 41, .5);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    /*font-size: 13px;*/
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.inbox-checkbox-triggered > .btn-group .btn {
    padding-left: 14px;
    padding-right: 14px;
}
.inbox-checkbox-triggered {
    display: inline-block;
}
.inbox-checkbox-triggered > .btn-group {
    margin-right: 10px;
}
.text-danger {
    color: #b94a48;
}
.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}
/*.number-span{*/
    /*margin-top: -25px;*/
    /*margin-right: 80px;*/
/*}*/
.smart-rtl .inbox-footer .btn-group, .smart-rtl .inbox-paging {
    margin-right: 10px;
    margin-left: 0
}
/*div .inbox-paging{*/
    /*margin-top: -30px;*/
    /*margin-right: 5px;*/
/*}*/
.inbox-footer {
    position: absolute;
    bottom: -53px;
}
.inbox-footer .btn-group, .inbox-paging {
    margin-left: 10px
}
#compose-mail-mini {
    margin-left: 4px;
}
.hidden-desktop {
    display: none !important;
}
#inbox-content .table-wrap {
    height: 570px;
}
.inbox-body .table-wrap {
    background: #fff;
    padding: 10px 14px 7px;
    position: relative;
    margin-left: 200px;
    overflow-x: hidden;
}
.table-wrap {
    overflow: auto;
}
.inbox-body {
    position: relative;
}
.inbox-body.no-content-padding {
    margin-top: 0;
    background: #fff;
    overflow: hidden;
}
.inbox-side-bar {
    height: 100%;
    position: absolute;
    background: #fff;
    display: block;
    width: 200px;
    padding: 10px 0 10px 14px;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}
.inbox-side-bar > .btn {
    margin-bottom: 35px;
}
.inbox-side-bar h6 {
    font-weight: 400;
    /*font-size: 11px;*/
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    color: #838383;
}
.inbox-side-bar h6 a {
    /*font-size: 14px;*/
    margin-top: -2px;
}
.txt-color-darken {
    color: #404040 !important;
}
.inbox-menu-lg {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}
.inbox-menu-lg li {
    display: block;
    width: 100%;
}
.inbox-menu-lg li a {
    display: block;
    padding: 6px 15px 7px;
    /*font-size: 13px;*/
    color: #333;
}
.inbox-animation-container .router-animation-loader {
    left: 210px;
}
.inbox-animation-container .router-animation-loader {
    left: 210px;
}
.router-animation-container .router-animation-loader {
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
}
.unread td {
    background: #fff;
}
#inbox-table .inbox-table-icon {
    padding-left: 15px !important;
}
.inbox-data-attachment, .inbox-table-icon {
    width: 28px;
    text-align: left;
    padding-left: 12px !important;
    padding-right: 0 !important;
}
#inbox-table .checkbox, #inbox-table .radio {
    margin-top: -1px;
    margin-bottom: 0;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
}
.checkbox label, .radio label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
#inbox-table .checkbox, #inbox-table .radio {
    margin-top: -1px;
    margin-bottom: 0;
}
input[type=checkbox].checkbox, input[type=radio].radiobox {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    width: 18px;
    height: 18px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-color-orange {
    background-color: #c79121 !important;
}
.bg-color-teal {
    background-color: #568a89 !important;
}
.checkbox label, .radio label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 9px 9px;
}
.fa-4x {
    font-size: 4em;
}
.txt-color-white {
    color: #fff !important;
}
.txt-color-blueLight {
    color: #92a2a8 !important;
}
.inbox-nav-bar .page-title {
    display: inline-block;
    margin: 0;
    width: 196px;
    line-height: 33px;
    vertical-align: middle;
}
h1 {
    letter-spacing: -1px;
    /*font-size: 24px;*/
    margin: 10px 0;
}
h1, h2, h3, h4 {
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-weight: 300;
}
.hidden-tablet {
    display: none !important
}
@media (max-width: 1024px){
    .inbox-body .table-wrap {
        margin-left: 0 !important;
    }
}
#inbox-content .table-wrap {
    height: auto;
}
.email-open-header {
    margin: -10px 0 0 0;
    /*font-size: 20px;*/
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #eee;
    padding: 15px 3px;
}
h2 {
    letter-spacing: -1px;
    /*font-size: 22px;*/
    margin: 20px 0;
    line-height: normal;
}
.email-open-header > span {
    /*font-size: 10px;*/
    font-weight: 400;
    padding: 3px 5px;
    letter-spacing: normal;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 33px;
    background: #ACACAC;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.inbox-compose-footer, .inbox-download, .inbox-info-bar, .inbox-message {
    position: relative;
}
.inbox-info-bar {
    padding: 10px 0;
    border-bottom: 1px solid #bfbfbf;
}
img.away, img.busy, img.offline, img.online {
    border-left: 3px solid #fff;
}
img.away {
    border-left-color: #ffc40d !important;
}
.inbox-info-bar img {
    width: 35px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 2px;
    border-left: 3px solid #fff;
}
img {
    border: 0;
}
.text-align-right, .text-right {
    text-align: right !important;
}
.text-align-left, .text-left {
    text-align: left !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
.panel-body {
    height: 690px;
}
.inbox-download, .inbox-message {
    padding: 15px 4px;
    border-bottom: 1px solid #bfbfbf;
}
.inbox-download-list {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
}
.inbox-download-list li {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
}
.well {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
    position: relative;
}
.link-blue {
    color: cornflowerblue;
}
.pull-right {
    float: right !Important;
}