<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title data-i18n="{{title}}" i18n-prefix="Bridging Value"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="MobileOptimized" content="width">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/weather-icons/css/weather-icons.min.css">
    <!-- end needs images -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- build:template
        <% if (environment === 'build') { %>
        <script type="text/javascript" src="vendor/please-wait/build/please-wait.min.js"></script>
         <link rel="stylesheet" href="vendor/please-wait/build/please-wait.css">
        <% } %>
    /build -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en&libraries=places"></script>
    <script src="vendor/jquery/dist/jquery.min.js?rev=@REV@"></script>
    <script src="vendor/require/require.js?rev=@REV@"></script>
    <script src="app/components/require.config.js?rev=@REV@"></script>

  <meta name="fragment" content="!" />
    <script>
      require(['app'], function () {
      })
    </script>
    <!-- build:template
        <% if (environment === 'cordova') { %>
        <script src="cordova.js"></script>
        <% } %>
    /build -->
  </head>
  <body id="app" data-custom-background="" data-off-canvas-nav="" class="smallMode" cg-busy="{promise:appBusy,message:'loading', backdrop:false, minDuration:400, templateUrl:'app/partials/form/loadingTemplate.html'}">
    <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div ng-cloack>
      <div class="no-print">
        <navigation-bar status="navigation"></navigation-bar>
        <section id="header" ng-include="'app/partials/header.html'" class="top-header fixed-lg"></section>
        <aside data-ng-include=" 'app/partials/nav.html' " class="fixed" id="nav-container"></aside>
      </div>
      <div class="view-container" >
      	<section data-ui-view id="content" class="animate-fade-up"></section>
        <!-- build:template
        <% if (environment === 'build') { %>
        <script type="text/javascript">
          window.loading_screen = window.pleaseWait({
            logo: "/images/logo.png",
            backgroundColor: '#fff',
            loadingHtml: "<h4 class='loading-message'>Tìm kiếm giải pháp tốt nhất</h4>"
          });
        </script>
        <% } %>
        /build -->
      </div>
      <section ng-controller='FooterCtrl' class="fixed-lg" ng-init="init()" ng-include="'app/partials/footer.html'" ></section>
    </div>
  </body>
</html>
