<div id='survey' ng-controller="survey" ng-init="init()">
<section class="panel panel-default hidden-xs">
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
        data-i18n="survey"></span></strong>
</div>
<div class="panel-body">
<div class="col-md-12">
    <label>Chào mừng bạn tham gia khảo sát đánh giá phần mềm Vaber!</label>
</div>

<div class="col-md-12 margin-b-15">
    <span>Cảm ơn bạn đã đồng ý tham gia vào môt phần khảo sát quan trọng này để đo mức độ hài lòng khách hàng về phần mềm Vaber . Hôm nay, chúng tôi sẽ thu được những suy nghĩ và quan điểm của bạn đối với phần mềm của chúng tôi để phục vụ bạn tốt hơn trong tương lai. Cuộc khảo sát này chỉ mất 4-5 phút để hoàn thành. Hãy yên tâm rằng tất cả các câu trả lời bạn cung cấp sẽ được giữ trong bí mật nghiêm ngặt.</span>
</div>

<div class="col-md-12">
    <label>1. Trước tiên, vui lòng cho biết bạn có muốn giới thiệu phần mềm của chúng tôi cho bạn bè hoặc
        đồng nghiệp của bạn không?</label>
</div>
<div class="col-md-12 no-padding margin-b-5">
    <div class="col-md-2">
        <input type="radio" ng-model="radioQuestion1" ng-value="0">
        <span>Không muốn</span>
    </div>
    <div class="col-md-2">
        <input type="radio" ng-model="radioQuestion1" ng-value="1">
        <span>Rất muốn</span>
    </div>
</div>
<div class="col-md-12">
    <label>2. Đối với mỗi loại đặc tính sau, xin vui lòng đánh giá mức độ hài lòng của bạn với phần mềm của
        chúng tôi:</label>
</div>
<div class="col-md-12 margin-b-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th class="text-center">Rất không hài lòng</th>
            <th class="text-center">Không hài lòng</th>
            <th class="text-center">Bình thường</th>
            <th class="text-center">Hài lòng</th>
            <th class="text-center">Rất hài lòng</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Giao diện phần mềm</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="4">
            </td>
        </tr>
        <tr>
            <td>Bố cục tổng thể</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="4">
            </td>
        </tr>
        <tr>
            <td>Thực hiện những công việc bạn đã sử dụng</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="4">
            </td>
        </tr>
        <tr>
            <td>Mức độ tiện dụng</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="4">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12">
    <label>3. Bây giờ chúng tôi muốn biết bạn cảm nhận thế nào về sự hỗ trợ phần mềm của Vaber. Đối với mỗi
        dạng hỗ trợ chúng tôi đưa ra sau đây, xin vui lòng chọn mức độ hài lòng của bạn:</label>
</div>

<div class="col-md-12 margin-b-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th class="text-center">Rất không hài lòng</th>
            <th class="text-center">Không hài lòng</th>
            <th class="text-center">Bình thường</th>
            <th class="text-center">Hài lòng</th>
            <th class="text-center">Rất hài lòng</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tài liệu hướng dẫn</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="4">
            </td>
        </tr>
        <tr>
            <td>Nhân viên hỗ trợ khách hàng</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="4">
            </td>
        </tr>
        <tr>
            <td>Website</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="4">
            </td>
        </tr>
        <tr>
            <td>Dịch vụ hỗ trợ tổng thể</td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="0">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="1">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="2">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="3">
            </td>
            <td class="text-center">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="4">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12">
    <label>4. Xem xét tất cả các yếu tố, xin vui lòng chọn câu trả lời dưới đây để mô tả đúng nhất mức độ hài lòng tổng
        thể của bạn với phần mềm Vaber:</label>
</div>

<div class="col-md-12 margin-b-5">
    <div class="col-md-12">
        <input type="radio" ng-model="radioQuestion4" ng-value="0">
        <span>Rất hài lòng</span>
    </div>
    <div class="col-md-12">
        <input type="radio" ng-model="radioQuestion4" ng-value="1">
        <span>Hài lòng</span>
    </div>
    <div class="col-md-12">
        <input type="radio" ng-model="radioQuestion4" ng-value="2">
        <span>Bình hường</span>
    </div>
    <div class="col-md-12">
        <input type="radio" ng-model="radioQuestion4" ng-value="3">
        <span>Không hài lòng</span>
    </div>
    <div class="col-md-12">
        <input type="radio" ng-model="radioQuestion4" ng-value="4">
        <span>Rất không hài lòng</span>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 no-padding">
            <input type="radio" ng-model="radioQuestion4" ng-value="5">
            <span>Ý kiến khác</span>
        </div>
        <div class="col-md-12 no-padding">
            <textarea class="form-control" ng-model="surveyCommentQuestion4" ng-trim="false"
                      rows="5" maxlength="255" reset-field></textarea>
        </div>
    </div>

</div>

<div class="col-md-12">
    <label>5. Cuối cùng, chúng tôi muốn biết nếu bạn có bất kỳ ý kiến mà bạn nghĩ rằng Vaber cần phải cải thiện. Nếu
        vậy, xin vui lòng viết ý kiến trong hộp văn bản dưới đây:</label>
</div>

<div class="col-md-12 margin-15">
    <div class="col-md-12">
        <textarea class="form-control" ng-model="surveyCommentQuestion5" ng-trim="false"
                  rows="5" maxlength="255" reset-field></textarea>
    </div>
</div>

<div class="col-md-12 margin-15">
    <div class="pull-right">
        <a class="btn btn-primary">Hoàn thành</a>
    </div>
</div>


</div>
</section>

<section class="panel panel-default hidden-sm hidden-md hidden-lg">
<div class="panel-body">
<div class="question-0">
    <div class="col-md-12">
        <label>Chào mừng bạn tham gia khảo sát đánh giá phần mềm Vaber!</label>
    </div>

    <div class="col-md-12  margin-b-15">
        <span>Cảm ơn bạn đã đồng ý tham gia vào môt phần khảo sát quan trọng này để đo mức độ hài lòng khách hàng về phần mềm Vaber . Hôm nay, chúng tôi sẽ thu được những suy nghĩ và quan điểm của bạn đối với phần mềm của chúng tôi để phục vụ bạn tốt hơn trong tương lai. Cuộc khảo sát này chỉ mất 4-5 phút để hoàn thành. Hãy yên tâm rằng tất cả các câu trả lời bạn cung cấp sẽ được giữ trong bí mật nghiêm ngặt.</span>
    </div>
    <div class="col-md-12">
        <div class="pull-right">
            <a data-ng-click="startSurvey()" class="btn btn-primary">Bắt đầu</a>
        </div>
    </div>
</div>


<div class="question-1 non-display">
    <div class="col-md-12">
        <label>1. Trước tiên, vui lòng cho biết bạn có muốn giới thiệu phần mềm của chúng tôi cho bạn bè hoặc
            đồng nghiệp của bạn không?</label>
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-2">
            <input type="radio" ng-model="radioQuestion1" ng-value="0">
            <span>Không muốn</span>
        </div>
        <div class="col-md-2">
            <input type="radio" ng-model="radioQuestion1" ng-value="1">
            <span>Rất muốn</span>
        </div>
        <div class="col-xs-6 pull-right">
            <div class="col-xs-2 no-padding pull-right">
                <a data-ng-click="nextQuestion2()"><span class="glyphicon glyphicon-arrow-right pull-right icon-format"></span></a>
            </div>
            <!--<div class="col-xs-2 no-padding pull-right">-->
                <!--<a data-ng-click="prevQuestion0()"><span class="glyphicon glyphicon-arrow-left pull-right icon-format"></span></a>-->
            <!--</div>-->
        </div>

    </div>
</div>

<div class="question-2 non-display">

    <div class="col-md-12">
        <label>2. Đối với mỗi loại đặc tính sau, xin vui lòng đánh giá mức độ hài lòng của bạn với phần mềm của
            chúng tôi:</label>
    </div>
    <div class="col-md-12 margin-b-5">
        <div class="col-xs-12"><label>Giao diện phần mềm</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row1" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

        <div class="col-xs-12"><label>Bố cục tổng thể</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row2" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

        <div class="col-xs-12"><label>Thực hiện những công việc bạn đã sử dụng</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row3" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

        <div class="col-xs-12"><label>Mức độ tiện dụng</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion2Row4" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

    </div>

    <div class="col-xs-6 pull-right">
        <div class="col-xs-2 no-padding pull-right">
            <a data-ng-click="nextQuestion3()"><span class="glyphicon glyphicon-arrow-right pull-right icon-format"></span></a>
        </div>
        <div class="col-xs-2 no-padding pull-right">
            <a data-ng-click="prevQuestion1()"><span class="glyphicon glyphicon-arrow-left pull-right icon-format"></span></a>
        </div>
    </div>
</div>

<div class="question-3 non-display">
    <div class="col-md-12">
        <label>3. Bây giờ chúng tôi muốn biết bạn cảm nhận thế nào về sự hỗ trợ phần mềm của Vaber. Đối với mỗi
            dạng hỗ trợ chúng tôi đưa ra sau đây, xin vui lòng chọn mức độ hài lòng của bạn:</label>
    </div>

    <div class="col-md-12 margin-b-5">
        <div class="col-xs-12"><label>Tài liệu hướng dẫn</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row1" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

        <div class="col-xs-12"><label>Nhân viên hỗ trợ khách hàng</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row2" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

        <div class="col-xs-12"><label>Website</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row3" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

        <div class="col-xs-12"><label>Dịch vụ hỗ trợ tổng thể</label></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="0">
                <span>Rất không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="1">
                <span>Không hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="2">
                <span>Bình thường</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="3">
                <span>Hài lòng</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <input type="radio" ng-model="radioQuestion3Row4" ng-value="4">
                <span>Rất hài lòng</span>
            </div>
        </div>

    </div>


    <div class="col-xs-6 pull-right">
        <div class="col-xs-2 no-padding pull-right">
            <a data-ng-click="nextQuestion4()"><span class="glyphicon glyphicon-arrow-right pull-right icon-format"></span></a>
        </div>
        <div class="col-xs-2 no-padding pull-right">
            <a data-ng-click="prevQuestion2()"><span class="glyphicon glyphicon-arrow-left pull-right icon-format"></span></a>
        </div>
    </div>

</div>


<div class="question-4 non-display">

    <div class="col-md-12">
        <label>4. Xem xét tất cả các yếu tố, xin vui lòng chọn câu trả lời dưới đây để mô tả đúng nhất mức độ hài lòng
            tổng
            thể của bạn với phần mềm Vaber:</label>
    </div>

    <div class="col-md-12 margin-b-5">
        <div class="col-md-12">
            <input type="radio" ng-model="radioQuestion4" ng-value="0">
            <span>Rất hài lòng</span>
        </div>
        <div class="col-md-12">
            <input type="radio" ng-model="radioQuestion4" ng-value="1">
            <span>Hài lòng</span>
        </div>
        <div class="col-md-12">
            <input type="radio" ng-model="radioQuestion4" ng-value="2">
            <span>Bình hường</span>
        </div>
        <div class="col-md-12">
            <input type="radio" ng-model="radioQuestion4" ng-value="3">
            <span>Không hài lòng</span>
        </div>
        <div class="col-md-12">
            <input type="radio" ng-model="radioQuestion4" ng-value="4">
            <span>Rất không hài lòng</span>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 no-padding">
                <input type="radio" ng-model="radioQuestion4" ng-value="5">
                <span>Ý kiến khác</span>
            </div>
            <div class="col-md-6 no-padding">
                <textarea class="form-control" ng-model="surveyCommentQuestion4" ng-trim="false"
                          rows="4" maxlength="255" reset-field></textarea>
            </div>
        </div>

    </div>

    <div class="col-xs-6 pull-right">
        <div class="col-xs-2 no-padding pull-right">
            <a data-ng-click="nextQuestion5()"><span class="glyphicon glyphicon-arrow-right pull-right icon-format"></span></a>
        </div>
        <div class="col-xs-2 no-padding pull-right">
            <a data-ng-click="prevQuestion3()"><span class="glyphicon glyphicon-arrow-left pull-right icon-format"></span></a>
        </div>
    </div>
</div>

<div class="question-5 non-display">
    <div class="col-md-12">
        <label>5. Cuối cùng, chúng tôi muốn biết nếu bạn có bất kỳ ý kiến mà bạn nghĩ rằng Vaber cần phải cải thiện. Nếu
            vậy, xin vui lòng viết ý kiến trong hộp văn bản dưới đây:</label>
    </div>

    <div class="col-md-12">
        <div class="col-md-6 no-padding-right">
            <textarea class="form-control" ng-model="surveyCommentQuestion5" ng-trim="false"
                      rows="3" maxlength="255" reset-field></textarea>
        </div>
    </div>

    <div class="col-md-12 margin-15">
        <div class="pull-right padding-l-10">
            <a class="btn btn-primary">Hoàn thành</a>
        </div>
        <div class="pull-right">
            <a data-ng-click="prevQuestion4()" class="btn btn-primary">Quay lại</a>
        </div>
    </div>
</div>
</div>
</section>
</div>


