#survey .margin-b-5{
    margin-bottom: 5px;
}

#survey .margin-15{
    margin: 15px 0px;
}

#survey .padding-l-10{
    padding-left: 10px;
}

#survey .no-padding-right{
    padding-right: 0px!important;
}

#survey .icon-format{
    /*font-size: 18px!important;*/
    cursor: pointer;
}