<div id='dashboard' ng-controller="dashboard" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <div class="page no-padding-moblie no-padding">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
                    data-i18n="dashboard"></span></strong>
            </div>
            <div class="panel-body padding-moblie no-padding">
                <div class="page col-md-12">
                    <section class="col-md-8 no-padding">
                        <div class="col-md-12 no-padding margin-bottom">
                            <div class="col-md-6 col-xs-12 no-padding">
                                <h4><a ng-click="urlrecent()" class="cursor-pointer"><span
                                        data-i18n="recent requests"></span></a>
                                </h4></div>
                        </div>
                        <div class="col-md-12 no-padding margin-top margin-bottom">
                            <a ng-click="urlClick()" class="dashboard-post text-center">
                                <span class="icon-project {{iconproject}}"></span>
                                <h4><span data-i18n="{{createproject}}"></span></h4>

                                <p><span data-i18n="vaber help you"></span></p>
                            </a>
                        </div>
                    </section>
                    <section class="col-md-4 no-padding-right no-padding-left-mobile">
                        <div class="page well col-md-12">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-6 no-padding">
                                    <a ng-click="urlUpdateUser()" class="cursor-pointer"><img id="avatar"
                                                                                              ng-src="{{myImage}}"
                                                                                              width="94" height="94"
                                                                                              alt="profile pic"
                                                                                              class="profile-img"
                                                                                              title=""></a>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <div class="col-md-12 no-padding">
                                        <h5><span data-i18n="welcome" class="membership"></span>, <br><strong><a
                                                ng-click="urlUpdateUser()" title="{{username}}" class="cursor-pointer">{{username|truncate}}</a></strong>
                                        </h5></div>
                                    <div class="col-md-12 no-padding">
                                        <div
                                                class="membership"
                                                ><span data-i18n="account"></span>: <br/><span class="account"
                                                                                               data-i18n="{{userrole}}"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding"><a ng-click="urlUpdateUser()"
                                                                         class="btn btn-primary txt-color-white"
                                            ><span
                                            data-i18n="edit profile"></span></a></div>
                                </div>
                            </div>
                            <div class="col-md-12 no-padding">
                                <div class="col-md-12 no-padding">
                                    <rating class="ui-rating size-h4 ui-rating-warning" ng-model="headerRating" max="5"
                                            readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
</div>

