#dashboard .dashboard-post {
    width: auto;
    padding: 16px 0px;
    background-color: #fafafa;
    border: 1px dashed #a3a5a9;
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: #7e8187;
    cursor: pointer;
}

#dashboard .cursor-pointer {
    cursor: pointer;
}

#dashboard .dashboard-post p {
    color: #7e8187;
    /*font-size: 15px;*/
    width: 225px;
    margin: 0 auto;
}

#dashboard .no-padding-right {
    padding-right: 0px;
}

#dashboard .icon-project {
    /*font-size: 26px;*/
    padding: 10px;
}

#dashboard a {
    color: #006898;
    text-decoration: none;
}

#dashboard .account {
    color: #006898;
    font-weight: bold;
}

#dashboard h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-size: 20px;*/
}

#dashboard .membership {
    /*font-size: 12px;*/
}

#dashboard .dashboard-text {
    background-color: #e3f4e1;
    border: 1px solid #c7e9c2;
    color: #65ad5a;
    font-weight: normal !important;
    /*font-size: 12px;*/
    padding: 15px 10px 10px 10px;
}

#dashboard .txt-color-white {
    color: #ffffff;
!important;
    /*font-size: 12px;*/
    margin-top: 3px;
}

#dashboard .profile-img {
    border: 6px solid #fff;
    margin-top: 10px;
    margin-left: 4px;
}

#dashboard .margin-bottom {
    margin-bottom: 16px;
}

@media (max-width: 992px) {
    #dashboard .no-padding-left-mobile {
        padding: 0px !important;
    }

    #dashboard .well .col-md-6 {
        width: 50%;
        float: left;
    }

    #dashboard .well, #dashboard .well .col-md-12 {
        width: 100%;
        float: left;
    }
}

@media (max-width: 768px) {
    #dashboard .no-padding-right {
        padding-right: 0px;
    }

    #dashboard .no-padding-left-mobile {
        padding-left: 0px;
    }

    #dashboard .margin-top {
        margin-top: 50px;
    }

    #dashboard .well .col-md-6 {
        width: 50%;
        float: left;
    }

    #dashboard .well, #dashboard .well .col-md-12 {
        width: 100%;
        float: left;
    }

    #dashboard .panel-heading {
        display: block !important;
    }
}