<section class="page no-padding" id='helper' ng-controller='helper' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
                data-i18n="post order"></span>
        </strong></div>
        <div class="panel-body">
            <form novalidate="novalidate" data-smart-validate-form>
                <div class="col-xs-12" data-smart-wizard finish-label="post order"
                     data-smart-wizard-callback="wizard1CompleteCallback">
                    <div class="form-bootstrapWizard clearfix">
                        <ul class="bootstrapWizard hidden-xs">
                            <li data-smart-wizard-tab="1">

                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" data-smart-wizard-pane="1">
                            <div class="row animate-switch-container">
                                <div class="row-fluid">
                                    <label class="control-label col-lg-3 no-padding" data-i18n="work type"></label>

                                    <div class="col-lg-9 form-group no-padding">
                                        <select class="form-control" data-required name="type" ng-change="clearDate()"
                                                data-message-required="validate choose helper" data-smart-validate-input
                                                ng-model="post.more.workType">
                                            <option value="" data-i18n="chosen helper"></option>
                                            <option value="Full time" data-i18n="full time"></option>
                                            <option value="Part time" data-i18n="part time"></option>
                                            <option value="Share" data-i18n="share"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="col-lg-3  control-label no-padding"
                                           data-i18n="skills select helper"></label>

                                    <div class="col-lg-9 no-padding">
                                        <div class="form-group selecte-skill">
                                            <select id="selectedSkills" name="skill" ng-model="selectedSkills"
                                                    ng-options="skill as skill.name for skill in selected.category.skills"
                                                    multiple placeholder="Kỹ năng giúp việc"
                                                    class="form-control  select2" data-smart-select2 lang="fa"
                                                    style="width:100%;" ng-change="removeHasError()"
                                                    data-required data-message-required="validate choose skill"
                                                    data-smart-validate-input>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-show="post.more.workType=='Full time'">
                                    <label class="control-label col-lg-3 no-padding"
                                           data-i18n="start date helper"></label>

                                    <div class="form-group col-lg-4 no-padding">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="post.more.dateStart"
                                                   datepicker-popup="{{format}}"
                                                   is-open="opened" min-date={{minDate}}
                                                   placeholder="dd/mm/yyyy" name="date_expired"
                                                   data-smart-validate-input
                                                   ng-click="open($event)"
                                                   dateformat="validate date helper"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-show="post.more.workType=='Part time' || post.more.workType=='Share'">
                                    <div class="row-fluid no-control-picker">
                                        <label class="control-label col-lg-3 padding-top28 no-padding"
                                               data-i18n="start date helper"></label>

                                        <div class="form-group col-lg-4 no-padding">
                                            <!--<div class="input-group ">-->
                                                <!--<input type="text" class="form-control" ng-model="post.more.dateStart"-->
                                                       <!--datepicker-popup="{{format}}"-->
                                                       <!--is-open="opened" min-date={{minDate}}-->
                                                       <!--placeholder="dd/mm/yyyy" name="date_expired"-->
                                                       <!--data-smart-validate-input-->
                                                       <!--ng-click="open($event)"-->
                                                       <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                              <!--<span class="input-group-btn">-->
                                                <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i-->
                                                        <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                              <!--</span>-->
                                            <!--</div>-->
                                            <div class="no-padding" ng-model="post.more.dateStart" is-open="opened" name="date_expired" minDate mindatemobile dateformat smart-date></div>
                                        </div>
                                        <div class="form-group col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding-xs no-padding-md no-padding-sm no-padding-md no-padding-right">
                                            <!--<input type="time"  class="form-control timeFrom" placeholder="HH:mm"  name="timeFrom" ng-model="post.more.timeStart" maxlength="5" />-->
                                            <input type="time" class="form-control timeFrom" placeholder="HH:mm"
                                                   data-smart-validate-input comparetimeTo="validate time"
                                                   timeformat="validate time1"
                                                   name="timeFrom" ng-model="post.more.timeFrom"/>
                                        </div>
                                        <div class="col-lg-1 margin-top10 col-xs-2 col-md-2 col-sm-2 text-center no-padding">
                                            <label data-i18n="calendar to"></label></div>
                                        <div class="form-group  col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding-xs no-padding-md pull-right no-padding-right">
                                            <!--<input type="time"  class="form-control timeTo" name="timeTo" placeholder="HH:mm"  maxlength="5" data-smart-validate-input comparetime="Thời gian phải lớn hơn thời gian bắt đầu" ng-model="post.more.timeFinish" />-->
                                            <input type="time" class="form-control timeTo" name="timeTo"
                                                   placeholder="HH:mm" data-smart-validate-input timeformat="validate time2"
                                                   comparetimeFrom="validate time3"
                                                   ng-model="post.more.timeTo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label col-lg-3 no-padding"
                                           data-i18n="post currency helper"></label>

                                    <div class="form-group col-lg-4 currency no-padding">
                                        <div class="input-group">
                                            <input id="budget" class="form-control" data-i18n="i18n-placeholder"
                                                   placeholder="post currency helper" type="tel" name="post_currency"
                                                   maxlength="15" requirePrice="validate budget1"
                                                   ng-model="post.more.budget"
                                                   format-currency data-smart-validate-input
                                                   numbers-only reset-field>

                                            <div class="input-group-btn">
                                                <span role="button" class="btn btn-default">&nbsp;<u>đ</u></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label col-lg-3 no-padding" data-i18n="description more">
                                    </label>

                                    <div class="form-group col-lg-9 no-padding">
                                        <textarea class="form-control " data-i18n="i18n-placeholder"
                                                  placeholder="description more" name="description"
                                                  ng-model="post.content"
                                                  rows="5" reset-field maxlength="1500"
                                                  data-smart-validate-input
                                                  data-required data-message-required="validate field"></textarea>

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label no-padding col-lg-3" data-i18n="advanced services"></label>
                                    <div class="col-lg-9 form-group no-padding">
                                        <table datatable-basic id="addonService" no-hightlight table-options="serviceTable" show-hidden
                                               class="table table-striped table-bordered table-hover serviceTable" on-selection="validateAddon"
                                               width="100%">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><span data-i18n="selected"></span></th>
                                                <th class="text-center"><span data-i18n="kind"></span></th>
                                                <th class="text-center" data-hide="phone"><span data-i18n="description sevice"></span></th>
                                                <th class="text-center"><span data-i18n="price"></span></th>
                                                <th class="text-center" data-hide="phone,tablet,desktop"><span data-i18n="quantity"></span></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label col-lg-3 no-padding" data-i18n="location"></label>

                                    <div class="col-lg-9 form-group gmap-container no-padding">
                                        <div smart-location ng-model="post.more.address"
                                             address="post.more.address"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions row">
                        <div class="wizard pull-right">
                            <div class="actions clearfix">
                                <ul role="menu" aria-label="Pagination">
                                    <li class=""><a href="" ng-click="goBack()" data-i18n="previous"></a>
                                    </li>
                                    <li data-smart-wizard-next><a href="" data-i18n="post order"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>

