<div id='signup' ng-controller='signup' ng-init="init()">
    <section class="panel-body">
        <form id="formSignup" novalidate="novalidate" data-smart-validate-form ng-enter="signupClick()">
            <div class="no-padding col-md-6 col-md-offset-3 text-center hidden-xs hidden-sm">
                <h2 data-i18n="sign up for free today"></h2>
            </div>
            <div class="hr pull-left hidden-xs hidden-sm">
            </div>
            <div class="clearfix"></div>
            <div class="no-padding col-md-6 col-md-offset-3 form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label for="email"
                                                                    class="glyphicon glyphicon-envelope"
                                                                    rel="tooltip" title="email"></label></span>
                    <input type="text" name="email" id="email" ng-model="newAccount.email"
                           class="form-control "
                           data-i18n="i18n-placeholder" placeholder="email address"
                           data-smart-validate-input reset-field
                           data-email maxlength="255"
                           data-required
                           data-message-required="validate input email"
                           data-message-email="validate input email form">
                </div>
            </div>
            <div class="no-padding col-md-6 col-md-offset-3 form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label
                                    class="glyphicon glyphicon-user"
                                    rel="tooltip"
                                    title="username"></label></span>
                    <input type="text" name="username" ng-model="newAccount.username"
                           class="form-control" reset-field
                           data-i18n="i18n-placeholder" placeholder="username"
                           data-smart-validate-input maxlength="50"
                           data-required="validate input login name"
                           data-message-required="validate input login name"
                            >
                </div>
            </div>
            <div class="no-padding col-md-6 col-md-offset-3 form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label
                                    class="glyphicon glyphicon-phone"
                                    rel="tooltip"
                                    title="phoneNumber"></label></span>
                    <input type="text" name="phoneNumber" ng-model="newAccount.phoneNumber"
                           class="form-control " reset-field
                           data-i18n="i18n-placeholder" placeholder="phone Number"
                           data-smart-validate-input
                           numbers-only
                           maxlength="15"
                           data-required
                           data-message-required="validate phone number"
                            >
                </div>
            </div>
            <div class="no-padding col-md-6 col-md-offset-3 form-group">

                <div class="input-group">
                            <span class="input-group-addon "><label
                                    class="glyphicon glyphicon-lock"
                                    rel="tooltip"
                                    title="password"></label></span>
                    <input type="password" class="form-control " ng-model="newAccount.password"
                           data-i18n="i18n-placeholder" placeholder="password"
                           name="password" id="password" reset-field
                           data-smart-validate-input
                           maxlength="127"
                           data-required
                           passwordcheck="validate password">

                </div>
            </div>
            <div class="no-padding col-md-6 col-md-offset-3 form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label class="glyphicon glyphicon-lock"
                                                                    rel="tooltip"
                                                                    title="retypepassword"></label></span>
                    <input type="password" class="form-control "
                           ng-model="newAccount.retypepassword" reset-field
                           Data-i18n="i18n-placeholder" data-i18n="i18n-placeholder"
                           placeholder="confirm password" name="retypepassword"
                           data-smart-validate-input maxlength="127"
                           data-required
                           retypepassword="validate retype password">
                </div>
            </div>
            <div class="check-btn col-md-6 col-md-offset-3 form-group text-center">

                <label tabindex="10" class="btn btn-plain active btn-checkbox">
                    <label class="ui-checkbox"><input name="customer" ng-model="role.customer" value="Employer"
                                                      type="checkbox"><span
                            data-i18n="customer"></span></label>
                </label><label tabindex="11" class="btn btn-plain btn-checkbox">
                <label class="ui-checkbox"><input name="supplier" id="looking_for_work" ng-model="role.supplier"
                                                  value="Worker" type="checkbox"><span
                        data-i18n="supplier"></span></label>
            </label>

                <!--<div class="btn-checkbox col-md-12 no-padding">-->
                <!--<label class="ui-checkbox"><input id="customer" name="customer" ng-model="role.customer"-->
                <!--value="Employer" type="checkbox"><span-->
                <!--data-i18n="customer"></span></label>-->
                <!--<label class="ui-checkbox"><input id="supplier" name="supplier" id="looking_for_work"-->
                <!--ng-model="role.supplier" value="Worker"-->
                <!--type="checkbox"><span data-i18n="supplier"></span></label>-->
                <!--</div>-->

            </div>
            <div class="no-padding col-md-6 col-md-offset-3 text-center">
                <button ng-disabled='!role.supplier&&!role.customer' class="btn btn-primary btn-lg"
                        ng-click="signupClick()"><span
                        data-i18n="create account"></span></button>

            </div>
            <div class="hr pull-left"></div>
            <p class="no-padding col-md-6 col-md-offset-3 form-group text-center"><span
                    data-i18n="by registering you confirm that you accept the"></span> <a href="#/policy"
                                                                                          target="_blank"
                                                                                          data-section-toggle="signup"><span
                    data-i18n="term and conditions"></span> </a>
            </p>
        </form>

    </section>
</div>