#signup .btn-checkbox
{
    background-color: transparent;
    border-color: #104b93;
    border-radius: 0px;
    width: 50%;
    float: left;
}

#signup .ui-checkbox {
  margin: 5px 20px 5px 20px;
}
#signup .ui-checkbox span{
  font-weight: bold;
}

#signup .container .hr {
  position: relative;
  width: 70%;
  height: 8px;
  margin: 21px 15% 30px;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
  box-shadow: 0 1px 0 #fff,transparent 0 0 0;
  border-bottom: 1px solid #c3c4c7;
  text-align: center;
}

#signup .container .hr .inner {
  background: #f4f4f4;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  width: auto;
  padding: 9px 10px;
  font-family: "Georgia","Times","Times New Roman",serif;
  /*font-size: 16px;*/
  font-style: italic;
  line-height: 0;
}

#signup .icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  /*font-size: 18px;*/
  padding: 10px 16px 10px 40px;
}

#signup .icon-addon .fa, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon.addon-md .glyphicon {
  position: absolute;
  z-index: 2;
  left: 10px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

#signup .icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
  /*font-size: 18px;*/
  margin-left: 0;
  left: 25px;
  top: 4px;
}

#signup .btn:active, .btn.active {
 webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
 box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); 
 }

#signup .form-group-module {
     margin-bottom: 45px;
 }

#signup .check-btn {
    padding: 0 50px;
}


