<div id='detailOrder' ng-controller="detailOrder" xmlns="http://www.w3.org/1999/html" ng-init="init()">

<div class="page no-padding-moblie no-padding">
<section class="panel panel-default">


<div class="panel-heading no-padding"><strong><span class="glyphicon glyphicon-th"></span>
    <span data-i18n="view detail"></span></strong>
</div>
<form novalidate="novalidate" data-smart-validate-form id="formDetailOrder">
<div class="panel-body no-padding">
<div class="col-md-12 col-xs-12">
    <h2 class="toast-title" ng-bind="titleHeader"></h2>
</div>
<div class="col-md-12 col-xs-12 status-mobile padding-bot10 font-1">
    <!--<div class="col-xs-12 no-padding -header"><span data-i18n="status"></span>: <span>{{proposalRes.statusOrder}}</span></div>-->
    <div class="col-xs-12 no-padding active-status-opening non-display"><span data-i18n="status"></span>: <span
            data-i18n="opening"></span></div>
    <div class="col-xs-12 no-padding active-status-bidding non-display"><span data-i18n="status"></span>: <span
            data-i18n="bidding"></span></div>
    <div class="col-xs-12 no-padding active-status-closed non-display"><span data-i18n="status"></span>: <span
            data-i18n="closed"></span></div>
    <div class="col-xs-12 no-padding active-status-waitpayment non-display"><span data-i18n="status"></span>: <span
            data-i18n="wait payment"></span></div>
    <div class="col-xs-12 no-padding active-status-paid non-display "><span data-i18n="status"></span>: <span
            data-i18n="paid"></span></div>
    <div class="col-xs-12 no-padding active-status-failedpaid non-display "><span data-i18n="status"></span>: <span
            data-i18n="failed paid"></span></div>
    <div class="col-xs-12 no-padding active-status-complete non-display "><span data-i18n="status"></span>: <span
            data-i18n="complete"></span></div>
    <div class="col-xs-12 no-padding active-status-reject non-display "><span data-i18n="status"></span>: <span
            data-i18n="reject"></span></div>
    <div class="col-xs-12 no-padding active-status-verifying non-display "><span data-i18n="status"></span>: <span
            data-i18n="verifying"></span></div>
    <div class="col-xs-12 no-padding active-status-broker non-display"><span data-i18n="status"></span>: <span
            data-i18n="assign broker"></span></div>
</div>
<div class="row no-margin padding-left2px">
    <div class="col-xs-12 hidden-lg hidden-md no-padding">
        <div class="col-xs-12 no-padding">
            <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-primary no-padding">
                <accordion-group is-open="false">
                    <accordion-heading><span data-i18n="detail information"></span></accordion-heading>
                    <div class="col-xs-12 no-padding "><strong><span data-i18n="proposal"></span></strong></div>
                    <div class="col-xs-12 cell DTTT_PrintMessage color-primary no-padding"><span
                            ng-bind="proposalRes.bids"></span></div>
                    <div class="col-xs-12 no-padding"><strong><span data-i18n="services"></span></strong></div>
                    <div class="col-xs-12 cell no-padding"><span data-i18n="{{services}}"></span></div>
                    <div class="col-xs-12 no-padding"><strong><span data-i18n="description"></span></strong></div>
                    <div class="col-xs-12 cell no-padding"><span ng-bind-html="description"></span></div>
                    <div class="col-xs-12 no-padding"><strong><span data-i18n="city"></span></strong></div>
                    <div class="col-xs-12 cell no-padding"><span>{{city}}</span></div>
                    <div class="col-xs-12 hide-headhunt no-padding"><strong><span data-i18n="post deal"></span></strong>
                    </div>
                    <div class="col-xs-12 cell hide-headhunt no-padding"><span>{{postDeal}}</span></div>
                    <div class="col-xs-12 show-headhunt non-display no-padding"><strong><span
                            data-i18n="type"></span></strong></div>
                    <div class="col-xs-12 cell show-headhunt non-display info-headhunt no-padding"></div>
                    <div class="col-xs-12 non-display hide-is-not-content no-padding"><strong><span
                            data-i18n="skills required"></span></strong></div>
                    <div class="col-xs-12 cell non-display hide-is-not-content no-padding"><span>{{skills}}</span></div>
                    <div class="col-xs-12 show-hide-helper non-display helper-work-type no-padding"><strong><span
                            data-i18n="work type"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-work-type no-padding"><span>{{workType}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-helper non-display helper-start-date-time no-padding"><strong><span
                            data-i18n="start date helper"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-start-date-time no-padding"><span>{{startDateHelper}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-helper non-display helper-salary no-padding"><strong><span
                            data-i18n="post currency helper"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-salary no-padding"><span>{{postCurrencyHelper}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-quick non-display quick-work-type no-padding"><strong><span
                            data-i18n="services more"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-work-type no-padding"><span>{{servicesMore}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-quick non-display quick-start-date-time no-padding"><strong><span
                            data-i18n="start date helper"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-start-date-time no-padding"><span>{{startDateQuick}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-quick non-display quick-salary no-padding"><strong><span
                            data-i18n="price service label"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-salary no-padding"><span>{{priceService}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-start-date-time no-padding">
                        <strong><span data-i18n="time tutoring"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-start-date-time no-padding">
                        <span>{{startDate}}</span></div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-gender no-padding"><strong><span
                            data-i18n="gender"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-gender no-padding"><span
                            data-i18n="{{gender}}"></span></div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-career no-padding"><strong><span
                            data-i18n="career"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-career no-padding"><span
                            data-i18n="{{career}}"></span></div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-salary no-padding"><strong><span
                            data-i18n="salary tutoring"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-salary no-padding"><span>{{salaryTutoring}}</span>
                    </div>
                    <div class="col-xs-12 no-padding"><strong><span data-i18n="expired date"></span></strong></div>
                    <div class="col-xs-12 no-padding"><span ng-bind="proposalRes.expiredDate"></span></div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
<div class="col-md-12 col-xs-12 hidden-xs hidden-sm form-group">
    <div class="col-md-12 row-mobile border-wrapper padding-moblie-1">
        <div class="col-md-12">
            <div class="col-md-2 padding-1 no-padding-right-left">
                <div class="col-md-12 no-padding">
                    <a class="btn-sm btn-primary text-center col-md-12 " data-ng-click="showInfo();" id="showInfo">
                        <span class="non-display" id="hideBrief" data-i18n="hide detail">Ẩn chi tiết</span>
                        <span id="viewBrief" data-i18n="view detail">Xem chi tiết</span>
                        <span id="icon" class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-10 margin-t-b form-group border-wrapper background-children text-center">

                <div class="col-md-2 padding-1 background-children padding-right-left10x">
                    <div><label data-i18n="status"></label>

                        <div class="font-1">
                            <div class="col-xs-12 no-padding active-status-opening non-display"><span
                                    data-i18n="opening"></span></div>
                            <div class="col-xs-12 no-padding active-status-bidding non-display"><span
                                    data-i18n="bidding"></span></div>
                            <div class="col-xs-12 no-padding active-status-closed non-display"><span
                                    data-i18n="closed"></span></div>
                            <div class="col-xs-12 no-padding active-status-waitpayment non-display"><span
                                    data-i18n="wait payment"></span></div>
                            <div class="col-xs-12 no-padding active-status-paid non-display"><span
                                    data-i18n="paid"></span></div>
                            <div class="col-xs-12 no-padding active-status-failedpaid non-display"><span
                                    data-i18n="failed paid"></span></div>
                            <div class="col-xs-12 no-padding active-status-complete non-display"><span
                                    data-i18n="complete"></span></div>
                            <div class="col-xs-12 no-padding active-status-reject non-display"><span
                                    data-i18n="reject"></span></div>
                            <div class="col-xs-12 no-padding active-status-verifying non-display"><span
                                    data-i18n="verifying"></span></div>
                            <div class="col-xs-12 no-padding active-status-broker non-display"><span
                                    data-i18n="assign broker"></span></div>
                            </span></div>
                    </div>
                </div>
                <div class="col-md-4 padding-1 background-children border-l border-r padding-right-left10x">
                    <div class="col-md-12">
                        <label data-i18n="services more">Dịch vụ</label>
                    </div>
                    <div class="col-md-12">
                        <div class="animate-repeat col-md-12" ng-repeat="type in proposalRes.types">
                            <span class=" font-1" data-i18n="{{type}}"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 padding-1 background-children border-r padding-right-left10x">
                    <div><label class="col-md-12 no-padding" data-i18n="post deal"></label>
                    </div>
                    <div class="animate-repeat col-md-12" ng-repeat="budget in proposalRes.budgetTo track by $index">
                        <span class=" font-1">{{budget}}</span>
                    </div>
                </div>
                <div class="col-md-2 padding-1 background-children padding-right-left10x">
                    <label data-i18n="total proposal">Số đề xuất</label>

                    <div class="font-1"><span ng-bind="proposalRes.bids"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 non-display form-group" id="detailInfo">
    <div class="non-display border-wrapper background-children col-md-12 hidden-sm hidden-xs">
        <div class="col-md-12">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="description"></span></div>
            <div class="col-md-10 no-padding"><span ng-bind-html="description"></span></div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="services more"></span></div>
            <div class="col-md-10 no-padding"><span data-i18n="{{services}}"></span></div>
        </div>

        <div class="col-md-12 hide-headhunt">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="post deal"></span></div>
            <div class=" col-md-10 no-padding"><span>{{postDeal}}</span></div>
        </div>

        <div class="non-display col-md-12 show-headhunt">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="type"></span></div>
            <div class=" col-md-10 no-padding info-headhunt"></div>
        </div>

        <div class="col-md-12">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="city"></span></div>
            <div class=" col-md-10 no-padding"><span>{{city}}</span></div>
        </div>

        <div class="non-display col-md-12 hide-is-not-content">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="skills"></span></div>
            <div class=" col-md-10 no-padding"><span>{{skills}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-work-type">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="work type"></span></div>
            <div class=" col-md-10 no-padding"><span>{{workType}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-start-date-time">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="start date helper"></span></div>
            <div class=" col-md-10 no-padding"><span>{{startDateHelper}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-salary">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="post currency helper"></span></div>
            <div class=" col-md-10 no-padding"><span>{{postCurrencyHelper}}</span></div>
        </div>


        <div class="non-display col-md-12 show-hide-quick quick-work-type">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="services more"></span></div>
            <div class=" col-md-10 no-padding"><span>{{servicesMore}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-quick quick-start-date-time">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="start date helper"></span></div>
            <div class=" col-md-10 no-padding"><span>{{startDateQuick}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-quick quick-salary">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="price service label"></span></div>
            <div class=" col-md-10 no-padding"><span>{{priceService}}</span></div>
        </div>


        <div class="non-display col-md-12 show-hide-tutoring tutoring-start-date-time">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="time tutoring"></span></div>
            <div class=" col-md-10 no-padding"><span>{{startDate}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-gender">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="gender"></span></div>
            <div class=" col-md-10 no-padding"><span data-i18n="{{gender}}"></span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-career">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="career"></span></div>
            <div class=" col-md-10 no-padding"><span data-i18n="{{career}}"></span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-salary">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="salary tutoring"></span></div>
            <div class=" col-md-10 no-padding"><span>{{salaryTutoring}}</span></div>
        </div>

        <div class="col-md-12">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="expired date"></span></div>
            <div class=" col-md-10 no-padding"><span ng-bind="proposalRes.expiredDate"></span></div>
        </div>
    </div>
</div>

<div class="col-md-12" id="content-input">
    <div class="no-padding col-xs-12 no-padding-moblie col-md-12">
        <div class="col-md-12 no-padding form-group">
            <div class="col-md-2 no-padding">
                <div><label data-i18n="title">Tiêu đề</label></div>
            </div>
            <div class="col-md-10 no-padding-right no-padding-moblie">
                <input id="titleProposal" class="form-control" ng-disabled="showTitleProposal"
                       data-i18n="i18n-placeholder" placeholder="proposal title"
                       type="text" name="titleProposal"
                       ng-model="titleProposal"
                       reset-field maxlength="60"
                       data-smart-validate-input
                       data-required
                       data-message-required="validate tiltle proposal">
            </div>

        </div>
        <div class="col-md-12 padding-right-mobile no-padding form-group">


            <div class="col-md-2 no-padding">
                <label for="title"><span
                        data-i18n="description more"></span></label>
            </div>
            <div class="col-md-10 no-padding-right no-padding-moblie">
                <textarea ng-model="bids.proposal" name="proposal" ng-disabled="hideProposal"
                          class="form-control"
                          data-i18n="i18n-placeholder" placeholder="detail description placeholder"
                          data-smart-validate-input
                          data-required
                          data-message-required="validate detail proposal"
                          rows="9"
                          reset-field
                          ng-trim="false" maxlength="1500"
                        ></textarea>
                <span id="title-error" class="help-block pull-right">{{1500 - bids.proposal.length}} &nbsp;<span
                        data-i18n="charater"></span></span>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding col-xs-12">

        <div class="col-md-12 form-group col-xs-12 noFloat padding-right-mobile no-padding margin-bottom0px">
            <div class="col-md-2 no-padding non-display" id="descriptionTableTitle">
                <label data-i18n="chose type">Hình thức dịch vụ</label>
            </div>
            <div class="col-md-10 no-padding-right no-padding-moblie">
                <div class="col-md-12 no-padding form-group non-display" id="descriptionTable">
                    <table datatable-basic id="infoMore" no-hightlight table-options="descriptionTable"
                           on-selection show-hidden
                           class="table table-striped table-bordered table-hover margin-top0px">
                        <thead class="non-display">
                        <tr>
                            <th class="text-center"></th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 form-group no-padding">
                <div class="col-md-2 no-padding">
                    <label data-i18n="bid proposal">Giá đề xuất</label>
                </div>
                <!--data-i18n="i18n-placeholder" -->
                <div class="col-md-10  no-padding-right no-padding-moblie">
                    <div class="input-group ">
                        <input id="budget" class="form-control" ng-disabled="hidePrice"
                               reset-field
                               data-i18n="i18n-placeholder" placeholder="enter your expected cost"
                               type="tel" name="price"
                               maxlength="15"
                               ng-model="price.net"
                               data-smart-validate-input
                               data-required
                               format-currency numbers-only data-message-required="validate expected cost">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">&nbsp;<u>đ</u></button>
                </span>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<div class="col-md-12 col-xs-12 form-group" id="content-addCV">

    <!--<div class="col-md-12 col-xs-12 no-padding">-->
    <!--<div class="no-padding" ng-repeat="(name, panel) in panel.panels" ng-hide="panel.height == '0px' || panel.hide" class="row-fluid panel" style="min-height:{{panel.height}}; position:relative" ng-style="{'width':!panel.span?'100%':(panel.span/1.2)*10+'%'}">-->
    <!--&lt;!&ndash; Error Panel &ndash;&gt;-->
    <!--<div class="row-fluid">-->
    <!--<div class="span12 alert alert-error panel-error" ng-hide="!panel.error">-->
    <!--<a class="close" ng-click="panel.error=false">&times;</a>-->
    <!--<i class="icon-exclamation-sign"></i> <strong>Oops!</strong> {{panel.error}}-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Content Panel &ndash;&gt;-->
    <!--<div class="row-fluid">-->
    <!--<mobile-panel type="panel.type"></mobile-panel>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-md-2 no-padding">
        <label data-i18n="list cv">Danh sách hồ sơ</label>
    </div>
    <div class="col-md-10 no-padding-right no-padding-moblie">
        <div class="col-md-12 col-xs-12 form-group no-padding" ng-show="isClosed">
            <div class="pull-left input-sm no-padding" id="wrapperButtonAction">
                <a id="selectExistCV" href="javascript:;" data-ng-click="selectExistCV()" class="padding-r5"><span
                        class="glyphicon glyphicon-check"></span>&nbsp;<span
                        data-i18n="select existing cv">Chọn CV đã có</span>&nbsp;&nbsp;</a>
                <a href="javascript:;" data-ng-click="addParentCV()" class="padding-r5"><span
                        class="glyphicon glyphicon-plus"></span><span
                        data-i18n="add new cv">Thêm CV mới</span>&nbsp;&nbsp;</a>
                <input type="file" class="non-display-important" id="fileUploadDetailOrder" accept=".xlsx,.xls">
                <!-- actual file upload button -->
                <a href="javascript:;" id="customButton" data-ng-click="toggleCV()" class="padding-r5"><span
                        class=" glyphicon glyphicon-upload"></span> <span
                        data-i18n="add file cv">Thêm file CV</span>&nbsp;&nbsp;</a>
                <a id="downloadTemplateCV" href="data/template CV_new.xlsx" class="padding-r5" download>
                    <span class="glyphicon glyphicon-download-alt"></span> <span data-i18n="download template CV">Tải CV mẫu</span>&nbsp;&nbsp;</a>

            </div>
            <div class="col-md-12 form-group col-xs-12 no-padding non-display" id="isUploaded">
                <div class="col-md-4 col-xs-8 border-wrapper">
                    <span id="fileName" class="no-padding"></span>
                    <!-- the file name of the selected file will be shown here -->
                </div>
                <div class="col-md-8 col-xs-4">
                    <button class="btn btn-primary cusomt-btn-small btn-small form-group margin-t-3px btn-gap pull-left"
                            ng-click="uploadCv()"
                            ><span data-i18n="upload cv">Đăng CV</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 no-padding">
            <table id="selectCV" datatable-basic show-hidden
                   click-apply="SmartDevice" on-mouseover="formatContent" table-options="selectCV"
                   class="datatable table table-striped table-bordered table-hover">
                <thead class="hide-when-mobile">
                <tr>
                    <th class="text-center verticalMiddle"><span data-i18n="candidate">Ứng viên</span></th>
                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                            data-i18n="first name">Tên</span></th>
                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                            data-i18n="gender">Giới tính</span>
                    </th>
                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                            data-i18n="yob">Năm sinh</span>
                    </th>
                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                            data-i18n="skill">Kỹ năng</span></th>
                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="experience year">Năm kinh nghiệm</span>
                    </th>
                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                            data-i18n="note">Ghi chú</span></th>
                    <th class="text-center verticalMiddle hide-children"><span></span></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 no-padding" id="advancedServices">
        <div class="col-md-2 no-padding">
            <label class="control-label" data-i18n="advanced services"></label>
        </div>

        <div class="col-md-10 no-padding-right no-padding-moblie">
            <table datatable-basic id="addonService" no-hightlight table-options="serviceTable" show-hidden
                   class="table table-striped table-bordered table-hover serviceTable" on-selection="validateAddon"
                   width="100%" displayfooter="hide">
                <thead>
                <tr>
                    <th class="text-center"><span data-i18n="selected"></span></th>
                    <th class="text-center"><span data-i18n="kind"></span></th>
                    <th data-hide="phone" class="text-center"><span data-i18n="description sevice"></span></th>
                    <th class="text-center"><span
                            data-i18n="service fee add-one">Phí dịch vụ(trên tổng giá đề xuất)</span></th>
                    <th class="text-center" data-hide="phone,tablet,desktop"><span>Broker</span></th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<div class="col-md-12 col-xs-12 form-group padding-right-mobile  no-padding" id="content-button">
    <div class="form-group no-padding-right">
        <button bid id="bid" ng-click="bid()"
                class="btn btn-primary submitSettingsBtn form-group btn-gap btn-bid margin-btn-submit pull-right non-display">

        </button>
        <button id="update"
                class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right non-display"
                ng-click="updateProposal()"
                ><span
                data-i18n="update"></span>
        </button>
        <button id="delete"
                class="btn btn-primary submitSettingsBtn form-group btn-delete margin-btn-submit btn-gap pull-right non-display"
                ng-click="deleteProposal()"
                ><span
                data-i18n="delete proposal"></span>
        </button>
        <button id="payment"
                class="btn btn-primary submitSettingsBtn form-group btn-payment margin-btn-submit btn-gap pull-right non-display"
                ng-click="paymentProposal()"
                ><span
                data-i18n="payment"></span>
        </button>
        <button id="accept"
                class="btn btn-primary submitSettingsBtn form-group btn-accept margin-btn-submit btn-gap pull-right non-display"
                ng-click="acceptProposal()"
                ><span
                data-i18n="accept"></span>
        </button>
        <button id="reject"
                class="btn btn-primary submitSettingsBtn form-group btn-reject margin-btn-submit btn-gap pull-right non-display"
                ng-click="rejectProposal()"
                ><span
                data-i18n="reject"></span>
        </button>
        <span ng-back></span>
    </div>
</div>


</div>
</form>
</section>
</div>
</div>
</div>

