/*#success .dt-toolbar-footer{*/
    /*display: none !important;*/
    /*visibility: hidden !important;*/
/*}*/
/*#success .dt-toolbar{*/
    /*display: none !important;*/
    /*visibility: hidden !important;*/
/*}*/
#success .header-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
}

#success .content-mobile {
    font-size: 12px;
}

#success .padding-left-4 {
    padding-left: 4px;
}

#success .footer-pull-left-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
    color:#1357aa;
}

#success .footer-pull-right-mobile {
    font-size: 10px;
}
#success .successPayment{
color: #1357aa;
}
#success .failedPayment{
    color: red;
}
#success .price_old{
    text-decoration: line-through;
}
#success .quantity{
    text-align:center;

}
#success .price{
    color: red;
    font-weight: 500;
}

#success div.panel > .panel-heading{
    padding: 0px!important;
}

/*#success .ui-accordion .panel-heading .panel-title > a {*/
    /*padding-left: 0px!important;*/
/*}*/

.accordion .panel-body {
    padding: 0px;
}