<div ng-controller='success' id="success" ng-init="init()" class="gray-bg">
    <div class=" page-invoice">

        <div class="invoice-wrapper">
            <section id="invoice">
                <div class="page">
                    <div class="row no-margin">
                        <div class="col-md-12 col-xs-12 no-padding">
                            <div class="col-xs-12 col-md-12 no-padding"><span class="size-h3" data-i18n="transaction id"></span>:
                                <span class="size-h3">{{transactionID}}</span></div>
                            <div class="col-xs-12 col-md-12 no-padding non-display wait-payment">
                                <span data-i18n="wait payment"></span>
                            </div>
                            <div class="col-xs-12 col-md-12 no-padding non-display paid successPayment">
                                <span data-i18n="success paid"></span>
                            </div>
                            <div class="col-xs-12 col-md-12 no-padding non-display failed-paid failedPayment">
                                <span data-i18n="failed paid"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="hidden-xs">

                    <div class="row no-margin hidden-xs">
                        <div class="col-md-6 col-xs-12 no-padding">

                            <div class="col-xs-12  no-padding">
                                <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="payment id"></span></strong></div>
                                <div class="col-xs-7 col-sm-8"> {{paymentID}}</div>
                            </div>
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="total payment"></span>:</strong></div>
                                <div class="col-xs-7 col-sm-8">{{totalPayment}}</div>
                            </div>
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="content"></span>:</strong></div>
                                <div class="col-xs-7 col-sm-8">{{description}}</div>
                            </div>

                            <div class="col-xs-12 no-padding non-display payment-service-order">
                                <div class="col-xs-5 col-sm-4  no-padding text-left"><strong><span data-i18n="post id"></span>:</strong></div>
                                <div class="col-xs-7 col-sm-8"> {{postID}}</div>
                            </div>
                            <div class="col-xs-12 no-padding non-display payment-service-order">
                                <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="poster"></span>:</strong></div>
                                <div class="col-xs-7 col-sm-8">{{poster}}</div>
                            </div>
                            <div class="col-xs-12 no-padding non-display payment-service-order">
                                <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="name"></span>:</strong></div>
                                <div class="col-xs-7 col-sm-8">{{titleOrder}}</div>
                            </div>

                        </div>
                        <div class="col-md-6 col-xs-12 no-padding">
                            <div class="col-xs-12 no-padding text-left ">
                                <div class="col-xs-5 col-sm-4 no-padding text-left"> <strong><span data-i18n="contact"></span>:</strong></div>
                                <div class="col-xs-7 col-sm-8"><span data-i18n="address info"></span></div>
                            </div>

                        </div>

                    </div>
                </div>

                <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-primary hidden-sm hidden-lg hidden-md">
                    <accordion-group is-open="false">
                        <accordion-heading><span data-i18n="view detail"></span></accordion-heading>
                        <div class="col-xs-12  no-padding">
                            <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="payment id"></span></strong></div>
                            <div class="col-xs-7 col-sm-8"> {{paymentID}}</div>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="total payment"></span>:</strong></div>
                            <div class="col-xs-7 col-sm-8">{{totalPayment}}</div>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="content"></span>:</strong></div>
                            <div class="col-xs-7 col-sm-8">{{description}}</div>
                        </div>

                        <div class="col-xs-12 no-padding non-display payment-service-order">
                            <div class="col-xs-5 col-sm-4  no-padding text-left"><strong><span data-i18n="post id"></span>:</strong></div>
                            <div class="col-xs-7 col-sm-8"> {{postID}}</div>
                        </div>
                        <div class="col-xs-12 no-padding non-display payment-service-order">
                            <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="poster"></span>:</strong></div>
                            <div class="col-xs-7 col-sm-8">{{poster}}</div>
                        </div>
                        <div class="col-xs-12 no-padding non-display payment-service-order">
                            <div class="col-xs-5 col-sm-4 no-padding text-left"><strong><span data-i18n="name"></span>:</strong></div>
                            <div class="col-xs-7 col-sm-8">{{titleOrder}}</div>
                        </div>
                        <div class="col-xs-12 no-padding text-left ">
                            <div class="col-xs-5 col-sm-4 no-padding text-left"> <strong><span data-i18n="contact"></span>:</strong></div>
                            <div class="col-xs-7 col-sm-8"><span data-i18n="address info"></span></div>
                        </div>
                    </accordion-group>
                    <accordion-group class="non-display add-on-service accordion" is-open="false">
                        <accordion-heading><span data-i18n="list addon"></span></accordion-heading>
                        <table datatable-basic table-options="custom"
                               class="table table-striped table-bordered table-hover">
                            <thead class="hide-when-mobile">
                            <tr>
                                <th class="text-center"><span data-i18n="kind"></span></th>
                                <th data-hide="phone,tablet" class="text-center"><span data-i18n="description"></span></th>
                                <th data-hide="phone,tablet" class="text-center"><span data-i18n="price"></span></th>
                                <th data-hide="phone,tablet"><span data-i18n="quantity"></span></th>
                                <th data-hide="phone,tablet" class="text-center"><span data-i18n="total"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </accordion-group>
                    <accordion-group class="non-display proposal-award accordion" is-open="false">
                        <accordion-heading><span data-i18n="list award"></span></accordion-heading>
                        <table datatable-basic no-hightlight table-options="proposalsAward"
                               class="table table-striped table-bordered table-hover serviceTable"
                               on-selection width="100%">
                            <thead class="hide-when-mobile">
                            <tr>
                                <th class="text-center verticalMiddle"><span data-i18n="proposal id"></span></th>
                                <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                        data-i18n="proposer"></span></th>
                                <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                        data-i18n="proposal content"></span></th>
                                <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                        data-i18n="bid proposal"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </accordion-group>
                </accordion>


                <div class="col-md-12 col-xs-12 non-display add-on-service no-padding hidden-xs">
                    <span class="size-h4 col-md-12 col-xs-12" data-i18n="list addon"></span>
                    <table datatable-basic table-options="custom"
                           class="table table-striped table-bordered table-hover">
                        <thead class="hide-when-mobile">
                        <tr>
                            <th class="text-center"><span data-i18n="kind"></span></th>
                            <th data-hide="phone,tablet" class="text-center"><span data-i18n="description"></span></th>
                            <th data-hide="phone,tablet" class="text-center"><span data-i18n="price"></span></th>
                            <th data-hide="phone,tablet"><span data-i18n="quantity"></span></th>
                            <th data-hide="phone,tablet" class="text-center"><span data-i18n="total"></span></th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-md-12 col-xs-12 non-display proposal-award no-padding hidden-xs">
                    <span class="size-h4 col-md-12 col-xs-12" data-i18n="list award"></span>
                    <table datatable-basic no-hightlight table-options="proposalsAward"
                           class="table table-striped table-bordered table-hover serviceTable"
                           on-selection width="100%">
                        <thead class="hide-when-mobile">
                        <tr>
                            <th class="text-center verticalMiddle"><span data-i18n="proposal id"></span></th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                    data-i18n="proposer"></span></th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                    data-i18n="proposal content"></span></th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                    data-i18n="bid proposal"></span></th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <span ng-back class="hidden-xs non-display ng-back"></span>
            </section>
        </div>
    </div>
</div>