<div id="categories" class="panel-body" ng-controller="categories" ng-init="init();">
    <h3>Hire Freelancers and Find Freelance Jobs Online</h3>
    <div class="row">
      <div class="padding-15 col-xs-6 col-sm-6 col-lg-3" ng-repeat="(name, panel) in panel.panels">
        <mobile-panel type="panel.type"></mobile-panel>
      </div>
    </div>
</div>