#countbyuser .form-group label {
    color: #2B3D53;
}

#countbyuser .select2-choices li {
    width: auto;
}

#countbyuser .padding-bottom20 {
    padding-bottom: 20px !important;
}

#countbyuser span::before {
    margin: 0px !important;
}

#countbyuser span::after {
    left: 5px !important;
}

#countbyuser .select2-choices {
    padding-left: 11px !important;
}

#countbyuser .overwrite-title {
    color: #2B3D53;
    display: inline;
    position: initial;
    /*font-size: 20px;*/
}

#countbyuser .form-group-cus {
    margin-bottom: 30px;
}

#countbyuser .count-user {
    border: 1px solid #ccc;
    padding: 1px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

#countbyuser .pieLabelBackground {
    width: 0 !important;
    height: 0 !important;
}

#countbyuser .submitting {
    width: 4px;
    height: 0;
    border: 5px solid rgb(175, 216, 248);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .closed {
    width: 4px;
    height: 0;
    border: 5px solid rgb(189, 155, 51);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .validating {
    width: 4px;
    height: 0;
    border: 5px solid rgb(140, 172, 198);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .Assigned {
    width: 4px;
    height: 0;
    border: 5px solid rgb(162, 60, 60);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .opening {
    width: 4px;
    height: 0;
    border: 5px solid rgb(237, 194, 64);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .accepted {
    width: 4px;
    height: 0;
    border: 5px solid rgb(203, 75, 75);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .confirmed {
    width: 4px;
    height: 0;
    border: 5px solid rgb(77, 167, 77);
    overflow: hidden;
    padding-left: 3px;
}

#countbyuser .rejected {
    width: 4px;
    height: 0;
    border: 5px solid rgb(148, 64, 237);
    overflow: hidden;
    padding-left: 3px;
}

@media (min-width: 768px) {
    #countbyuser .bootstrapWizard .tab-provision li:first-child {
        margin-top: 30px;
    }

    #countbyuser .bootstrapWizard .tab-provision li {
        float: none;
        width: 100%;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;

    }

    #countbyuser .tab-provision ul {
        margin-left: -40px;
    }

    #countbyuser .tab-provision .ui-checkbox {
        margin: 10px 20px 10px 0px;
    }

    #countbyuser .tab-provision ul > li {
        list-style: none;
        list-style-type: decimal;
    }
}

@media (max-width: 768px) {
    #countbyuser .panel-heading {
        display: block !important;
    }

    #countbyuser .padding-left-15 {
        padding: 0px 0px 0px 15px;
    }
}

@media (max-width: 392px) {
    #countbyuser #supplier, #countbyuser #customer {
        font-size: 11px !important;
    }
}

#countbyuser .tab-provision ul > li {
    list-style: none;
    list-style-type: decimal;
}

#countbyuser .animate-switch .form-group .dropzone {
    border: none;
}

#countbyuser .animate-switch .form-group .dropzone .file-input-wrapper {
    color: steelblue;
}

#countbyuser .select2-container-multi .select2-choices .select2-search-field input {
    /*font-size: 18px;*/
}

#countbyuser .margin-0 {
    margin: 0 !important;
}

.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 7px 3px 0 3px;
}

#countbyuser .ver-align-baseline {
    vertical-align: baseline !important;
}

#countbyuser .readonly-btn {
    pointer-events: none;
}

#countbyuser .w100h46 {
    height: 46px;
    width: 100%;
}

#countbyuser .padding-top28 {
    padding-top: 28px;
}

#countbyuser .panel-heading {
    margin-top: -19px;
}

/* prevent text from appearing underneath the icon */
input[reset-field] {
    padding-right: 19px;
}

/* hide the built-in IE10+ clear field icon */
input[reset-field]::-ms-clear {
    display: none;
}

/* hide cancel icon for search type */
input[reset-field]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* animations for ngAnimate */
input[reset-field] + .fa.ng-hide-add {
    display: inline !important;
    -webkit-animation: 0.3s fadeOut;
    -moz-animation: 0.3s fadeOut;
    -ms-animation: 0.3s fadeOut;
    animation: 0.3s fadeOut;
}

input[reset-field] + .fa.ng-hide-remove {
    -webkit-animation: 0.5s fadeIn;
    -moz-animation: 0.5s fadeIn;
    -ms-animation: 0.5s fadeIn;
    animation: 0.5s fadeIn;
}