<section class="page no-padding" id='countbyuser' ng-controller='countbyuser' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
                data-i18n="statistics"></span>
        </strong></div>
        <div class="panel-body">
            <div id="datachart" class="col-md-12 no-padding hide">
                <div data-flot-chart
                     data-data="line1.data"
                     data-options="line1.options"
                     style="width: 100%; height: 300px;"
                        ></div>
            </div>
            <div id="piechart" class="col-xs-6 form-group-cus col-md-6">
                <div class="hidden-lg hidden-md hidden-sm" data-flot-chart col-xs-12 col-md-6
                     data-data="pie.data"
                     data-options="pie.options"
                     style="width: 100%; height: 150px;"
                        ></div>
                <div class="hidden-xs" data-flot-chart col-xs-12 col-md-6
                     data-data="pie.data"
                     data-options="pie.options"
                     style="width: 100%; height: 300px;"
                        ></div>
            </div>
            <div id="supplier" class="hide col-xs-6 form-group col-md-6 no-padding">
                <div id="opening" class="hide col-xs-12 col-lg-12 no-padding form-group">


                    <div class="count-user">
                        <div class="opening"></div>
                    </div>
                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="opening" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalOpening}}
                        </div>
                    </div>

                </div>
                <div id="submitting" class="hide col-xs-12 col-lg-12 no-padding form-group">
                    <div class="count-user">
                        <div class="submitting"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="bidding" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalSubmitting}}
                        </div>
                    </div>

                </div>

                <div id="accepted" class="hide col-xs-12 col-lg-12 no-padding form-group">


                    <div class="count-user">
                        <div class="accepted"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="wait payment" class="col-xs-9 col-lg-4 no-padding">

                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalAccepted}}
                        </div>
                    </div>

                </div>
                <div id="confirmed" class="hide col-xs-12 col-lg-12 no-padding form-group">


                    <div class="count-user">
                        <div class="confirmed"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="paid" class="col-xs-9 col-lg-4 no-padding">

                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalConfirmed}}
                        </div>
                    </div>
                </div>
                <div id="rejected" class="hide col-xs-12 col-lg-12 no-padding form-group">


                    <div class="count-user">
                        <div class="rejected"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="reject" class="col-xs-9 col-lg-4 no-padding">

                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalRejected}}
                        </div>
                    </div>
                </div>
                <div id="closed" class="hide col-xs-12 col-lg-12 no-padding form-group">

                    <div class="count-user">
                        <div class="closed"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="closed" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalClosed}}
                        </div>
                    </div>
                </div>
                <div id="validating" class="hide col-xs-12 col-lg-12 no-padding form-group">


                    <div class="count-user">
                        <div class="validating"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="verifying" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalValidating}}
                        </div>
                    </div>
                </div>
                <div id="Assigned" class="hide col-xs-12 col-lg-12 no-padding form-group">


                    <div class="count-user">
                        <div class="Assigned"></div>
                    </div>

                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="Assigned" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalProposalAssigned}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- end stats -->
            <div id="customer" class="hide col-xs-6 form-group col-md-6 no-padding">
                <div id="OrderOpening" class="hide col-xs-12 col-lg-12 no-padding form-group">

                    <div class="count-user">
                        <div class="opening"></div>
                    </div>
                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="opening" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalOrderOpening}}
                        </div>
                    </div>
                </div>
                <div id="OrderProcessing" class="hide col-xs-12 col-lg-12 no-padding form-group">
                    <div class="count-user">
                        <div class="submitting"></div>
                    </div>
                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="bidding" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalOrderProcessing}}
                        </div>
                    </div>
                </div>
                <div id="OrderClosed" class="hide col-xs-12 col-lg-12 no-padding form-group">

                    <div class="count-user">
                        <div class="accepted"></div>
                    </div>
                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="closed" class="col-xs-9 col-lg-4 no-padding">

                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalOrderClosed}}
                        </div>
                    </div>
                </div>
                <div id="OrderValidating" class="hide col-xs-12 col-lg-12 no-padding form-group">

                    <div class="count-user">
                        <div class="confirmed"></div>
                    </div>
                    <div class="col-xs-10 col-lg-10 no-padding">
                        <div data-i18n="verifying" class="col-xs-9 col-lg-4 no-padding">
                        </div>
                        <div class="col-xs-3 no-padding">
                            : {{totalOrderValidating}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- stats -->
    </section>
</section>
