<div ng-controller='item' ng-init="init()">
    <div class="item-inner">
        <a ng-click = "onClick(panel.items.ID)">
            <img ng-src="{{panel.items.image}}" alt="{{panel.items.title}}" class="img-thumbnail">
        </a>
    </div>
</div>