#introduction .introduction-step-wrapper {
  display: table;
}
#introduction .introduction-step-inner {
  display: table-cell;
  vertical-align: middle;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#introduction .introduction-step .introduction-features-list {
  display: block;
  margin-bottom: 40px;
}
#introduction ul {
  display: inline-block;
  list-style: none;
  /*font-size: 15px;*/
}
#introduction .introduction-step .introduction-features-list li {
  padding-left: 10px;
  position: relative;
  margin-bottom: 15px;
  line-height: 20px;
}
#introduction .introduction-step .introduction-features-list [class^="fl-icon-"] {
  position: absolute;
  left: -20px;
  /*font-size: 20px;*/
  top: -1px;
  color: #89cf7e;
}
#introduction .interactive-step-image-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#introduction .interactive-step {
  background: url('../../../images/interactive-step-base.jpg') no-repeat;
  height: auto;
  padding-bottom: 66.8%;
  width: 100%;
  position: relative;
  background-size: 100% 100%;
}

#introduction .interactive-step-img {
  position: absolute;
  left: 4.6%;
  top: 8.6%;
  width: 90.5%;
}