<div class="panel-body" id='introduction' ng-controller='introduction' ng-init="init()">
  <section id="introduction-step" >
      <div class="col-md-12">
        <div class="col-md-6">
          <h3>Cách thức hoạt động của Vaber</h3>
          <p>
            Đăng yêu cầu bạn muốn thực hiện và nhận đặt giá từ các nhà cung cấp uy tín của chúng tôi trong vòng vài phút. So sánh đề xuất và giá cả, sau đó chọn nhà cung cấp giỏi nhất/ phù hợp nhất để hoàn thành yêu cầu cho bạn. Thật dễ dàng!
          </p>
          <p><strong>Là khách hàng, Bạn được hưởng là gì?</strong></p>
          <ul class="introduction-features-list">
            <li>
              <span class="fl-icon-ok-sign">Đăng yêu cầu miễn phí</span>
            </li>
            <li>
              <span class="fl-icon-ok-sign">Nhận hàng trăm đề xuất để so sánh trong vòng vài phút</span>
            </li>
            <li>
              <span class="fl-icon-ok-sign">Chọn đề xuất tốt nhất với mong muốn từ các nhà cung cấp uy tín</span>

            </li>
          </ul>
          <p><strong>Là nhà cung cấp, Bạn được hưởng là gì?</strong></p>
          <ul class="introduction-features-list">
            <li>
              <span class="fl-icon-ok-sign">Nhận miễn phí thông tin các yêu cầu qua SMS, Mail, Hotline,....</span>
            </li>
            <li>
              <span class="fl-icon-ok-sign">Lựa chọn những khách hàng phù hợp với kỹ năng của mình</span>

            </li>
            <li>
              <span class="fl-icon-ok-sign">Đưa ra đề xuất tốt nhất</span>

            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <a href="#hire" class="banner-hire" data-section-toggle="hire">
            <div class="interactive-step">
              <img src="https://cdn5.f-cdn.com/static/css/images/homepage/interactive-step.gif?v=260adfd0fcf91c8ee92a6a5b7df80997&amp;m=2" alt="how to get work done on freelancer!" class="interactive-step-img">
            </div>
          </a>
        </div>
      </div>
  </section>
</div>