<div class="page-dashboard">
  <div class="app-body padding-10" ng-class="{loading: loading}">
    <div ng-cloak ng-repeat='alert in dashAlerts.list track by $index' class="bg-{{alert.severity}} panel-heading" ng-show="$last">

      <strong ng-bind-html="alert.title">&nbsp;</strong><span ng-bind-html='alert.text'></span>
      <button class="toast-close-button" ng-click="dashAlerts.clear(alert)">×</button>
    </div>
    </div>
    <div class="app-content">
      <!--<div ng-cloak ng-view></div>-->
    </div>
  </div>
  <!-- Rows -->
  <div class="mobile-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.current.rows">
    <div style="padding-top:0px" ng-if="!row.collapse">
      <!-- Panels -->
      <div ng-repeat="(name, panel) in row.panels|filter:isPanel" ng-hide="panel.hide" class="panel nospace" ng-model="row.panels" >
        <!-- Content Panel -->
        <div style="position:relative">
          <mobile-panel type="panel.type" ng-cloak></mobile-panel>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

