<footer id="footer" class="midnight-blue hidden-xs">
    <div class="col-xs-5 footer-copy-right">
        &copy; 2015 <a href="#">Vaber</a>.<span class="hidden-xs"> All rights reserved.</span>
    </div>
    <div class="col-xs-7">
        <ul class="pull-right">
            <li class="footer-li">
                <img class="footer-img" src="images/chat1.png" alt="logo" ng-click="openChat()">
            </li>
            <li data-ng-controller="LangCtrl" ng-init="init()">
                <a data-ng-show="lang === 'Vietnam' " href="javascript:;" data-ng-click="setLang('English')">
                    <div class="flag flags-american"></div>
                </a>
                <a data-ng-show="lang == 'English' " href="javascript:;" data-ng-click="setLang('Vietnam')">
                    <div class="flag flags-vietnam"></div>
                </a>
            </li>
        </ul>
    </div>
</footer><!--/#footer-->
<div class="ui-widget ui-chatbox chatbox-support" ng-show="chatBox.isShow" outline="0">
    <div class="ui-widget-header ui-chatbox-titlebar {{ status }} ui-dialog-header">
        <span ng-click="hideChat()"><i title="{{ status }}"></i><span data-i18n="support"></span></span>
        <a href="javascript:;" ng-click="closeChat()" rel="tooltip" data-placement="top" data-original-title="Close"
           class="ui-chatbox-icon" role="button">
            <i class="fa fa-times"></i>
        </a>
        <a href="javascript:;" ng-click="hideChat()" rel="tooltip" data-placement="top" data-original-title="Minimize"
           class="ui-chatbox-icon" role="button">
            <i class="fa fa-minus"></i>
        </a>
    </div>
    <div class="false ui-widget-content ui-chatbox-content footer-chatbox-content" ng-hide="chatBox.isHidden">
        <div class="chatboxcontent discussion" ng-show="!user.user_id">
            <form ng-submit="startChat(user_id, user_email)" class="ng-pristine ng-valid  panel-body">
                <input type="text" ng-model="user_id" data-i18n="i18n-placeholder" placeholder="your name" class="form-control input-sm footer-input-text" />
                <input type="email" ng-model="user_email" data-i18n="i18n-placeholder" placeholder="email address" class="form-control input-sm footer-input-text" />
                <button type="submit" class="btn btn-primary btn-sm text-center footer-btn" data-i18n="start chat"></button>
            </form>
        </div>
        <form ng-submit="sendMessage()" class="ng-pristine ng-valid" ng-show="user.user_id">
            <div id="cha4" class="ui-widget-content ui-chatbox-log" data-slim-scroll realtime-scroll="supports" scroll-height="200px" always-visible="true" scroll-start="bottom">
                <div class="ui-chatbox-msg footer-chatbox-msg" ng-repeat="mess in supports" ng-show="chat_id">
                    <b>{{ user.session_id === mess.sender.user_id ? 'Tôi' : mess.sender.username }}: </b> <span ng-bind-html="mess.message"></span>
                </div>
                <div ng-hide="chat_id">
                    Hiện tại chúng tôi đang không có ở đây, vui lòng quay trở lại sau !!!<br/>
                    <a href="javascript:;" ng-click="findSupporter()">Hoặc thử liên hệ lại</a>
                </div>
            </div>
            <div class="has-feedback ui-widget-content ui-chatbox-input">
                <div class="input-group">
                    <input type="text" class="form-control btn-chat-send" ng-model="chatBox.message" ng-disabled="!chat_id"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-chat-send" data-i18n="send"></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>