<header class="clearfix" ng-controller='HeaderCtrl' ng-init="init()">
	<!-- Logo -->
	<div class="logo">
		<a href="#/default"> <img src="images/logo.png" alt="logo"> <span>{{main.brand}}</span> </a>
	</div>

	<!-- needs to be put after logo to make it working-->
	<div class="menu-button none-border" toggle-off-canvas>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>

	<div class="top-nav">
        <ul class="nav-left list-unstyled " roles="all">
			<li>
				<a toggle-off-canvas ><i class="fa fa-bars"></i></a>
			</li>
		</ul>
		<ul class="nav-left pull-right list-unstyled padding-7" roles>
			<li>
				<button class="header-login-bt btn" id="login-normal" role="button" data-toggle="modal"  ng-click="loginClick()" data-i18n="login">
					Login
				</button>
			</li>
			<li>
				<button class="header-signup-bt btn" id="sign-up" role="button" data-toggle="modal" ng-click="signupClick()" data-i18n="sign up">Sign Up</button>
			</li>
			<!--<li>-->
				<!--<button id="header-post-project" class="btn btn-primary btn-small " ng-click="makeOrderClick()">Tạo yêu cầu</button>-->
			<!--</li>-->
		</ul>

		<ul class="nav-left pull-right list-unstyled" roles = "all" >
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle " data-toggle="dropdown">
                    <i class="fa fa-comment-o"></i> <span class="badge badge-info" ng-show="chat_notifications.length > 0">{{ chat_notifications.length }}</span> </a>
				<div class="dropdown-menu pull-right with-arrow">
					<div class="panel-heading">
						Bạn có {{ chat_notifications.length }} tin nhắn mới.
					</div>
					<ul class="list-group" data-slim-scroll scroll-height="200px" scroll-width="300px">
						<li class="list-group-item" ng-repeat="notification in chat_notifications" ng-click="openChat();">
							<a href="javascript:;" class="media"> <span class="pull-left media-icon"> <span class="square-icon sm bg-info"><i class="fa fa-comment-o"></i></span> </span>
							<div class="media-body">
								<span class="block">{{ notification.title }}</span>
								<span class="text-muted">{{ notification.time | date: 'HH:mm dd/MM/yyyy' }}</span>
							</div> </a>
						</li>
					</ul>
					<div class="panel-footer">
						<a href="javascript:;" ng-click="openChat();">Xem tất cả tin nhắn.</a>
					</div>
				</div>
			</li>
			<li class="dropdown no-border">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o nav-icon"></i> <span class="badge badge-info" ng-show="notifications.news.true > 0">{{ notifications.news.true }}</span> </a>
				<div class="dropdown-menu pull-right with-arrow">
                        <div class="panel-heading">Bạn có {{ notifications.news.true }} thông báo mới.</div>
					<ul class="list-group" data-slim-scroll scroll-height="300px" scroll-width="300px">
						<li class="list-group-item" ng-repeat="notification in notifications.messages track by $index">
							<a data-ng-click="displayNotification(notification)" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-success">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </span>
                                <div class="media-body">
                                    <span class="block" ng-class="{'text-bold': notification.is_read === false}" >{{ notification.title }}</span>
                                    <span class="text-muted block">{{ notification.time | date: 'HH:mm dd/MM/yyyy' }}</span>
                                </div>
                            </a>
						</li>
                    </ul>
				</div>
			</li>
			<li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <img id="avatar"
                                                                                            ng-src="{{myImage}}" alt=""
                                                                                            class="img-circle img30_30"><span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu dropdown-dark pull-right with-arrow">
					<li>
                        <a href="#/updateuser"> <i class="fa fa-user"></i> <span data-i18n="My Profile"></span> </a>
					</li>
                    <li id="btn-switchRole">
                        <a href="javascript:;" ng-click="switchRole();">
                            <i class="fa fa-exchange"></i>
                            <span data-i18n="switch user"></span>
                        </a>
                    </li>
					<li>
						<a ng-click="logoutClick()"> <i class="fa fa-sign-out"></i> <span data-i18n="Log Out"></span> </a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</header>
<script type="text/ng-template" id="loginPopup.html">
	<div class="modal-fade" id ="loginPopup">
		<div class="modal-dialog" ng-controller='loginPopup' id ="loginPopup" data-backdrop="static" data-keyboard="false">


			<div class="modal-header">

				<h3 class="modal-title">Login Cber.com!</h3>

			</div>

			<div class="modal-body">

				<button type="button" class="btn btn-lg btn-block btn-facebook btn-custom" ng-click="authenticate('facebook')">
					<span class="icon-facebook"></span>
					<span>Login with Facebook</span>
				</button>

				<div class="hr-divider"><span class="hr-divider-text">OR</span></div>


				<div class="input-group">
					<span class="input-group-addon input-lg"><label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="email"></label></span>
					<input type="text" ng-model="username" class="form-control input-lg" placeholder="Username or Email">
				</div>

				<div class="input-group">
					<span class="input-group-addon input-lg"><label for="password" class="glyphicon glyphicon-lock" rel="tooltip" title="email"></label></span>
					<input type="password" class="form-control input-lg" ng-model="password" placeholder="Password">
				</div>


				<div class="checkbox">
					<label class="remember-me">
						Remember me<input id="savelogin" type="checkbox" name="savelogin">
					</label>
				</div>
				<button class="btn btn-primary btn-lg btn-block btn-custom" ng-click="showProjects()">Login</button>
				<div class="form-step has-icon><a href="#" class="forgot-password-toggle" id="forgot-password-toggle">Forgot password?</a></div>
		</div >




	</div>
</script>

<script type="text/ng-template" id="signupPopup.html">
	<div class="modal-fade" id ="signupPopup">
		<div class="modal-dialog" ng-controller='signupPopup' id ="signupPopup" data-backdrop="static" data-keyboard="false">


			<div class="modal-header">
				<h3 class="modal-title">Sign Up Free Today!</h3>

			</div>

			<div class="modal-body" ng-controller='signupPopup' id="loginPopup">
				<button type="button" class="btn btn-lg btn-block btn-facebook" ng-click="authenticate('facebook')">
					<span class="icon-facebook"></span>
					<span>Login with Facebook</span>
				</button>

				<div class="hr-divider"><span class="hr-divider-text">OR</span></div>


				<div class="input-group">
					<span class="input-group-addon input-lg"><label for="email" class="glyphicon glyphicon-envelope" rel="tooltip" title="email"></label></span>
					<input type="text" ng-model="username" class="form-control input-lg" placeholder="Email">
				</div>

				<div class="input-group">
					<span class="input-group-addon input-lg"><label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="email"></label></span>
					<input type="text" ng-model="username" class="form-control input-lg" placeholder="Username">
				</div>

				<div class="input-group">
					<span class="input-group-addon input-lg"><label for="password" class="glyphicon glyphicon-lock" rel="tooltip" title="email"></label></span>
					<input type="password" class="form-control input-lg" ng-model="password" placeholder="Password">
				</div>

				<div class="input-group">
					<span class="input-group-addon input-lg"><label for="password" class="glyphicon glyphicon-lock" rel="tooltip" title="email"></label></span>
					<input type="password" class="form-control input-lg" ng-model="password" placeholder="Re-Type Password">
				</div>


				<div class="form-step has-label text-center">
					<strong>I am </strong>
					<label class="btn btn-plain active">
						<span class="radio">
						<input type="radio" name="looking_for" id="looking_to_hire" value="Employer" data-role="none">Customer</span>
					</label><label class="btn btn-plain">
						<span class="radio">
						<input type="radio" name="looking_for" id="looking_for_work" value="Worker" data-role="none">Supplier</span>
				</label>
				</div>

				<div class="form-step has-button text-center">
					<button class="btn btn-success btn-lg .btn-lock .btn-signup" ng-click="signupPopupClick()">Sign Up Now</button>
				</div>

				<div class="hr-divider"><span class="hr-divider-text"></span></div>
				<p class= "form-group text-center">Bằng việc đăng kí, bạn xác nhận đã đồng ý với</br> <a href="#" data-section-toggle="signup">Điều khoản và điều kiện </a>và <a href="#" target="_blank"> Chính sách quyền riêng tư </a>
				</p>
			</div>
		</div>

	</div>

</script>
<!--<script type="text/javascript">
      $(function(){
    $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    });
    
</script>-->