<div id="nav-wrapper-vertical" data-ng-controller="nav" ng-init="init();">
    <div class="col-xs-12 hidden-md hidden-lg hidden-sm border-bot-grey" roles="all">
        <span id="iconDown" class="fa fa-caret-down non-display"></span>
        <div class="col-xs-4">
            <ul class="ul-pad-mar">
                <li class="dropdown text-normal nav-profile">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <img id="avatarNav"
                                                                                                ng-src="{{myImage}}"
                                                                                                alt=""
                                                                                                class="img-circle img40_40">
                        <span class="hidden-xs"></span> </a>
                    <ul id="btn-switchRoleMobile" class="dropdown-menu with-arrow">
                        <li>
                            <a href="javascript:;" ng-click="switchRole();">
                                <i class="fa fa-exchange"></i>
                                <span data-i18n="switch user"></span>
                            </a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"> <i class="fa fa-sign-out"></i> <span-->
                        <!--data-i18n="Cập nhật hồ sơ"></span> </a>-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-8">
            <div class="label-username"><a href="#/updateuser" title="{{username}}"><span>{{username|truncate}}</span></a></div>
            <div class="label-logout"><a href="javascript:;" ng-click="logoutClicks();"><span
                    data-i18n="log out"></span></a></div>
        </div>
    </div>

    <div class="col-xs-12 hidden-lg hidden-md hidden-sm no-padding height-50" roles>
        <div class="logo border-bottom">
            <a href="#/default"> <img src="images/logo.png" alt="logo"></a>
        </div>
    </div>
    <!--<div class="top-nav col-xs-12 no-padding hidden-lg hidden-md hidden-sm border-bot-grey">-->
        <!--<ul class="nav-left list-unstyled mar-left-5">-->
            <!--<li class="dropdown" roles="all">-->
                <!--<a href="javascript:;" title="Tin nhắn" class="dropdown-toggle " data-toggle="dropdown"> <i class="fa fa-comment-o"></i>-->
                    <!--<span class="badge badge-info" roles="all" ng-show="chat_notifications.length > 0">{{ chat_notifications.length }}</span> </a>-->

                <!--<div class="dropdown-menu pull-left with-arrow">-->
                    <!--<div class="panel-heading ">-->
                        <!--Bạn có {{ chat_notifications.length }} tin nhắn mới.-->
                    <!--</div>-->
                    <!--<ul class="list-group" data-slim-scroll scroll-height="200px" scroll-width="300px">-->
                        <!--<li class="list-group-item" ng-repeat="notification in chat_notifications" ng-click="openChat();">-->
                            <!--<a href="javascript:;" class="media">-->
                                <!--<span class="pull-left media-icon"> <span class="square-icon sm bg-info"><i class="fa fa-comment-o"></i></span> </span>-->
                                <!--<div class="media-body">-->
                                    <!--<span class="block">{{notification.title}}</span>-->
                                    <!--<span class="text-muted">{{notification.time | date: 'HH:mm dd/MM/yyyy'}}</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="panel-footer">-->
                        <!--<a href="javascript:;" ng-click="openChat();">Xem tất cả tin nhắn.</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="dropdown no-border" roles="all">-->
                <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o nav-icon"></i> <span class="badge badge-info" ng-show="notifications.news.true > 0">{{ notifications.news.true }}</span> </a>-->
                <!--<div class="dropdown-menu pull-left with-arrow">-->
                    <!--<div class="panel-heading">Bạn có {{ notifications.news.true }} thông báo.</div>-->
                    <!--<ul class="list-group" data-slim-scroll scroll-height="200px" scroll-width="200px">-->
                        <!--<li class="list-group-item" ng-repeat="notification in notifications.messages track by $index">-->
                            <!--<a data-ng-click="displayNotification(notification)" class="media">-->
                                <!--<span class="pull-left media-icon">-->
                                    <!--<span class="square-icon sm bg-success">-->
                                        <!--<i class="fa fa-bell-o"></i>-->
                                    <!--</span>-->
                                <!--</span>-->
                                <!--<div class="media-body">-->
                                    <!--<span class="block" ng-class="{'text-bold': notification.is_read === false}" >{{ notification.title }}</span>-->
                                    <!--<span class="text-muted block">{{ notification.time | date: 'HH:mm dd/MM/yyyy' }}</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<img class="img40_30 pad-left-15 chat-design  mar-left-20" src="images/chat1.png" title="Liên hệ hỗ trợ" alt="logo" ng-click="openChat()">-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="col-xs-12 no-padding" title="Chuyển đổi ngôn ngữ">-->
                    <!--<a data-ng-show="lang === 'Vietnam' " href="javascript:;" data-ng-click="setLang('English')">-->
                        <!--<div class="flag flags-american margin-l-25 mar-left-80 flag-design"></div>-->
                    <!--</a>-->
                    <!--<a data-ng-show="lang == 'English' " href="javascript:;" data-ng-click="setLang('Vietnam')">-->
                        <!--<div class="flag flags-vietnam margin-l-25 mar-left-80 flag-design"></div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->

    <!--</div>-->

    <!--<div class="col-xs-12 hidden-lg border-bot-grey">-->
        <!--<div class="col-xs-6 text-center border-r">-->
            <!--<img class="img30_30" src="images/chat1.png" alt="logo" ng-click="openChat()">-->

        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <!--<a data-ng-show="lang === 'Vietnam' " href="javascript:;" data-ng-click="setLang('English')">-->
                <!--<div class="flag flags-vietnam margin-l-25"></div>-->
            <!--</a>-->
            <!--<a data-ng-show="lang == 'English' " href="javascript:;" data-ng-click="setLang('Vietnam')">-->
                <!--<div class="flag flags-american margin-l-25"></div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="col-xs-12 no-padding">

        <ul id="nav"
            data-slim-scroll
            data-highlight-active>

            <li ng-repeat="root in menu.data" class="{{root.active}} border-bot-grey" role="parent"
                roles="{{root.roles}}">
                <a data-ng-click="redirect(root.url)" class="subnav-link cursor-pointer"><i class="{{root.icon}}"></i><span
                        data-i18n="{{root.name}}"></span></a>
                <ul class="sub-menu">
                    <li ng-repeat="children in root.children" ng-if="root.children.length > 0"
                        class="{{children.active}} border-bot-grey-grey" role="children"
                        roles="{{children.roles}}">
                        <a data-ng-click="redirect(children.url)" class="sub-subnav-link cursor-pointer"><i class="{{children.icon}}"></i>&nbsp;&nbsp;<span
                                data-i18n="{{children.name}}"></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="ui-widget ui-chatbox chatbox-support" ng-show="chatBox.isShow" outline="0">
        <div class="ui-widget-header ui-chatbox-titlebar {{ online }} ui-dialog-header">
            <span><i title="{{ online }}"></i><span data-i18n="support"></span></span>
            <a ng-href="javascript:;" ng-click="closeChat()" rel="tooltip" data-placement="top" data-original-title="Close"
               class="ui-chatbox-icon" role="button">
                <i class="fa fa-times"></i>
            </a>
            <a ng-href="javascript:;" ng-click="hideChat()" rel="tooltip" data-placement="top" data-original-title="Minimize"
               class="ui-chatbox-icon" role="button">
                <i class="fa fa-minus"></i>
            </a>
        </div>
        <div class="false ui-widget-content ui-chatbox-content footer-chatbox-content" ng-hide="chatBox.isHidden">
            <div class="chatboxcontent discussion" ng-show="!user.user_id">
                <form ng-submit="startChat(user_id, user_email)" class="ng-pristine ng-valid  panel-body">
                    <input type="text" ng-model="user_id" data-i18n="i18n-placeholder" placeholder="your name" class="form-control input-sm footer-input-text" />
                    <input type="email" ng-model="user_email" data-i18n="i18n-placeholder" placeholder="email address" class="form-control input-sm footer-input-text" />
                    <button type="submit" class="btn btn-primary btn-sm text-center footer-btn" data-i18n="start chat"></button>
                </form>
            </div>
            <form ng-submit="sendMessage()" class="ng-pristine ng-valid" ng-show="user.user_id">
                <div id="cha4" class="ui-widget-content ui-chatbox-log custom-scroll">
                    <div class="ui-chatbox-msg footer-chatbox-msg" ng-repeat="mess in messages" ng-show="chat_id">
                        <b>{{ user.session_id === mess.sender.user_id ? 'Tôi' : mess.sender.username }}: </b> <span ng-bind-html="mess.message"></span>
                    </div>
                    <div ng-hide="chat_id">
                        Hiện tại chúng tôi đang không có ở đây, vui lòng quay trở lại sau !!!
                        <a href="javascript:;" ng-click="findSupporter()">Hoặc thử liên hệ lại</a>
                    </div>
                </div>
                <div class="has-feedback ui-widget-content ui-chatbox-input">
                    <div class="input-group">
                        <input type="text" class="form-control btn-chat-send" ng-model="chatBox.message" ng-disabled="!chat_id"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-chat-send" data-i18n="send"></button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


