<div class="page-dashboard">
  <div class="app-body" ng-class="{loading: loading}">
    <div ng-cloak ng-repeat='alert in dashAlerts.list track by $index' class="alert-{{alert.severity}} dashboard-notice" ng-show="$last">
      <button type="button" class="close" ng-click="dashAlerts.clear(alert)" style="padding-right:50px">
        &times;
      </button>
      <strong ng-bind-html="alert.title">&nbsp;</strong><span ng-bind-html='alert.text'></span>
      <div style="padding-right:10px" class='pull-right small'> {{$index + 1}} alert(s)</div>
    </div>
    <div ng-show="loading" class="app-content-loading">
      <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
    <div class="app-content">
      <!--<div ng-cloak ng-view></div>-->
    </div>
  </div>
  <!-- Rows -->
  <div class="mobile-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.current.rows">
    <div style="padding-top:0px" ng-if="!row.collapse">
      <!-- Panels -->
      <div ng-repeat="(name, panel) in row.panels|filter:isPanel" ng-hide="panel.hide" class="panel nospace" ng-model="row.panels" >
        <!-- Content Panel -->
        <div style="position:relative">
          <mobile-panel type="panel.type" ng-cloak></mobile-panel>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

