/*CSS Chat Box*/
.ui-chatbox {
  position: fixed;
  bottom: 0;
  box-shadow: rgba(0,0,0,.3)0 2px 6px;
  -webkit-box-shadow: rgba(0,0,0,.3)0 2px 6px;
  z-index: 959;
}
.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff;
  color: #404040;
}
.ui-chatbox-content {
  padding: 0;
  margin: 0;
  border: 0!important;
}
.ui-chatbox-content>.alert-msg {
  border-bottom: 1px dashed #D6D6D6;
  padding: 4px 10px;
  color: #C20F16;
  font-size: 11px;
  text-align: center;
  display: none;
}
.ui-chatbox-log {
  padding: 7px 10px;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  border: none !important;
}
.ui-chatbox-log>:first-child {
  margin-top: 0;
}
.ui-chatbox-input-box {
  margin: 2px;
  border: 1px solid !important;
  border-color: #666 #ccc #ccc !important;
  padding: 2px;
  height: 50px;
  outline: 0;
  resize: none;
  background-color: rgba(48, 126, 204, .05) !important;
  word-wrap: break-word;
  display: inline-block;
  word-break: break-word;
  letter-spacing: inherit;
  word-spacing: inherit;
}

.ui-chatbox-msg {
  margin-top: 10px;
  float: left;
  clear: both;
  white-space: inherit;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-right: 10px;
}
.ui-widget {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}
.ui-chatbox {
  position: fixed;
  bottom: 0;
  /*box-shadow: rgba(0,0,0,.3)0 2px 6px;*/
  -webkit-box-shadow: rgba(0, 0, 0, .3) 0 2px 6px;
  z-index: 959;
}

.ui-widget-header {
  font-weight: 700;
  background-color: #F5F5F5;
  border-color: #DDD;
  color: #8f4497;
}

.ui-chatbox-titlebar {
  padding: 0;
  height: 36px;
  cursor: pointer;
  background: #1657A3 !important;
  color: #fff !important;
  font-weight: 400;
  line-height: normal;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
}

.ui-chatbox-titlebar > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
  display: inline-block;
  float: left;
}

.ui-chatbox-titlebar.online > span > i {
  background: #54ce3c;
}

.ui-chatbox-titlebar.busy > span > i {
  background: #f14b52;
}

.ui-chatbox-titlebar.away > span > i {
  background: #ffc40d;
}

.ui-chatbox-titlebar > span > :first-child {
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
  padding: 5px;
}

.ui-chatbox-icon {
  float: right;
  min-width: 30px;
  height: 36px;
  border-left: 1px solid rgba(0, 0, 0, .09);
  font-size: 14px;
  line-height: 26px;
  color: #fff !important;
  padding: 5px 9px;
}

.ui-chatbox-input {
  padding: 3px;
  border-top: 1px solid grey;
  overflow: hidden;
  width: 100% !important;
  max-width: 100% !important;
  border-width: 0 !important;
}
.footer-copy-right {
  line-height: 2.0 !important
}
.footer-li{
  display: block;
  float:left
}
.footer-img{
  width: 25px;
  cursor: pointer;
}
.footer-chatbox-content{
  display: block;
}
.footer-btn{
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}
.footer-chatbox-msg{
  display: block;
  max-width: 228px;
}
.footer-input-text{
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}
.chatbox-support{
  bottom: 40px;
  width: 228px;
  right: 3px;
}
.btn-chat-send{
  border-radius: 0px;
}