@media (max-width: 768px) {
    smart-tab .ui-tab-container .tab-content {
        padding: 0px;
    }
    smart-tab ul > li a:hover {
        background: none;
        border: 0px;
        color: #fff;
    }

    smart-tab .ui-tab-container ul {
        background: none;
        padding: 0px 5px;
    }

    smart-tab li > a {
        background: none !important;
        color: #fff;
    }

    smart-tab .ui-tab-container ul > li.active > a {
        border: 0px;
        color: #fff;
    }
    smart-tab .ui-tab-container {
        border: 0px;
    }
    
    smart-tab > .panel-heading {
        color: @text-color;
        background-color: @state-default-bg;
        border-color: @table-border-color;
        margin-bottom: 5px;
    }
}