<section id='count' ng-controller='count' ng-init="init()">
    <div class="page no-padding-moblie no-padding">
        <section class="panel panel-default">
            <div class="panel-body padding-moblie no-padding">
                <div class="page col-md-12">
                    <div class="row">

                        <div class="col-lg-4 col-xsm-6">
                            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>

                                <div class="box-info">
                                    <p class="size-h2">{{TotalUsers}}</p>

                                    <p class="text-muted">Người dùng mới</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xsm-6">
                            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-pencil"></i>
                </span>

                                <div class="box-info">
                                    <p class="size-h2">{{TotalOrders}}</p>

                                    <p class="text-muted">Yêu cầu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xsm-6">
                            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-check"></i>
                </span>

                                <div class="box-info">
                                    <p class="size-h2">{{TotalFinishOrders}}</p>

                                    <p class="text-muted">Yêu cầu hoàn thành</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
    </div>

</section>
