html {
  height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: @btn-primary-color;
}

.view-containter {
  position: absolute;
}

#content {
  position: relative;
  top: @header_height;
  margin-top: -1px;
  margin-bottom: 0px;
  padding-bottom: @header_height;
  width: 100%;
  right: 0;
  left: 0;
  border-left: 1px solid @state-default-border;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  // .transition(left .3s ease-in-out);
  @media (min-width: @screen-sm) {
    width: auto;
    left: 0;
    margin-bottom: @header_height;
  }
  // !important, avoid flikering for all pages.
  // .transition(left .25s ease-in-out);
  .transition(none);
}

.home {
  @media (min-width: @screen-sm) {
    #nav-container {
      left: -220px !important;
    }

    .top-header .top-nav, #header {

      margin-left: 0 !important;
    }

    #content {
      left: 0px !important;
    }
  }

}

// for special page, like 404, sign in, sign up
.body-special {
  #content {
    z-index: 2;
    top: 0;
    left: 0;
  }
}

// lock screen
.body-lock {
  #content {
    background: url('../images/background/3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.btn-small {
  padding: 7px 13px;
  font-size: 14px !important;
  border-radius: 3px;
}

.btn-action {
  .button-variant(@btn-action-color; @btn-action-bg; @btn-action-border);
}

.hr {
  position: relative;
  width: 70%;
  height: 8px;
  margin: 21px 15% 30px;
  -webkit-box-shadow: 0 1px 0 @reverse;
  -moz-box-shadow: 0 1px 0 @reverse;
  box-shadow: 0 1px 0 @reverse;
  -moz-box-shadow: 0 1px 0 @reverse, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 @reverse, transparent 0 0 0;
  box-shadow: 0 1px 0 @reverse, transparent 0 0 0;
  border-bottom: 1px solid #c3c4c7;
  text-align: center;
}

.hr .inner {
  background: #f4f4f4;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  width: auto;
  padding: 9px 10px;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 16px;
  font-style: italic;
  line-height: 0;
}

.margin-15 {
  margin: 15px;
}

#footer {
  background-color: @body-bg !important;
  height: 35px;
  border: solid 1px #dddddd;
  position: fixed;
  bottom: 0;
  padding-top: 3px;
  z-index: 102;
  left: 0;
  right: 0;
  color: @text-color;
  max-width: @max-width;
  margin: auto;
}

#footer a {
  font-weight: bold;
}

#footer a:hover {
  color: #d9534f;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

.padding-7 {
  padding: 7px 5px !important;
}

.smallMode {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  max-width: @max-width;
  margin:auto;
}

.logo {
  position: absolute;
  width: 100%;
  height: @header_height;
  background-color: @reverse;
  color: @bright;
  line-height: @header_height;
  text-align: center;
  @media (min-width: @screen-sm) {
    display: inline-block;
    width: 220px;
    background-color: @reverse;
    color: @text-color;
  }

  > a {
    font-size: 24px;
    vertical-align: middle;
    color: @bright;
    @media (min-width: @screen-sm) {
      color: @text-color;
    }

    .logo-icon {
      color: lighten(@brand-primary, 20%);
      margin-right: 12px;
    }

    > img {
      height: @header_height;
      vertical-align: baseline;
    }
  }
}

.border-left {
  border-left: 1px solid @state-default-border;
}

.border-top {
  border-top: 1px solid @state-default-border;
}

.border-right {
  border-right: 1px solid @state-default-border;
}

.border-bottom {
  border-bottom: 1px solid @state-default-border;
}

.panel-heading {
  padding: 9px 15px !important;
}

.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left
}

.panel {
  border: none;
}

.text-bold {
  font-weight: bold;
}
