.on-canvas {

    #nav-container {
        left: 0;
    }

    .top-header .top-nav, header, #header {
        margin-left: 220px;

        @media (min-width:@screen-sm) {
            margin-left: 0;
        }
    }
    #content {
        left: 220px;
        padding-right: 0px;
        border-left: none;
        @media (min-width:@screen-sm) {
            padding-right: 220px;
        }

    }

    .fixed {
        left:inherit!important;
    }
}
