@nav_bg:                @reverse;
@nav_border:            darken(@nav_bg, 10%);
@sub_nav_bg:            @nav_bg;
@link_color:            @text-color;
@link_active_bg:        @brand-primary;

#nav-container {
    z-index: 11; // should be highter than top header
    position: absolute;
    top: 0;
    bottom: 0;
    left: -220px;
    width: 220px;
    padding: 0;
    margin-top: 1px;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    border-left: 1px solid @state-default-border;
    background-color: @reverse;
    // .transition(all .3s ease-in-out);
    @media (min-width:@screen-sm) {
        //left: 0;
        top: @header_height;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }
}

#nav-wrapper {
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    width: 100%;
    height: 100%;
}

#nav {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;

    >li>a>i,
    >li>a>.nav-icon {
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        line-height: 1;
        text-align: center;
        font-size: 16px;
        //.transition(all .2s ease-in-out);
    }

    a {
        font-size: 13px;
        color: @link_color;
        //.transition(all .2s ease-in-out);
        &:hover {
            text-decoration: none;
        }
    }

    >li {
        position: relative;
        margin: 0;
        text-align: left;
        //font-weight: bold;
        //.transition( all .2s ease-in-out);
        &.open,
        &:hover {
            > a {
                background-color: darken(@nav_bg, 5%);
                color: @bright;
            }
            > .fa { color: @bright; }
        }
        &.active {
            > a {
                background-color: @link_active_bg;
                color: @bright;
            }
            > .fa { color: @bright; }
        }

        &:first-child > a {
            border-top: 0;
        }
        >a {
            position: relative;
            display: block;
            // height: 50px;
            padding: 15px 15px;
            // border-bottom: 1px solid @nav_border;
            //.transition( all .2s ease-in-out);

            > .badge {
                position: absolute;
                top: 16px;
                right: 5px;
            }
        }


        > .icon-has-ul {
            position: absolute;
            top: 18px;
            right: 15px;
        }
    }

    // sub menu
    ul {
        background-color: @sub_nav_bg;
        display: none;

        a {
            font-size: 13px;
        }

        li {
            position: relative;
            padding: 0;
            &:hover,
            &.active {
                a {
                    color: @brand-primary;
                }
            }
            &:last-child > a {
                border-bottom: 0;
            }

            > a {
                position: relative;
                display: block;
                padding: 13px 0 13px 25px;
                // border-bottom: 1px solid darken(@sub_nav_bg, 5%);
                //.transition( all .2s ease-in-out);
                &:first-child {
                    border-top: none;
                }

                i.fa-caret-right {
                    margin-right: 25px;
                }

                > .badge {
                    position: absolute;
                    right: 5px;
                    top: 12px;
                }
            }
        }
    }
}