<div id='about' ng-controller="about" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <div class="page no-padding-moblie no-padding">
        <section class="panel panel-default hidden-xs">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
                    data-i18n="vaber info"></span></strong>
            </div>
            <div class="panel-body padding-moblie no-padding">
                <div class="page col-md-12">
                    <section class="row no-margin">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4 no-padding"></div>
                            <div class="col-md-4 col-xs-4 no-padding"><img class="logoAbout" src="images/logo.png"
                                                                           alt="logo"></div>
                            <div class="col-md-4 col-xs-4 no-padding"></div>
                        </div>
                        <div class="hr pull-left">
                        </div>
                        <div class="col-md-12 col-xs-12 form-group">
                            <div class="col-md-12 form-group about-content no-padding">
                                <div data-i18n="i18n-url" url="about"></div>
                            </div>
                            <div class="col-md-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-xs-12 text-center no-padding">
                                    <ul class="social-media-links">
                                        <li>
                                            <a class="btn btn-social-icon btn-facebook social-media-link-fb"
                                               ng-click="facebookClick()" 
                                               title="Vaber trên Facebook"><i
                                                    class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-twitter social-media-link-twitter"
                                               ng-click="twitterClick()"
                                               title="Vaber trên Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-google-plus social-media-link-gplus"
                                               ng-click="googleClick()"
                                               title="Vaber trên Google Plus"><i
                                                    class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-youtube social-media-link-youtube"
                                               ng-click="youtubeClick()" 
                                               title="Vaber trên Youtube"><i
                                                    class="fa fa-youtube"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-instagram social-media-link-instagram"
                                               ng-click="instagramClick()" 
                                               title="Vaber trên Instagram"><i
                                                    class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class="panel panel-default hidden-lg hidden-md hidden-sm">
            <div id="aboutContent" class="panel-body padding-moblie no-padding">
                <div class="col-md-12 no-padding">
                    <section class="row no-margin">
                        <div class="col-xs-12 margin-bottom10 no-padding">
                            <div class="col-xs-12 no-padding margin-top-5 margin-bottom-10 padding-l-r-5">
                                <a href="javascript:void(0);" data-ng-click="showOverview()"
                                   class="btn btn-primary pad15 col-xs-12 hidden-md hidden-lg hidden-sm"><span
                                        class="fa fa-eye"></span>&nbsp;<span
                                        data-i18n="overview tile about"></span></a>
                            </div>
                            <div id="overview" class="col-xs-12 about-content no-padding hidden-xs">
                                <div class="overview-page col-xs-12"><b>Vaber</b> <span
                                        data-i18n="overview about"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 no-padding margin-bottom-5 padding-l-r-5">
                                <a href="javascript:void(0);" data-ng-click="showContact()"
                                   class="btn btn-primary pad15 col-xs-12 hidden-md hidden-lg hidden-sm"><span
                                        class="fa fa-info-circle"></span>&nbsp;<span
                                        data-i18n="contact"></span></a>
                            </div>
                            <div id="contact" class="col-xs-12 no-padding hidden-xs">
                                <div class="contact-page col-xs-12">

                                    <p class="col-xs-12 no-padding">
                                        <span data-i18n="company name" class="col-xs-12 no-padding text-bold"></span>
                                        <span data-i18n="company name about" class="col-xs-12 no-padding"></span>
                                    </p>

                                    <p class="col-xs-12 no-padding">
                                        <span data-i18n="tax code" class="col-xs-12 no-padding text-bold"></span>
                                        <span class="col-xs-12 no-padding">0106869382.</span>
                                    </p>

                                    <p class="col-xs-12 no-padding">
                                        <span data-i18n="address office" class="col-xs-12 no-padding text-bold"></span>
                                        <span data-i18n="address office about" class="col-xs-12 no-padding"></span>
                                    </p>

                                    <p class="col-xs-12 no-padding">
                                        <span data-i18n="head office" class="col-xs-12 no-padding text-bold"></span>
                                        <span data-i18n="head office about"
                                              class="col-xs-12 no-padding form-group"></span>
                                    </p>

                                    <ul class="col-xs-12 text-center social-media-links">
                                        <li>
                                            <a class="btn btn-social-icon btn-facebook social-media-link-fb"
                                               ng-click="facebookClick()" 
                                               title="Vaber trên Facebook"><i
                                                    class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-twitter social-media-link-twitter"
                                               ng-click="twitterClick()"
                                               title="Vaber trên Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-google-plus social-media-link-gplus"
                                               ng-click="googleClick()"
                                               title="Vaber trên Google Plus"><i
                                                    class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-youtube social-media-link-youtube"
                                               ng-click="youtubeClick()" 
                                               title="Vaber trên Youtube"><i
                                                    class="fa fa-youtube"></i></a>
                                        </li>
                                        <li>
                                            <a class="btn btn-social-icon btn-instagram social-media-link-instagram"
                                               ng-click="instagramClick()" 
                                               title="Vaber trên Instagram"><i
                                                    class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

