#about h4 {
    color: #e13e60 !important;
    /*font-size: 16px;*/
    line-height: 28px;
    font-weight: bold;
}

#about .col-md-3, #about .about-content b {
    color: #000000;
    font-weight: bold;
}

@media (max-width: 768px) {
    #about .col-md-12 {
        line-height: 28px;
    }
}

#about .social-media-links {
    padding: 0;
}

#about .social-media-links li {
    display: inline-block;
    margin-left: 9px
}

#about .social-media-links li:first-child {
    margin-left: 0
}

#about .default-footer .social-media-links {
    display: block;
    margin: 0 0 40px
}

#about .social-media-link-fb {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0px;
    font-size: 20px
    /*background: #3b5998}*/
}

#about .social-media-link-fb:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
    /*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#about .social-media-link-fb:hover {
    text-decoration: none
}

#about .social-media-link-fb:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#about .social-media-link-fb [class*="fl-icon-"] {
    position: absolute;
    color: #fff
}

#about .social-media-link-fb.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0
}

#about .social-media-link-fb.is-labeled:hover::before {
    z-index: -1
}

#about .social-media-link-fb.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto
}

#about .social-media-link-fb [class*="fl-icon-"] {
    font-size: 25px;
    right: -3px;
    bottom: 0
}

#about .social-media-link-twitter {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0px;
    font-size: 20px
    /*    background: #25a8e0;*/
}

#about .social-media-link-twitter:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
    /*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#about .social-media-link-twitter:hover {
    text-decoration: none
}

#about .social-media-link-twitter:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#about .social-media-link-twitter [class*="fl-icon-"] {
    position: absolute;
    color: #fff
}

#about .social-media-link-twitter.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0
}

#about .social-media-link-twitter.is-labeled:hover::before {
    z-index: -1
}

#about .social-media-link-twitter.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto
}

#about .social-media-link-twitter [class*="fl-icon-"] {
    font-size: 20px;
    margin-left: 6px;
    margin-top: 5px
}

#about .social-media-link-gplus {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0px;
    font-size: 20px
    /*    background: #ce3633;*/
}

#about .social-media-link-gplus:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
    /*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#about .social-media-link-gplus:hover {
    text-decoration: none
}

#about .social-media-link-gplus:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#about .social-media-link-gplus [class*="fl-icon-"] {
    position: absolute;
    color: #fff
}

#about .social-media-link-gplus.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0
}

#about .social-media-link-gplus.is-labeled:hover::before {
    z-index: -1
}

#about .social-media-link-gplus.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto
}

#about .social-media-link-gplus [class*="fl-icon-"] {
    font-size: 26px;
    margin-left: 2px;
    margin-top: 3px
}

#about .social-media-link-youtube {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0px;
    font-size: 20px
    /*    background: #ce322e;*/
}

#about .social-media-link-youtube:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
    /*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#about .social-media-link-youtube:hover {
    text-decoration: none
}

#about .social-media-link-youtube:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#about .social-media-link-youtube [class*="fl-icon-"] {
    position: absolute;
    color: #fff
}

#about .social-media-link-youtube.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0
}

#about .social-media-link-youtube.is-labeled:hover::before {
    z-index: -1
}

#about .social-media-link-youtube.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto
}

#about .social-media-link-youtube [class*="fl-icon-"] {
    font-size: 22px;
    margin-left: 5px;
    margin-top: 4px
}

#about .social-media-link-rss {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0px;
    font-size: 20px
    /*    background: #ef802e;*/
}

#about .social-media-link-rss:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
    /*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#about .social-media-link-rss:hover {
    text-decoration: none
}

#about .social-media-link-rss:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#about .social-media-link-rss [class*="fl-icon-"] {
    position: absolute;
    color: #fff
}

#about .social-media-link-rss.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0
}

#about .social-media-link-rss.is-labeled:hover::before {
    z-index: -1
}

#about .social-media-link-rss.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto
}

#about .social-media-link-rss [class*="fl-icon-"] {
    font-size: 20px;
    left: 3px;
    bottom: 3px
}

#about .social-media-link-instagram {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0px;
    font-size: 20px
    /*    background: #2e5e86;*/
}

#about .social-media-link-instagram:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
    /*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in
}

#about .social-media-link-instagram:hover {
    text-decoration: none
}

#about .social-media-link-instagram:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#about .social-media-link-instagram [class*="fl-icon-"] {
    position: absolute;
    color: #fff
}

#about .social-media-link-instagram.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0
}

#about .social-media-link-instagram.is-labeled:hover::before {
    z-index: -1
}

#about .social-media-link-instagram.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto
}

#about .social-media-link-instagram [class*="fl-icon-"] {
    font-size: 23px;
    left: 5px;
    bottom: 4px
}

#about .logoAbout {
    width: 100%;
    margin: 0 auto;
    /*height: 130px;*/
    vertical-align: baseline;
}

#about .hr {
    margin: 0px 15% 15px;
}

@media (max-width: 767px) {
    #about .margin-top10 {
        margin-top: 10px;
    }

    #about .pad15 {
        padding: 15px;
    }

    #about .overview-page {
        padding: 0px 15px 15px 15px;
    }

    #about .contact-page {
        padding: 5px 15px 15px 15px;
    }

    #about .margin-bottom-10 {
        margin-bottom: 10px;
    }

    #about .margin-top-5 {
        margin-top: 5px;
    }

    #about .margin-bottom-5 {
        margin-bottom: 5px;
    }

    #about .padding-l-r-5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
