<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id='detailSupplier' ng-controller='detailSupplier' ng-init="init()">
    <section style="background-color: #fff;">

        <div ng-if="role== 'supplier'" id="supplierList">
            <div class="panel-body no-padding">
                <smart-tab>
                    <div class="ui-tab-container">
                        <ul id="tabPanel" class="nav nav-tabs padding-l-r">
                            <li class="active"><a href="#newOrder" data-toggle="tab" data-ng-click="reloadNewOrder()"><i
                                    class="fa fa-spinner"></i>&nbsp;<span
                                    data-i18n="list order">Danh sách yêu cầu</span>

                                <div class="badge badge-info positionIcon" ng-show="hasNotification"
                                     ng-bind="newNotification"></div>
                            </a></li>
                            <li><a href="#awaitingPayment" data-toggle="tab" data-ng-click="reloadAwaitingPayment()"><i
                                    class="fa fa-tasks"></i>&nbsp;<span
                                    data-i18n="list confirmation">Danh sách chờ xác nhận</span>

                                <div class="badge badge-info positionIcon" ng-show="hasNotificationPayment"
                                     ng-bind="newNotificationPayment"></div>
                            </a></li>
                            <li><a href="#finishOrder" data-toggle="tab" data-ng-click="reloadFinishOrder()"><i
                                    class="fa fa-check"></i>&nbsp;<span
                                    data-i18n="list payment">Danh sách thanh toán</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="newOrder">
                                <table datatable-basic on-selection="showDetail" show-hidden mouseover-apply="Desktop"
                                       type="remote" row-index="indexChange" row-data-change-callback="notifyChange"
                                       offset-height="81" visibility-hidden
                                       click-apply="SmartDevice" on-mouseover="formatContent" table-options="newOrder"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="post id">Mã yêu cầu</span>
                                        </th>
                                        <th class="text-center"><span data-i18n="name"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="description"></span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="type"></span>
                                        </th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="post deal"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="total proposal">Số đề xuất</span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="expired date"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="skills required"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="city"></span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="prestige"></span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="my bid">Giá đã đặt</span>
                                        </th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="status"></span></th>
                                        <th data-hide="phone,tablet,desktop"></th>

                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane" id="awaitingPayment">
                                <table datatable-basic on-selection="showDetail" show-hidden mouseover-apply="Desktop"
                                       type="remote" visibility-hidden
                                       click-apply="SmartDevice" on-mouseover="formatContent" row-index="indexChange"
                                       row-data-change-callback="notifyChange"
                                       table-options="awaitingPayment" offset-height="81"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="post id">Mã yêu cầu</span>
                                        </th>
                                        <th class="text-center"><span data-i18n="name"></span></th>
                                        <th data-hide="phone,tablet,desktop"><span data-i18n="description"></span></th>
                                        <th data-hide="phone,tablet,desktop"><span data-i18n="skills required"></span>
                                        </th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="expired date"></span></th>
                                        <th data-hide="phone,tablet,desktop"><span data-i18n="city"></span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="my bid">Giá đã đặt</span>
                                        </th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="customer id">Mã khách hàng</span>
                                        </th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="status"></span></th>
                                        <th data-hide="phone,tablet,desktop"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane" id="finishOrder">
                                <table datatable-basic on-selection="showDetail" show-hidden type="remote"
                                       offset-height="81" visibility-hidden
                                       click-apply="SmartDevice" table-options="finishOrder"
                                       mouseover-apply="Desktop" on-mouseover="formatContent"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th data-hide="phone,tablet"><span
                                                data-i18n="transaction id">Mã giao dịch</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="post id">Mã yêu cầu</span>
                                        </th>
                                        <th data-hide="phone,tablet"><span data-i18n="name"></span></th>
                                        <th class="text-center"><span data-i18n="proposal id"></span></th>
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="skills required"></span></th>-->
                                        <!--<th data-hide="phone,tablet"><span data-i18n="type"></span></th>-->
                                        <!--<th data-hide="phone,tablet"><span data-i18n="budget"></span></th>-->
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="bid end date"></span></th>-->
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="attachment"></span></th>-->
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="detail proposal">Chi tiết đề xuất</span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="my bid">Giá đã đặt</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="customer id">Mã khách hàng</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="vaber fee">Phí Vaber</span></th>
                                        <th data-hide="phone,tablet"><span data-i18n="status"></span></th>
                                        <th data-hide="phone,tablet,desktop"></th>

                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </smart-tab>
            </div>
        </div>

        <div ng-if="role== 'broker'" id="brokerList">
            <div class="panel-body no-padding">
                <smart-tab>
                    <div class="ui-tab-container">
                        <ul id="tabPanelBroker" class="nav nav-tabs padding-l-r">
                            <li class="active"><a href="#brokerAssignedList" data-toggle="tab"
                                                  data-ng-click="reloadBrokerAssignedList()"><i
                                    class="fa fa-spinner"></i>&nbsp;<span
                                    data-i18n="list order">Danh sách yêu cầu</span>

                                <div class="badge badge-info positionIcon" ng-show="hasNotification"
                                     ng-bind="newNotification"></div>
                            </a></li>
                            <li><a href="#awaitingPaymentBroker" data-toggle="tab" data-ng-click="reloadAwaitingPaymentBroker()"><i
                                    class="fa fa-tasks"></i>&nbsp;<span
                                    data-i18n="list confirmation">Danh sách chờ xác nhận</span>

                                <div class="badge badge-info positionIcon" ng-show="hasNotificationPayment"
                                     ng-bind="newNotificationPayment"></div>
                            </a></li>
                            <li><a href="#finishOrderBroker" data-toggle="tab" data-ng-click="reloadFinishOrderBroker()"><i
                                    class="fa fa-check"></i>&nbsp;<span
                                    data-i18n="list payment">Danh sách thanh toán</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="brokerAssignedList">
                                <div class="control-label col-lg-4 no-padding form-group margin-top-15">
                                    <a href="" ng-click="showSearchs=!showSearchs" data-i18n="advanced search"></a>
                                    <a href="" ng-show="!showSearchs" ng-click="showSearchs=!showSearchs"><span
                                            class="glyphicon glyphicon-plus"></span></a>
                                    <a href="" ng-show="showSearchs" ng-click="showSearchs=!showSearchs"><span
                                            class="glyphicon glyphicon-minus"></span></a>
                                </div>
                                <div class="" ng-show="showSearchs">
                                    <div class="col-md-12 no-padding">
                                        <label class="control-label col-lg-3 no-padding"
                                               data-i18n="id request"></label>

                                        <div class="col-lg-9 form-group no-padding">
                                            <input type="tel" class="input-date form-control"
                                                   ng-model="searchdetails.idRequestAssigned"
                                                   data-i18n="i18n-placeholder"
                                                   placeholder="id request" reset-field
                                                   name="idRequestAssigned" maxlength="15" data-smart-validate-input
                                                   numbers-only/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <label class="control-label col-lg-3 no-padding"
                                               data-i18n="proposal id"></label>

                                        <div class="col-lg-9 form-group no-padding">
                                            <input type="tel" class="input-date form-control"
                                                   ng-model="searchdetails.idProposalAssigned"
                                                   data-i18n="i18n-placeholder"
                                                   placeholder="proposal id" reset-field
                                                   name="idProposalAssigned" maxlength="15" data-smart-validate-input
                                                   numbers-only/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <label class="control-label col-lg-3 no-padding"
                                               data-i18n="title of proposal"></label>

                                        <div class="col-lg-9 form-group no-padding">
                                            <input type="text" class="input-date form-control"
                                                   ng-model="searchdetails.titleRequestAssigned"
                                                   data-i18n="i18n-placeholder"
                                                   placeholder="title of proposal" reset-field
                                                   name="titleRequestAssigned" data-smart-validate-input
                                                    />
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <!--<div class="col-md-12 no-padding">-->
                                        <!--<label class="label-post"></label>-->
                                        <!--</div>-->
                                        <div class="col-md-12 no-padding form-group">
                                            <button class="btn btn-primary pull-right margin-bottom-15"
                                                    ng-click="searchClick()" data-i18n="search">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <table datatable-basic on-selection="showDetail" show-hidden mouseover-apply="Desktop"
                                       type="remote" row-index="indexChange" row-data-change-callback="notifyChange"
                                       offset-height="81" visibility-hidden
                                       click-apply="SmartDevice" on-mouseover="formatContent"
                                       table-options="brokerAssignedList"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="post id">Mã yêu cầu</span></th>
                                        <th class="text-center"><span data-i18n="name"></span></th>
                                        <th class="text-center" data-hide="phone,tablet"><span data-i18n="post deal"></span></th>
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="total proposal"></span></th>-->
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="proposal id"></span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="title of proposal"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span data-i18n="my bid">Giá đã đặt</span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span data-i18n="supplier id">Mã khách hàng</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="status"></span></th>
                                        <th data-hide="phone,tablet,desktop"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane" id="awaitingPaymentBroker">
                                <table datatable-basic on-selection="showDetail" show-hidden mouseover-apply="Desktop"
                                       type="remote" visibility-hidden
                                       click-apply="SmartDevice" on-mouseover="formatContent" row-index="indexChange"
                                       row-data-change-callback="notifyChange"
                                       table-options="awaitingPaymentBroker" offset-height="81"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="post id">Mã yêu cầu</span></th>
                                        <th class="text-center"><span data-i18n="name"></span></th>
                                        <th class="text-center" data-hide="phone,tablet"><span data-i18n="post deal"></span></th>
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="total proposal"></span></th>-->
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="proposal id"></span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="title of proposal"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span data-i18n="my bid">Giá đã đặt</span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span data-i18n="supplier id">Mã khách hàng</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="status"></span></th>
                                        <th data-hide="phone,tablet,desktop"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane" id="finishOrderBroker">
                                <table datatable-basic on-selection="showDetail" show-hidden type="remote"
                                       offset-height="81" visibility-hidden
                                       click-apply="SmartDevice" table-options="finishOrderBroker"
                                       mouseover-apply="Desktop" on-mouseover="formatContent"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th data-hide="phone,tablet"><span
                                                data-i18n="transaction id">Mã giao dịch</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="post id">Mã yêu cầu</span>
                                        </th>
                                        <th data-hide="phone,tablet" class="text-center"><span data-i18n="name"></span></th>
                                        <th class="text-center"><span data-i18n="proposal id"></span></th>
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="skills required"></span></th>-->
                                        <!--<th data-hide="phone,tablet"><span data-i18n="type"></span></th>-->
                                        <!--<th data-hide="phone,tablet"><span data-i18n="budget"></span></th>-->
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="bid end date"></span></th>-->
                                        <!--<th data-hide="phone,tablet,desktop"><span data-i18n="attachment"></span></th>-->
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="detail proposal">Chi tiết đề xuất</span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center"><span
                                                data-i18n="my bid">Giá đã đặt</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="customer id">Mã khách hàng</span></th>
                                        <th data-hide="phone,tablet" class="text-center"><span
                                                data-i18n="vaber fee">Phí Vaber</span></th>
                                        <th data-hide="phone,tablet"><span data-i18n="status"></span></th>
                                        <th data-hide="phone,tablet,desktop"></th>

                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </smart-tab>
            </div>
        </div>

    </section>
</div>