
.dataTable tbody tr td .promotions [data-promotion='pp_broker_advance'] {
    background: #eb860e;
    -moz-box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #5b3405;
    -moz-box-shadow: 0 1px 0 #5b3405;
    box-shadow: 0 1px 0 #5b3405;
}
.dataTable tbody tr td .promotions [data-promotion='pp_broker_advance']:first-child:before {
    border-top-color: #eb860e !important;
}
.margin-add-on
{
    text-align: left;
}
.dataTable tbody tr td .promotions [data-promotion='pp_broker_basic'] {
    background: #eb860e;
    -moz-box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #5b3405;
    -moz-box-shadow: 0 1px 0 #5b3405;
    box-shadow: 0 1px 0 #5b3405;
}
.dataTable tbody tr td .promotions [data-promotion='pp_broker_basic']:first-child:before {
    border-top-color: #eb860e !important;
}
#detailSupplier .emerald {
    border-bottom: 1px solid #00578a;
}

#detailSupplier .header-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
}

#content-mobile {
    /*font-size: 12px;*/
}

#footer-pull-left-mobile {
    /*font-size: 12px;*/
}

#footer-pull-right-mobile {
    /*font-size: 12px;*/
}

@media (max-width: 767px) {
    #detailSupplier .ui-tab-container .tab-content {
        padding: 0px;
    }
    div.dataTables_filter input{

    }
    .dt-toolbar{
        padding: 0px;
    }
}
#detailSupplier .verticalMiddle{
    vertical-align: middle;
}
#detailSupplier .dataTables_filter .input-group-addon{
    width: 11%;
}

#detailSupplier .dt-toolbar {
    display: block;
    position: relative;
    padding: 0px;
    width: 100%;
    float: left;
    border-bottom: 0px;
    background: none;
    /*margin-bottom: 20px;*/
}

#detailSupplier .dataTables_filter label{
    width: 100%;
}

#detailSupplier .col-sm-10 {
    margin: 0 auto;
    /*float: none;*/
}
#detailSupplier .container {
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width: 768px) {
    /*#detailSupplier .no-padding-moblie{*/
        /*padding: 0px;*/
    /*}*/
    /*#detailSupplier .padding-moblie{*/
        /*padding: 10px;*/
    /*}*/
    /*#detailSupplier .ui-tab-container .nav-tabs > li > a{*/
        /*margin: 5px;*/
        /*border-bottom-left-radius: 3px;*/
        /*border-bottom-right-radius: 3px;*/
        /*border: 0px;*/
    /*}*/
    /*#detailSupplier .nav-tabs > li {*/
        /*float: left;*/
        /* padding: 10px; */
        /*border: 1px solid;*/
        /*margin: 10px 0px 10px 0px;*/
    /*}*/
    /*#detailSupplier .nav-tabs > li a{*/
        /*color: #fff;*/
    /*}*/
    /*#detailSupplier .nav-tabs > li a:hover{*/
        /*background: none;*/
        /*border: 0px;*/
    /*}*/
    /*#detailSupplier .ui-tab-container{*/
        /*border:none;*/
    /*}*/
    /*#detailSupplier .nav-tabs > li a:hover{*/
        /*background: none;*/
        /*border: 0px;*/
    /*}*/
    /*#detailSupplier .ui-tab-container .nav-tabs{*/
        /*background: none;*/
        /*border:none;*/
    /*}*/
    /*#detailSupplier .ui-tab-container .nav-tabs > li.active > a{*/
        /*background: none;*/
    /*}*/
    /*#detailSupplier .ui-tab-container .nav-tabs > li.active > a {*/
        /*border: 0px;*/
    /*}*/
    /*#detailSupplier .tab-content*/
    /*{*/
        /*display: none;*/
    /*}*/
    /*#detailSupplier .panel-body{*/
        /*padding: 0px;*/
    /*}*/
    /*#detailSupplier .panel-heading{*/
        /*padding: 10px !important;*/
    /*}*/
    /*#detailSupplier .table-bordered{*/
        /*border:none !important;*/
    /*}*/
    /*#detailSupplier .col-sm-10 {*/
        /*padding-left: 0px;*/
        /*padding-right: 0px;*/
    /*}*/
    /*#detailSupplier .page{*/
        /*padding: 0px;*/
    /*}*/
    /*#detailSupplier smart-tab ul > li a:hover {*/
        /*background: none;*/
        /*border: 0px;*/
        /*color: #fff;*/
    /*}*/

   /*#detailSupplier smart-tab .ui-tab-container ul {*/
        /*background: none;*/
         /*padding-right:15px;*/
    /*}*/

   /*#detailSupplier smart-tab li > a {*/
        /*background: none !important;*/
        /*color: #000000;*/
    /*}*/

   /*#detailSupplier smart-tab .ui-tab-container ul > li.active > a {*/
        /*border: 0px;*/
        /*color: #000000;*/
    /*}*/
   #detailSupplier smart-tab .ui-tab-container {
        border: 0px;
    }
}
#detailSupplier .dataTable tbody tr td .promotions {
    margin: -15px 0 4px -56px;
}
@media (min-width: 768px) {
    #detailSupplier .tab-content {
        display:block !important;
    }
}
@media (max-width: 768px) {
    #detailSupplier .dataTable tbody tr td .promotions {
        margin: -10px 0 4px -16px;
    }
}
.selecte-skill li{
    width:auto;
    margin-top:5px;
}

#detailSupplier  .padding-1{
    padding-top :10px;
    padding-bottom :10px;
}
#detailSupplier  .background-children {
    background-color: #fff !important;
}
#detailSupplier .border-wrapper{
    display: block    ;
    padding: 2px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f5f5f5;
}

/*.selecte-skill .select2-container--open{*/
    /*z-index:0;*/
    /*position:inherit !important;*/

/*}*/
/*.select2-container--open{*/
    /*position:fixed !important;*/
    /*z-index: 9999999;*/

/*}*/
.pac-container{
    position:fixed !important;
}

.select2-container--default .select2-selection--multiple{
    border-radius:0px;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 2px;
    line-height: 1;
    /*font-size: 18px*/
}
.form-group .btn-group label{
    color:#fff;
    font-weight:bold;
}

.padding-top28{
    padding-top:28px;
}
.margin-top10{
    margin-top:10px;
}
#detailSupplier  .no-margin{
    margin: 0px 0px;
}

#detailSupplier .footer-pull-left-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
    color:#1357aa;
}
#detailSupplier .footer-pull-right-mobile {
    /*font-size: 10px;*/
}
@media (max-width: 768px) {
    #detailSupplier .columnTitle {
        text-align: left!important;
    }
    #detailSupplier .columnValue {
        text-align: left!important;
    }
}
#detailSupplier .positionIcon
{
position: relative;
left: 1px;
top: -8px;
}
#detailSupplier .boldRed
{
    color : red !important;
}

@media (max-width: 768px) {
    #detailSupplier .text-left-on-mobile {
        text-align: left!important;
    }
    #detailSupplier .text-left-on-mobile {
        text-align: left!important;
    }

    #finishOrder .table {
        border: 0px solid #CCC;
        border-bottom: 1px solid #CCC;
    }

    #detailSupplier .margin-top-15 {
        margin-top: 15px;
    }

    #detailSupplier .margin-bottom-15 {
        margin-bottom: 15px;
    }
}

@media (min-width: 767px){
    #detailSupplier smart-tab .ui-tab-container ul > li.active > a{
        background-color: #ffffff !important;
    }
    #detailSupplier smart-tab .ui-tab-container ul > li.active.paginate_button > a{
        background-color: #1357aa !important;
    }
    #detailSupplier smart-tab li > a{
        color: #333333;
    }
}

#detailSupplier .padding-l-r{
    padding-left: 0px;
    padding-right: 10px;
}

#detailSupplier .margin-top6{
    margin-top:6px;
}
