<!--<section style="  max-width: 1045px;" class="page" id="projects" ng-controller="mail" ng-init="init();">-->
<section class="page no-padding" id='mail' ng-controller='mail' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-envelope"></span> Mail </strong></div>
        <div class="panel-body">
            <div class="inbox-nav-bar no-content-padding">

                <h1 class="page-title txt-color-blueDark hidden-xs hidden-sm"><i class="fa fa-fw fa-inbox"></i> Inbox </h1>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="#/inbox/inbox">Inbox</a>
                        </li>
                        <li>
                            <a href="#/inbox/sent">Sent</a>
                        </li>
                        <li>
                            <a href="#/inbox/draff">Draff</a>
                        </li>
                    </ul>
                </div>

                <div class="inbox-checkbox-triggered">
                    <div class="btn-group">
                        <a tooltip-placement="bottom" tooltip="Mark Important" class="btn btn-default "><strong><i
                                class="fa fa-exclamation fa-lg text-danger"></i></strong></a>
                        <a tooltip-placement="bottom" tooltip="Move to folder" class="btn btn-default "><strong><i
                                class="fa fa-folder-open fa-lg"></i></strong></a>
                        <a ng-click="deleteSelected()" tooltip-placement="bottom" tooltip="Delete"
                           class="deletebutton btn btn-default "><strong><i
                                class="fa fa-trash-o fa-lg"></i></strong></a>
                    </div>
                </div>
                <span class="btn-group pull-right inbox-paging">
                    <a class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-left"></i></strong></a>
                    <a class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-right"></i></strong></a>
                </span>
                <span class="pull-right number-span"><strong>1-30</strong> of <strong class="ng-binding">367</strong></span>
            </div>
            <div class="clearfix"></div>
            <div id="inbox-content" class="inbox-body no-content-padding">

                <div class="inbox-side-bar hidden-xs hidden-sm">

                    <a ui-sref="app.inbox.folder.compose" id="compose-mail" class="btn btn-primary btn-block" href="#/inbox//compose">
                        <strong>Compose</strong> </a>
                    <div>
                        <h6> Folder <a tooltip="Refresh"  class="pull-right txt-color-darken "><i class="fa fa-refresh"></i></a></h6>

                        <ul class="inbox-menu-lg">
                            <li>
                                <a href="http://localhost/vaber/#/mail"> Inbox
                                    <span>(120)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/inbox/sent"> Sent
                                </a>
                            </li>
                            <li>
                                <a href="#/inbox/draft"> Draft
                                </a>
                            </li>
                            <li>
                                <a href="#/inbox/trash"> Trash
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inbox-animation-container router-animation-container">
                    <!-- uiView: inbox --><div class=""><div class="table-wrap custom-scroll">
                    <table id="inbox-table" class="table table-striped table-hover">
                        <tbody>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a href="http://localhost/vaber/#/mail_detail"><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Jordi Predovic
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <a href="http://localhost/vaber/#/mail_detail">Ameliorated attitude-oriented structure-  Hello Jordi Predovic,Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Rita Bahringer
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-teal">HOME</span> <a href="http://localhost/vaber/#/mail_detail"> Customer-focused uniform success -        Versatile zero...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Jordi Predovic
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <a>Ameliorated attitude-oriented structure-  Hello Jordi Predovic,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Rita Bahringer
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a> Customer-focused uniform success -        Versatile zero...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Jordi Predovic
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <a>Ameliorated attitude-oriented structure-  Hello Jordi Predovic,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Rita Bahringer
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-teal">HOME</span> <a> Customer-focused uniform success -        Versatile zero...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Jordi Predovic
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <a>Ameliorated attitude-oriented structure-  Hello Jordi Predovic,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    Rita Bahringer
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a> Customer-focused uniform success -        Versatile zero...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    4:04 PM
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken ng-scope"><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        <tr class="unread">
                            <td class="inbox-table-icon">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="radio-inline">
                                        <span></span> </label>
                                </div>
                            </td>
                            <td class="inbox-data-from hidden-xs hidden-sm">
                                <div>
                                    <b>Sagi Orlaf</b>
                                </div>
                            </td>
                            <td class="inbox-data-message">
                                <div>
                                    <span class="label bg-color-orange">WORK</span> <a><b>Re: Timelogs of last client -</b>      Hey James,         Sed ...</a>
                                </div>
                            </td>
                            <td class="inbox-data-attachment hidden-xs">
                                <div>
                                    <a tooltip="FILES: rocketlaunch.jpg, timelogs.xsl" tooltip-placement="left" class="txt-color-darken "><i class="fa fa-paperclip fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="inbox-data-date hidden-xs">
                                <div>
                                    <b>4:04 PM</b>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                    <div class="router-animation-loader"><i class="fa fa-gear fa-4x fa-spin"></i></div></div>
                <div class="inbox-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-1">
                            <div class="txt-color-white hidden-desktop visible-mobile">
                                2.9GB of <strong>10GB</strong>

                                <div class="progress-micro progress ng-isolate-scope" data-progressbar="" data-value="config.space.ratio">
                                    <div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="29%"  style="width: 29%;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-11 text-right">
                            <div class="txt-color-white inline-block">
                                <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago |</i> Displaying <strong>44 of 259</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>