<div id='feeds' ng-controller="feeds" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <div class="page no-padding-mobile no-padding">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
                    data-i18n="newsfeed"></span></strong>
            </div>
            <div class="panel-body padding-moblie no-padding">
                <form id="formSearch" name="myForm" novalidate="novalidate" data-smart-validate-form>
                    <div class="col-md-12 no-padding">
                        <div id="Search" class="page col-md-12 col-lg-12 col-sm-12 margin-bottom-15">
                            <div class="col-md-12 no-control-picker no-padding">
                                <div class="col-md-12 no-padding">
                                    <label class="control-label col-lg-3 no-padding"
                                           data-i18n="id request"></label>

                                    <div class="col-lg-9 form-group no-padding">
                                        <input type="tel" class="input-date form-control"
                                               ng-model="searchdetails.idRequest"
                                               data-i18n="i18n-placeholder"
                                               placeholder="id request" reset-field
                                               name="idRequest" maxlength="15" data-smart-validate-input
                                               format-currency numbers-only/>
                                    </div>
                                </div>
                            </div>

                            <div class="control-label col-lg-4 hidden-md hidden-sm hidden-lg no-padding form-group">
                                <a href="" ng-click="showSearchs=!showSearchs" data-i18n="advanced search"></a>
                                <a href="" ng-show="!showSearchs" ng-click="showSearchs=!showSearchs"><span
                                        class="glyphicon glyphicon-plus"></span></a>
                                <a href="" ng-show="showSearchs" ng-click="showSearchs=!showSearchs"><span
                                        class="glyphicon glyphicon-minus"></span></a>
                            </div>

                            <div class="" ng-show="showSearchs">
                                <div class="col-md-12 col-lg-12 col-sm-12 no-control-picker no-padding">

                                    <div class="col-md-12 col-lg-12 col-sm-12 no-padding">
                                        <label class="control-label col-lg-3 col-sm-3 col-md-3 no-padding"
                                               data-i18n="services more"></label>

                                        <div class="col-lg-9  form-group no-padding">
                                            <select ng-model="parentCategory" name="service"
                                                    ng-change="chooseParentCategory(parentCategory)"
                                                    ng-options="category.name for category in categories"
                                                    data-smart-validate-input options-class
                                                    class="form-control">
                                                <option value='' selected data-i18n="chosen service"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 no-padding"
                                         ng-show="parentCategory && parentCategory.children">
                                        <label class="control-label col-lg-3 no-padding"
                                               data-i18n="services childdren"></label>

                                        <div class="col-lg-9 form-group no-padding">
                                            <select ng-model="childrenCategory" name="serviceChildren"
                                                    ng-change="chooseChildrenCategory(childrenCategory)"
                                                    ng-options="cat.name for cat in parentCategory.children track by cat.name"
                                                    data-smart-validate-input
                                                    class="form-control">
                                                <option value='' selected data-i18n="chosen service"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding" ng-show="parentCategory">
                                        <label class="control-label col-lg-3 no-padding"
                                               data-i18n="skills required"></label>

                                        <div class="selecte-skill col-lg-9 form-group no-padding">
                                            <select name="skill" id="selectedSkills"
                                                    data-smart-validate-input
                                                    ng-model="skills"
                                                    ng-options="skill as skill.name for skill in customCategory"
                                                    data-smart-select2 multiple
                                                    placeholder="Chọn kỹ năng" class="form-control input-lg select2"
                                                    style="width:100%;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 no-control-picker no-padding">
                                    <label class="control-label col-lg-3 no-padding" data-i18n="location"></label>

                                    <div class="col-lg-9 form-group no-padding">
                                        <select class="form-control" name="city" ng-model="parentCities"
                                                data-smart-validate-input
                                                ng-options="parentCities.name for parentCities in cities track by parentCities.code">
                                            <option value="" data-i18n="chosen city"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 no-control-picker no-padding">
                                    <label class="control-label col-lg-3 no-padding"
                                           data-i18n="expired date"></label>

                                    <div class="col-lg-9 form-group-mobile no-padding">
                                        <div class="col-lg-2 margin-top10 col-xs-12 col-md-2 col-sm-2 text-center margin-bottom no-padding hidden-lg hidden-md">
                                            <label data-i18n="calendar from"></label></div>
                                        <div class="col-lg-5 col-xs-12 col-md-5 col-sm-5 no-padding">
                                            <div class="date-first input-group max-width">
                                                <div class="no-padding" ng-model="searchdetails.expiredDateFrom"
                                                     is-open="opened1" minDate mindatemobile
                                                     name="dateFrom" smart-date></div>
                                            </div>

                                        </div>

                                        <div class="col-lg-2 margin-top10 col-xs-12 col-md-2 col-sm-2 text-center margin-bottom no-padding">
                                            <label data-i18n="calendar to"></label></div>
                                        <div class="col-lg-5 col-xs-12 col-md-5 col-sm-5 no-padding">
                                            <div class="input-group max-width">
                                                <div class="no-padding" ng-model="searchdetails.expiredDateTo"
                                                     is-open="opened2" minDate mindatemobile
                                                     name="dateTo" smart-date></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 no-control-picker no-padding">
                                    <label class="control-label col-lg-3 no-padding"
                                           data-i18n="post deal"></label>

                                    <div class="col-lg-9 no-padding">
                                        <div class="col-lg-2 margin-top10 col-xs-12 col-md-2 col-sm-2 text-center margin-bottom no-padding hidden-lg hidden-md">
                                            <label data-i18n="calendar from"></label></div>
                                        <div class="col-lg-5 col-xs-12 col-md-5 col-sm-5 no-padding">
                                            <div class="input-group max-width">
                                                <input type="tel" class="input-date form-control"
                                                       ng-model="searchdetails.budgetFrom"
                                                       data-i18n="i18n-placeholder"
                                                       placeholder="minimum payment" reset-field
                                                       name="budgetFrom" maxlength="15" data-smart-validate-input
                                                       format-currency numbers-only/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default">&nbsp;<u>đ</u></button>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 margin-top10 col-xs-12 col-md-2 col-sm-2 text-center no-padding">
                                            <label data-i18n="calendar to"></label></div>
                                        <div class="col-lg-5 col-xs-12 col-md-5 col-sm-5 no-padding">
                                            <div class="input-group max-width">
                                                <input type="tel" class="input-date form-control"
                                                       ng-model="searchdetails.budgetTo"
                                                       data-i18n="i18n-placeholder"
                                                       placeholder="maximum payment" reset-field
                                                       name="budgetTo" maxlength="15" data-smart-validate-input
                                                       format-currency numbers-only/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default">&nbsp;<u>đ</u></button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 no-control-picker no-padding">
                                <div class="col-md-12 no-padding">
                                    <label class="label-post"></label>
                                </div>
                                <div class="col-md-12 no-padding">
                                    <button class="btn btn-primary pull-right margin-bottom-15"
                                            ng-click="searchClick()" data-i18n="search">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="Result" class="page">
                            <table datatable-basic on-selection="showDetail" show-hidden
                                   mouseover-apply="Desktop"
                                   type="remote" offset-height="{{deviceHeight}}"
                                   click-apply="SmartDevice" on-mouseover="formatContent"
                                   table-options="newOrder"
                                   class="datatable table table-striped table-bordered table-hover">
                                <thead class="hide-when-mobile">
                                <tr>
                                    <th data-hide="phone,tablet" class="text-center"><span
                                            data-i18n="post id">Mã yêu cầu</span>
                                    </th>
                                    <th class="text-center"><span data-i18n="name"></span></th>
                                    <th data-hide="phone,tablet,desktop" class="text-center"><span
                                            data-i18n="description"></span></th>
                                    <th data-hide="phone,tablet" class="text-center"><span
                                            data-i18n="type"></span></th>
                                    <th data-hide="phone,tablet" class="text-center"><span
                                            data-i18n="post deal"></span></th>
                                    <th data-hide="phone,tablet,desktop" class="text-center"><span
                                            data-i18n="total proposal">Số đề xuất</span></th>
                                    <th data-hide="phone,tablet,desktop" class="text-center"><span
                                            data-i18n="bid end date"></span></th>
                                    <th data-hide="phone,tablet,desktop" class="text-center"><span
                                            data-i18n="skills required"></span></th>
                                    <th data-hide="phone,tablet,desktop" class="text-center"><span
                                            data-i18n="city"></span></th>
                                    <th data-hide="phone,tablet" class="text-center"><span
                                            data-i18n="prestige"></span></th>
                                    <!--<th data-hide="phone,tablet" class="text-center"><span data-i18n="my bid">Giá đã đặt</span>-->
                                    </th>
                                    <th data-hide="phone,tablet" class="text-center"><span
                                            data-i18n="status"></span></th>
                                    <th data-hide="phone,tablet,desktop"></th>

                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
</div>

