#feeds .emerald {
    border-bottom: 1px solid #00578a;
}

#feeds #header-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
}

#feeds #content-mobile {
    /*font-size: 12px;*/
}

#feeds .margin-bottom-15 {
    margin-bottom: 15px;
}

#feeds #footer-pull-left-mobile {
    /*font-size: 12px;*/
}

#feeds #footer-pull-right-mobile {
    /*font-size: 12px;*/
}

#feeds .dataTables_filter .input-group-addon {
    width: 11%;
}

#feeds .dt-toolbar {
    display: block;
    position: relative;
    padding: 0px;
    width: 100%;
    float: left;
    border-bottom: 0px;
    background: none;
}

#feeds .dataTables_filter label, #feeds .max-width {
    width: 100%;
}

#feeds .col-sm-10 {
    margin: 0 auto;
}

#feeds .container {
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 768px) {
    #feeds .ui-tab-container .tab-content {
        padding: 0px;
    }

    #feeds .dt-toolbar {
        padding: 0px;
    }

    #feeds .col-sm-10 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #feeds .dataTable tbody tr td .promotions {
        margin: -14px 0 4px -16px;
    }

    /*#feeds .no-control-picker .pull-right {*/
    /*float: left !important;*/
    /*}*/
    #feeds .no-padding-mobile {
        padding: 0px;
    }

    #feeds .margin-bottom-15 {
        margin-bottom: 15px;
    }

    /*#feeds .col-xs-12 {*/
    /*width: auto;*/
    /*}*/
    #feeds .max-width {
        width: auto;
    }
}

@media (min-width: 768px) {
    #feeds .tab-content {
        display: block !important;
    }
}

@media (max-width: 992px) {
    #feeds .no-padding-mobile {
        padding: 0px;
    }

    #feeds .col-lg-9 .col-xs-12 {
        width: auto;
        float: none;
    }

    #feeds .margin-bottom {
        margin-bottom: 0px;
    }

    #feeds .margin-bottom-15 {
        margin-bottom: 15px;
    }

    #feeds .margin-top10 label {
        float: left;
        margin-top: 8px;
        width: 15%;
        text-align: left;
    }

    #feeds .max-width {
        width: 85%;
    }
}

#feeds .selecte-skill li {
    width: auto;
    margin-top: 5px;
}

#feeds .selecte-skill input {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px !important;

}

.selecte-skill .select2-container--open {
    z-index: 0;
    position: inherit !important;

}

.select2-container--open {
    position: fixed !important;
    z-index: 9999999;

}

.pac-container {
    position: fixed !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
    border: 1px solid #cbd5dd;
}

#feeds .margin-top10, #feeds .margin-top {
    margin-top: 10px;
}

#feeds .no-padding-left {
    padding-left: 0px;
}

#feeds .input-group .input-date {
    padding: 7px 15px;
}

/*#feeds label {*/
/*color: #767676;*/
/*}*/

#feeds .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
}

#feeds .emerald {
    border-bottom: 1px solid #00578a;
}

#feeds .header-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
}

#content-mobile {
    /*font-size: 12px;*/
}

#footer-pull-left-mobile {
    /*font-size: 12px;*/
}

#footer-pull-right-mobile {
    /*font-size: 12px;*/
}

@media (max-width: 767px) {
    #feeds .ui-tab-container .tab-content {
        padding: 0px;
    }

    div.dataTables_filter input {

    }

    .dt-toolbar {
        padding: 0px;
    }
}

#feeds .dataTables_filter .input-group-addon {
    width: 11%;
}

#feeds .dt-toolbar {
    display: block;
    position: relative;
    padding: 0px;
    width: 100%;
    float: left;
    border-bottom: 0px;
    background: none;
    /*margin-bottom: 20px;*/
}

#feeds .dataTables_filter label {
    width: 100%;
}

#feeds .col-sm-10 {
    margin: 0 auto;
    /*float: none;*/
}

#feeds .container {
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 768px) {
    #feeds .col-sm-10 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #feeds .form-group-mobile {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    #feeds .tab-content {
        display: block !important;
    }

    #feeds .select2-selection__choice__remove {
        display: none;
    }
}

@media (max-width: 768px) {
    #feeds .dataTable tbody tr td .promotions {
        margin: -14px 0 4px -16px;
    }
}

.selecte-skill li {
    width: auto;
    margin-top: 5px;
}

#feeds .padding-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#feeds .background-children {
    background-color: #fff !important;
}

#feeds .border-wrapper {
    display: block;
    padding: 2px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f5f5f5;
}

.selecte-skill .select2-container--open {
    z-index: 0;
    position: inherit !important;

}

.select2-container--open {
    position: fixed !important;
    z-index: 9999999;

}

.pac-container {
    position: fixed !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 2px;
    line-height: 1;
    /*font-size: 18px*/
}

.form-group .btn-group label {
    color: #fff;
    font-weight: bold;
}

.padding-top28 {
    padding-top: 28px;
}

.margin-top10 {
    margin-top: 10px;
}

#feeds .no-margin {
    margin: 0px 0px;
}

#feeds .footer-pull-left-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
    color: #1357aa;
}

#feeds .footer-pull-right-mobile {
    /*font-size: 10px;*/
}

#feeds .verticalMiddle {
    vertical-align: middle;
}

@media (max-width: 768px) {
    #feeds .columnTitle {
        text-align: left !important;
    }

    #feeds .columnValue {
        text-align: left !important;
    }

    #feeds #Result.page {
        padding: 0px;
    }
}

#feeds .boldRed {
    color: red !important;
}

#feeds .date-first .form-group {
    margin-bottom: 0px !important;
}

