<div id='first' flowtype ng-controller="first" ng-init="init()">
    <div class="page no-padding">
        <div class="panel-body padding-moblie no-padding">
            <div class="col-lg-12 gmap-container no-padding">
                <div smart-location ng-model="address"
                     address="address"></div>
            </div>
            <div class="ui-tab-container">
                <ul class="nav nav-tabs col-xs-12 no-padding padding-bot10">
                    <li class="active col-xs-3 no-padding text-center"><a href="#men" data-toggle="tab"><span>Trai</span></a></li>
                    <li class="col-xs-3 no-padding text-center"><a href="#women" data-toggle="tab"><span>Gái</span></a></li>
                    <li class="col-xs-3 no-padding text-center"><a href="#gay" data-toggle="tab"><span>Bê đê</span></a></li>
                    <li class="col-xs-3 no-padding text-center"><a href="#less" data-toggle="tab"><span>Less</span></a></li>
                </ul>
                <div class="padding-7">
                    <div class="tab-pane active" id="men"></div>
                    <div class="tab-pane" id="women"></div>
                    <div class="tab-pane" id="gay"></div>
                    <div class="tab-pane" id="less"></div>
                </div>
            </div>
            <div class="no-padding col-xs-12 form-group">
                <div class="col-xs-12 no-padding">
                    <button class="btn btn-primary btn-md col-xs-12" ng-click="nextPostOrder()"
                            data-i18n="next">
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>


