#post .select2-choices li {
    width:auto;
}
.btn-group label{
    color:#ffffff;
}
#post .padding-bottom20{
    padding-bottom: 20px!important;
}

#post span::before {
    margin:0px!important;
}

#post span::after {
    left: 5px !important;
}

#post .select2-choices {
    padding-left: 11px !important;
}

#post .overwrite-title {
    color: #2B3D53;
    display: inline;
    position: initial;
    /*font-size: 20px;*/
}
@media (min-width: 768px){
    #post .bootstrapWizard .tab-provision li:first-child {
        margin-top:30px;
     }
    #post .bootstrapWizard .tab-provision li {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;

    }

    #post .tab-provision ul {
        margin-left:-40px;
    }

    #post .tab-provision .ui-checkbox {
        margin: 10px 20px 10px 0px;
    }

    #post .tab-provision ul > li {
        list-style:none;
        list-style-type: decimal;
    }
}

#post .tab-provision ul > li {
    list-style:none;
    list-style-type: decimal;
}

#post .animate-switch .form-group .dropzone {
    border: none;
}

#post .animate-switch .form-group .dropzone .file-input-wrapper {
    color: steelblue;
}

/*.parent-skills input{*/
    /*width: 100% !important;*/
/*}*/

div.ui-checkbox.no-margin{
    margin:0px !important;
}

.currency .input-group-btn select{
    width:100px;

}
.currency .input-group-btn select{
    /*border-left:0px;*/
}

.parent-skills input{
    height:40px !important;
}
.control-label {
  margin-top: 10px;
}
.career-label, .gender-label{
    margin-top:0px;
}

.parent-skills input{
    /*font-size:18px;*/
     padding-left:15px;
 }

.ui-checkbox small{
    /*font-size:14px;*/
    color:#767676;
}

.selecte-skill li{
    width:auto;
    margin-top:5px;
}

.selecte-skill .select2-container--open{
    z-index:0;
    position:inherit !important;

}
.select2-container--open{
  position:fixed !important;
    z-index: 9999999;

}
.pac-container{
    position:fixed !important;
}

.select2-container--default .select2-selection--multiple{
    border-radius:0px;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
    line-height: 1;
    /*font-size: 18px*/
}
.form-group .btn-group label{
    color:#fff;
}

.btn-plain{
    border-color: #104b93;
}

.btn-plain{
     color:#767676 !important;
 }
 .btn-plain.active{
     color: #ffffff !important;
     background-color: #0f4485;
     border-color: #0a2f5c;
 }

.dropdown-menu {
    margin-top: 5px;
}
 a.help-block {
      color: #337ab7;
      text-decoration: underline;
      margin-bottom: 3px;
 }

 .helper-container .dropdown-menu:before {
   border-bottom: 8px solid #e9e9e9;
 }

.helper-container .dropdown-menu:before {
  left: auto;
}

.helper-container .dropdown-menu:before {
  content: " ";
  position: absolute;
  left: 12px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
}

.wizard > .actions > ul > li {
    margin: 0 0 0 0.5em;
}

  .no-control-picker table tr.text-center{
    display:none;
  }
  .no-control-picker table tr>td>input{
    height: 46px;
    padding: 10px 16px;
    /*font-size: 18px;*/
    line-height: 1.33;
    border-radius: 0;
    width:60px !important;

}
.no-control-picker .pull-right table{
        float:right;
}
.margin-top10{
    margin-top:10px;
}
.no-padding-right{
    padding-right:0px !important;
}
@media(max-width:480px){
    .no-padding-xs, .no-padding-md, .no-padding-sm{
        padding:0px !important;
    }
    .no-control-picker table tr>td>input{
            width:100% !important;
        }
}
  .wizard > .actions > ul > li {
    margin: 0 0 0 0.5em;
  }