<section class="page no-padding" id='post' ng-controller='other' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
                data-i18n="post order"></span>
        </strong></div>
        <div class="panel-body">
            <form novalidate="novalidate" data-smart-validate-form>
                <div class="col-xs-12"  data-smart-wizard data-smart-wizard-callback="wizard1CompleteCallback">
                    <div class="form-bootstrapWizard clearfix">
                        <ul class="bootstrapWizard hidden-xs">
                            <li data-smart-wizard-tab="1">

                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" data-smart-wizard-pane="1">
                            <div class="row">
                                <div class="row-fluid">
                                    <label class="control-label hidden-md hidden-xs col-lg-3" data-i18n="skills select"></label>
                                    <div class="col-lg-9 no-padding">
                                        <div class="form-group selecte-skill">
                                            <select name="skill" data-required ui-select2="" data-smart-validate-input ng-model="post.more.selectedSkills" ng-options="skill as skill.name for skill in selected.category.skills" data-smart-select2 multiple placeholder="Chọn kỹ năng" class="form-control input-lg select2" style="width:100%;"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid" >
                                    <label class="control-label hidden-md hidden-xs hidden-sm col-lg-3" data-i18n="description more">
                                    </label>
                                    <div class="form-group col-lg-9 no-padding">
                                        <textarea class="form-control input-lg" data-i18n="i18n-placeholder"
                                                  placeholder="description more" name="description" ng-model="post.more.description" data-required data-smart-validate-input
                                                  rows="3" data-message-required="Bắt buộc phải nhập"></textarea>
                                        <div class="helper-container dropdown">
                                            <a id="help-block" class="help-block" data-target="#" href=""
                                               data-toggle="dropdown" aria-haspopup="true" role="button"
                                               aria-expanded="false" data-i18n="help block"></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="help-block">
                                                <li>
                                                    <a href="javascript:0;"
                                                       ng-click="loadSampleDescription(1)"><span
                                                            data-i18n="description 1"></span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:0;"
                                                       ng-click="loadSampleDescription(2)"><span
                                                            data-i18n="description 2"></span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:0;"
                                                       ng-click="loadSampleDescription(3)"><span
                                                            data-i18n="description 3"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label hidden-md hidden-xs hidden-sm col-lg-3" data-i18n="start date helper"></label>
                                    <div class="form-group col-lg-5 no-padding">
                                        <div class="input-group input-group-lg">
                                            <input type="date" class="form-control" ng-model="post.more.dateStart" datepicker-popup
                                                   data-smart-validate-input is-open="opened" min-date="minDate"
                                                   data-i18n="i18n-placeholder" placeholder="start date helper" name="date_expired"
                                                   data-required data-message-required="Chưa nhập dữ liệu hoặc sai định dạng"/>
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                                            class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label hidden-md hidden-xs col-lg-3" data-i18n="salary"></label>
                                    <div class="form-group col-lg-5 currency no-padding">
                                        <div class="input-group input-group-lg">
                                            <input id="budget" class="form-control input-lg" data-i18n="i18n-placeholder"
                                                   placeholder="post currency" type="text" name="post_currency"
                                                   maxlength="15"
                                                   ng-model="post.more.budgetTo"
                                                   data-smart-validate-input
                                                   format-currency
                                                   numbers-only
                                                   data-required>
                                            <div class="input-group-btn">
                                                <span role="button" class="btn btn-default" ><u>đ</u></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label hidden-md hidden-xs col-lg-3 gender-label" data-i18n="gender"></label>
                                    <div class="col-lg-5 form-group no-padding">
                                        <select class="form-control input-lg"  ng-model="post.more.gender">
                                            <option value="male" data-i18n="male"></option>
                                            <option value="female" data-i18n="female"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label hidden-md hidden-xs col-lg-3" data-i18n="location"></label>
                                    <div class="col-lg-9 form-group no-padding">
                                        <div ng-model="post.more.address" smart-location address="post.more.address"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions row">
                        <div class="wizard pull-right">
                            <div class="actions clearfix">
                                <ul role="menu" aria-label="Pagination">
                                    <li class="" ><a href="" ng-click="goBack()" data-i18n="previous"></a>
                                    </li>
                                    <li class="" data-smart-wizard-next><a href="" data-i18n="post order"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
    </section>
</section>

