/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 3:28:16 PM
    Author     : Admin
*/
#updateuser .tab-content {
    padding: 15px;
}

#updateuser label > *{
    pointer-events: auto;
}

#updateuser .label-post {
    color: #222222 !important;
}

@media (max-width: 768px) {
    #updateuser .ui-tab-container .tab-content {
        padding: 15px;
    }

    #updateuser .pad15 {
        padding: 15px;
    }

    #updateuser .btn-gap {
        margin: 5px 0px;
    }

    #updateuser .margin-bot-10 {
        margin-bottom: 10px;
    }

    #updateuser .padding-l-r-5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    #updateuser .margin-bot-5 {
        margin-bottom: 5px;
    }

    #updateuser .margin-top-15 {
        margin-top: 15px;
    }
}

#updateuser .image-crop-final {
    width: 211px;
    height: 211px;
}

#updateuser .image-avatar {
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
}

#updateuser .image-avatar input.image-crop-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /*font-size: 20px;*/
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

#updateuser .image-container {
    width: 211px;
    height: 211px;
}

#updateuser .margin-top-5 {
    margin-top: 5px
}

#updateuser .notifierror {
    color: #ca674c;
}

#updateuser .notifisuccess {
    color: #4c9c77;
}

#updateuser .text-acount {
    font-weight: bold;
}

@media (min-width: 767px) {
    #updateuser smart-tab .ui-tab-container ul > li.active > a {
        background-color: #ffffff !important;
    }

    #updateuser smart-tab .ui-tab-container ul > li.active.paginate_button > a {
        background-color: #1357aa !important;
    }

    #updateuser smart-tab li > a {
        color: #333333;
    }
}

@media (min-width: 992px) {
    #updateuser #inputAll .col-sm-12 {
        width: auto;
    }
}




