<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="panel panel-default">
    <div id='updateuser' class="page no-padding" ng-controller='updateuser' ng-init="init()">

        <div class="panel-body no-padding">
            <form novalidate="novalidate" data-smart-validate-form>
                <div class="ui-tab-container">
                    <ul class="nav nav-tabs hidden-xs">
                        <li class="active "><a href="#home" data-toggle="tab"><i class="glyphicon glyphicon-file"></i>&nbsp;<span
                                data-i18n="account details"></span></a></li>
                        <li><a href="#info" data-toggle="tab"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;<span
                                data-i18n="account settings"></span></a>
                        </li>
                    </ul>


                    <div id="tabcontent" class="tab-content">
                        <div class="col-xs-12 no-padding margin-top-5 margin-bot-10 padding-l-r-5 hidden-lg hidden-md hidden-sm">
                            <a href="javascript:void(0);" data-ng-click="showHome()"
                               class="btn btn-primary pad15 col-xs-12 hidden-md hidden-lg hidden-sm"><span
                                    class="glyphicon glyphicon-file"></span>&nbsp;<span
                                    data-i18n="account details"></span></a>
                        </div>
                        <div class="tab-pane active page hidden-xs" id="home">
                            <div class="col-md-6 col-md-offset-0 form-group-module text-left">
                            </div>
                            <form id="emailSettingsForm" novalidate="novalidate" data-smart-validate-form
                                  ng-enter="saveClick()">
                                <div class="form-group">
                                    <strong>
                        <span id="lblSuccess" class="text-center text-success hide page"
                              data-i18n="saved account detail">
                        </span>
                                    </strong>
                                </div>
                                <div class="col-md-4 text-center col-md-offset-4">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-12 no-padding margin-top-15">
                                    <div class="col-lg-12 no-padding">
                                        <div class="col-lg-8 no-padding">
                                            <div class="form-group col-lg-12 no-padding">
                                                <div class="control-label col-lg-4 no-padding ">
                                                    <label class="label-post" data-i18n="full name"></label>
                                                </div>
                                                <div class="col-lg-8 no-padding">
                                                    <input id="fullname" type="text" data-i18n="i18n-placeholder"
                                                           placeholder="full name"
                                                           reset-field ng-model="accountdetails.fullname"
                                                           name="fullname" maxlength="60"
                                                           class="input-xlarge form-control"
                                                            >
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12 no-padding">
                                                <div class="control-label col-lg-4 no-padding ">
                                                    <label class="label-post" data-i18n="email address"></label>
                                                </div>
                                                <div class="col-lg-8 no-padding">
                                                    <input id="email" type="text" data-i18n="i18n-placeholder"
                                                           placeholder="email address"
                                                           ng-model="accountdetails.email" name="email" reset-field
                                                           class="input-xlarge form-control"
                                                           data-smart-validate-input data-required
                                                           data-message-required="validate input email"
                                                           data-message-email="validate input email form"
                                                           ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12 no-padding">
                                                <div class="control-label col-lg-4 no-padding ">
                                                    <label class="label-post" data-i18n="phone number"></label>
                                                </div>
                                                <div class="col-lg-8 no-padding">
                                                    <input id="phone" type="text" data-i18n="i18n-placeholder"
                                                           placeholder="phone number"
                                                           numbers-only reset-field maxlength="15"
                                                           ng-model="accountdetails.phonenumber" name="phonenumber"
                                                           class="input-xlarge form-control"
                                                           data-smart-validate-input
                                                           data-required data-message-required="validate phone number">
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-12 no-padding">
                                                <div class="control-label col-lg-4 no-padding ">
                                                    <label class="label-post" data-i18n="company"></label>
                                                </div>
                                                <div class="col-lg-8 no-padding">
                                                    <input id="company" type="text" data-i18n="i18n-placeholder"
                                                           placeholder="company"
                                                           ng-model="accountdetails.company" reset-field
                                                           name="company" maxlength="100"
                                                           class="input-xlarge form-control">
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-12 no-padding">
                                                <div class="control-label col-lg-4 no-padding ">
                                                    <label class="label-post"
                                                           data-i18n="address"></label>
                                                </div>
                                                <div class="col-lg-8 no-padding">
                                                    <div ng-model="accountdetails.address" smart-location
                                                         address="accountdetails.address"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 no-padding no-padding-left-mobile">
                                            <div class="control-label col-lg-2 no-padding ">
                                                <label class="label-post"></label>
                                            </div>
                                            <div class="col-lg-10 no-padding">
                                                <div id="inputAll" class="col-lg-12 no-padding image-container">
                                                    <div id="canvasImg" class="hide">
                                                        <canvas width="211" height="211" id="canvas" image-cropper
                                                                image="cropper.sourceImage"
                                                                cropped-image="cropper.croppedImage" crop-width="211"
                                                                crop-height="211"
                                                                keep-aspect="true"></canvas>
                                                    </div>
                                                    <div id="imgFinal"><img class="image-crop-final"
                                                                            crossorigin="anonymous"
                                                                            ng-src="{{cropper.croppedImage}}"/></div>
                                                    <div class="image-avatar btn btn-danger col-sm-12"><i
                                                            class="fa fa-pencil"></i> <span
                                                            data-i18n="select image"></span><input id="inputImg"
                                                                                                   type="file"
                                                                                                   img-cropper-fileread
                                                                                                   image="cropper.sourceImage"
                                                                                                   class="image-crop-input"
                                                                                                   ng-click="chooseImage()"/>
                                                    </div>
                                                    <label id="notifiSuccess" class="hide notifisuccess text-center"
                                                           data-i18n="avatarsuccess"></label><label id="notifiDL"
                                                                                                    class="hide notifierror text-center"
                                                                                                    data-i18n="avatarexceeded"></label><label
                                                        id="notifiSDD" class="hide notifierror text-center"
                                                        data-i18n="avatarwrong"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group no-padding col-sm-12">
                                    <button class="btn btn-primary pull-right margin-bottom-15" ng-click="saveClick()"
                                            data-i18n="save">
                                        Lưu thông
                                        tin
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group no-padding col-sm-12"></div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="col-xs-12 no-padding padding-l-r-5 margin-bot-5 hidden-lg hidden-md hidden-sm">
                            <a href="javascript:void(0);" data-ng-click="showInfo()"
                               class="btn btn-primary pad15 col-xs-12 hidden-md hidden-lg hidden-sm"><span
                                    class="glyphicon glyphicon-asterisk"></span>&nbsp;<span
                                    data-i18n="account settings"></span></a>
                        </div>
                        <div class="tab-pane page hidden-xs" id="info">
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-md-offset-0 form-group text-left">
                            </div>
                            <form id="accountSettingsForm" novalidate="novalidate" data-smart-validate-form
                                  ng-enter="saveSettingClick()">
                                <div class="col-md-12 no-padding">
                                    <strong>
                        <span id="lblSuccessSetting" class="text-center text-success hide page"
                              data-i18n="saved account setting">
                        </span>
                                    </strong>
                                </div>
                                <div id="form-change-password" class="col-md-12 no-padding">
                                    <fieldset id="change-password">
                                        <legend data-i18n="change password">
                                        </legend>
                                        <div class="col-md-12 no-padding">
                                            <div class="form-group">
                                                <div class="col-lg-12 no-padding">
                                                    <div class="control-label col-lg-3 no-padding ">
                                                        <label class="label-post" data-i18n="current password"></label>
                                                    </div>
                                                    <div class="form-group col-lg-9 no-padding">
                                                        <input type="password" data-i18n="i18n-placeholder"
                                                               placeholder="current password"
                                                               ng-model="accountdetails.oldPassword" reset-field
                                                               class="input-xlarge form-control" maxlength="127"
                                                               name="oldpasswd" id="oldPasswd"
                                                               data-smart-validate-input/>
                                                        <span class="help-inline small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12 no-padding">
                                                    <div class="control-label col-lg-3 no-padding ">
                                                        <label class="label-post" data-i18n="new password"></label>
                                                    </div>
                                                    <div class="form-group col-lg-9 no-padding">
                                                        <input type="password" id="password"
                                                               data-i18n="i18n-placeholder"
                                                               placeholder="new password" maxlength="127"
                                                               ng-model="accountdetails.newpassword" reset-field
                                                               class="input-xlarge form-control"
                                                               name="password"
                                                               data-smart-validate-input
                                                               passwordcheck="validate password">
                                                        <span class="help-inline small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12 no-padding">
                                                    <div class="control-label col-lg-3 no-padding ">
                                                        <label class="label-post" data-i18n="confirm password"></label>
                                                    </div>
                                                    <div class="form-group col-lg-9 no-padding">
                                                        <input type="password" data-i18n="i18n-placeholder"
                                                               placeholder="confirm password"
                                                               ng-model="accountdetails.confirmpassword"
                                                               class="input-xlarge form-control"
                                                               name="passwd1" id="newPasswd2" reset-field
                                                               data-smart-validate-input maxlength="127"
                                                               retypepassword="validate retype password">
                                                        <span class="help-inline small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="clearfix ng-scope"></div>
                                <div class="clear"></div>
                                <div id="accountType">
                                    <fieldset>
                                        <legend data-i18n="account type">
                                        </legend>
                                        <div class="form-group">
                                            <div class="btn-checkbox col-md-6 no-padding">
                                                <label class="ui-checkbox"><input id="customer" name="customer"
                                                                                  ng-model="role.customer"
                                                                                  value="Employer" type="checkbox"
                                                                                  ng-disabled='checkcustomer'
                                                                                  ng-hide="true"><span
                                                        class="text-acount"
                                                        data-i18n="customer"></span></label>
                                                <label class="ui-checkbox"><input id="supplier" name="supplier"
                                                                                  id="looking_for_work"
                                                                                  ng-model="role.supplier"
                                                                                  value="Worker"
                                                                                  ng-disabled='checksupllier'
                                                                                  type="checkbox"><span
                                                        class="text-acount"
                                                        data-i18n="supplier"></span></label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group col-md-12 no-padding">
                                    <button class="btn btn-primary pull-right margin-bottom-15"
                                            ng-click="saveSettingClick()" data-i18n="save">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>


