<div id='showcase' class="panel-body" ng-controller='showcase' ng-init="init()">
    <section>
        <h3>Dịch vụ của chúng tôi</h3>
        <div class="category-upsell-list row">
            <div class="category-upsell-item col-lg-2 col-md-4 col-xs-6">
                <a ng-click="categoryClick(1)" class="category-upsell-link">
                    <div>
                        <img src="images/icon_viecnhanh.png" class="img-thumbnail category-upsell-icon">
                    </div>
                        <span class="category-upsell-name">
                            Việc nhanh
                        </span>
                </a>
            </div>
            <div class="category-upsell-item col-lg-2 col-md-4 col-xs-6">
                <a ng-click="categoryClick(2)" class="category-upsell-link">
                    <div>
                        <img src="images/icon_nhansu.png" class="img-thumbnail category-upsell-icon">
                    </div>
                        <span class="category-upsell-name">
                            Nhân sự
                        </span>
                </a>
            </div>
            <div class="category-upsell-item col-lg-2 col-md-4 col-xs-6">
                <a ng-click="categoryClick(3)" class="category-upsell-link">
                    <div>
                        <img src="images/icon_giupviec.png" class="img-thumbnail category-upsell-icon">
                    </div>
                        <span class="category-upsell-name">
                            Giúp việc
                    </span>
                </a>
            </div>

            <div class="category-upsell-item col-lg-2 col-md-4 col-xs-6">
                <a ng-click="categoryClick(4)" class="category-upsell-link">
                    <div>
                        <img src="images/icon_nhansu.png" class="img-thumbnail category-upsell-icon">
                    </div>
                        <span class="category-upsell-name">
                            Gia sư
                    </span>
                </a>
            </div>
            <div class="category-upsell-item col-lg-2 col-md-4 col-xs-6">
                <a href="#/welcome" class="category-upsell-link">
                    <div>
                        <img src="images/icon_giupviec.png" class="img-thumbnail category-upsell-icon">
                    </div>
                        <span class="category-upsell-name">
                            Khảo sát
                        </span>
                </a>
            </div>
            <div class="category-upsell-item col-lg-2 col-md-4 col-xs-6">
                <a ng-click="categoryClick(6)" class="category-upsell-link">
                    <div>
                        <img src="images/icon_khac.png" class="img-thumbnail category-upsell-icon">
                    </div>
                        <span class="category-upsell-name">
                            Yêu cầu khác
                        </span>
                </a>
            </div>
        </div>

    </section>
</div>
