#showcase  .category-upsell-list {
  list-style:none
}

#showcase  .category-upsell-list .category-upsell-item {
  text-align:center;
  margin-bottom:20px;
}

#showcase  .category-upsell-list .category-upsell-name {
  display:block;
  /*font-size:20px;*/
  margin-bottom:10px;
  color:#3c3f47;
}

#showcase  .category-upsell-link:hover {
  text-decoration:none;
}


#showcase  .category-upsell-link:hover .category-upsell-icon {
  -webkit-box-shadow:0 0 0 6px #DDF2FA;
  -moz-box-shadow:0 0 0 6px #DDF2FA;
  box-shadow:0 0 0 6px #DDF2FA;
  -moz-box-shadow:0 0 0 6px #DDF2FA,transparent 0 0 0;
  -webkit-box-shadow:0 0 0 6px #DDF2FA,transparent 0 0 0;
  box-shadow:0 0 0 6px #DDF2FA,transparent 0 0 0;
}


#showcase  .category-upsell-link:hover .category-upsell-icon::after {
  -webkit-transform:scale(.9);
  -moz-transform:scale(.9);
  -ms-transform:scale(.9);
  -o-transform:scale(.9);
  transform:scale(.9);
  border:2px solid #99daf3;
  top:-1px;
  left:-1px;
  opacity:.003;
  filter:alpha(opacity=0.3);
  -moz-opacity:.3;
  -khtml-opacity:.3;
  -webkit-opacity:.3;
  opacity:.3;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);filter:alpha(opacity=30);
}
#showcase  .category-upsell-icon {
  position: relative;
  display: block;
  background-color: #ffffff !important;
  margin: 0 auto 10px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff,transparent 0 0 0;
  -webkit-box-shadow: 0 0 0 0 #fff,transparent 0 0 0;
  box-shadow: 0 0 0 0 #fff,transparent 0 0 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#showcase  .category-upsell-icon::after {
 position:absolute;
 top:0;
 left:0;
 content:"";
 display:block;
 width:148px;
 height:148px;
 border:2px solid #c8c9cc;
 -ms-border-radius:100px;
 -o-border-radius:100px;
 -webkit-border-radius:100px;
 -moz-border-radius:100px;
 border-radius:100px;
 -webkit-transition:all .1s ease-out;
 -moz-transition:all .1s ease-out;
 -o-transition:all .1s ease-out;
 -ms-transition:all .1s ease-out;
 transition:all .1s ease-out
}

#showcase  .category-upsell-price{
    /*font-size:15px;*/
    color:#33b5e6
}

#showcase  [class^="category-icon-"] {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 48px;
}

