<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id='detailpost' ng-controller='detailpost' ng-init="init()">
    <section style="background-color: #fff;">
        <div class="panel-body no-padding">
            <smart-tab>
                <div class="ui-tab-container">
                    <ul class="nav nav-tabs padding-l-r">
                        <li class="active"><a href="#newOrder" data-toggle="tab" data-ng-click="reloadNewOrder()"><i
                                class="fa fa-upload"></i> <span data-i18n="list order"></span></a></li>
                        <li><a href="#finishOrder" data-toggle="tab" data-ng-click="reloadFinishOrder()"><i
                                class="fa fa-credit-card"></i> <span data-i18n="list payment"></span></a></li>
                        <li><a href="#completeOrder" data-toggle="tab" data-ng-click="reloadCompleteOrder()"><i
                                class="fa fa-check-square-o"></i> <span data-i18n="list complete"></span><div class="badge badge-info positionIcon" ng-show="hasNotification" ng-bind="newNotification"></div></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="newOrder">
                            <table datatable-basic on-selection="showDetail" show-hidden mouseover-apply="Desktop" row-index="indexChange" visibility-hidden
                                   type="remote" click-apply="SmartDevice" on-mouseover="formatContent" offset-height="81" row-data-change-callback="notifyChange"
                                   table-options="newOrder" class="datatable table table-striped table-bordered table-hover">
                                <thead class="hide-when-mobile">
                                <tr>
                                    <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                            data-i18n="post id"></span></th>
                                    <th class="text-center verticalMiddle"><span data-i18n="name"></span></th>
                                    <th data-hide="phone,tablet,desktop"><span data-i18n="description"></span></th>
                                    <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                            data-i18n="total proposal"></span></th>
                                    <th data-hide="phone,tablet,desktop"><span data-i18n="skills required"></span></th>
                                    <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                            data-i18n="kind"></span></th>
                                    <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                            data-i18n="post deal"></span></th>
                                    <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                            data-i18n="expired date"></span></th>
                                    <th data-hide="phone,tablet,desktop"><span data-i18n="city"></span></th>
                                    <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                            data-i18n="status"></span></th>
                                    <th data-hide="phone,tablet,desktop"></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane" id="finishOrder">
                            <table datatable-basic on-selection="showDetail" show-hidden mouseover-apply="Desktop" visibility-hidden
                                   type="remote" click-apply="SmartDevice" on-mouseover="formatContent" offset-height="81"
                                   table-options="finishOrder" class="datatable table table-striped table-bordered table-hover">
                                <thead class="hide-when-mobile">
                                <tr>
                                    <th class="text-center verticalMiddle"><span data-i18n="transaction id"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="post id"></span>
                                    </th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="name"></span></th>
                                    <th data-hide="phone,tablet,desktop"><span data-i18n="content"></span>
                                    </th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                            data-i18n="total payment"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                            data-i18n="payment date"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="status"></span>
                                    </th>
                                    <th data-hide="phone,tablet,desktop"></th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane" id="completeOrder">
                            <table datatable-basic on-selection="showDetail" visibility-hidden
                                   type="remote" click-apply="SmartDevice"  offset-height="81"
                                   table-options="completeOrder" class="datatable table table-striped table-bordered table-hover">
                                <thead class="hide-when-mobile">
                                <tr>
                                    <th class="text-center verticalMiddle"><span data-i18n="post id"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="name"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="proposal id"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="proposer"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="email address"></span></th>
                                    <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="phone Number"></span></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </smart-tab>
        </div>
    </section>
</div>