.dataTable tbody tr td .promotions [data-promotion='so_email'] {
    background: #eb860e;
    -moz-box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    box-shadow: 0 1px 0 #5b3405, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #5b3405;
    -moz-box-shadow: 0 1px 0 #5b3405;
    box-shadow: 0 1px 0 #5b3405;
}
.dataTable tbody tr td .promotions [data-promotion='so_email']:first-child:before {
    border-top-color: #eb860e !important;
}

.dataTable tbody tr td .promotions [data-promotion='so_sms'] {
    background: #ffa33b;
    -moz-box-shadow: 0 1px 0 #a15500, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #a15500, transparent 0 0 0;
    box-shadow: 0 1px 0 #a15500, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #a15500;
    -moz-box-shadow: 0 1px 0 #a15500;
    box-shadow: 0 1px 0 #a15500;
}

.dataTable tbody tr td .promotions [data-promotion='so_sms']:first-child:before {
    border-top-color: #ffa33b;
}

.dataTable tbody tr td .promotions [data-promotion='so_redbold'] {
    background: #d22c02;
    -moz-box-shadow: 0 1px 0 #3a0c01, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #3a0c01, transparent 0 0 0;
    box-shadow: 0 1px 0 #3a0c01, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #3a0c01;
    -moz-box-shadow: 0 1px 0 #3a0c01;
    box-shadow: 0 1px 0 #3a0c01;
}

.dataTable tbody tr td .promotions [data-promotion='so_redbold']:first-child:before {
    border-top-color: #d22c02;
}

@media (max-width: 768px) {
    .dataTable tbody tr td .promotions {
        margin: -10px 0 4px -16px;
    }
}


@media (max-width: 768px) {
    #detailpost .columnTitle {
        text-align: left!important;
    }
    #detailpost .columnValue {
        text-align: left!important;
    }
}


#detailpost .content-mobile {
    font-size: 12px;
}

#detailpost .footer-pull-left-mobile {
    color:#1357aa;
}

#detailpost .footer-pull-right-mobile {
    font-size: 10px;
}
#detailpost .padding-l-r{
    padding-left: 0px;
    padding-right: 10px;
}

#detailpost .verticalMiddle{
    vertical-align: middle;
}
#detailpost .promotions{
    text-align: left!important;
}

@media (min-width: 767px){
    #detailpost smart-tab .ui-tab-container ul > li.active > a{
        background-color: #ffffff !important;
    }
    #detailpost smart-tab .ui-tab-container ul > li.active.paginate_button > a{
        background-color: #1357aa !important;
    }
    #detailpost smart-tab li > a{
        color: #333333;
    }
}

#detailpost .positionIcon
{
    position: relative;
    left: 1px;
    top: -8px;
}

#detailpost .padding-left-2{
    padding-left: 2px!important;
}

#detailpost .padding-right-2{
    padding-right: 2px!important;
}

#detailpost .padding-top-5{
    padding-top: 5px!important;
}




