<div ng-controller="container" ng-init="init();">  
  <!-- Panels -->
  <div ng-repeat="(name, panel) in panel.panels" ng-hide="panel.height == '0px' || panel.hide" class="row-fluid panel">
    <!-- Error Panel -->
    <div class="row-fluid">
      <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
        <a class="close" ng-click="panel.error=false">&times;</a>
      </div>
    </div>
    <!-- Content Panel -->
    <div class="row-fluid">
      <mobile-panel type="panel.type"></mobile-panel>
    </div>
  </div>
  <markdown ng-show="ready && panel.mode == 'markdown'"></markdown>
</div>