

#switchlogin .btn-facebook {
  background-color: #3b5998 !important;
  background-image: none !important;
  color: #fff !important;
  text-shadow: 0 -1px transparent !important;
  font-weight: bold !important;
}
#switchlogin .btn-user {
  /*font-size: 15px;*/
}

#switchlogin .forgot-password-toggle {
  display: inline-block;
  width: 50%;
  text-align: right;
  /*font-size: 14px;*/
}

#switchlogin .hr {
  position: relative;
  width: 70%;
  height: 8px;
  margin: 21px 15% 30px;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
  box-shadow: 0 1px 0 #fff,transparent 0 0 0;
  border-bottom: 1px solid #c3c4c7;
  text-align: center;
}

#switchlogin .hr .inner {
  background: #f4f4f4;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  width: auto;
  padding: 9px 10px;
  font-family: "Georgia","Times","Times New Roman",serif;
  /*font-size: 16px;*/
  font-style: italic;
  line-height: 0;
}


#switchlogin .btn-checkbox
{
    background-color: transparent;
    border-color: #104b93;
}
#switchlogin .icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  /*font-size: 18px;*/
  padding: 10px 16px 10px 40px;
}

#switchlogin .icon-addon .fa, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon.addon-md .glyphicon {
  position: absolute;
  z-index: 2;
  left: 10px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

#switchlogin .icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
  /*font-size: 18px;*/
  margin-left: 0;
  left: 25px;
  top: 4px;
}

#switchlogin .margin-10{
  margin: 10px;
}

#switchlogin .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#switchlogin .no-padding{
    padding: 0px!important;
}
#switchlogin .select2-choices li{
    width:auto;
}
#switchlogin .padding-bottom20{
    padding-bottom: 20px!important;
}
#switchlogin .bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}
#switchlogin .bootstrapWizard a:active, .bootstrapWizard a:focus, .bootstrapWizard a:hover {
    text-decoration: none;
}
#switchlogin .bootstrapWizard li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0;
}
#switchlogin .bootstrapWizard li:before {
    border-top: 3px solid #55606E;
    content: "";
    display: block;
    /*font-size: 0;*/
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1;
}
#switchlogin .bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%}
#switchlogin .bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%}
#switchlogin .bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E;
}
#switchlogin .bootstrapWizard li .step i {
    /*font-size: 10px;*/
    font-weight: 400;
    position: relative;
    top: -1.5px;
}
#switchlogin .bootstrapWizard li .step {
    background: #B2B5B9;
    color: #fff;
    display: inline;
    /*font-size: 15px;*/
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}
#switchlogin .bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step {
    background: #2FB3E9;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    /*font-size: 15px;*/
    border-radius: 50%;
    border: 3px solid #55606E;
}
#switchlogin .bootstrapWizard li.active .title, .bootstrapWizard li.complete .title {
    color: #2B3D53;
}
#switchlogin .bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    /*font-size: 13px;*/
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104;
    padding-left:0px;
}
#switchlogin .wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}
#switchlogin .wizard-actions li {
    display: inline;
}
#switchlogin .tab-content.transparent {
    background-color: transparent;
}


#switchlogin h3 {
  display: block;
  /*font-size: 19px;*/
  font-weight: 400;
  margin: 20px 0;
  line-height: normal;
}
#switchlogin .tab-content>.tab-pane {
  display: none;
}
#switchlogin .tab-content>.active {
  display: block!important;
}

@media (min-width: 768px) {
  .bootstrapWizard li {
    float: none;
    width: 100%;
    text-align: left;
    margin-top: 40px;
  }
  .bootstrapWizard li:before {
    border: none;
  }
  .bootstrapWizard li .title{
    display: inline;
    position: initial;
    /*font-size: 20px;*/
    padding-left:20px;
  }
  .bootstrapWizard li .step, .bootstrapWizard li.complete .step {
    background: #2FB3E9;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    /*font-size: 15px;*/
    border-radius: 50%;
    border: 3px solid #55606E;
  }
}

.form-group label{
  color:#2B3D53;
}
.no-padding{
    padding: 0px!important;
}
.select2-choices li{
    width:auto;
}
#switchlogin .padding-bottom20{
    padding-bottom: 20px!important;
}