<div ng-controller='switchlogin' id="switchlogin" ng-init="init()">
    <section style="padding: 50px 0px;background-color: #f4f4f4;">
        <div class="container">


            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-facebook"
                            ng-click="authenticate('facebook')">
                        <span class="fa fa-facebook"></span>
                        <span>Login with Facebook</span>
                    </button>
                </div>
                <div class="hr pull-left">
                    <div class="inner">or</div>
                </div>


                <div class="form-group col-md-8 col-sm-offset-4 ">
                    <div id="switchLogin" class="btn-group padding-bottom20">

                        <button type="button" id="hasAccount" class="btn btn-lg btn-line-primary active"
                                ng-click='setSelection("return", $event)'>Tôi đã có tài khoản
                        </button>
                        <button type="button" id="nothasAccount" class="btn btn-lg btn-line-primary btn-margin"
                                ng-click='setSelection("new", $event)'>Tôi là ngừời mới
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="animate-switch-container" ng-switch on="mode.selection">
                    <div class="animate-switch" ng-switch-when="return">
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-lg"><label for="email"
                                                                                class="glyphicon glyphicon-user"
                                                                                rel="tooltip"
                                                                                title="email"></label></span>
                                <input type="text" ng-model="account.username" class="form-control input-lg"
                                       placeholder="Username or Email">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-lg"><label for="password"
                                                                                class="glyphicon glyphicon-lock"
                                                                                rel="tooltip"
                                                                                title="email"></label></span>
                                <input type="password" class="form-control input-lg" ng-model="account.password"
                                       placeholder="Password">
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="checkbox">
                                <label class="remember-me">
                                    Remember me<input id="savelogin" type="checkbox" name="savelogin">
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4 form-group">
                            <button class="btn btn-primary btn-lg btn-action" ng-click="showProjects()">Login</button>
                            <a href="#" class="forgot-password-toggle" id="forgot-password-toggle">Forgot password?</a>
                        </div>
                        <div class="hr pull-left"></div>
                        <p class="col-md-4 col-md-offset-4 form-group">Don't have an account? <a href="#"
                                                                                                 data-section-toggle="signup">Sign
                            up now!</a></p>

                    </div>
                    <div class="animate-switch" ng-switch-when="new">
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-lg"><label for="email"
                                                                                class="glyphicon glyphicon-envelope"
                                                                                rel="tooltip"
                                                                                title="email"></label></span>
                                <input type="text" ng-model="newAccount.email" class="form-control input-lg"
                                       placeholder="Email">
                            </div>

                        </div>
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-lg"><label for="username"
                                                                                class="glyphicon glyphicon-user"
                                                                                rel="tooltip"
                                                                                title="username"></label></span>
                                <input type="text" ng-model="newAccount.username" class="form-control input-lg"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-lg"><label for="password"
                                                                                class="glyphicon glyphicon-lock"
                                                                                rel="tooltip"
                                                                                title="email"></label></span>
                                <input type="password" class="form-control input-lg" ng-model="newAccount.password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-lg"><label for="password"
                                                                                class="glyphicon glyphicon-lock"
                                                                                rel="tooltip"
                                                                                title="email"></label></span>
                                <input type="password" class="form-control input-lg" ng-model="retypepassword"
                                       placeholder="Re-Type Password">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4 form-group text-center">
                        <div class="btn-group btn-radio">

                            <button type="button" class="btn btn-lg btn-checkbox">
                                <label class="ui-checkbox"><input name="customer" ng-model="role.customer"
                                                                  value="Employer" type="checkbox"><span>Customer</span></label>
                            </button>
                            <button type="button" class="btn btn-lg btn-checkbox">
                                <label class="ui-checkbox"><input name="supplier" id="looking_for_work"
                                                                  ng-model="role.supplier" value="Worker"
                                                                  type="checkbox"><span>Supplier</span></label>
                            </button>
                        </div>
                            </div>
                        <div class="col-md-4 col-md-offset-4 form-group text-center">
                            <button class="btn btn-primary btn-lg btn-action" ng-click="signupClick()">Tạo tài khoản
                            </button>

                        </div>
                        <div class="hr pull-left"></div>
                        <p class="col-md-4 col-md-offset-4 form-group text-center">Bằng việc đăng kí, bạn xác nhận đã
                            đồng ý với <a href="#" data-section-toggle="signup">Điều khoản và điều kiện </a>và <a
                                    href="#" target="_blank"> Chính sách quyền riêng tư </a>
                        </p>
                    </div>


                </div>
            </div>


        </div>


    </section>
    <!--/#services-->
</div>