<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id='viewdetailpost' ng-controller='viewdetailpost' ng-init="init()">
<section class="panel panel-default">
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
        data-i18n="view detail"></span></strong>
</div>
<div class="panel-body">
<div id="titleDetail" class="col-md-12 no-padding padding-bot10 hide" ng-show="!isValue">
    <div>
        <h2 class="title-mobile">{{id}}  {{titleViewdetailpost}}</h2>
    </div>
    <div class="pull-left input-sm no-padding status-mobile">
        <div class="col-xs-12 no-padding active-status-opening non-display label-status"><span data-i18n="status"></span>: <span data-i18n="opening"></span></div>
        <div class="col-xs-12 no-padding active-status-bidding non-display label-status"><span data-i18n="status"></span>: <span data-i18n="bidding"></span></div>
        <div class="col-xs-12 no-padding active-status-closed non-display label-status"><span data-i18n="status"></span>: <span data-i18n="closed"></span></div>
        <!--<div class="col-xs-12 active-status-unpaid non-display"><span data-i18n="unpaid"></span></div>-->
        <div class="col-xs-12 no-padding active-status-verifying non-display label-status"><span data-i18n="status"></span>: <span data-i18n="verifying"></span></div>
    </div>
    <div class="pull-left input-sm is-so-close non-display">
        <!--<a href="javascript:;" data-ng-click="deletePost(id)" class="padding-r5"><span-->
        <!--class="glyphicon glyphicon-trash"></span> <span-->
        <!--data-i18n="delete"></span></a>-->
        <a href="javascript:;" data-ng-click="extendPost(id)" class="padding-r5 is-so-close non-display"><span
                class="glyphicon glyphicon-time"></span> <span
                data-i18n="extend"></span></a>
        <!--<a href="javascript:;" data-ng-click="editPost(id)" class="padding-r5 {{displayStatusOrder}}"><span-->
        <!--class="glyphicon glyphicon-pencil"></span> <span-->
        <!--data-i18n="edit"></span></a>-->
        <a href="javascript:;" data-ng-click="closePost(id)" class="padding-r5 is-so-close non-display"><span
                class="glyphicon glyphicon-minus-sign"></span> <span
                data-i18n="close"></span></a>
    </div>
</div>

<div class="col-md-12 no-padding hidden-sm hidden-xs padding-bot10">
    <div class="col-md-12 border-wrapper text-center">
        <div class="col-md-3 no-padding">
            <div class="col-md-12 padding-l0-r10">
                <button class="btn btn-sm btn-primary col-md-12" data-ng-click="showInfo();" id="showInfo">
                    <span class="non-display" id="hideBrief" data-i18n="hide brief"></span>
                    <span id="viewBrief" data-i18n="view detail post"></span>
                    <span id="icon" class="glyphicon glyphicon-chevron-down pull-right"></span>
                </button>
            </div>
            <div class="col-md-12 padding-t6 padding-l0-r10">
                <button class="btn btn-sm btn-primary col-md-12 non-display" data-ng-click="showUpdateOrder();"
                        id="showUpdateOrder">
                    <span class="non-display" id="hideServices" data-i18n="hide service"></span>
                    <span id="viewService" data-i18n="view services improve"></span>
                    <span id="iconService" class="glyphicon glyphicon-chevron-down pull-right"></span></button>
            </div>


        </div>
        <div class="col-md-9 border-wrapper background-children">
            <div class="col-md-3 margin-t-b">
                <div><span data-i18n="total proposal"></span></div>
                <div class="color-primary DTTT_PrintMessage no-padding">{{proposalsMatched}}</div>
            </div>
            <div class="col-md-4 margin-t-b border-l border-r">
                <div><span data-i18n="proposals awaiting approval"></span></div>
                <div class="color-primary DTTT_PrintMessage no-padding">{{proposalsAwaiting}}</div>
            </div>
            <div class="col-md-3 margin-t-b border-r">
                <div><span data-i18n="proposal agreed"></span></div>
                <div class="color-primary DTTT_PrintMessage no-padding">{{proposalsAgreed}}</div>
            </div>
            <div class="margin-t-b">
                <div><span data-i18n="status"></span></div>
                <div class="active-status-opening non-display label-status"><span data-i18n="opening"></span></div>
                <div class="active-status-bidding non-display label-status"><span data-i18n="bidding"></span></div>
                <div class="active-status-closed non-display label-status"><span data-i18n="closed"></span></div>
                <!--<div class="active-status-unpaid non-display label-status"><span data-i18n="unpaid"></span></div>-->
                <div class="active-status-verifying non-display label-status"><span data-i18n="verifying"></span></div>
            </div>
        </div>
    </div>
</div>
<div id="btnBidinfo" class="ui-tab-container non-display view-list-bidding padding-left2px hide">
    <ul class="nav nav-tabs hidden-lg hidden-md hidden-sm no-padding">
        <li class="padding-l0-r10 no-margin"><a data-toggle="tab"><span style="padding-bottom: 5px;" class="pull-left" data-i18n="view bidding"></span></a></li>
    </ul>
</div>
<div id="contentDetail" class="row no-margin padding-left2px hide">
    <div class="col-xs-12 no-padding hidden-lg hidden-md">
        <div class="col-xs-12 no-padding set-height">
            <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-primary">
                <accordion-group is-open="false">
                    <accordion-heading><span data-i18n="view detail"></span></accordion-heading>
                    <div class="col-xs-12"><strong><span data-i18n="total proposal"></span></strong></div>
                    <div class="col-xs-12 cell DTTT_PrintMessage color-primary"><span>{{proposalsMatched}}</span></div>
                    <div class="col-xs-12"><strong><span data-i18n="proposals awaiting approval"></span></strong></div>
                    <div class="col-xs-12 cell DTTT_PrintMessage color-primary"><span>{{proposalsAwaiting}}</span></div>
                    <div class="col-xs-12"><strong><span data-i18n="proposal agreed"></span></strong></div>
                    <div class="col-xs-12 cell DTTT_PrintMessage color-primary"><span>{{proposalsAgreed}}</span></div>
                    <div class="col-xs-12"><strong><span data-i18n="services"></span></strong></div>
                    <div class="col-xs-12 cell"><span data-i18n="{{services}}"></span></div>
                    <div class="col-xs-12"><strong><span data-i18n="description"></span></strong></div>
                    <div class="col-xs-12 cell"><span ng-bind-html="description"></span></div>
                    <div class="col-xs-12"><strong><span data-i18n="city"></span></strong></div>
                    <div class="col-xs-12 cell"><span>{{city}}</span></div>
                    <div class="col-xs-12 hide-headhunt"><strong><span data-i18n="post deal"></span></strong></div>
                    <div class="col-xs-12 cell hide-headhunt"><span>{{postDeal}}</span></div>
                    <div class="col-xs-12 show-headhunt non-display"><strong><span data-i18n="type"></span></strong>
                    </div>
                    <div class="col-xs-12 cell show-headhunt non-display info-headhunt"></div>
                    <div class="col-xs-12 non-display hide-is-not-content"><strong><span
                            data-i18n="skills required"></span></strong></div>
                    <div class="col-xs-12 cell non-display hide-is-not-content"><span>{{skills}}</span></div>
                    <div class="col-xs-12 show-hide-helper non-display helper-work-type"><strong><span
                            data-i18n="work type"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-work-type"><span>{{workType}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-helper non-display helper-start-date-time"><strong><span
                            data-i18n="start date helper"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-start-date-time"><span>{{startDateHelper}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-helper non-display helper-salary"><strong><span
                            data-i18n="post currency helper"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-salary">
                        <span>{{postCurrencyHelper}}</span></div>
                    <div class="col-xs-12 show-hide-helper non-display helper-location"><strong><span
                            data-i18n="location"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-helper non-display helper-location"><span>{{location}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-quick non-display quick-work-type"><strong><span
                            data-i18n="services more"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-work-type">
                        <span>{{servicesMore}}</span></div>
                    <div class="col-xs-12 show-hide-quick non-display quick-start-date-time"><strong><span
                            data-i18n="start date helper"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-start-date-time"><span>{{startDateQuick}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-quick non-display quick-salary"><strong><span
                            data-i18n="price service label"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-salary"><span>{{priceService}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-quick non-display quick-location"><strong><span
                            data-i18n="location"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-quick non-display quick-location"><span>{{location}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-start-date-time"><strong><span
                            data-i18n="time tutoring"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-start-date-time"><span>{{startDate}}</span>
                    </div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-gender"><strong><span
                            data-i18n="gender"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-gender"><span
                            data-i18n="{{gender}}"></span></div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-career"><strong><span
                            data-i18n="career"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-career"><span
                            data-i18n="{{career}}"></span></div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-salary"><strong><span
                            data-i18n="salary tutoring"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-salary">
                        <span>{{salaryTutoring}}</span></div>
                    <div class="col-xs-12 show-hide-tutoring non-display tutoring-location"><strong><span
                            data-i18n="location"></span></strong></div>
                    <div class="col-xs-12 cell show-hide-tutoring non-display tutoring-location">
                        <span>{{location}}</span></div>
                    <div class="col-xs-12"><strong><span data-i18n="expired date"></span></strong></div>
                    <div class="col-xs-12"><span>{{expiredDate}}</span></div>
                    <!--<div class="col-xs-12"><strong><span data-i18n="status"></span></strong></div>-->
                    <!--<div class="col-xs-12 active-status-opening non-display"><span data-i18n="opening"></span></div>-->
                    <!--<div class="col-xs-12 active-status-bidding non-display"><span data-i18n="bidding"></span></div>-->
                    <!--<div class="col-xs-12 active-status-closed non-display"><span data-i18n="closed"></span></div>-->
                    <!--&lt;!&ndash;<div class="col-xs-12 active-status-unpaid non-display"><span data-i18n="unpaid"></span></div>&ndash;&gt;-->
                    <!--<div class="col-xs-12 active-status-verifying non-display"><span data-i18n="verifying"></span></div>-->
                </accordion-group>
                <accordion-group id="upgradeOrderMobile" class="non-display" is-open="isOpen">
                    <accordion-heading><span data-i18n="view services improve"></span></accordion-heading>
                    <table datatable-basic table-options="custom" on-selection show-hidden
                           class="table table-striped table-bordered">
                        <thead class="hidden-lg hidden-md">
                        <tr>
                            <th></th>
                            <th class="text-center"><span data-i18n="kind"></span></th>
                            <th data-hide="phone,tablet,desktop"><span data-i18n="description"></span></th>
                            <th class="text-center"><span data-i18n="price"></span></th>
                            <th data-hide="phone"><span data-i18n="quantity"></span></th>
                            <th data-hide="phone" class="text-center"><span data-i18n="total"></span></th>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-xs-12 no-padding payment-addon-service non-display">
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-4">
                                <label data-i18n="total payment"></label>
                            </div>
                            <div class="col-xs-5 no-padding">
                                <label class="price">{{totalPayment}}</label>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <a data-ng-click="hrefPayment()"
                                   class="pull-right btn btn-xs margin-r-5 btn-primary "><span
                                        data-i18n="payment"></span></a>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>

<div class="non-display no-padding col-xs-12 background-children hidden-sm hidden-xs padding-bot10"
     id="updateOrder">
    <table datatable-basic table-options="custom" offset-height="170"
           class="table table-striped table-bordered table-hover">
        <thead class="hidden-xs hidden-sm">
        <tr>
            <th></th>
            <th data-class="expand" class="text-center"><span data-i18n="kind"></span></th>
            <th data-hide="phone" class="text-center"><span data-i18n="description"></span></th>
            <th class="text-center"><span data-i18n="price"></span></th>
            <th data-hide="phone"><span data-i18n="quantity"></span></th>
            <th data-hide="phone" class="text-center"><span data-i18n="total"></span></th>
        </tr>
        </thead>
    </table>
    <div class="col-md-12 no-padding payment-addon-service non-display">
        <div class="col-md-12 no-padding">
            <div class="col-md-5 pull-right no-padding">
                <div class="col-md-6 no-padding">
                    <label class="pull-right" data-i18n="total payment"></label>
                </div>
                <div class="col-md-6 pull-right no-padding">
                    <label class="pull-right price">{{totalPayment}}</label>
                </div>
            </div>

        </div>
        <div class="col-md-12 no-padding">
            <a data-ng-click="hrefPayment()" class="pull-right btn btn-primary "><span data-i18n="payment"></span></a>
        </div>
    </div>
</div>

<div class="col-md-12 padding-bot10 padding-t6 no-padding">
    <div class="non-display border-wrapper background-children col-md-12 hidden-sm hidden-xs"
         id="detailInfo">
        <div class="col-md-12">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="description"></span></div>
            <div class="col-md-10 no-padding"><span ng-bind-html="description"></span></div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="services"></span></div>
            <div class="col-md-10 no-padding"><span data-i18n="{{services}}"></span></div>
        </div>

        <div class="col-md-12 hide-headhunt">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="post deal"></span></div>
            <div class=" col-md-10 no-padding"><span>{{postDeal}}</span></div>
        </div>

        <div class="non-display col-md-12 show-headhunt">
            <div class="col-md-2 no-padding"><span class="toast-title" data-i18n="type"></span></div>
            <div class=" col-md-10 no-padding info-headhunt"></div>
        </div>

        <div class="col-md-12">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="city"></span></div>
            <div class=" col-md-10 no-padding"><span>{{city}}</span></div>
        </div>

        <div class="non-display col-md-12 hide-is-not-content">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="skills"></span></div>
            <div class=" col-md-10 no-padding"><span>{{skills}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-work-type">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="work type"></span></div>
            <div class=" col-md-10 no-padding"><span>{{workType}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-start-date-time">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="start date helper"></span></div>
            <div class=" col-md-10 no-padding"><span>{{startDateHelper}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-salary">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="post currency helper"></span></div>
            <div class=" col-md-10 no-padding"><span>{{postCurrencyHelper}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-helper helper-location">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="location"></span></div>
            <div class=" col-md-10 no-padding"><span>{{location}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-quick quick-work-type">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="services more"></span></div>
            <div class=" col-md-10 no-padding"><span>{{servicesMore}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-quick quick-start-date-time">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="start date helper"></span></div>
            <div class=" col-md-10 no-padding"><span>{{startDateQuick}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-quick quick-salary">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="price service label"></span></div>
            <div class=" col-md-10 no-padding"><span>{{priceService}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-quick quick-location">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="location"></span></div>
            <div class=" col-md-10 no-padding"><span>{{location}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-start-date-time">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="time tutoring"></span></div>
            <div class=" col-md-10 no-padding"><span>{{startDate}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-gender">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="gender"></span></div>
            <div class=" col-md-10 no-padding"><span data-i18n="{{gender}}"></span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-career">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="career"></span></div>
            <div class=" col-md-10 no-padding"><span data-i18n="{{career}}"></span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-salary">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="salary tutoring"></span></div>
            <div class=" col-md-10 no-padding"><span>{{salaryTutoring}}</span></div>
        </div>

        <div class="non-display col-md-12 show-hide-tutoring tutoring-location">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="location"></span></div>
            <div class=" col-md-10 no-padding"><span>{{location}}</span></div>
        </div>

        <div class="col-md-12">
            <div class=" col-md-2 no-padding"><span class="toast-title" data-i18n="expired date"></span></div>
            <div class=" col-md-10 no-padding"><span>{{expiredDate}}</span></div>
        </div>

    </div>
</div>



<div class="col-md-12 no-padding" id="listUserBid">
    <table datatable-basic on-selection="selectionProposal" type="remote" table-options="userBid" visibility-hidden
           rows-selected="selection" offset-height="81" show-hidden mouseover-apply="Desktop" on-mouseover="formatContent" click-apply="SmartDevice"
           class="datatable table table-striped table-bordered table-hover" id="tbUserBid">
        <thead class="hide-when-mobile">
        <tr>
            <th data-hide="phone,tablet" class="text-center verticalMiddle"><span data-i18n="proposal id"></span></th>
            <th class="text-center verticalMiddle"><span data-i18n="proposal title"></span></th>
            <th data-hide="phone,tablet" class="text-center verticalMiddle"><span data-i18n="bid proposal"></span></th>
            <th data-hide="phone,tablet" class="text-center verticalMiddle"><span data-i18n="proposer"></span></th>
            <th data-hide="phone,tablet,desktop" class="text-center verticalMiddle"><span
                    data-i18n="description"></span></th>
            <!--<th data-hide="phone,tablet"><span data-i18n="proposal"></span></th>-->

            <th data-hide="phone,tablet,desktop"><span data-i18n="list cv"></span></th>
            <th data-hide="phone,tablet,desktop"><span data-i18n="type"></span></th>
            <th data-hide="phone,tablet" data-i18n="selected" class="text-center verticalMiddle"></th>
            <th data-hide="phone,tablet,desktop"></th>
        </tr>
        </thead>
    </table>

</div>

<div class="col-md-12 no-padding hidden-xs">
    <a id="btnPayment" href="javascript:void(0);" data-ng-click="submitAwardOrder()"
                                    class="btn btn-primary btn-md btn-gap pull-right non-display"><span
        data-i18n="award order"></span></a>
    <span ng-back class="hidden-xs"></span>
</div>


<div class="col-xs-12 non-display" id="listCV">
    <table datatable-basic on-selection="viewDetailCV" table-options="listCV" show-hidden mouseover-apply="Desktop"
           click-apply="SmartDevice" class="datatable table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center verticalMiddle"><span data-i18n="first name"></span></th>
            <th class="text-center verticalMiddle"><span data-i18n="gender"></span></th>
            <th class="text-center verticalMiddle"><span data-i18n="experience year"></span></th>
            <th class="text-center verticalMiddle"><span data-i18n="skills"></span></th>
            <th data-hide="phone,tablet"><span data-i18n="yob"></span></th>
            <th data-hide="phone,tablet"><span data-i18n="join time"></span></th>
            <th data-hide="phone,tablet"><span data-i18n="note"></span></th>
        </tr>
        </thead>
    </table>
    <a ng-show="isTablet" class="btn btn-primary btn-gap pull-right" data-ng-click="previous()"><span data-i18n="previous"></span></a>
</div>

</div>
</section>
</div>