#viewdetailpost .emerald{
    border-bottom: 1px solid #00578a;
}

#viewdetailpost label > *{
    pointer-events: auto;
}

#viewdetailpost .img60_60{
    width: 60px;
    height: 60px;
}
#viewdetailpost .header-tiltle {
    /*font-size: 16px;*/
    font-weight: bold;
}

#viewdetailpost .content-mobile {
    font-size: 12px;
}

#viewdetailpost .footer-pull-left-mobile {
    /*font-size: 14px;*/
    font-weight: bold;
}

#viewdetailpost .footer-pull-right-mobile {
    font-size: 10px;
}

#viewdetailpost .border-wrapper{
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

#viewdetailpost .border-l{
    border-left: 1px solid #dddddd;
}

#viewdetailpost .border-r{
    border-right: 1px solid #dddddd;
}

#viewdetailpost .margin-t-b{
    margin-top:3px;
    margin-bottom: 3px;
}

#viewdetailpost .background-children{
   background-color: #fff !important;
}

#viewdetailpost .padding-t6{
    padding-top: 6px!important;
}

@media (max-width: 768px) {
    #viewdetailpost .padding-t6{
        padding-top: 0px!important;
    }
}

 #viewdetailpost .label-status{
    color: #1357aa;
    font-weight: 700;
 }

#viewdetailpost .padding-bot10{
    padding-bottom: 10px;
}


#viewdetailpost .padding-r5{
    padding-right: 5px;
}

#viewdetailpost .dataTables_filter label{
    width: 100%;
}

#viewdetailpost .dataTables_filter .input-group-addon{
    width: 11%;
}
#viewdetailpost .dt-toolbar {
    display: block;
    position: relative;
    padding: 0px;
    width: 100%;
    float: left;
    border-bottom: 0px;
    background: none;
    /*margin-bottom: 20px;*/
}

#viewdetailpost .dt-toolbar .col-sm-6{
    width: 100%;
    padding: 0px;
}

@media (max-width: 767px) {
    #viewdetailpost .panel-body {
        padding: 0px;
    }
    #viewdetailpost .padding-bot10{
        padding-bottom: 0px;
    }
    #titleDetail{
        padding-left: 15px!important;
    }
    #viewdetailpost .ui-accordion .panel-heading .panel-title > a{
        font-size: 13px!important;
    }
    #viewdetailpost h4{
        font-weight:normal!important;
    }
}

.position-img{
    position: relative;
    top: -5px;
}


#viewdetailpost .desc-scrollable{
    max-height: 100px;
    overflow-y: scroll;
}


#viewdetailpost .cell{
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

#viewdetailpost .header{
     font-weight: 700;
     border-bottom: 1px solid #DDDDDD;
     padding: 5px;
 }

#viewdetailpost .section{
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
}
#viewdetailpost .content{
    padding-top: 10px;
    padding-bottom: 10px;
}

#viewdetailpost accordion a{
    text-decoration: none;
}

#viewdetailpost .btn{
    white-space: normal !important;
}

#viewdetailpost .price_old{
    text-decoration: line-through;
}
#viewdetailpost .quantity{
    text-align:center;

}
#viewdetailpost .price{
    color: red;
    font-weight: 500;
}
#viewdetailpost .choose-proposal {
    margin: 0 0px 10px 45px!important;
}
#viewdetailpost .ui-checkbox {
    margin: 0 0px 10px 30px!important;
}

@media (max-width: 320px) {
    #viewdetailpost .ui-checkbox {
        /*margin: 0 -50px 10px 16px!important;*/
        font-size: 14px;
    }
}


@media (max-width: 769px) {
    #viewdetailpost .columnTitle {
        text-align: left!important;
    }
    #viewdetailpost .columnValue {
        text-align: left!important;
    }
}

#viewdetailpost .margin-r-5{
    margin-right: 5px;
}
#viewdetailpost .padding-l0-r10{
    padding-left: 0px!important;
    padding-right: 10px!important;
}

#updateOrder .dt-toolbar-footer{
    display: none !important;
    visibility: hidden !important;
}
#updateOrder .dt-toolbar{
    display: none !important;
    visibility: hidden !important;
}

#viewdetailpost .verticalMiddle{
    vertical-align: middle;
}
@media (max-width: 992px){
    #viewdetailpost div.panel > .panel-heading {
        padding: 0px!important;
    }
    #viewdetailpost .ui-accordion .panel-group .panel-heading + .panel-collapse .panel-body{
        padding: 0px!important;
    }
}
#viewdetailpost .dt-toolbar-footer{
    padding-left: 0px!important;
    padding-right: 0px!important;

}

@media (max-width: 767px){
    #viewdetailpost .ui-tab-container ul {
        background: none;
        padding: 0px 5px;
    }
    #viewdetailpost .ui-tab-container .tab-content {
        padding: 15px;
    }
    #viewdetailpost .btn-gap {
        margin: 5px 0px;
    }
    #viewdetailpost ul > li a:hover{
        /*background: none;*/
        border: 0px;
        color: #fff;
    }
    #viewdetailpost li > a {
        background: none !important;
        color: #fff;
    }
}
#viewdetailpost  ul.pagination > li.active.paginate_button > a{
    background-color: #1357aa !important;
}

#viewdetailpost .margin-t10{
    margin-top: 10px;
}
#viewdetailpost .color-row{
    background-color: inherit;
}


#listCV .dt-toolbar-footer{
    display: none !important;
    visibility: hidden !important;
}
#listCV .dt-toolbar{
    display: none !important;
    visibility: hidden !important;
}

@media (min-width: 769px){
    #viewdetailpost .hide-768{
        display: none !important;
    }
    #viewdetailpost .status-mobile{
        display: none!important;
    }
}
@media (max-width: 768px){
    #viewdetailpost .hide-768{
        display: block !important;
    }

     #tbUserBid > tbody > tr > td{
        border-left: none!important;
        border-right: none!important;
    }
}

@media (max-width: 768px){
    #viewdetailpost .is-so-close{
        float: right !important;
    }
    #viewdetailpost .label-status{
        font-size: 12px;
    }
    #viewdetailpost .input-sm{
        padding: 1px 10px;
    }

    #viewdetailpost .action-selection{
        vertical-align: middle;
    }
    #viewdetailpost .title-mobile{
        font-size: 20px;
    }
}










