#policy .margin-b-5{
    margin-bottom: 5px;
}

#policy .margin-b-15{
    margin-bottom: 15px;
}

#policy .no-padding-right{
    padding-right: 0px!important;
}
#policy .margin-l-15{
    margin-left: 15px;
}
#policy .margin-l-30{
    margin-left: 30px;
}