<div id='policy' ng-controller="policy" ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="terms conditions">Điều khoản và Điều kiện</span></strong>
        </div>
        <div class="panel-body" data-i18n="i18n-url" url="policy">

    </section>
</div>


