<div id='managecv' ng-controller="managecv" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading" ng-hide="hasParam"><strong><span class="glyphicon glyphicon-th"></span>
            <span data-i18n="manage cv"></span></strong></div>
        <form novalidate="novalidate" data-smart-validate-form id="formmanagecv">
            <div class="col-md-12 col-xs-12 form-group no-padding-moblie" id="content-addCV">

                <div class="col-md-8 hidden-xs hidden-sm padding-gap no-padding">
                    <label for="title"><span
                            data-i18n="my profile">Hồ sơ</span></label>
                </div>
                <div class="col-md-12 form-group col-xs-12 no-padding">
                    <div class="pull-left input-sm">

                        <a href="javascript:;" data-ng-click="addCV()" class="padding-r5"><span
                                class="glyphicon glyphicon-plus"></span> <span
                                data-i18n="add new cv">Thêm CV mới</span></a>&nbsp;&nbsp;


                        <a href="data/template CV_new.xlsx"
                           class="padding-r5" download><span
                                class="glyphicon glyphicon-download-alt"></span> <span data-i18n="download template CV">Tải CV mẫu</span></a>&nbsp;&nbsp;
                        <input type="file" id="fileUpload" accept=".xlsx,.xls"> <!-- actual file upload button -->
                        <a href="javascript:;" id="customButton" data-ng-click="toggleCV()" class="padding-r5"><span
                                class=" glyphicon glyphicon-upload"></span> <span
                                data-i18n="add file cv">Thêm file CV</span></a>&nbsp;&nbsp;

                    </div>

                </div>
                <div class="col-md-12 form-group col-xs-12 no-padding non-display" id="isUploaded">
                    <div class="col-md-4 col-xs-8 border-wrapper">
                        <span id="fileName" class="no-padding"></span> <!-- the file name of the selected file will be shown here -->
                    </div>
                    <div class="col-md-8 col-xs-4">
                        <button class="btn btn-primary cusomt-btn-small btn-small form-group margin-t-3px btn-gap pull-left"
                                ng-click="uploadCv()"
                                ><span data-i18n="upload cv">Đăng CV</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 tab-pane no-padding " id="tablecvSelected">
                    <table id="selectCV" datatable-basic on-mouseover="formatContent" show-hidden
                           type="remote" rows-selected="selection" on-selection="showDetail" offset-height="141"
                           click-apply="SmartDevice" on-mouseover="formatContent" table-options="selectCV"
                           mouseover-apply="Desktop" tableSetting="dataCV"
                           class="datatable table table-striped table-bordered table-hover">
                        <thead class="hidden-xs hidden-sm">
                        <tr>
                            <th class="text-center verticalMiddle"><span
                                    data-i18n="picture"></span></th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                    data-i18n="first name">Tên</span></th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="gender">Giới tính</span>
                            </th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="dob">Ngày sinh</span>
                            </th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span data-i18n="skill">Kỹ năng</span>
                            </th>
                            <th class="text-center verticalMiddle" data-hide="phone,tablet"><span
                                    data-i18n="experience year">Năm kinh nghiệm</span></th>
                            <th class="text-centers verticalMiddle" data-hide="phone,tablet,desktop"><span
                                    data-i18n="note">Ghi chú</span>
                            </th>
                            <th data-i18n="selected" class="text-center verticalMiddle hide-children" data-hide="phone,tablet"></th>
                            <th data-hide="phone,tablet,desktop"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12 col-xs-12 form-group padding-right-mobile margin-99 no-padding hide-when-mobile"
                     id="content-button">
                    <div class="form-group no-padding-right" ng-show="hasCV">
                        <button id="selected" ng-show="isParent"
                                class="btn btn-primary submitSettingsBtn form-group btn-payment margin-btn-submit btn-gap pull-right"
                                ng-click="selectedCv()"
                                ><span
                                data-i18n="select cv"></span>
                        </button>
                        <button id="cancel" ng-show="isParent"
                                class="btn btn-primary submitSettingsBtn form-group btn-payment margin-btn-submit btn-gap pull-right"
                                ng-click="cancel()"
                                ><span
                                data-i18n="cancel"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
</div>

