 .hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0}
 .hr-divider:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    content: ''}

#detailOrder .border-1{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
 #managecv .margin-checkbox{
     margin: 0 10px 10px 10px !important;
 }

 #managecv .margin-btn-submit{
     margin-right: 15px;

 }
 @media (max-width: 768px) {
     #managecv .columnTitle {
         text-align: left!important;
     }
     #managecv .columnValue {
         text-align: left!important;
     }
 }
 #managecv .width2percent
 {
     width:2%;
 }
 .position-img{
     position: relative;
     top: -5px;
 }
 #managecv .holder {
     position: absolute;
     margin: 7px 8px;
     color: #A3A3A3;
     cursor: auto;
     ffont-family: inherit;
     font-size: 11pt;
     z-index: 1;
 }

 #managecv .hr {
     position: relative;
     width: 70%;
     height: 8px;
     margin: 21px 15% 30px;
     -webkit-box-shadow: 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 0 #fff;
     box-shadow: 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     -webkit-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     border-bottom: 1px solid #c3c4c7;
     text-align: center;
 }
 #managecv .font-1{
     /*font-size:20px;*/
     color: #1357aa;
 }
 #managecv .padding-bot10{
       padding-bottom: 10px;
   }
 #managecv .no-padding-right{
     padding-right: 0px !important;
 }
 #managecv .padding-right10px{
     padding-right: 10px !important;
 }
 #managecv .border-2{
     border: 1px solid #767676;
     border-radius: 4px
 }
 #managecv .border-3{
     border-left: 1px solid black;
     border-right: 1px solid black;
 }
 #managecv .font-2{
     /*font-size:20px;*/
     color: greenyellow;
 }
 #managecv .margin-1 {
      margin-left: 65px;
      margin-top: 16px;

  }
 #managecv .margin-99 {
       margin-top: 25px;

   }
 #managecv .border-l{
     border-left: 1px solid #dddddd;
 }

 #managecv .border-r{
     border-right: 1px solid #dddddd;
 }

 #managecv .icon-bookmark {

     margin-top: 0px;
     /*font-size: 25px;*/

     margin-right: 14px;

 }

 #managecv  .background-children {
     background-color: #fff !important;
 }
 #managecv  .background-children {
     background-color: #fff !important;
 }
 #managecv  .padding-1{
     padding-top :10px;
     padding-bottom :10px;
 }
 #managecv .margin-t-b{
     margin-top:3px;
     margin-bottom: 3px;
     padding-right: 3px;
     padding-left: 3px;
 }
 #managecv .margin-3 {
     margin-left:10px;
 }
 #managecv .margin-7 {
     margin-left:15px;
 }
 #managecv .margin-4 {
     margin-left:45px;
 }
 #managecv .title-1{
     /*font-size: 20px;*/
 }
 #managecv .label-status{
     color: #8f4497;
     /*font-size: 20px;*/
 }
 .tooltip-inner {
     max-width: 150px;
     /* If max-width does not work, try using width instead */
     width: 150px;
 }
 #managecv .margin-2 {
     margin:5px 0px 5px 0px;
 }
 #managecv .margin-5 {
     margin-left: 18px;
     margin-bottom: 10px;
     margin-top:10px;
 }
 #managecv .margin-title {
     margin-left: 18px;
     margin-bottom: 0px !important;
     margin-top:0px !important;
 }
 #managecv .margin-6 {

     margin-bottom: 15px;
     margin-top:15px;
 }
 #managecv .margin-bottom0px {

     margin-bottom: 0px !important;

 }
 #managecv .margin-top0px {

     margin-top: 0px !important;

 }
 #managecv .margin-8 {
     margin-left: 30px;
     margin-top:20px;
 }
 #managecv.control-label {
     padding-top: 7px;
     margin-bottom: 0;
     text-align: right;}
 #managecv .padding-gap {
 padding-top: 15px !important;

 }
 #managecv .no-display {
     display: none !important;

 }
 #managecv .detailInfo {
    margin-left:-15px
 }
 #managecv .label-1 {
     margin-left: -20px;
     margin-right: 35px;
     /*font-size: 18px;*/
     color: #2B3D53;
 }
 #managecv .color-1 {
     color: #2f88cc !important;
 }
 #managecv .margin-left-title {
     margin-left: 25px;
 }
 #managecv .padding-bot-proposal {
     padding-bottom: 45px;
 }
 #managecv .col-center-block {
     float: none;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 #managecv .color-title {
     color: #8f4497 !important;
 }
 #managecv .margin-paid-to-you {
     margin-left:13px;
 }
 #managecv .border-wrapper{
     display: block;
     padding: 3px;
     border: 1px solid #dddddd;
     border-radius: 3px;
     background-color: #f5f5f5;
     position: relative;
     left: 10px;
  }
 #managecv .border-wrapper-children{
      display: block;
      padding: 6px;
      border: 1px solid #dddddd;
      border-radius: 3px;

  }

 @media (max-width: 996px) {
     #managecv .non-display-mobile
     {
         display: none;
     }
     .noFloat{
         float: none !important;
     }
     #managecv .margin-left-mobile{
         margin-left: 23px;

     }

     #managecv .padding-right-mobile{
         padding-right: 0px;

     }
     #managecv .row-mobile{

         margin-right: 15px;
     }
     #managecv .no-padding-moblie{
        padding:0px !important;
     }
     #managecv .padding-moblie-1{
         padding-right: 30px;
     }
     #managecv .margin-1-mobile{
         margin-top: 15px;
         margin-left:0px;
     }
     #managecv .no-margin-mobile{

         margin-left:-44px;
     }
     #managecv .margin-4-mobile{

         margin-right:45px;
         margin-bottom:15px;
     }


     #managecv .margin-title-mobile{
        margin-top:0px;
     }
     #managecv .margin-des-mobile{
         margin-left: 30px;
     }
     #managecv .margin-brn-mobile{
         margin-left:45px;
     }
 }
 #managecv .desc-scrollable{
     max-height: 100px;
     overflow-y: scroll;
 }
 #managecv .text-center{
     text-align: center;
 }
 #managecv .cell{
     border-bottom: 1px solid #DDDDDD;
     padding-bottom: 5px;
     padding-top: 5px;
     text-align: left;
 }
 #managecv .select2-choices li {
     width:auto;
 }
 #managecv .padding-bottom20{
     padding-bottom: 20px!important;
 }

 #managecv span::before {
     margin:0px!important;
 }

 #managecv span::after {
     left: 5px !important;
 }

 #managecv .select2-choices {
     padding-left: 11px !important;
 }

 #managecv .overwrite-title {
     color: #2B3D53;
     display: inline;
     position: initial;
     /*font-size: 20px;*/
 }

 @media (min-width: 768px){

     #managecv .bootstrapWizard .tab-provision li:first-child {
         margin-top:30px;
     }
     #managecv .bootstrapWizard .tab-provision li {
         float: none;
         width: 100%;
         text-align: left;
         margin-top: 10px;
         margin-bottom: 5px;

     }

     #managecv .tab-provision ul {
         margin-left:-40px;
     }

     #managecv .tab-provision .ui-checkbox {
         margin: 10px 20px 10px 0px;
     }

     #managecv .tab-provision ul > li {
         list-style:none;
         list-style-type: decimal;
     }
 }

 #managecv .tab-provision ul > li {
     list-style:none;
     list-style-type: decimal;
 }

 #managecv .animate-switch .form-group .dropzone {
     border: none;
 }

 #managecv .animate-switch .form-group .dropzone .file-input-wrapper {
     color: steelblue;
 }

 /*.parent-skills input{*/
 /*width: 100% !important;*/
 /*}*/

 div.ui-checkbox.no-margin{
     margin:0px !important;
 }

 .currency .input-group-btn select{
     width:100px;

 }
 .currency .input-group-btn select{
     /*border-left:0px;*/
 }

 .parent-skills input{
     height:40px !important;
 }
 #managecv .control-label {
     margin-top: 10px;
 }
 .career-label, gender-label{
     margin-top:0px;
 }

 .parent-skills input{
     /*font-size:18px;*/
     padding-left:15px;
 }

 #managecv .ui-checkbox small{
     /*font-size:14px;*/
     color:#767676;
 }

 .selecte-skill li{
     width:auto;
     margin-top:5px;
 }

 .selecte-skill .select2-container--open{
     z-index:0;
     position:inherit !important;

 }
 .select2-container--open{
     position:fixed !important;
     z-index: 9999999;

 }
 .pac-container{
     position:fixed !important;
 }

 .select2-container--default .select2-selection--multiple{
     border-radius:0px;
 }


 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
     color: #fff;
     cursor: pointer;
     display: inline-block;
     font-weight: bold;
     margin-left: 2px;
     line-height: 1;
     /*font-size: 18px*/
 }
 .form-group .btn-group label{
     color:#fff;
     font-weight:bold;
 }

 .padding-top28{
     padding-top:28px;
 }
 .margin-top10{
     margin-top:10px;
 }
 #managecv .center-col-md-12
 {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

 #managecv .no-padding-right {

     pdding-right: 0px !important;
 }
 #managecv .no-padding-left {

     pdding-left: 0px !important;
 }
 #managecv .no-padding-right-left {
     padding-left: 0px;
     pdding-right: 0px;
 }

 @media (max-width: 768px){
     #managecv .position-checkbox
     {
         position: relative !important;
         top: 30px !important;
     }
     #managecv div.panel > .panel-heading {
         padding: 0px!important;
     }
 }
 #fileUpload{
     display: none; /* do not display the actual file upload button */
 }

 #customButton{  /* style the fake upload button */
     padding: 5px;
     display: inline-block;
     cursor: pointer;
 }

 #managecv .cusomt-btn-small
 {
 margin-top: 0px !important;
 padding: 2px 13px !important;
 /*font-size: 13px !important;*/
 }
 #managecv .header-mobile
 {
     text-align: left;
 }
 #managecv .checkbox-mobile
 {
     position: relative;
     top: 20px;
 }
