<div id='footerInfo' class="panel-body" ng-controller='footerInfo' ng-init="init()">
    <div class="footer-main">
        <div class="col-md-12">
            <div>
                <ul class="social-media-links">
                    <li>
                        <a class="btn btn-social-icon btn-facebook social-media-link-fb"
                           href="https://www.facebook.com/" target="_blank" title="Vaber trên Facebook"><i
                                class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-twitter social-media-link-twitter"
                           href="https://twitter.com/"
                           target="_blank" title="Vaber trên Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-google-plus social-media-link-gplus" href="javascript:;"
                           target="_blank" title="Vaber trên Google Plus"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-youtube social-media-link-youtube"
                           href="https://www.youtube.com/" target="_blank" title="Vaber trên Youtube"><i
                                class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-rss social-media-link-rss" href="#" target="_blank"
                           title="Các công việc gần đây nhất"><i class="fa fa-rss"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-instagram social-media-link-instagram"
                           href="https://instagram.com/" target="_blank" title="Vaber trên Instagram"><i
                                class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-12 no-padding">
            <div class="footer-nav-section-list">
                <div class="footer-nav-section col-md-3 col-xs-6 col-sm-3">
                    <strong class="footer-nav-section-title">Mạng lưới</strong>
                    <a class="footer-nav-link" href="#">Dự án</a>
                    <a class="footer-nav-link" href="#">Các cuộc thi</a>
                    <a class="footer-nav-link" href="#">Dịch vụ</a>
                    <a class="footer-nav-link" href="#">Fantero</a>
                </div>
                <div class="footer-nav-section col-md-3 col-xs-6 col-sm-3">
                    <strong class="footer-nav-section-title">Giới thiệu</strong>
                    <a class="footer-nav-link" href="#">Giới thiệu về chúng tôi</a>
                    <a class="footer-nav-link" href="#">Phương thức hoạt động</a>
                    <a class="footer-nav-link" href="#">Mobile App</a>
                    <a class="footer-nav-link" href="#">Desktop App</a>
                </div>
                <div class="footer-nav-section col-md-3 col-xs-6 col-sm-3">
                    <strong class="footer-nav-section-title">Báo chí</strong>
                    <a class="footer-nav-link" href="#">Trong phần tin tức</a>
                    <a class="footer-nav-link" href="#">Thông cáo báo chí</a>
                    <a class="footer-nav-link" href="#">Phần thưởng</a>
                    <a class="footer-nav-link" href="#">Giấy chứng nhận</a>
                </div>
                <div class="footer-nav-section col-md-3 col-xs-6 col-sm-3">
                    <strong class="footer-nav-section-title">Liên hệ</strong>
                    <a class="footer-nav-link" href="#">Quảng cáo với chúng tôi</a>
                    <a class="footer-nav-link" href="#">Nghề nghiệp</a>
                    <a class="footer-nav-link" href="#">Community</a>
                    <a class="footer-nav-link" href="#">Chương trình liên kết</a>
                </div>
            </div>
        </div>

    </div>
</div>

