#footerInfo .footer-main {
    margin: 0 auto;
}
#footerInfo .footer-main:before,#footerInfo   .footer-main:after {
    display: table;
    content: "";
    line-height: 0}
#footerInfo  .footer-main:after {
    clear: both}
#footerInfo  .footer-main:before {
    content: '';
    display: block}
#footerInfo  .footer-main:after {
    content: '';
    display: table;
    clear: both}
#footerInfo  .footer-main .loading-icon [class*="fl-icon-"] {
    color: #7e8187}
#footerInfo  .footer-main .footer-logo {
    margin: 0 0 20px 5px;
    width: 140px;
    height: 43px;
    display: inline-block;
    text-indent: -99999px;
    background-image: url(/images/logo.png);
    background-size: 100% 100%;
    -ms-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn}


#footerInfo   .social-media-links {
    padding: 0;
    margin: 0}
#footerInfo   .social-media-links li {
    display: inline-block;
    margin-left: 9px}
#footerInfo   .social-media-links li:first-child {
    margin-left: 0}

#footerInfo   .default-footer .social-media-links {
    display: block;
    margin: 0 0 40px}
#footerInfo   .social-media-link-fb {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding:0px;
    font-size: 20px
    /*background: #3b5998}*/}
#footerInfo   .social-media-link-fb:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
/*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in}
#footerInfo   .social-media-link-fb:hover {
    text-decoration: none}
#footerInfo   .social-media-link-fb:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out}
#footerInfo   .social-media-link-fb [class*="fl-icon-"] {
    position: absolute;
    color: #fff}
#footerInfo   .social-media-link-fb.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0}
#footerInfo   .social-media-link-fb.is-labeled:hover::before {
    z-index: -1}
#footerInfo   .social-media-link-fb.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto}
#footerInfo   .social-media-link-fb [class*="fl-icon-"] {
    font-size: 25px;
    right: -3px;
    bottom: 0}

#footerInfo   .social-media-link-twitter {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
      border-radius: 4px;
      padding:0px;
    font-size: 20px
/*    background: #25a8e0;*/
}
#footerInfo   .social-media-link-twitter:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
/*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in}
#footerInfo   .social-media-link-twitter:hover {
    text-decoration: none}
#footerInfo   .social-media-link-twitter:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out}
#footerInfo   .social-media-link-twitter [class*="fl-icon-"] {
    position: absolute;
    color: #fff}
#footerInfo   .social-media-link-twitter.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0}
#footerInfo   .social-media-link-twitter.is-labeled:hover::before {
    z-index: -1}
#footerInfo   .social-media-link-twitter.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto}
#footerInfo   .social-media-link-twitter [class*="fl-icon-"] {
    font-size: 20px;
    margin-left: 6px;
    margin-top: 5px}

#footerInfo   .social-media-link-gplus {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
      border-radius: 4px;
      padding:0px;
    font-size: 20px
/*    background: #ce3633;*/
}
#footerInfo   .social-media-link-gplus:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
/*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in}
#footerInfo   .social-media-link-gplus:hover {
    text-decoration: none}
#footerInfo   .social-media-link-gplus:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out}
#footerInfo   .social-media-link-gplus [class*="fl-icon-"] {
    position: absolute;
    color: #fff}
#footerInfo   .social-media-link-gplus.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0}
#footerInfo   .social-media-link-gplus.is-labeled:hover::before {
    z-index: -1}
#footerInfo   .social-media-link-gplus.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto}
#footerInfo   .social-media-link-gplus [class*="fl-icon-"] {
    font-size: 26px;
    margin-left: 2px;
    margin-top: 3px}

#footerInfo   .social-media-link-youtube {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
      border-radius: 4px;
      padding:0px;
    font-size: 20px
/*    background: #ce322e;*/
}
#footerInfo   .social-media-link-youtube:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
/*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in}
#footerInfo   .social-media-link-youtube:hover {
    text-decoration: none}
#footerInfo   .social-media-link-youtube:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out}
#footerInfo   .social-media-link-youtube [class*="fl-icon-"] {
    position: absolute;
    color: #fff}
#footerInfo   .social-media-link-youtube.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0}
#footerInfo   .social-media-link-youtube.is-labeled:hover::before {
    z-index: -1}
#footerInfo   .social-media-link-youtube.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto}
#footerInfo   .social-media-link-youtube [class*="fl-icon-"] {
    font-size: 22px;
    margin-left: 5px;
    margin-top: 4px}

#footerInfo   .social-media-link-rss {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
      border-radius: 4px;
      padding:0px;
    font-size: 20px
/*    background: #ef802e;*/
}
#footerInfo   .social-media-link-rss:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
/*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in}
#footerInfo   .social-media-link-rss:hover {
    text-decoration: none}
#footerInfo   .social-media-link-rss:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out}
#footerInfo   .social-media-link-rss [class*="fl-icon-"] {
    position: absolute;
    color: #fff}
#footerInfo   .social-media-link-rss.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0}
#footerInfo   .social-media-link-rss.is-labeled:hover::before {
    z-index: -1}
#footerInfo   .social-media-link-rss.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto}
#footerInfo   .social-media-link-rss [class*="fl-icon-"] {
    font-size: 20px;
    left: 3px;
    bottom: 3px}

#footerInfo   .social-media-link-instagram {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
      border-radius: 4px;
      padding:0px;
    font-size: 20px
/*    background: #2e5e86;*/
}
#footerInfo   .social-media-link-instagram:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 50%;
    top: 100%;
/*    background-color: #2f88cc;*/
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in}
#footerInfo   .social-media-link-instagram:hover {
    text-decoration: none}
#footerInfo   .social-media-link-instagram:hover:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out}
#footerInfo   .social-media-link-instagram [class*="fl-icon-"] {
    position: absolute;
    color: #fff}
#footerInfo   .social-media-link-instagram.is-labeled {
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 40px;
    border-radius: 2px;
    color: white;
    position: relative;
    z-index: 0}
#footerInfo   .social-media-link-instagram.is-labeled:hover::before {
    z-index: -1}
#footerInfo   .social-media-link-instagram.is-labeled [class*="fl-icon-"] {
    font-size: 20px;
    margin: 0;
    left: 13px;
    top: 9px;
    right: auto;
    bottom: auto}
#footerInfo   .social-media-link-instagram [class*="fl-icon-"] {
    font-size: 23px;
    left: 5px;
    bottom: 4px}
#footerInfo   .domain-switcher-country {
    position: relative}
#footerInfo   .fl-footer .domain-switcher-country {
    clear: both;
    padding: 15px 10px}
#footerInfo   .fl-footer .domain-switcher-country .flicon-world-alt {
    stroke: #aaa;
    //stroke-width: 1.2;
    //width: 24px;
    height: 24px;
    position: relative;
    top: -5px;
    left: -10px;
    float: left}
#footerInfo   .fl-footer .domain-switcher-country .flicon-world-alt line,#footerInfo   .fl-footer .domain-switcher-country .flicon-world-alt path {
    vector-effect: initial}
#footerInfo   .contact-popover.popover.left {
    margin-left: 10px}

#footerInfo   .contact-popover-tip.popover {
    //width: 195px;
    padding: 20px;
    text-align: center}
#footerInfo   .contact-popover-tip.popover p {
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 16px;
    text-align: left}
.modal-backdrop .fade {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none}
#footerInfo   .domain-switcher-country-popover{
    //max-width:none;
    padding:0;
    -webkit-animation-duration:.1s;
    -moz-animation-duration:.1s;
    -o-animation-duration:.1s;
    animation-duration:.1s;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeInDown;
    -moz-animation-name:fadeInDown;
    -o-animation-name:fadeInDown;
    animation-name:fadeInDown;
    background-color:#fff;
    color:#333;
    border-radius:4px;
    -webkit-box-shadow:0 4px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:0 4px 6px rgba(0,0,0,0.2);
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
    display:block !important;
    //width:700px}

#footerInfo   .domain-switcher-country-popover a{color:#2f88cc}
#footerInfo   .domain-switcher-country-popover .popover-head{
    border-radius:4px 4px 0 0}
#footerInfo   .domain-switcher-country-popover .popover-content{padding:0}
#footerInfo   .domain-switcher-country-popover .popover-title{
    display:block;
    font-size:16px;
    font-weight:bold}
#footerInfo   .domain-switcher-country-popover .popover-content{padding:20px;overflow:hidden}

#footerInfo   .milestone-request-breakdown .milestone-request-popover.bottom .arrow {
    left: 10%}
#footerInfo   .notification-popover.bottom .arrow:after {
    border-bottom-color: #fff}
#footerInfo   #new-nav .user-nav-account-popover .arrow {
    right: 15px !important;
    left: auto !important}
#footerInfo   #new-nav .header-actions .popover .arrow {
    left: auto !important;
    right: 62px}
#footerInfo   .sticky-nav .default-header[data-state="sticky"] .message-notifications-popover .arrow {
    left: auto !important;
    right: 105px}
#footerInfo   .sticky-nav .default-header[data-state="sticky"] .user-notifications-popover .arrow {
    left: auto !important;
    right: 71px}
#footerInfo   .sticky-nav .default-header[data-state="sticky"] .project-notifications-popover .arrow {
    left: auto !important;
    right: 39px}
#footerInfo   .default-header[data-state="sticky"] .message-notifications-popover .arrow {
    left: auto !important;
    right: 105px}
#footerInfo   .default-header[data-state="sticky"] .user-notifications-popover .arrow {
    left: auto !important;
    right: 71px}
#footerInfo   .default-header[data-state="sticky"] .project-notifications-popover .arrow {
    left: auto !important;
    right: 39px}
#footerInfo   .user-nav-profile-popover .arrow {
    left: auto !important;
    right: 11px}
#footerInfo   .default-footer .domain-switcher-country-popover .arrow {
    left: 95px}
#footerInfo   .fl-footer .domain-switcher-country-popover .arrow {
    left: 95px}
#footerInfo   .message-notifications-popover.bottom .arrow:after {
    border-bottom-color: #fff}
#footerInfo   .message-notifications-popover.bottom .arrow {
    left: 22%}
#footerInfo   .user-notifications-popover.bottom .arrow:after {
    border-bottom-color: #fff}
#footerInfo   .user-notifications-popover.bottom .arrow {
    left: 31%}
#footerInfo   .project-notifications-popover.bottom .arrow:after {
    border-bottom-color: #fff}
#footerInfo   .project-notifications-popover.bottom .arrow {
    left: 42%}
#footerInfo   .milestone-request-breakdown .milestone-request-popover .popover-title {
    font-weight: bold;
    padding: 10px 20px}
#footerInfo   .notification-project-detail .popover-title {
    padding: 10px;
    background-color: #3c3f47;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis}
#footerInfo   .contact-popover .popover-title {
    display: none}
#footerInfo   .milestone-request-breakdown .milestone-request-popover .popover-content {
    padding: 20px}
#footerInfo   .custom-popover .popover-content {
    padding: 0}
#footerInfo   .user-balance-popover .popover-content {
    padding: 0}
#footerInfo   .notification-popover .popover-content {
    padding: 0}
#footerInfo   .notification-project-detail .popover-content {
    padding: 0}
#footerInfo   #new-nav .user-nav-account-popover .popover-content {
    padding: 0}
#footerInfo   .user-nav-profile-popover .popover-content {
    padding: 0}
#footerInfo   .game-popover .popover-content {
    padding: 0}
#footerInfo   .message-notifications-popover .popover-content {
    padding: 0}
#footerInfo   .user-notifications-popover .popover-content {
    padding: 0}
#footerInfo   .project-notifications-popover .popover-content {
    padding: 0}
#footerInfo   .contact-popover .popover-content {
    padding: 0}
#footerInfo   .contact-popover .popover-content {
    padding: 0}
#footerInfo   .domain-switcher-col {
    position: relative;
    float: left;
    //width: 25%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px}
#footerInfo   .domain-switcher-region-title {
    display: block;
    margin: 0 0 10px;
    font-size: 16px}
#footerInfo   .domain-switcher-countries {
    padding: 0;
    margin: 0 0 25px;
    list-style: none}
#footerInfo   .domain-switcher-countries .small-flag {
    margin: 1px 5px 0 0;
    vertical-align: text-top}
#footerInfo   .domain-switcher-countries li {
    margin-bottom: 12px}
#footerInfo   .domain-switcher-countries li .domain-switcher-toggle {
    color: #2f88cc}
#footerInfo   .domain-switcher-toggle {
    color: #2f88cc !important}
#footerInfo   .domain-switcher-language {
    padding: 10px 20px;
    border-top: 1px solid #e8e8e8}
#footerInfo   .domain-switcher-language-title {
    margin-right: 5px}
#footerInfo   .domain-switcher-language-selector {
    //width: 200px !important}
#footerInfo   .domain-switcher-country-selector{
    height:auto;
    padding-left:20px;
    position:relative;
    cursor:pointer;
    word-break:break-all;
    font-size:12px}
#footerInfo   .domain-switcher-country-selector:hover .domain-switcher-chosen-country,#footerInfo   .domain-switcher-country-selector:hover .domain-switcher-chosen-language{text-decoration:underline}
#footerInfo   .domain-switcher-country-flag {
    background-image: url("");
    display: inline-block;
    //width: 18px;
    height: 13px;
    position: absolute;
    top: 1px;
    left: 0}
#footerInfo   .domain-switcher-country-selector:hover .domain-switcher-chosen-country,#footerInfo   .domain-switcher-country-selector:hover .domain-switcher-chosen-language {
    text-decoration: underline}
#footerInfo   .domain-switcher-chosen-country,#footerInfo   .domain-switcher-chosen-language {
    display: inline-block}
#footerInfo   .domain-switcher-chosen-country {
    margin-right: 5px}
#footerInfo   .domain-switcher-chosen-country,#footerInfo   .domain-switcher-chosen-language {
    display: inline-block}
#footerInfo   .footer-nav{
    position:relative;
    float:left;
    min-height:1px;}
#footerInfo   .footer-nav-link{
    display:block;
    color:#2f88cc;
    font-size:12px}
#footerInfo   .footer-nav-section{
    display:inline-block;
    vertical-align:top}
#footerInfo   .footer-nav-section-list{
    margin-top:20px;
    margin-bottom:10px;
    padding:0}
#footerInfo   .footer-nav-section-title{
    display:block;
    margin-bottom:12px;
    font-size:16px;
    color:#333;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}
#footerInfo   .footer-nav-link{
    display:block;
    margin-bottom:7px;
    font-size:14px}

