<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-fade modal-lg" id="addEducation"  ng-backspace>
    <div class="modal-content">
        <div class="padding-bottom60" data-backdrop="static" data-keyboard="false">
            <div class="modal-header">

                <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div>
                        <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>

                    </div>
                </div>
            </div>
            <modal class="modal-body">
                <form id="formEducation" novalidate="novalidate" data-smart-validate-form>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding">

                                <label for="title"><span
                                        data-i18n="level">Cấp bậc</span></label>

                            </div>
                            <div class="col-md-12 form-group no-padding">
                                <select ng-model="education.degree"
                                        ng-options="degree.name for degree in degrees track by degree.id" name="unit"
                                        data-smart-validate-input
                                        data-required
                                        class="form-control ">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding ">

                                <label for="title"><span
                                        data-i18n="school">Tên trường</span></label>

                            </div>
                            <div class="col-md-12 form-group no-padding">

                                <input ng-model="education.schoolName"
                                       type="text" name="school"
                                       data-i18n="i18n-placeholder" placeholder="your school is"
                                       class="form-control " maxlength="100"
                                       data-smart-validate-input
                                       data-required
                                       reset-field
                                       data-message-required="validate school"
                                        >

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding">

                                <label for="title"><span
                                        data-i18n="classification">Xếp loại</span></label>

                            </div>
                            <div class="col-md-12 form-group no-padding">

                                <input ng-model="education.level" name="classification"
                                       type="text"
                                       data-i18n="i18n-placeholder" placeholder="your classification"
                                       class="form-control"
                                       data-smart-validate-input
                                       reset-field maxlength="50"
                                       data-required
                                       data-message-required="validate classification"
                                        >

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding">

                                <label for="title"><span
                                        data-i18n="specialized">Ngành học</span></label>

                            </div>
                            <div class="col-md-12 form-group no-padding">

                                <input ng-model="education.ology" name="major"
                                       type="text"
                                       data-i18n="i18n-placeholder" placeholder="your specialized"
                                       class="form-control "
                                       data-smart-validate-input
                                       reset-field maxlength="100"
                                       data-required
                                       data-message-required="validate specialized"
                                        >

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="col-md-12 no-padding">

                                <label for="title"><span
                                        data-i18n="start date">Ngày bắt đầu</span></label>

                            </div>
                            <div class="col-md-12 form-group no-padding">

                                <!--<div class="input-group">-->
                                    <!--<input type="text" class="form-control" ng-model="education.start_date"-->
                                           <!--id="startDate"-->
                                           <!--datepicker-popup="{{format}}"-->
                                           <!--data-smart-validate-input-->
                                           <!--is-open="openedStartDate"-->
                                           <!--name="openedStartDate" placeholder="dd/mm/yyyy"-->
                                           <!--ng-click="openStartDate($event)"-->
                                           <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                       <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default"-->
                                                <!--ng-click="openStartDate($event)"><i-->
                                                <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                      <!--</span>-->
                                <!--</div>-->
                                <div class="no-padding" name="openedStartDate" ng-model="education.startDate" is-open="openedStartDate" dateformat smart-date></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding">

                                <label for="title"><span
                                        data-i18n="end date">Ngày kết thúc</span></label>

                            </div>
                            <div class="col-md-12 form-group no-padding">
                                <!--<div class="input-group">-->
                                    <!--<input type="text" class="form-control" ng-model="education.end_date"-->
                                           <!--datepicker-popup="{{format}}"-->
                                           <!--data-smart-validate-input-->
                                           <!--is-open="openedEndDate"-->
                                           <!--name="openedEndDate" placeholder="dd/mm/yyyy"-->
                                           <!--ng-click="openedendDate($event)"-->
                                           <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                       <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default"-->
                                                <!--ng-click="openedendDate($event)"><i-->
                                                <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                      <!--</span>-->
                                <!--</div>-->
                                <div class=" no-padding" ng-model="education.endDate" name="openedEndDate" is-open="openedEndDate" dateformat smart-date></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 no-padding">

                                <label for="title"><span
                                        data-i18n="achievements">Thành tích đạt được</span></label>

                            </div>
                            <div class="col-md-12 no-padding">
                                <textarea
                                        ng-model="education.achievement"
                                        class="form-control  padding-bot-proposal"
                                        data-i18n="i18n-placeholder" placeholder="achievements"
                                        data-smart-validate-input
                                        reset-field maxlength="255"
                                        data-required="Xin hãy nhập nội dung yêu cầu."
                                        data-message="Xin hãy nhập nội dung yêu cầu."
                                        rows="3"
                                        data-message-required=""></textarea>
                            </div>
                        </div>
                    </div>

                </form>

            </modal>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12 ">
                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>


                    <a class="btn btn-sm btn-primary pull-right btn-gap" data-ng-click="ok()" data-i18n="confirm"></a>
                    <a class="btn btn-sm btn-primary pull-right btn-gap" data-ng-click="cancel()"
                       data-i18n="cancel"></a>
                </div>
            </div>

        </div>
    </div>
</div>