<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-fade modal-lg" id="addExperience" ng-backspace>
    <div class="modal-content">
        <div class=" padding-bottom60" data-backdrop="static" data-keyboard="false">
            <div class="modal-header">

                <button type="button" ng-click="close()" class="close" style="margin-top: -2px!important;" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div>
                        <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="formExperience" novalidate="novalidate" data-smart-validate-form>



                    <div class="form-group">
                        <div class="col-md-6">
                        <div class="col-md-12 no-padding">

                            <label for="title"><span
                                    data-i18n="position">Vị trí đảm nhiệm</span></label>

                        </div>
                        <div class="col-md-12 form-group no-padding">

                            <input ng-model="experience.position" name="position"
                                   type="text"
                                   data-i18n="i18n-placeholder" placeholder="position"
                                   class="form-control " maxlength="100"
                                   data-smart-validate-input
                                   data-required
                                   reset-field
                                   data-message-required="validate position"
                                    >

                        </div>
                            </div>
                        <div class="col-md-6">
                        <div class="col-md-12 no-padding">

                            <label for="title"><span
                                    data-i18n="company">Tại công ty</span></label>

                        </div>
                        <div class="col-md-12 form-group no-padding">

                            <input ng-model="experience.companyName" name="company"
                                   type="text"
                                   data-i18n="i18n-placeholder" placeholder="company"
                                   class="form-control " maxlength="100"
                                   data-smart-validate-input
                                   data-required
                                   reset-field
                                   data-message-required="validate company"
                                    >

                        </div>
                            </div>
                        <div class="col-md-6">
                        <div class="col-md-12 no-padding">

                            <label for="title"><span
                                    data-i18n="start date">Ngày bắt đầu làm việc</span></label>

                        </div>
                        <div class="col-md-12 form-group no-padding">

                            <!--<div class="input-group">-->
                                <!--<input type="text" class="form-control" ng-model="experience.start_date"-->
                                       <!--datepicker-popup="{{format}}"-->
                                       <!--data-smart-validate-input-->
                                       <!--is-open="openedStartDate"-->
                                       <!--name="openedStartDate" placeholder="dd/mm/yyyy"-->
                                       <!--ng-click="openStartDate($event)"-->
                                       <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                       <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default"-->
                                                <!--ng-click="openStartDate($event)"><i-->
                                                <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                      <!--</span>-->
                            <!--</div>-->
                            <div class="no-padding" name="openedStartDate" ng-model="experience.fromDate" is-open="openedStartDate" dateformat smart-date></div>
                        </div>
                            </div>
                        <div class="col-md-6">
                        <div class="col-md-12 no-padding">

                            <label for="title"><span
                                    data-i18n="end date">Ngày kết thúc làm việc</span></label>

                        </div>
                        <div class="col-md-12 form-group no-padding">

                            <!--<div class="input-group">-->
                                <!--<input type="text" class="form-control" ng-model="experience.end_date"-->
                                       <!--datepicker-popup="{{format}}"-->
                                       <!--data-smart-validate-input-->
                                       <!--is-open="openedEndDate"-->
                                       <!--name="openedEndDate" placeholder="dd/mm/yyyy"-->
                                       <!--ng-click="openedendDate($event)"-->
                                       <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                       <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default"-->
                                                <!--ng-click="openedendDate($event)"><i-->
                                                <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                      <!--</span>-->
                            <!--</div>-->
                            <div class="no-padding" ng-model="experience.toDate" name="openedEndDate" is-open="openedEndDate" dateformat smart-date></div>
                        </div>
                            </div>
                        <div class="col-md-12">
                        <div class="col-md-12 no-padding">

                            <label for="title"><span
                                    data-i18n="experience">Kinh nghiệm làm việc</span></label>

                        </div>
                        <div class="col-md-12 form-group no-padding">
                            <textarea
                                    ng-model="experience.achievement" name="achievements"
                                    class="form-control  padding-bot-proposal"
                                    data-i18n="i18n-placeholder" placeholder="detail your experience"
                                    data-smart-validate-input maxlength="255"
                                    data-required
                                    rows="3"
                                    reset-field
                                    data-message-required="validate experience"></textarea>
                        </div> </div>
                        <div class="col-md-12 checkbox margin-left30px">

                                <label class="ui-checkbox"><input  name="savelogin" ng-model="experience.currentWork"  name="stillwork" value="Đang làm việc ở đây"
                                                                  type="checkbox"><span data-i18n="still work here">Hiện tại vẫn đang làm việc tại đây</span></label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12">
                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>

                    <a class="btn btn-sm btn-primary" data-ng-click="cancel()" data-i18n="cancel"></a>
                    <a class="btn btn-sm btn-primary" data-ng-click="ok()" data-i18n="confirm"></a>
                </div>

            </div>
        </div>
    </div>
</div>