<div class="modal-fade" id="addRole">
    <div class="modal-content">
        <div class="modal-dialog padding-bottom60" data-backdrop="static" data-keyboard="false">
            <div class="modal-body">
                <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div>

                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                    <p class="text-center form-group">
                        <span data-i18n="chose role message">You will receive messages when you become customer or supplier of Vaber.vn</span>
                    </p>
                </div>

                <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>

                <h3 class="text-center"><span data-i18n="Thêm vai trò bạn muốn!">Thêm vai trò bạn muốn!</span></h3>

                <div class=" btn-radio btn-custom-group col-md-12">
                    <label class="btn btn-plain active btn-checkbox font-color-black col-md-6">
                        <label class="ui-checkbox"><input name="customer" id="customer" ng-model="role.customer"
                                                          type="checkbox" ng-disabled='checkcustomer'
                                                          ng-hide="true"><span
                                data-i18n="customer"></span></label>
                    </label><label class="btn btn-plain btn-checkbox font-color-black col-md-6">
                    <label class="ui-checkbox"><input name="supplier" id="supplier"
                                                      ng-model="role.supplier"
                                                      type="checkbox"
                                                      ng-disabled='checksupllier'
                                                      type="checkbox"><span
                            data-i18n="supplier"></span></label>
                </label>
                </div>

                <div class="text-center form-group">
                    <button type="button"
                            class="col-md-12 col-xs-12 btn btn-lg  btn-custom btn-lock btn-signup btn-primary"
                            ng-click="saveAddRoleClick()" data-i18n="save">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
