<div class="modal-fade" id="choseRole">
    <div class="modal-content">
        <div class="modal-dialog padding-bottom60" data-backdrop="static" data-keyboard="false">

            <div class="modal-body">

                <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div>

                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                    <p class="text-center form-group">
                        <span data-i18n="chose role message">You will receive messages when you become customer or supplier of Vaber.vn</span>
                    </p>
                </div>

                <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                <h3 class="text-center form-group"><span data-i18n="get started now">GET STARTED NOW!</span></h3>

                <div class="text-center form-group">
                        <button type="button" class="col-md-12 col-xs-12 btn btn-lg  btn-custom btn-primary no-padding-right-left"
                                ng-click="customer()"><span data-i18n="customer" ></span>
                        </button>

                        <span class="col-md-12 col-xs-12 hr-divider-text no-float-mobile" data-i18n="or">OR</span><br>

                        <button type="button" class="col-md-12 col-xs-12 btn btn-lg btn-custom btn-primary no-padding-right-left margin-top-15px margin-top-1px"
                                ng-click="supplier()"><span data-i18n="supplier" ></span>
                        </button>
                </div>

            </div>

        </div>
    </div>
</div>