<div class="modal-fade" id="extendPopup">

    <div class="modal-dialog" id="extendConditionsPopup" data-backdrop="static" data-keyboard="false">

        <div class="modal-header header-popup">
            <div class="col-md-12 nav-tabs"><span data-i18n="close now"></span></div>
        </div>

        <div class="modal-body">
            <div>
                <div class="no-padding col-xs-12">
                    <span data-i18n="close order"></span>
                </div>
            </div>
        </div>

        <div class="modal-footer footer-popup no-padding">
            <div class="col-xs-12">
                <a class="btn btn-sm btn-primary" data-ng-click="confirmClose()" data-i18n="confirm"></a>
                <a class="btn btn-sm btn-primary" data-ng-click="cancelClose()" data-i18n="cancel"></a>
            </div>

        </div>
    </div>
</div>
