<div class="modal-fade" id="confirmProposal" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog no-padding-bot" data-backdrop="static" data-keyboard="false">


        <div class="modal-body ">
            <div>
                <div>
                    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                </div>


                <div class="content-popup" ng-hide="isHide"><span data-i18n="accept service order">Chấp nhận yêu cầu:</span> <span  ng-bind="title" class="font-1"></span></div>
                <div class="content-popup" ng-hide="isHide"><span data-i18n="creator">Người tạo:</span> <span class="font-1" ng-bind="customer"></span></div>

                <div class="content-popup" data-i18n="info fee">
                    Phí thanh toán cho yêu cầu này là 50,000 VNĐ
                </div>
                <div class="content-popup" data-i18n="confirm continue">
                    Bạn có muốn tiếp tục không?
                </div>
                <!--<div class="content-popup">-->
                    <!--<div class="col-sm-12">-->
                        <!--<div class="col-sm-12">-->
                            <!--<div class="radio">-->
                                <!--<label>-->
                                    <!--<input type="radio" ng-model="type"-->
                                           <!--name="youPay" value="youPay" checked="checked"></span>-->
                                    <!--<label class="control-label">Thanh toán ngay</label>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-sm-12">-->
                            <!--"Khoản thanh toán sẽ được trừ vào tài khoản khả dụng của bạn"-->
                        <!--</div>-->
                        <!---->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-sm-12">-->
                        <!--<div class="col-sm-12">-->
                            <!--<div class="radio">-->
                                <!--<label>-->
                                    <!--<input type="radio" ng-model="type" value="customerPay"-->
                                           <!--name="customerPay">-->

                                    <!--<label class="control-label">Nhờ Vaber thanh toán hộ</label>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group col-sm-12">-->
                            <!--"Khi lựa chọn việc để Vaber trả phí hộ, nghĩa là bạn đã đồng ý thực hiện yêu cầu.Vaber sẽ trừ khoản phí này vào số tiền bạn nhận được từ khách hàng."-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

        </div>

        <div class="modal-footer footer-popup no-padding-top">
            <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
            <div class="pull-right">

                <a class="btn btn-sm btn-primary" data-ng-click="cancel()" data-i18n="cancel">Hủy</a>

                <a class="btn btn-sm btn-primary" data-ng-click="accept()" data-i18n="confirm">Xác nhận</a>
            </div>

        </div>
    </div>


</div>
