<div id="viewdetailCV" class="modal-lg modal-fade">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">

                <button type="button" ng-click="close()" style="padding-top: 30px;" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div>
                        <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6 panel-heading border-wrapper form-group">
                            <strong>
                                <span class="glyphicon glyphicon-user"></span>
                                <span>Thông tin cá nhân</span>
                            </strong>

                            <div class="panel-body padding-moblie">

                                <div class="col-md-12 form-group no-padding">
                                    <label>Họ và tên:</label>&nbsp;
                                    <span>Nguyễn Văn A</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Ngày sinh:</label>&nbsp;
                                    <span>23/09/1991</span>

                                </div>
                                <div class="col-md-6 form-group no-padding">
                                    <label>Số cmnd:</label>&nbsp;
                                    <span>095 785 6541</span>

                                </div>
                                <div class="col-md-6 form-group no-padding">
                                    <label>Ngày cấp:</label>&nbsp;
                                    <span>30/3/2001</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Nơi cấp:</label>&nbsp;
                                    <span>Công an thành phố hà nội</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Địa chỉ:</label>&nbsp;
                                    <span>24 Nguyễn Thượng Hiền - Hai bà trưng - hà nội</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Hòm thư:</label>&nbsp;
                                    <span>tuannm2391@gmail.com</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Số điện thoại:</label>&nbsp;
                                    <span>01679241024</span>
                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Giới tính:</label>&nbsp;
                                    <span>Nam</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5 col-md-offset-1 panel-heading border-wrapper form-group">
                            <strong><span class="glyphicon glyphicon-pushpin"></span> <span>Giới thiệu bản thân
                            </span></strong>

                            <div class="panel-body padding-moblie">
                                <div class="col-md-12 no-padding form-group">
                                    <label>Ngôn ngữ:</label>&nbsp;
                                    <span>Tiếng Anh, Tiếng Nhật, Tiếng Pháp</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Sức khỏe:</label>&nbsp;
                                    <span>tốt</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Sở thích cá nhân:</label>&nbsp;
                                    <span>Đá pes, chơi thể thao, đi du lịch, nghe nhạc và đặc biệt thích ngắm gái đẹp</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Điêu điều về bản thân:</label>&nbsp;
                                    <span>hiền lành, trung thực</span>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <label>Mục tiêu công việc:</label>&nbsp;
                                    <span>tìm tòi và học hỏi các công nghệ mới, vươn lên một mức giỏi hơn trong 2 năm tới</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 panel-heading border-wrapper form-group">
                            <strong>
                                <span class="glyphicon glyphicon-cog"></span>
                                <span>Học vấn và năng lực</span>
                            </strong>

                            <div class="panel-body padding-moblie">
                                <div class="col-md-12 no-padding form-group">
                                    <ul>
                                        <li>THCS Tây Sơn</li>
                                        <ul>
                                            <li>
                                                Từ năm 2003 - 2007
                                            </li>
                                        </ul>
                                    </ul>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <ul>
                                        <li>THPT Hai Bà Trưng</li>
                                        <ul>
                                            <li>
                                                Từ năm 2007- 2010
                                            </li>
                                        </ul>
                                    </ul>

                                </div>
                                <div class="col-md-12 no-padding form-group">
                                    <ul>
                                        <li>FPT - Polytechnic</li>
                                        <ul>
                                            <li>
                                                Từ năm 2010 - 2013
                                            </li>
                                        </ul>
                                    </ul>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 panel-heading border-wrapper form-group">
                            <strong><span class="glyphicon glyphicon-screenshot"></span><span>Kinh nghiệm
                            </span></strong>

                            <div class="panel-body padding-moblie">
                                <div class="col-md-12 no-padding form-group">
                                    <ul>
                                        <li>Công ty FPT</li>
                                        <ul>
                                            <li>
                                                Từ năm 2013 - 2015
                                            </li>
                                        </ul>
                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-popup">

            </div>
        </div>
    </div>

</div>


