<div class="modal-fade">

    <div class="modal-dialog" id="deleteProposal" data-backdrop="static" data-keyboard="false">

        <div class="modal-header header-popup">
            <div class="col-md-12 nav-tabs">Xóa đề nghị của bạn ngay bây giờ?</div>
        </div>

        <div class="modal-body">
            <div>
                <div class="no-padding col-xs-12">
                <span data-i18n="sure delete proposal">Bạn có chắc muốn xóa đề nghị này không?</span>
                </div>
            </div>
        </div>

        <div class="modal-footer footer-popup no-padding">
            <div class="col-xs-12">

                <a class="btn btn-sm btn-primary" data-ng-click="cancelDelete()" data-i18n="cancel">Hủy bỏ</a>
                <a class="btn btn-sm btn-primary" data-ng-click="confirmDelete()" data-i18n="confirm">Xác nhận</a>
            </div>

        </div>
    </div>
</div>
