<div class="modal-fade" id="paymentPopup">

    <div class="modal-dialog" id="rejectProposal" data-backdrop="static" data-keyboard="false">



        <div class="modal-body">
            <div>

                <div>
                    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                </div>
                <div class="content-popup"><span  data-i18n="confirm delete cv">Bạn có chắc chắn loại bỏ CV của</span>&nbsp;<span ng-bind="nameOfCV" class="font-1"></span>&nbsp;<span data-i18n="out of list cv">khỏi danh sách CV của bạn không?</span></div>
            </div>

        </div>

        <div class="modal-footer footer-popup">
            <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
            <div class="pull-right">

                <a class="btn btn-sm btn-primary" data-ng-click="cancelDelete()" data-i18n="cancel">Hủy</a>
                <a class="btn btn-sm btn-primary" data-ng-click="deleteCv()" data-i18n="confirm">Từ chối</a>
            </div>

        </div>
    </div>


</div>
