<div class="modal-fade" id="extendPopup" ng-init="init()">

    <div class="modal-dialog" id="extendConditionsPopup" data-backdrop="static" data-keyboard="false">
        <form novalidate="novalidate" data-smart-validate-form>
        <div class="modal-header header-popup">
            <div class="col-md-12 nav-tabs"><span data-i18n="extend now"></span></div>
        </div>

        <div class="modal-body no-padding">
            <div>

                <div class="pad-top-10 col-xs-12">
                    <div class="col-xs-4"><span class="toast-title" data-i18n="bid end date"></span></div>
                    <div class="form-group col-xs-8 no-margin no-padding">
                        <p class="input-group input-group-sm bootstrapWizard">
                            <input type="text" class="form-control" ng-model="bidEndDate" disabled/>
                        </p>

                    </div>
                </div>
                <div class="pad-top-10 col-xs-12">
                    <div class="col-xs-4"><span class="toast-title" data-i18n="extend"></span></div>
                    <div class="form-group col-xs-8 no-margin no-padding">
                        <!--<p class="input-group input-group-sm">-->
                            <!--<input type="text" class="form-control" datepicker-popup="{{format}}"-->
                                   <!--ng-model="expiredDate" is-open="opened" data-smart-validate-input-->
                                   <!--placeholder="dd/mm/yyyy" min-date="minDate" data-required name="expiredDate"-->
                                   <!--ng-click="open($event)" dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                      <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i-->
                                                <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                      <!--</span>-->
                        <!--</p>-->
                        <div class="no-padding" ng-model="expiredDate" is-open="opened" name="expiredDate" data-required minDate mindatemobile dateformat smart-date></div>
                    </div>
                </div>
                <div class="pad-top-10 col-xs-12 non-display">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8">
                        <timepicker ng-model="extent_time_expired" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer footer-popup no-padding">
            <div class="col-xs-12 form-actions">
                <a class="btn btn-sm btn-primary" smart-click="wizardCompleteCallback" data-i18n="confirm"></a>
                <a class="btn btn-sm btn-primary" data-ng-click="cancelExtend()" data-i18n="cancel"></a>
            </div>

        </div>
        </form>
    </div>
</div>
