<div class="modal-fade" id="finishOrder" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog" data-backdrop="static" data-keyboard="false">

        <div class="modal-header header-popup">
            <div class="col-md-12">Bạn vừa thanh toán thành công giao dịch trên Vaber</div>
        </div>

        <div class="modal-body">
            <div>

                <div class="content-popup">
                    <h4>Chi tiết giao dịch</h4>

                    <div class="col-sm-12">

                        <table>
                            <tr>
                                <td>Tên yêu cầu:</td>

                                <td class="pull-left" ><span ng-bind="tiltle"></span></td>

                            <tr>
                                <td >Người thanh toán:</td>

                                <td class="pull-left" ng-bind="supplier"></td>
                            </tr>
                            <tr>
                                <td>
                                    Phương thức thanh toán:
                                </td>
                                <td class="pull-left"><span ng-bind="paymethod"></span></td>

                            </tr>
                            <tr>
                                <td>Thanh toán cho:</td>

                                <td class="pull-left ">Vaber.com</td>
                            </tr>
                            <tr>
                                <th>Tổng giá trị hóa đơn:</th>

                                <th colspan="2" class="pull-right btn-sum">
                                    <button class="btn btn-action btn-lg" data-smart-wizard-summit><span ng-bind="sum"></span></button>
                                </th>
                            </tr>
                        </table>
                        <div class="content-popup modal-vertical-centered pull-right">
                            <a class="btn btn-sm btn-primary" data-ng-click="accept()">Xác nhận</a>
                            <a class="btn btn-sm btn-primary" data-ng-click="viewHistory()">Xem lịch sử giao dịch</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="modal-footer footer-popup">


        </div>
    </div>


</div>
