<div class="modal-fade" id="loginPopup" role="dialog" ria-labelledby="myModalLabel">

<div class="modal-dialog modal-dialog-mobile form-group">

<div class="modal-body center-block">

<button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
<img class="center-block logo-header" src="images/logo.png" alt="logo" style="width: 200px;"> <span
        class="ng-binding"></span>
<div class="btn-group margin-bottom btn-width">

    <button type="button" id="hasAccount" class="btn btn-lg btn-line-primary active modal-btn-old-user"
            ng-click='setSelection("return", $event)' data-i18n="iam a returning user">Tôi đã có tài
        khoản
    </button>
    <button type="button" id="notHasAccount" class="btn btn-lg btn-line-primary modal-btn-new-user"
            ng-click='setSelection("new", $event)' data-i18n="iam a new user">Tôi là người mới
    </button>
</div>
<div class="animate-switch-container" ng-switch on="mode.selection">

    <div class="animate-switch" ng-switch-when="return">
        <form id="formPopupLogin" novalidate="novalidate" data-smart-validate-form ng-enter="loginPopup()">
            <div class="form-group">
                <div class="input-group">
                                <span class="input-group-addon "><label for="email"
                                                                                class="glyphicon glyphicon-user"
                                                                                rel="tooltip"
                                                                                title="email"></label></span>
                    <input type="text" id="username" name="username" ng-model="account.username"
                           class="form-control"
                           reset-field
                           data-i18n="i18n-placeholder" placeholder="username or Email"
                           data-smart-validate-input maxlength="50"
                           data-required
                           data-message-required="validate input login name"
                            >
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label for="password"
                                                                            class="glyphicon glyphicon-lock"
                                                                            rel="tooltip" title="email"></label></span>
                    <input type="password" name="password" class="form-control "
                           ng-model="account.password" reset-field
                           data-i18n="i18n-placeholder" placeholder="password"
                           data-smart-validate-input maxlength="127"
                           data-required
                           data-message-required="validate input password">
                </div>
            </div>

            <!--<div class="checkbox no-padding">-->
                <!--&lt;!&ndash;<label class="remember-me" ng-model="rememberMe">&ndash;&gt;-->
                <!--&lt;!&ndash;<span data-i18n="remember me"></span><input id="savelogin" type="checkbox"&ndash;&gt;-->
                <!--&lt;!&ndash;name="savelogin">&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--<label class="ui-checkbox no-padding" ng-model="rememberMe"><input id="savelogin" class="no-margin"-->
                                                                        <!--name="savelogin"-->
                                                                        <!--type="checkbox"><span-->
                        <!--data-i18n="remember me"></span></label>-->
            <!--</div>-->
            <button class="btn btn-lg btn-block btn-custom btn-primary" ng-click="loginPopup()" data-i18n="login">Login
            </button>
            <a href="" class="forgot-password-toggle" id="forgot-password-toggle" ng-click="toggle()"
               data-i18n="forgot password">Forgot
                password?</a>
        </form>
        <form novalidate="novalidate" data-smart-validate-form>
            <div ng-hide="forgotPass" class="margin-bottom text-center form-group">

                <span data-i18n="enter your email"><b>Nhập email của bạn</b></span>

                <div class="input-group">

                            <span class="input-group-addon "><label for="email_forgotPass"
                                                                            class="glyphicon glyphicon-envelope"
                                                                            rel="tooltip" title="email"></label></span>
                    <input type="text" name="email_forgotPass" id="email_forgotPass"
                           ng-model="account.email_forgotPass"
                           reset-field
                           class="form-control "
                           data-i18n="i18n-placeholder" placeholder="enter your email"
                           data-smart-validate-input
                           data-required
                           data-email
                           data-message-required="validate input email"
                           data-message-email="validate input email form">

                </div>

                <div class="form-step has-button text-center">
                    <div class="form-step has-button text-center">
                        <button class="btn btn-lg  btn-custom btn-lock btn-signup btn-primary"
                                ng-click="getPassword()" data-i18n="retrieve your password">Lấy lại mật khẩu
                        </button>
                    </div>
                </div>

            </div>
        </form>

        <!--<div class="hr-divider"><span class="hr-divider-text"></span></div>-->
        <!--<p><span data-i18n="don’t have an account">Don't have an account?</span>-->
        <!--<a href="/#/signup" data-section-toggle="signup">-->
        <!--<span data-i18n="sign up now"></span>-->
        <!--</a>-->
        <!--</p>-->

    </div>

    <div class="animate-switch" ng-switch-when="new">
        <form id="signupPopup" novalidate="novalidate" data-smart-validate-form>
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label for="email"
                                                                            class="glyphicon glyphicon-envelope"
                                                                            rel="tooltip" title="email"></label></span>
                    <input type="text" name="email" id="email" ng-model="newAccount.email"
                           class="form-control "
                           data-i18n="i18n-placeholder" placeholder="email address" reset-field
                           data-smart-validate-input
                           data-required
                           data-message-required="validate input email"
                           data-email
                           data-message-email="validate input email form">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label
                                    class="glyphicon glyphicon-user"
                                    rel="tooltip"
                                    title="username"></label></span>
                    <input type="text" name="username" ng-model="newAccount.username"
                           class="form-control " reset-field
                           data-i18n="i18n-placeholder" placeholder="username"
                           data-smart-validate-input
                           data-required
                           data-message-required="validate input login name"
                            >
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label
                                    class="glyphicon glyphicon-phone"
                                    rel="tooltip"
                                    title="phoneNumber"></label></span>
                    <input type="text" name="phoneNumber" ng-model="newAccount.phoneNumber"
                           class="form-control " reset-field
                           data-i18n="i18n-placeholder" placeholder="phone Number"
                           data-smart-validate-input
                           data-required
                           numbers-only
                           data-message-required ="validate phone number"
                            >
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label
                                    class="glyphicon glyphicon-lock"
                                    rel="tooltip"
                                    title="password"></label></span>
                    <input type="password" class="form-control password" ng-model="newAccount.password"
                           data-i18n="i18n-placeholder" placeholder="password" reset-field
                           name="password" id="password"
                           data-smart-validate-input
                           data-required
                           passwordcheck="validate password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon "><label class="glyphicon glyphicon-lock"
                                                                            rel="tooltip"
                                                                            title="retypepassword"></label></span>
                    <input type="password" class="form-control "
                           ng-model="newAccount.retypepassword" reset-field
                           Data-i18n="i18n-placeholder" data-i18n="i18n-placeholder"
                           placeholder="confirm password" name="retypepassword"
                           data-smart-validate-input
                           data-required
                           retypepassword="validate retype password">
                </div>
            </div>
            <div class=" btn-radio btn-custom-group">

                <label class="btn btn-plain active btn-checkbox font-color-black">
                    <label class="ui-checkbox"><input name="customer" id="customer" ng-model="role.customer" ng-disabled='isClickCategory'
                                                      type="checkbox"><span
                            data-i18n="customer"></span></label>
                </label><label class="btn btn-plain btn-checkbox font-color-black">
                <label class="ui-checkbox"><input name="supplier" id="supplier"
                                                  ng-model="role.supplier" ng-disabled='isClickCategory'
                                                  type="checkbox"><span
                        data-i18n="supplier"></span></label>
            </label>
            </div>

            <div class="form-step has-button text-center">


                <button class="btn btn-lg  btn-custom btn-lock btn-signup btn-primary"
                        ng-click="signupPopupClick()" data-i18n="sign up now">Sign Up Now
                </button>
            </div>

            <div class="hr-divider"><span class="hr-divider-text"></span></div>
            <p class="form-group text-center"><span
                    data-i18n="by registering you confirm that you accept the">Bằng việc đăng kí, bạn xác nhận đã đồng ý với</span></br>
                <a href="#/policy"  target="_blank"
                   data-section-toggle="signup">
                    <span data-i18n="term and conditions">Điều khoản và điều kiện</span> </a>
            </p>
        </form>
    </div>
</div>
</div>
</div>

</div>
