<div id="notifyAddonService" class="modal-fade">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <!--<div class="modal-dialog">-->
                        <img class="center-block form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;">
                <!--</div>-->
            </div>
            <div class="modal-body">
                <div>
                    <div class="content-popup">
                        <span data-i18n="choose addon service1"></span> <b>{{typeAddonService}}</b> <span data-i18n="choose addon service2"></span>
                    </div>

                    <div class="content-popup">
                        <table datatable-basic no-hightlight table-options="totalPaymentAddonService"
                               class="table table-striped table-bordered table-hover serviceTable"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="text-center"><span data-i18n="kind"></span></th>
                                <th class="text-center"><span data-i18n="price"></span></th>
                                <th class="text-center"><span data-i18n="quantity"></span></th>
                                <th class="text-center"><span data-i18n="total"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-xs-12 pad-bot-10 no-padding">
                        <div class="pull-left">
                            <span><b data-i18n="total payment"></b></span>
                        </div>
                        <div class="pull-right">
                            <span><b>{{totalPayment}} VNĐ</b></span>
                        </div>
                    </div>

                    <div class="content-popup">
                        <span data-i18n="confirm continue"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12">
                    <a class="btn btn-sm btn-primary" data-ng-click="cancelReject()" data-i18n="cancel"></a>
                    <a class="btn btn-sm btn-primary" data-ng-click="confirmReject()" data-i18n="confirm"></a>
                </div>
            </div>
        </div>
    </div>

</div>


