<div class="modal-fade" id="paymentPopup" ng-init="init()">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                        <img class="center-block form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>


            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <span data-i18n="payment message1"></span>{{countSelection}}  <span data-i18n="payment message2"></span>
                    </div>

                    <div class="content-popup">
                        <span data-i18n="payment message3"></span> <b>{{vaberFee}} VNĐ</b>
                    </div>

                    <div class="content-popup">
                        <span data-i18n="confirm continue"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12">
                    <a class="btn btn-sm btn-primary" data-ng-click="confirmAwardOrder()" data-i18n="confirm"></a>
                    <a class="btn btn-sm btn-primary" data-ng-click="cancelAwardOrder()" data-i18n="cancel"></a>
                </div>
            </div>
        </div>
    </div>
</div>
