<div class="modal-fade" id="ratingUser">

    <div class="modal-dialog"  data-backdrop="static" data-keyboard="false">

        <div class="modal-body">
            <div>

                <div>
                    <button type="button" ng-click="close()" class="close" style="padding-top: 35px" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                </div>

                <div class="center-rating">

                <rating class="ui-rating size-h3 ui-rating-warning "
                        ng-model="rate.start"
                        max="5" ng-click="getSetStatus()"
                        on-hover="hoveringOver(value)"
                        on-leave="overStar = null"
                        state-on="'fa fa-star'"
                        state-off="'fa fa-star-o'"></rating>

                </div>
                <div  class="text-center col-md-12 col-xs-12">
                    <label data-i18n="very bad" class="non-display very-bad"></label>
                    <label data-i18n="bad" class="non-display bad"></label>
                    <label data-i18n="normal" class="non-display normal"></label>
                    <label data-i18n="good" class="non-display good"></label>
                    <label data-i18n="very good" class="non-display very-good"></label>
                </div>


                <div class="col-md-12">

                    <label for="title"><span data-i18n="review"
                            >Nhận xét</span></label>

                </div>
                <div class="col-md-12">
                    <textarea
                            ng-model="rate.comment"
                            class="form-control input-lg padding-bot-proposal"
                            data-i18n="i18n-placeholder"
                            placeholder="comment rate" maxlength="255"
                            rows="5" ></textarea>
                </div>

        </div>

        <div class="modal-footer footer-popup">
            <div class="col-xs-12 hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
            <div class=" pull-right">

                <a class="btn btn-sm btn-primary" data-ng-click="cancel()" data-i18n="cancel">Hủy</a>
                <a class="btn btn-sm btn-primary" data-ng-click="save()" data-i18n="confirm">Đồng ý</a>
            </div>

        </div>
    </div>


</div>
