<div class="modal-fade" id="paymentPopup">

    <div class="modal-dialog" id="rejectProposal" data-backdrop="static" data-keyboard="false">



        <div class="modal-body">
            <div>

                <div>
                    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                </div>
                <div class="content-popup" data-i18n="info reject so">Bạn có chắc chắn loại bỏ đề nghị này không?</div>
                <div class="content-popup" data-i18n="when reject so">
                    Việc từ chối yêu cầu này hệ thống của chúng tôi sẽ giảm uy tín của bạn.
                    Bạn có chắc chắn muốn từ chối đề nghị này.
                </div>
            </div>

        </div>

        <div class="modal-footer footer-popup">
            <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
            <div class="pull-right">

                <a class="btn btn-sm btn-primary" data-ng-click="cancel()" data-i18n="cancel">Hủy</a>
                <a class="btn btn-sm btn-primary" data-ng-click="reject()" data-i18n="confirm">Từ chối</a>
            </div>

        </div>
    </div>


</div>
