<div id="rejectSupplier" class="modal-fade">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <button type="button" ng-click="close()" style="padding-top: 30px;" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div>
                        <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="no-padding col-xs-12">
                    <span>Bạn không muốn nhà cung cấp này làm việc cho yêu cầu cho bạn?</span>
                </div>
            </div>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12">
                    <a class="btn btn-sm btn-primary" data-ng-click="confirmReject()" data-i18n="confirm"></a>
                    <a class="btn btn-sm btn-primary" data-ng-click="cancelReject()" data-i18n="cancel"></a>
                </div>
            </div>
        </div>
    </div>

</div>


