<div class="modal-fade" id="loginPopup" role="dialog" ria-labelledby="myModalLabel">

    <div class="modal-dialog modal-dialog-mobile form-group">

        <div class="modal-body center-block">

            <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <img class="center-block logo-header" src="images/logo.png" alt="logo" style="width: 200px;"> <span
                class="ng-binding"></span>

            <div class="btn-group margin-bottom btn-width">

                <button type="button" id="post-now" class="btn btn-lg btn-line-primary active modal-btn-old-user"
                        ng-click='setSelection(0)'>Đặt ngay
                </button>
                <button type="button" id="post-late" class="btn btn-lg btn-line-primary modal-btn-new-user"
                        ng-click='setSelection(1)'>Đặt cho tương lai
                </button>
            </div>
            <form novalidate="novalidate" data-smart-validate-form>
                <div class="no-padding col-md-6 col-md-offset-3 form-group">

                    <div class="input-group">
                        <span class="input-group-addon "><label class="glyphicon glyphicon-edit"
                                                                rel="tooltip"></label></span>
                        <input type="text" ng-model="content"
                               class="form-control " id="description" name="description"
                               data-i18n="i18n-placeholder" placeholder="Nội dung yêu cầu"
                               data-smart-validate-input reset-field maxlength="50"
                               data-required
                               data-message-required="Mời bạn nhập nội dung yêu cầu">

                    </div>

                </div>
                <div class="no-padding col-md-6 col-md-offset-3 form-group">

                    <div class="input-group">
                        <span class="input-group-addon "><label class="glyphicon glyphicon-euro"
                                                                rel="tooltip"></label></span>
                        <input type="tel" ng-model="price"
                               class="form-control " id="price" name="price"
                               data-i18n="i18n-placeholder" placeholder="Giá mong muốn"
                               data-smart-validate-input reset-field maxlength="10"
                               data-required numbers-only
                               data-message-required="Mời bạn nhập giá mong muốn">

                    </div>

                </div>

                <div data-ng-show="isShowPostLate" class="form-group no-padding">
                    <div class="input-group">
                         <span class="input-group-addon "><label class="glyphicon glyphicon-calendar"
                                                                 rel="tooltip"></label></span>
                        <input type="text" class="form-control" ng-model="datePost" uib-datepicker-popup="{{format}}"
                               min-date="minDate" data-smart-validate-input is-open="isOpen" name="datePost"
                               placeholder="Nhập ngày thực hiện yêu cầu" data-required
                               ng-click="open($event)" data-message-required="Mời bạn nhập ngày thực hiện yêu cầu"/>
                    </div>
                </div>

                <div data-ng-show="isShowPostLate" class="form-group no-padding">
                    <div class="input-group">
                      <span class="input-group-addon "><label class="glyphicon glyphicon-time"
                                                              rel="tooltip"></label></span>
                        <uib-timepicker ng-model="timePost" show-meridian="isMeridian" show-spinners="isSpinners"></uib-timepicker>
                    </div>
                </div>

                <div class="no-padding col-md-6 col-md-offset-3 form-group">

                    <div class="input-group">
                        <span class="input-group-addon "><label class="glyphicon glyphicon-gift"
                                                                rel="tooltip"></label></span>
                        <input type="tel" ng-model="giftCode"
                               class="form-control " id="giftCode" name="giftCode"
                               data-i18n="i18n-placeholder" placeholder="Mã khuyến mãi"
                               reset-field maxlength="10" numbers-only>

                    </div>

                </div>
                <div class="no-padding col-xs-12 form-group">
                    <div class="col-xs-12 no-padding">
                        <button class="btn btn-primary btn-lg col-xs-12" ng-click="postOrder()"> Đăng yêu cầu
                        </button>
                    </div>
                </div>
                <div class="padding-7">

                </div>
            </form>

        </div>
    </div>

</div>
