<div id="showListCV" class="modal-fade modal-lg">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <button type="button" ng-click="close()" style="padding-top: 30px;" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div>
                        <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table datatable-basic on-selection="viewDetailCV" table-options="listCV" show-hidden
                       class="datatable table table-striped table-bordered table-hover" mouseover-apply="Desktop" >
                    <thead>
                    <tr>
                        <th class="text-center verticalMiddle"><span data-i18n="first name"></span></th>
                        <th class="text-center verticalMiddle"><span data-i18n="gender"></span></th>
                        <th class="text-center verticalMiddle"><span data-i18n="experience year"></span></th>
                        <th class="text-center verticalMiddle"><span data-i18n="skills"></span></th>
                        <th data-hide="phone,tablet,desktop"><span data-i18n="yob"></span></th>
                        <th data-hide="phone,tablet,desktop"><span data-i18n="join time"></span></th>
                        <th data-hide="phone,tablet,desktop"><span data-i18n="note"></span></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer footer-popup">

            </div>
        </div>
    </div>

</div>


