<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-fade" id ="signupFacebook">
    <div class="modal-content  modal-dialogSignup-mobile modal-dialogsignup">
        <div class="modal-dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-header">

                <h3 class="modal-title">"Chào mừng đến với Vaber.com" </h3>
            </div>
            <div class="modal-body ">


                    <div class=" margin-row-mobile margin-row">
                        <h3 class="text-center">

                        </h3>
                        <div class="width-mobile1 col-md-6">

                            <div class="input-group form-step">
                                <span class="input-group-addon input-lg"><label for="email" class="glyphicon glyphicon-envelope" rel="tooltip" title="email"></label></span>
                                <input type="text" name="email" ng-model= "account.email" class="form-control input-lg " disabled>
                            </div>


                            <div class="input-group form-step">
                                <span class="input-group-addon input-lg"><label for="username" class="glyphicon glyphicon-user" rel="tooltip" title="username"></label></span>
                                <input type="text" name="username" ng-model="account.name" class="form-control input-lg">
                            </div>
                            <br>
                            <div class="btn-group btn-radio">

                                <button type="button" class="btn btn-lg btn-checkbox" >
                                    <label class="ui-checkbox"><input name="customer" ng-model="account.customer" value="Employer" type="checkbox" ><span>Customer</span></label>
                                </button>
                                <button type="button" class="btn btn-lg btn-checkbox">
                                    <label class="ui-checkbox"><input name="supplier" id="looking_for_work" ng-model="account.supplier" value="Worker" type="checkbox" ><span>Supplier</span></label>
                                </button>
                            </div>
                        </div>
                        <div class="width-mobile2 col-md-6 margin-auto">

                            <img src="//graph.facebook.com/{{account.id}}/picture?type=large" alt="logo" style="width: 150px; height: 200px;">

                        </div>

                        <div class="col-md-12 form-step">

                            <div class="has-button btn-custom-mobile">
                                <button class="btn btn-lg  btn-custom btn-lock btn-signup btn-action" ng-click="signupPopupClick()">Sign Up Now</button>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>