<div id="upgradeOrder" class="modal-fade">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <button type="button" ng-click="close()" style="padding-top: 30px;" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div>
                        <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                             style="width: 50%;"> <span class="ng-binding"></span>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <div class="content-popup">
                       Chọn dịch vụ nâng cấp
                    </div>

                    <div class="content-popup">
                        <table datatable-basic id="addonService" no-hightlight table-options="serviceTable" show-hidden
                               class="table table-striped table-bordered table-hover serviceTable" on-selection="validateAddon"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="text-center"><span data-i18n="selected"></span></th>
                                <th class="text-center"><span data-i18n="kind"></span></th>
                                <th data-hide="phone,tablet,desktop"><span data-i18n="description sevice"></span></th>
                                <th class="text-center"><span data-i18n="price"></span></th>
                                <th data-hide="phone,tablet,desktop"><span data-i18n="quantity"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-xs-12 pad-bot-10">
                        <div class="pull-left">
                            <span><b>Tổng số tiền:</b></span>
                        </div>
                        <div class="pull-right">
                            <span><b>{{totalPayment}} VNĐ</b></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12">
                    <a class="btn btn-sm btn-primary" data-ng-click="confirmPayment()" data-i18n="confirm"></a>
                    <a class="btn btn-sm btn-primary" data-ng-click="cancelPayment()" data-i18n="cancel"></a>
                </div>
            </div>
        </div>
    </div>

</div>


