<div class="modal-fade" id="viewContact" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog no-padding-bot" data-backdrop="static" data-keyboard="false">


        <div class="modal-body ">
            <div>
                <div>
                    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <img class="center-block logo-header form-group" src="images/logo.png" alt="logo"
                         style="width: 50%;"> <span class="ng-binding"></span>

                    <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
                </div>
                <div class="content-popup">
                   <span class="size-h4"> Thông tin liên hệ </span>
                </div>
                <div class="content-popup"><span data-i18n="supplier id"  ng-hide="isSupplier"></span><span data-i18n="broker id"  ng-hide="isBroker"></span>: <span class="font-1">{{aliasName}}</span></div>
                <div class="content-popup"><span data-i18n="phone number"></span>: <span class="font-1" ng-bind="phoneNo">013256898</span></div>
                <div class="content-popup"><span data-i18n="email"></span>: <span class="font-1" ng-bind="email">onggiavuitinh@gmail.com</span></div>
            </div>
        </div>
        <div class="modal-footer footer-popup no-padding-top">
            <div class="hr-divider center-block form-group"><span class="hr-divider-text"></span></div>
            <div class="pull-right">

                <a class="btn btn-sm btn-primary" data-ng-click="cancel()" data-i18n="close">Đóng</a>

            </div>

        </div>
    </div>


</div>
