<div class="modal-fade" id="paymentPopup" ng-init="init()">
    <div class="modal-content">
        <div data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img class="center-block form-group" src="images/logo.png" alt="logo"
                     style="width: 50%;">
            </div>
            <div class="modal-body">
                <div>
                    <div>
                       <span data-i18n="warning payment1"></span>
                    </div>

                    <div class="content-popup">
                       <span data-i18n="warning payment2"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-popup">
                <div class="col-xs-12">
                    <a class="btn btn-sm btn-primary" data-ng-click="paymentLater()" data-i18n="payment later"></a>
                    <a class="btn btn-sm btn-primary" data-ng-click="paymentNow()" data-i18n="payment"></a>
                </div>
            </div>
        </div>
    </div>
</div>
