<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <div class="row-fluid">
        <div class="span4">
            <label class="small">Mode</label> <select class="input-medium" ng-model="panel.mode"
                                                      ng-options="f for f in ['html','markdown','text']"></select>
        </div>
        <div class="span2" ng-show="panel.mode == 'text'">
            <label class="small">Font Size</label> <select class="input-mini" ng-model="panel.style['font-size']"
                                                           ng-options="f for f in ['6pt','7pt','8pt','10pt','12pt','14pt','16pt','18pt','20pt','24pt','28pt','32pt','36pt','42pt','48pt','52pt','60pt','72pt']"></select>
        </div>
    </div>

    <label class=small>Content
        <span ng-show="panel.mode == 'html'">(This area uses HTML sanitized via AngularJS's <a
                href='http://docs.angularjs.org/api/ngSanitize.$sanitize'>$sanitize</a> service)</span>
        <span ng-show="panel.mode == 'markdown'">(This area uses <a target="_blank"
                                                                    href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>. HTML is not supported)</span>
    </label>
    <textarea ng-model="panel.content" rows="6" style="width:95%"></textarea>
</div>
