#inviteFriend h4 {

    /*font-size: 16px;*/
    line-height: 28px;
    font-weight: bold;
}
#inviteFriend .font-important{

font-family: sans-serif !important;

}
#inviteFriend .col-md-3 {
    color: #000000;
    font-weight: bold;
}

#inviteFriend .pad10{
    padding: 15px;
}
#inviteFriend .margin-top-5{
    margin-top: 5px;
}

#inviteFriend .padding-bot-5{
    padding-bottom: 5px!important;
}

#inviteFriend .padding-l-r-4{
    padding-left: 5px!important;
    padding-right: 5px!important;
}

@media (max-width: 290px) {
    #inviteFriend .hidden-290{
       display: none;
    }
}


#inviteFriend .margin-bot-10{
    margin-bottom: 10px;
}

#inviteFriend .margin-left15{
  margin-left:15px;

}

@media (min-width: 893px) {
    #inviteFriend .btn-size {
        width: 140px;
    }
}
@media (max-width: 768px) {
    #inviteFriend .col-md-12 {
        line-height: 28px;
    }

}
#inviteFriend .hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0}
#inviteFriend .hr-divider-text {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: -10px;
    padding: 0 10px;
    background: #fff;
    font-weight: bold;
    color: #aaa}
#inviteFriend .hr-divider:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    content: ''}
.store-btn {
    background-image: url('../../../images/store_badges.png');
    background-repeat: no-repeat;
    width: 270px;
    height: 80px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.google-play-btn {
    background-position-y: -80px;
}
/*.btn-size-share*/
/*{*/
    /*height: 110px;*/
/*}*/
.app-store-btn {
    background-position-y: 0;
}

@media (max-width: 480px) {
    .btn-social-group a {
        width: 45% !important;
        display: inline-block;
    }
}

/*@media (max-width: 992px) {*/
    /*#inviteFriend .hr-divider {*/
        /*margin-top: -20px;*/
    /*}*/

/*}*/