<div id='inviteFriend' ng-controller="inviteFriend" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <div class="page no-padding-moblie no-padding">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
                    data-i18n="invite friends"></span></strong>
            </div>
            <div class="panel-body padding-moblie no-padding">

                <div class="col-xs-12 no-padding margin-top-5 margin-bot-10 padding-l-r-4">
                    <a href="javascript:void(0);" data-ng-click="showRate()"
                       class="btn btn-primary pad10 col-xs-12 hidden-md hidden-lg hidden-sm"><span
                            class="fa fa-smile-o"></span>&nbsp;<span data-i18n="rating"></span></a>
                </div>

                <div class="col-md-12 col-sm-12 hidden-xs">
                <span class="size-h4" data-i18n="Rate vaber on app market"></span>
                </div>

                <div class="hr-divider col-md-12 col-sm-12 hidden-xs"><span class="hr-divider-text"></span></div>

                <div id="rate" class="col-md-12 col-xs-12 text-center hidden-xs">
                    <div class="col-sm-6 form-group" ng-if="isIOS">
                        <a data-ng-click="iosRate()"><img src="images/appstore.png"
                                                          class="img-thumbnail btn-size-share category-upsell-icon app-store-btn"></a>
                    </div>
                    <div class="col-sm-6 form-group" ng-if="isAndroid">
                        <a data-ng-click="androidRate()"><img src="images/android-app.jpg"
                                                              class="img-thumbnail btn-size-share category-upsell-icon google-play-btn"></a>
                    </div>
                </div>

                <div class="col-xs-12 no-padding padding-l-r-4 padding-bot-5">
                    <a href="javascript:void(0);" data-ng-click="showShare()"
                       class="btn btn-primary pad10 col-xs-12 hidden-md hidden-lg hidden-sm"><span
                            class="glyphicon glyphicon-share"></span>&nbsp;<span data-i18n="share"></span></a>
                </div>

                <div class="col-md-12 col-sm-12 hidden-xs">
                <span class="size-h4" data-i18n="find acquaintances on social network">Tìm kiếm người quen trên mạng xã
                hội</span>
                </div>
                <div class="hr-divider col-md-12 col-sm-12 hidden-xs"><span class="hr-divider-text"></span></div>

                <div id="share" class="col-md-12 col-xs-12  hidden-xs ">
                    <div class="col-md-12 btn-social-group text-center">
                        <a class="btn btn-social-icon btn-facebook social-media-link-fb btn-size social-item btn-gap"
                           social-facebook custom-url="http://vaber.vn"
                           target="_blank" title="Vaber trên Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="margin-left15 hidden-290">Facebook</span>
                        </a>
                        <a class="btn btn-social-icon btn-google-plus social-media-link-gplus btn-size social-item btn-gap"
                           href="javascript:;"
                           social-gplus custom-url="http://vaber.vn"
                           target="_blank" title="Vaber trên Google Plus"><i
                                class="fa fa-google-plus"></i>
                            <span class="hidden-290">Google Plus</span>
                        </a>
                        <a class="btn btn-social-icon btn-twitter social-media-link-twitter btn-size social-item btn-gap"
                           social-twitter custom-url="http://vaber.vn"
                           target="_blank" title="Vaber trên Twitter"><i class="fa fa-twitter"></i> <span
                                class="margin-left15 hidden-290">Twitter</span></a>

                    </div>




                <!--<section class="row no-margin">-->
                <!--<div class="row-fluid">-->
                <!--<div class="col-md-12 form-group">-->
                <!--<div class="col-md-12">-->
                <!--<h4 data-i18n="Rate vaber on app market"></h4>-->
                <!--</div>-->

                <!--<div class="hr-divider"><span class="hr-divider-text"></span></div>-->
                <!--<div class="col-md-12 text-center">-->
                <!--<div class="col-sm-6 form-group" ng-if="isIOS">-->
                <!--<a data-ng-click="iosRate()"><img src="images/appstore.png" class="img-thumbnail btn-size-share category-upsell-icon app-store-btn"></a>-->
                <!--</div>-->
                <!--<div class="col-sm-6 form-group" ng-if="isAndroid">-->
                <!--<a data-ng-click="androidRate()"><img src="images/android-app.jpg" class="img-thumbnail btn-size-share category-upsell-icon google-play-btn"></a>-->
                <!--</div>                            </div>-->
                <!--</div>-->

                <!--<div class="col-md-12 form-group">-->
                <!--<div class="col-md-12">-->
                <!--<h4 data-i18n="find acquaintances on social network">Tìm kiếm người quen trên mạng xã-->
                <!--hội</h4>-->
                <!--</div>-->
                <!--<div class="hr-divider"><span class="hr-divider-text"></span></div>-->
                <!--<div class="col-md-12 btn-social-group text-center">-->
                <!--<a class="btn btn-social-icon btn-facebook social-media-link-fb btn-size social-item btn-gap"-->
                <!--social-facebook custom-url="http://vaber.vn"-->
                <!--target="_blank" title="Vaber trên Facebook">-->
                <!--<i class="fa fa-facebook"></i>-->
                <!--<span class="margin-left15 hidden-xs hidden-sm">Facebook</span>-->
                <!--</a>-->
                <!--<a class="btn btn-social-icon btn-google-plus social-media-link-gplus btn-size social-item btn-gap"-->
                <!--href="javascript:;"-->
                <!--social-gplus custom-url="http://vaber.vn"-->
                <!--target="_blank" title="Vaber trên Google Plus"><i-->
                <!--class="fa fa-google-plus"></i>-->
                <!--<span class="hidden-xs hidden-sm">Google Plus</span>-->
                <!--</a>-->
                <!--<a class="btn btn-social-icon btn-twitter social-media-link-twitter btn-size social-item btn-gap"-->
                <!--social-twitter custom-url="http://vaber.vn"-->
                <!--target="_blank" title="Vaber trên Twitter"><i class="fa fa-twitter"></i> <span-->
                <!--class="margin-left15 hidden-xs hidden-sm">Twitter</span></a>-->
                <!--<!--<span id="myBtn" class="demo g-interactivepost"-->
                <!--<!-->
                <!--<!--<span class="icon">&nbsp;</span>-->
                <!--<!--<span class="label">Invite your friends!</span>-->
                <!--<!--</span>-->


                <!--<!--<a class="btn btn-social-icon btn-instagram social-media-link-instagram btn-size social-item btn-gap"-->

                <!--<!--href="https://instagram.com/" target="_blank" title="Vaber trên Instagram"><i-->
                <!--<!--class="fa fa-instagram"></i> <span class="margin-left15">Instagram</span></a>-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->
            </div>
        </section>
    </div>
</div>
</div>

