<div id="chat-container" ng-class="{open: open}">
    <span class="chat-list-open-close" ng-click="openToggle()">
        <i class="fa fa-user"></i><b>{{ userLength }}</b>
    </span>

    <div class="chat-list-body custom-scroll">
        <ul id="chat-users">
            <li ng-repeat="_user in userWaiting">
                <a ng-click="openChat(_user)">
                    <img ng-src="{{_user.image}}">{{ _user.username }}
                    <span class="badge badge-inverse">{{ user.chat[_user.chat_id].unread }}</span>
                    <span class="state"><i class="fa fa-circle txt-color-{{ _user.status == 'online' ? 'green' : 'red' }} pull-right"></i></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="chat-list-footer">
        <div class="control-group">
            <form class="smart-form">
                <section>
                    <label class="input">
                        <input type="text" ng-model="chatUserFilter" id="filter-chat-list" data-i18n="i18n-placeholder" placeholder="filter">
                    </label>
                </section>
            </form>
        </div>
    </div>
</div>