
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../../../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../../fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../../fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../../fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#chat-widget header {
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: normal;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}

/*#chat-widget header {*/
  /*border-color: #45474b!important;*/
  /*background: #4c4f53;*/
  /*color: #fff;*/
/*}*/
#chat-widget header {
  border-color: #1357aa!important;
  background: #1357aa;
  color: #fff;
}

.jarviswidget-ctrls {
  width: auto;
  float: right;
  padding: 0;
  margin: 0;
}
.widget-toolbar {
  display: inline-block;
  float: right;
  width: auto;
  height: 32px;
  line-height: 32px;
  position: relative;
  border-left: 1px solid rgba(0,0,0,.09);
  cursor: pointer;
  padding: 0 8px;
  text-align: center;
}
.widget-toolbar>:first-child {
  text-align: left;
}

.smart-form .checkbox input+i:after {
  content: '\f00c';
  top: -1px;
  left: 1px;
  width: 15px;
  height: 15px;
  font: 400 16px/19px FontAwesome;
  text-align: center;
}
.widget-toolbar>.color-box {
  margin-top: 7px;
  width: 18px;
  height: 18px;
  outline: 1px solid rgba(0,0,0,.2);
}

.color-box {
  position: relative;
  vertical-align: middle;
  border: 1px solid rgba(255,255,255,.3)!important;
  outline: 1px solid rgba(0,0,0,.1);
  background: rgba(255,255,255,.3)!important;
}

.color-box, .color-select li span {
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  background: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
}
.widget-toolbar .dropdown-menu.color-select {
  right: -1px;
}

.color-select {
  list-style: none;
  margin: 0;
  padding: 4px;
  min-width: 166px;
  max-width: 156px;
  right: -3px;
}
.color-select li {
  display: block;
  margin: 2px;
  float: left;
}

.color-select li span {
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  background: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
}
.bg-color-green {
  background-color: #356e35!important;
}
#chat-widget header>.widget-icon {
  display: block;
  width: 30px;
  height: 32px;
  position: relative;
  float: left;
  font-size: 111%;
  line-height: 32px;
  text-align: center;
 /* margin-right: -10px;*/
}
#chat-widget >header {
  height: 34px;
  padding: 0;
  line-height: 40px;
}
#chat-widget header>h2 {
  margin-left: 10px;
  float: left;
}
#chat-widget header h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  /*font-size: 14px;*/
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}

.txt-color-white {
  color: #fff!important;
}

.widget-toolbar {
  display: inline-block;
  float: right;
  width: auto;
  height: 32px;
  line-height: 32px;
  position: relative;
  border-left: 1px solid rgba(0,0,0,.09);
  cursor: pointer;
  padding: 0 8px;
  text-align: center;
}

#header h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  /*font-size: 14px;*/
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}

#chat-container *, #chat-container :after, #chat-container :before {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

#chat-container input[type=text] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#chat-container {
    position: absolute;
    width: 250px;
    height: 270px;
    z-index: 2;
    border-left: 1px solid #CDCECF;
    right: -251px;
    top: 0;
    background: #fff;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    -ms-transition-duration: .25s
}

#chat-container:hover, #chat-container:hover .chat-list-open-close {
    border-color: #A7A7A7
}

#chat-container.open {
    right: 0;
    top: 0
}

#chat-container .chat-list-open-close {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #CDCECF;
    border-right: 1px solid #f2f4f8 !important;
    position: absolute;
    left: -32px;
    top: 7%;
    border-radius: 50% 0 0 50%;
    padding: 3px 1px 3px 5px;
    /*font-size: 21px;*/
    line-height: 22px;
    cursor: pointer;
    color: #868686;
    box-shadow: inset 0 .2em 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 .2em 0 rgba(0, 0, 0, .05);
    background: #f2f4f8;
    text-align: center
}

#chat-container .chat-list-open-close b {
    position: absolute;
    right: 0;
    background: #ed1c24;
    line-height: 9px;
    height: 10px;
    width: 10px;
    top: 3px;
    border: 1px solid #FFF;
    border-radius: 3px;
    /*font-size: 9px;*/
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 400
}

#chat-container.open .chat-list-open-close i:before {
    content: "\f00d" !important
}

#chat-container.open .chat-list-open-close b {
    display: none
}

#chat-container .chat-list-body {
    height: 217px;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    display: block;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f2f4f8
}

#chat-container #chat-users {
    list-style: none;
    margin: 10px 0;
    padding: 0
}

#chat-container #chat-users li {
    margin-bottom: 3px;
    margin-left: 5px
}

#chat-container #chat-users li a {
    display: block;
    /*font-size: 13px;*/
    color: #3d3d3d;
    text-decoration: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3px 8px 3px 3px;
    line-height: 33px;
    vertical-align: middle
}

#chat-container #chat-users li a:hover {
    background: #e0e4ee
}

#chat-container #chat-users li a img {
    width: 33px;
    height: auto;
    margin-right: 10px
}

#chat-container #chat-users li a i {
    color: #ACACAC;
    /*font-size: 8px;*/
    line-height: 34px;
    font-style: normal
}

#chat-container #chat-users li a i.last-online {
    /*font-size: 12px;*/
    letter-spacing: -1px
}

#chat-container .chat-list-footer {
    overflow: hidden;
    border-top: 1px solid #CCC;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

#chat-container .chat-list-footer input[type=text] {
    border: 1px solid #bababa !important
}

#chat-container .control-group {
    padding: 0
}

.chat-body {
    background: #FAFAFA;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fafafa 0, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #fafafa 0, #fff 100%);
    background: -o-linear-gradient(top, #fafafa 0, #fff 100%);
    background: -ms-linear-gradient(top, #fafafa 0, #fff 100%);
    background: linear-gradient(to bottom, #f5fcff 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .04);
    -moz-box-shadow: inset -2px -2px 5px rgba(0, 0, 0, .04);
    display: block;
    height: 270px;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #fff;
    border-top: none
}

.chat-body ul {
    margin: 0;
    padding: 0
}

.chat-body li.message {
    display: block;
    position: relative;
    margin: 20px 20px 0
}

.chat-body li:first-child {
    margin-top: 10px
}

.chat-body li.message img {
    display: inline-block;
    border-left: 4px solid #fff;
    position: absolute
}

.chat-body li.message img.online {
    border-left-color: #00a300
}

.chat-body li.message img.offline {
    border-left-color: #ddd
}

.chat-body li.message img.busy {
    border-left-color: #A90329
}

.chat-body li.message img.away {
    border-left-color: #ffc40d
}

.chat-body li.message .message-text {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin-left: 65px;
    line-height: normal
}

.chat-body li.message .message-text time {
    position: absolute;
    top: 1px;
    right: 0;
    /*font-size: 10px;*/
    line-height: 10px;
    color: #AFAFAF
}

.chat-body li.message .message-text .chat-file:nth-child(3) {
    margin-top: 15px
}

.chat-body li.message .message-text .chat-file {
    display: block;
    margin: 3px 0;
    padding: 4px;
    border: 1px dotted #ddd;
    background: rgba(0, 0, 0, .05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.chat-body li.message .message-text .chat-file.row-fluid [class*=span] {
    min-height: 10px !important
}

.chat-body li.message .message-text .chat-file b {
    font-style: italic;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.chat-body li.message .message-text a.username {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
    vertical-align: top;
    line-height: 14px;
    /*font-size: 14px;*/
    letter-spacing: -1px;
    text-decoration: none !important
}

.profile-message {
    background: none !important;
    height: auto !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    overflow: hidden
}

.profile-message li.message.message-reply {
    margin-left: 85px !important;
    background: #F7F7F7;
    padding: 10px;
    margin: 3px 0 0 20px
}

.profile-message li.message.message-reply img {
    width: 35px !important
}

.profile-message li.message.message-reply .message-text {
    margin-left: 45px !important
}

.profile-message .wall-comment-reply {
    margin-left: 85px;
    margin-bottom: 20px
}

.chat-footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
    padding: 0 10px 15px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.textarea-div {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-bottom: none;
    margin: 10px 0 0
}

.typearea {
    cursor: text;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90px;
    padding: 5px 25px 5px 5px;
    position: relative;
    border-bottom: 1px solid #EEE
}

.typearea textarea {
    width: 100%;
    border-color: transparent !important;
    box-sizing: border-box;
    box-shadow: none;
    -moz-box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s;
    outline: 0;
    resize: none;
    min-height: 61px
}

textarea.clone {
    position: absolute;
    visibility: hidden
}

.textarea-controls {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    display: block;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-top: none;
    height: 43px;
    line-height: 33px;
    overflow: hidden
}

.textarea-controls > label {
    margin: 3px 10px 0
}

.textarea-controls .smart-form .checkbox {
    padding-left: 22px !important
}

@media (min-width: 768px) and (max-width: 880px) {
    .chat-body li.message .message-text .chat-file b {
        width: 150px
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .chat-body li.message .message-text .chat-file b {
        width: 150px
    }
}

@media (max-width: 480px) {
    .chat-body li.message .message-text .chat-file b {
        width: 150px
    }
}
.textarea-controls .smart-form .checkbox {
  padding-left: 22px!important;
}
form .checkbox:last-child, .smart-form .radio:last-child {
  margin-bottom: 0;
}
span.pull-right.smart-form {
  margin: 0;
  outline: 0;
  color: #666;
  position: relative;
}
form .button, .smart-form .checkbox, .smart-form .input, .smart-form .radio, .smart-form .select, .smart-form .textarea, .smart-form .toggle {
  position: relative;
  display: block;
   font-weight: 400;
}
.smart-form *, .smart-form :after, .smart-form :before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.smart-form .checkbox input, .smart-form .radio input {
  position: absolute;
  left: -9999px;
}
.smart-form .checkbox, .smart-form .radio {
  margin-bottom: 4px;
  padding-left: 25px;
  line-height: 25px;
  color: #404040;
  cursor: pointer;
  /*font-size: 13px;*/
}
.smart-form .checkbox input+i:after {
  color: #3276B1;
}
.smart-form .checkbox input+i:after {
  content: '\f00c';
  top: -1px;
  left: 1px;
  width: 15px;
  height: 15px;
  font: 400 16px/19px FontAwesome;
  text-align: center;
}
.smart-form .checkbox input+i:after, .smart-form .radio input+i:after {
  position: absolute;
  opacity: 0;
  transition: opacity .1s;
  -o-transition: opacity .1s;
  -ms-transition: opacity .1s;
  -moz-transition: opacity .1s;
  -webkit-transition: opacity .1s;
}

.smart-form *, .smart-form :after, .smart-form :before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.smart-form .checkbox i, .smart-form .icon-append, .smart-form .icon-prepend, .smart-form .input input, .smart-form .radio i, .smart-form .select select, .smart-form .textarea textarea, .smart-form .toggle i {
  border-color: #BDBDBD;
  transition: border-color .3s;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}
.smart-form .checkbox i, .smart-form .radio i {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  background: #FFF;
}

#chat-container .chat-list-footer input[type=text] {
  border: 1px solid #bababa!important;
}
#chat-container input[type=text] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#chat-container .chat-list-footer {
  overflow: hidden;
  border-top: 1px solid #CCC;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

 .widget-body.widget-hide-overflow {
  overflow: hidden;
}
.widget-body {
  min-height: 100px;
  position: relative;
  padding-bottom: 13px;
}
#chat-widget {
  margin: 0 0 30px;
  position: relative;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

#chat-widget>div {
  width: 100%;
  position: relative;
  /*font-size: 13px;*/
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #CCC!important;
  border-bottom-color: #CCC!important;
  border-left-color: #CCC!important;
  padding: 1px 0 0;
  overflow: visible;
}

.smart-form section {
  margin-bottom: 15px;
  position: relative;
}
#chat-container .control-group {
  padding: 0;
}
.smart-form {
  outline: 0;
  color: #666;
  position: relative;
  margin-top: 3px;
  margin-right: 10px;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 5px 10px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#chat-container #chat-users {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
#chat-container #chat-users li {
  margin-bottom: 3px;
  margin-left: 5px;
}

#chat-container #chat-users li a {
  display: block;
  /*font-size: 13px;*/
  color: #3d3d3d;
  text-decoration: none!important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px 8px 3px 3px;
  line-height: 33px;
  vertical-align: middle;
}
#chat-container #chat-users li a img {
  width: 33px;
  height: auto;
  margin-right: 10px;
}

.widget-body a {
  color: #3276b1;
  text-decoration: none;
  cursor:pointer;
}
.widget-toolbar a{
    /*font-size:13px;*/
}
#chat-widget .open .dropdown-menu {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.txt-color-green {
  color: #356e35!important;
}
.txt-color-red {
  color: #a90329!important;
}

.txt-color-orange {
  color: #b19a6b!important;
}

#chat-container #chat-users li a i {
  color: #ACACAC;
  /*font-size: 8px;*/
  line-height: 34px;
  font-style: normal;
}

.chat-body li.message .message-text time {
  position: absolute;
  top: 1px;
  right: 0;
  /*font-size: 10px;*/
  line-height: 10px;
  color: #AFAFAF;
}
.open>.dropdown-menu {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.panel-body{
    padding: 0;
}
.panel{
    margin-bottom: 0px;
}
.dropdown-margin{
    color: #fff;
    display: block;
    margin-top: 0px;
    margin-bottom: 2px;
}