<section class="page no-padding" id="projects" ng-controller="chat" ng-init="init();">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-comments"></span> <span data-i18n="message"></span> {{ receiver.username }}</strong>
            <div class="dropdown form-group pull-right dropdown-margin">
                <button class="btn dropdown-toggle btn-xs btn-success" data-toggle="dropdown" aria-expanded="false">
                    <span data-i18n="status"></span> <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu pull-right js-status-update">
                    <li>
                        <a href-void ng-click="changeStatus(online)"><i class="fa fa-circle txt-color-green"></i> <span data-i18n="online"></span> </a>
                    </li>
                    <li>
                        <a href-void ng-click="changeStatus(busy)"><i class="fa fa-circle txt-color-red"></i> <span data-i18n="busy"></span> </a>
                    </li>
                    <li>
                        <a href-void ng-click="changeStatus(away)"><i class="fa fa-circle txt-color-orange"></i> <span data-i18n="away"></span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href-void><i class="fa fa-power-off"></i> <span data-i18n="log out"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
                <div>
                    <div class="widget-body widget-hide-overflow no-padding">
                        <chat-users></chat-users>
                        <div id="chat-body" class="chat-body custom-scroll">
                            <ul>
                                <li class="message" ng-repeat="message in user.chat[chat_id].messages">
                                    <time>
                                        {{message.time | date: "HH:mm dd/MM/yyyy" }}
                                    </time>

                                    <a ng-click="messageTo(message.sender.username)" class="username"><strong>{{ message.sender.username == user.user_id ? 'Tôi' : message.sender.username}}</strong>:</a>
                                    <span ng-bind-html="message.message"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="chat-footer">
                            <div class="textarea-div">
                                <div class="typearea">
                                <textarea data-i18n="i18n-placeholder" placeholder="write a reply" class="custom-scroll"
                                          ng-model="message" ng-enter="sendMessage(message)"></textarea>
                                </div>
                            </div>
                            <span class="textarea-controls">
                                <button class="btn btn-sm btn-primary pull-right" ng-click="sendMessage(message)" data-i18n="reply"></button>
                                <span class="pull-right smart-form">
                                    <span data-i18n="press"></span> <strong> SHIFT + ENTER </strong> <span data-i18n="to new line"></span>
                                </span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>