<section class="page no-padding" id='quick' ng-controller='quick' ng-init="init()">
<input type="hidden" id="choices_skill" data-i18n="i18n-placeholder" placeholder="skills select">
<section class="panel panel-default">
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
        data-i18n="post order"></span>
</strong></div>
<div class="panel-body">
<form name="myForm" novalidate="novalidate" data-smart-validate-form>
    <div class="col-xs-12" data-smart-wizard finish-label="post order"
         data-smart-wizard-callback="wizard1CompleteCallback">
        <div class="form-bootstrapWizard clearfix">
            <ul class="bootstrapWizard hidden-xs">
                <li data-smart-wizard-tab="1">

                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane" data-smart-wizard-pane="1">
                <div class="row">
                    <div class="row-fluid">
                        <label class="control-label col-lg-3 no-padding" data-i18n="services more">
                        </label>

                        <div class="form-group col-lg-9 no-padding">
                            <select name="selectService" ng-model="post.more.category"
                                    ng-change="clearSkill()"
                                    ng-options="category.name for category in selected.category.children track by category.name"
                                    data-smart-validate-input
                                    class="form-control" data-message-required="validate choose skill"
                                    data-required>
                                <option value="" chosenservicemore></option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid" ng-show="post.more.category">
                        <label class="control-label  col-lg-3 no-padding" data-i18n="skills select"></label>

                        <div class="col-lg-9 no-padding">
                            <div class="form-group selecte-skill">
                                <select name="skill" id="selectedSkills" data-required ng-change="removeHasError()"
                                        data-message-required="validate choose skill" data-smart-validate-input
                                        ng-model="selectedSkills" data-smart-select2 multiple placeholder="Chọn kỹ năng"
                                        class="form-control input-lg select2" style="width:100%;"
                                        ng-options="cat as cat.name for cat in post.more.category.skills">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <label class="control-label col-lg-3 no-padding"
                               data-i18n="description more">
                        </label>

                        <div class="form-group col-lg-9 no-padding">
                            <!--<textarea class="form-control " data-i18n="i18n-placeholder"-->
                            <!--placeholder="description more" name="description"-->
                            <!--ng-model="post.content" data-required-->
                            <!--data-smart-validate-input-->
                            <!--rows="3" data-message-required="Bắt buộc phải nhập"></textarea>-->
                            <textarea class="form-control " data-i18n="i18n-placeholder"
                                      placeholder="description more" name="description"
                                      ng-model="post.content" maxlength="1500"
                                      data-smart-validate-input reset-field rows="3"
                                      data-required data-message-required="validate field"></textarea>

                            <div class="helper-container dropdown">
                                <a id="help-block" class="help-block" data-target="#" href=""
                                   data-toggle="dropdown" aria-haspopup="true" role="button"
                                   aria-expanded="false" data-i18n="help block"></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="help-block">
                                    <li>
                                        <a href="javascript:0;"
                                           ng-click="loadSampleDescription(1)"><span
                                                data-i18n="description 1"></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:0;"
                                           ng-click="loadSampleDescription(2)"><span
                                                data-i18n="description 2"></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:0;"
                                           ng-click="loadSampleDescription(3)"><span
                                                data-i18n="description 3"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="no-control-picker">
                        <label class="control-label col-lg-3 no-padding"
                               data-i18n="start date helper"></label>

                        <div class="form-group col-lg-4 col-xs-12 no-padding">

                                <!--<input type="date" class="form-control" ng-model="post.more.dateStart"-->
                                <!--datepicker-popup-->
                                <!--data-smart-validate-input is-open="opened"-->
                                <!--data-i18n="i18n-placeholder" placeholder="expired date"-->
                                <!--name="date_expired"-->
                                <!--data-required-->
                                <!--data-message-required="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                <!--<input type="text" class="form-control" ng-model="post.more.dateStart"-->
                                       <!--datepicker-popup="{{format}}"-->
                                       <!--data-smart-validate-input is-open="opened" min-date={{minDate}}-->
                                       <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"-->
                                       <!--placeholder="dd/mm/yyyy" ng-click="open($event)"-->
                                       <!--name="date_expired"/>-->
                                              <!--<span class="input-group-btn">-->
                                                    <!--<button type="button" class="btn btn-default"-->
                                                            <!--ng-click="open($event)"><i-->
                                                            <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                              <!--</span>-->
                            <div class="no-padding" ng-model="post.more.dateStart" is-open="opened" name="date_expired" minDate mindatemobile dateformat smart-date></div>

                        </div>
                        <div class="form-group col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding-xs no-padding-md no-padding-sm no-padding-md">
                            <!--<input type="time" class="form-control " name="dateFrom" ng-model="post.more.dateFrom" placeholder="HH:mm" />-->
                            <input type="time" class="form-control timeFrom" placeholder="HH:mm"
                                   data-smart-validate-input  comparetimeTo="validate time"
                                   timeformat="validate time1"
                                   name="timeFrom" ng-model="post.more.timeFrom"/>
                        </div>
                        <div class="col-lg-1 margin-top10 col-xs-2 col-md-2 col-sm-2 text-center no-padding">
                            <label data-i18n="calendar to"></label></div>
                        <div class="form-group  col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding-xs no-padding-md pull-right no-padding-right">
                            <!--<input type="time" class="form-control " name="dateTo" ng-model="post.more.dateTo" placeholder="HH:mm" />-->
                            <input type="time" class="form-control timeTo" name="timeTo" placeholder="HH:mm"
                                   data-smart-validate-input timeformat="validate time2"
                                   comparetimeFrom="validate time3"
                                   ng-model="post.more.timeTo"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <label class="control-label col-lg-3 no-padding"
                               data-i18n="price service label"></label>

                        <div class="form-group col-lg-4 currency no-padding">
                            <div class="input-group">
                                <input id="budget" class="form-control "
                                       data-i18n="i18n-placeholder"
                                       placeholder="price service" type="tel" name="post_currency"
                                       maxlength="15" reset-field requirePrice="validate budget1"
                                       ng-model="post.more.budget" data-smart-validate-input
                                       format-currency numbers-only>

                                <div class="input-group-btn">
                                    <span role="button" class="btn btn-default">&nbsp;<u>đ</u></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <label class="control-label no-padding col-lg-3" data-i18n="advanced services"></label>
                        <div class="col-lg-9 form-group no-padding">
                        <table datatable-basic id="addonService" no-hightlight table-options="serviceTable"
                               show-hidden
                               class="table table-striped table-bordered table-hover serviceTable"
                               on-selection="validateAddon"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="text-center"><span data-i18n="selected"></span></th>
                                <th class="text-center"><span data-i18n="kind"></span></th>
                                <th class="text-center" data-hide="phone"><span
                                        data-i18n="description sevice"></span></th>
                                <th class="text-center"><span data-i18n="price"></span></th>
                                <th class="text-center" data-hide="phone,tablet,desktop"><span
                                        data-i18n="quantity"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <label class="control-label col-lg-3 no-padding"
                               data-i18n="location"></label>

                        <div class="col-lg-9 form-group no-padding">
                            <div ng-model="post.more.address" smart-location
                                 address="post.more.address"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-actions row">
            <div class="wizard pull-right">
                <div class="actions clearfix">
                    <ul role="menu" aria-label="Pagination">
                        <li class=""><a href="" ng-click="goBack()" data-i18n="previous"></a>
                        </li>
                        <li ng-hide="postEnabled" class="" data-smart-wizard-next><a href=""
                                                                                     data-i18n="post order"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
</section>
</section>
