 .hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0}
 .hr-divider:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    content: ''}

#detailAdvanceSearch .border-1{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
 #detailAdvanceSearch .margin-btn-submit{
     margin-right: 15px;

 }
 #detailAdvanceSearch .width2percent
 {
     width:2%;
 }


 #detailAdvanceSearch .hr {
     position: relative;
     width: 70%;
     height: 8px;
     margin: 21px 15% 30px;
     -webkit-box-shadow: 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 0 #fff;
     box-shadow: 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     -webkit-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     border-bottom: 1px solid #c3c4c7;
     text-align: center;
 }
 #detailAdvanceSearch .font-1{
     /*font-size:20px;*/
     color: #1357aa;
     font-weight: 700;
 }
 #detailAdvanceSearch .blankColor{
     background: none!important;
     color: grey !important;
 }
 #detailAdvanceSearch .padding-bot10{
       padding-bottom: 10px;
   }
 #detailAdvanceSearch .no-padding-right{
     padding-right: 0px !important;
 }
 #detailAdvanceSearch .padding-right10px{
     padding-right: 10px !important;
 }
 #detailAdvanceSearch .border-2{
     border: 1px solid #767676;
     border-radius: 4px
 }
 #detailAdvanceSearch .border-3{
     border-left: 1px solid black;
     border-right: 1px solid black;
 }
 #detailAdvanceSearch .font-2{
     /*font-size:20px;*/
     color: greenyellow;
 }
 #detailAdvanceSearch .margin-1 {
      margin-left: 65px;
      margin-top: 16px;

  }
 #detailAdvanceSearch .margin-99 {
       margin-top: 25px;

   }
 #detailAdvanceSearch .border-l{
     border-left: 1px solid #dddddd;
 }

 #detailAdvanceSearch .border-r{
     border-right: 1px solid #dddddd;
 }

 #detailAdvanceSearch .icon-bookmark {

     margin-top: 0px;
     /*font-size: 25px;*/

     margin-right: 14px;

 }

 #detailAdvanceSearch  .background-children {
     background-color: #fff !important;
 }
 #detailAdvanceSearch  .background-children {
     background-color: #fff !important;
 }
 #detailAdvanceSearch  .padding-1{
     padding-top :10px;
     padding-bottom :10px;
 }
 #detailAdvanceSearch .margin-t-b{
     margin-top:3px;
     margin-bottom: 3px;
     padding-right: 3px;
     padding-left: 3px;
 }
 #detailAdvanceSearch .margin-3 {
     margin-left:10px;
 }
 #detailAdvanceSearch .margin-7 {
     margin-left:15px;
 }
 #detailAdvanceSearch .margin-4 {
     margin-left:45px;
 }
 #detailAdvanceSearch .title-1{
     /*font-size: 20px;*/
 }
 #detailAdvanceSearch .label-status{
     color: #8f4497;
     /*font-size: 20px;*/
 }
 .tooltip-inner {
     max-width: 150px;
     /* If max-width does not work, try using width instead */
     width: 150px;
 }
 #detailAdvanceSearch .margin-2 {
     margin:5px 0px 5px 0px;
 }
 #detailAdvanceSearch .margin-5 {
     margin-left: 18px;
     margin-bottom: 10px;
     margin-top:10px;
 }
 #detailAdvanceSearch .margin-title {
     margin-left: 18px;
     margin-bottom: 0px !important;
     margin-top:0px !important;
 }
 #detailAdvanceSearch .margin-6 {

     margin-bottom: 15px;
     margin-top:15px;
 }
 #detailAdvanceSearch .margin-bottom0px {

     margin-bottom: 0px !important;

 }
 #detailAdvanceSearch .margin-top0px {

     margin-top: 0px !important;

 }
 #detailAdvanceSearch .margin-8 {
     margin-left: 30px;
     margin-top:20px;
 }
 #detailAdvanceSearch.control-label {
     padding-top: 7px;
     margin-bottom: 0;
     text-align: right;}
 #detailAdvanceSearch .padding-gap {
 padding-top: 15px !important;

 }
 #detailAdvanceSearch .no-display {
     display: none !important;

 }
 #detailAdvanceSearch .detailInfo {
    margin-left:-15px
 }
 #detailAdvanceSearch .label-1 {
     margin-left: -20px;
     margin-right: 35px;
     /*font-size: 18px;*/
     color: #2B3D53;
 }
 #detailAdvanceSearch .color-1 {
     color: #2f88cc !important;
 }
 #detailAdvanceSearch .margin-left-title {
     margin-left: 25px;
 }
 #detailAdvanceSearch .padding-bot-proposal {
     padding-bottom: 45px;
 }
 #detailAdvanceSearch .col-center-block {
     float: none;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 /*#detailAdvanceSearch .color-title {*/
     /*color: #8f4497 !important;*/
 /*}*/
 #detailAdvanceSearch .margin-paid-to-you {
     margin-left:13px;
 }
 #detailAdvanceSearch .border-wrapper{
      display: block    ;
      padding: 2px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      background-color: #f5f5f5;
  }
 #detailAdvanceSearch .border-wrapper-children{
      display: block;
      padding: 6px;
      border: 1px solid #dddddd;
      border-radius: 3px;

  }

 @media (max-width: 996px) {
     #detailAdvanceSearch .non-display-mobile
     {
         display: none;
     }
     .noFloat{
         float: none !important;
     }
     #detailAdvanceSearch .margin-left-mobile{
         margin-left: 23px;

     }

     #detailAdvanceSearch .padding-right-mobile{
         padding-right: 0px;

     }
     #detailAdvanceSearch .row-mobile{

         margin-right: 15px;
     }
     #detailAdvanceSearch .no-padding-moblie{
        padding:0px !important;
     }
     #detailAdvanceSearch .padding-moblie-1{
         padding-right: 30px;
     }
     #detailAdvanceSearch .margin-1-mobile{
         margin-top: 15px;
         margin-left:0px;
     }
     #detailAdvanceSearch .no-margin-mobile{

         margin-left:-44px;
     }
     #detailAdvanceSearch .margin-4-mobile{

         margin-right:45px;
         margin-bottom:15px;
     }


     #detailAdvanceSearch .margin-title-mobile{
        margin-top:0px;
     }
     #detailAdvanceSearch .margin-des-mobile{
         margin-left: 30px;
     }
     #detailAdvanceSearch .margin-brn-mobile{
         margin-left:45px;
     }
 }
 #detailAdvanceSearch .desc-scrollable{
     max-height: 100px;
     overflow-y: scroll;
 }
 #detailAdvanceSearch .text-center{
     text-align: center;
 }
 #detailAdvanceSearch .cell{
     border-bottom: 1px solid #DDDDDD;
     padding-bottom: 5px;
     padding-top: 5px;
     text-align: left;
 }
 #detailAdvanceSearch .select2-choices li {
     width:auto;
 }
 #detailAdvanceSearch .padding-bottom20{
     padding-bottom: 20px!important;
 }

 #detailAdvanceSearch span::before {
     margin:0px!important;
 }

 #detailAdvanceSearch span::after {
     left: 5px !important;
 }

 #detailAdvanceSearch .select2-choices {
     padding-left: 11px !important;
 }

 #detailAdvanceSearch .overwrite-title {
     color: #2B3D53;
     display: inline;
     position: initial;
     /*font-size: 20px;*/
 }
 @media (min-width: 768px){
     #detailAdvanceSearch .bootstrapWizard .tab-provision li:first-child {
         margin-top:30px;
     }
     #detailAdvanceSearch .bootstrapWizard .tab-provision li {
         float: none;
         width: 100%;
         text-align: left;
         margin-top: 10px;
         margin-bottom: 5px;

     }
     #detailAdvanceSearch .status-mobile{
         display: none!important;
     }
     #detailAdvanceSearch .tab-provision ul {
         margin-left:-40px;
     }

     #detailAdvanceSearch .tab-provision .ui-checkbox {
         margin: 10px 20px 10px 0px;
     }

     #detailAdvanceSearch .tab-provision ul > li {
         list-style:none;
         list-style-type: decimal;
     }
 }

 #detailAdvanceSearch .tab-provision ul > li {
     list-style:none;
     list-style-type: decimal;
 }

 #detailAdvanceSearch .animate-switch .form-group .dropzone {
     border: none;
 }

 #detailAdvanceSearch .animate-switch .form-group .dropzone .file-input-wrapper {
     color: steelblue;
 }

 #detailAdvanceSearch .width100percent {
 width: 100% !important;
 }

 div.ui-checkbox.no-margin{
     margin:0px !important;
 }

 .currency .input-group-btn select{
     width:100px;

 }
 .currency .input-group-btn select{
     /*border-left:0px;*/
 }

 .parent-skills input{
     height:40px !important;
 }
 .control-label {
     margin-top: 10px;
 }
 .career-label, gender-label{
     margin-top:0px;
 }

 .parent-skills input{
     /*font-size:18px;*/
     padding-left:15px;
 }

 .ui-checkbox small{
     /*font-size:14px;*/
     color:#767676;
 }

 .selecte-skill li{
     width:auto;
     margin-top:5px;
 }

 .selecte-skill .select2-container--open{
     z-index:0;
     position:inherit !important;

 }
 .select2-container--open{
     position:fixed !important;
     z-index: 9999999;

 }
 .pac-container{
     position:fixed !important;
 }

 .select2-container--default .select2-selection--multiple{
     border-radius:0px;
 }


 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
     color: #fff;
     cursor: pointer;
     display: inline-block;
     font-weight: bold;
     margin-left: 2px;
     line-height: 1;
     /*font-size: 18px*/
 }
 .form-group .btn-group label{
     color:#fff;
     font-weight:bold;
 }

 .padding-top28{
     padding-top:28px;
 }
 .margin-top10{
     margin-top:10px;
 }
 #detailAdvanceSearch .center-col-md-12
 {
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 #detailAdvanceSearch .label-status-header{
     color: #1357aa;
     font-weight: 700;
     /*font-size: 16px;*/
 }
 #detailAdvanceSearch .no-padding-right {

     pdding-right: 0px !important;
 }
 #detailAdvanceSearch .no-padding-left {

     pdding-left: 0px !important;
 }
 #detailAdvanceSearch .no-padding-right-left {
     padding-left: 0px;
     pdding-right: 0px;
 }

 @media (max-width: 768px){
     #detailAdvanceSearch div.panel > .panel-heading {
         padding: 0px!important;
     }
     #detailAdvanceSearch .select2-selection__choice__remove
     {
         display: none;
     }
     #detailOrder .label-status-header{
         /*font-size: 13px;*/
     }
 }


 #detailAdvanceSearch .height-85 {

     height: 105px;
 }