#sm-showcase .category-upsell-section .category-upsell-list {
    list-style: none
}

#sm-showcase .category-upsell-section {
    padding: 80px 0;
    background-color: #fff
}

#sm-showcase .category-upsell-section .category-upsell-list .category-upsell-item {
    text-align: center;
    padding: 5px !important;
}

#sm-showcase .category-upsell-section .category-upsell-list .category-upsell-name {
    display: block;
    /*font-size: 12px;*/
    font-weight: bold;
    text-decoration: underline;
}

#sm-showcase .category-upsell-section .category-upsell-link:hover {
    text-decoration: none;
}

#sm-showcase .category-upsell-section .category-upsell-link:hover .category-upsell-icon {
    -webkit-box-shadow: 0 0 0 8px #f4fbfe;
    -moz-box-shadow: 0 0 0 8px #f4fbfe;
    box-shadow: 0 0 0 8px #f4fbfe;
    -moz-box-shadow: 0 0 0 8px #f4fbfe, transparent 0 0 0;
    -webkit-box-shadow: 0 0 0 8px #f4fbfe, transparent 0 0 0;
    box-shadow: 0 0 0 8px #f4fbfe, transparent 0 0 0;
}

#sm-showcase .category-upsell-section .category-upsell-link:hover .category-upsell-icon::after {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    border: 2px solid #99daf3;
    top: -1px;
    left: -1px;
    opacity: .003;
    filter: alpha(opacity=0.3);
    -moz-opacity: .3;
    -khtml-opacity: .3;
    -webkit-opacity: .3;
    opacity: .3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    filter: alpha(opacity=30);
}

#sm-showcase .category-upsell-section .category-upsell-icon {
    position: relative;
    display: block;
    margin: 0 auto 10px;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 0 #fff, transparent 0 0 0;
    -webkit-box-shadow: 0 0 0 0 #fff, transparent 0 0 0;
    box-shadow: 0 0 0 0 #fff, transparent 0 0 0;
}

#sm-showcase .category-upsell-section .category-upsell-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 148px;
    height: 148px;
    border: 2px solid #c8c9cc;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#sm-showcase .category-upsell-title {
    /*font-size: 36px;*/
    font-weight: normal;
    margin-bottom: 80px;
    margin-top: 0;
}

#sm-showcase h1, h2, h3, h4, h5 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: normal;
    letter-spacing: -0.03em;
}

#sm-showcase .category-upsell-section .category-upsell-price {
    /*font-size: 15px;*/
    color: #33b5e6
}

#sm-showcase .category-upsell-section [class^="category-icon-"] {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 48px;
}

#sm-showcase .img-responsive {
    background-color: #ffffff !important;
    border: none;
    padding: 4px;
    line-height: 1.42857143;
    border-radius: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#sm-showcase .border-r{
    border-right: 1px dashed;
}

#sm-showcase .border-b{
    border-bottom: 1px dashed;
}

#sm-showcase .border-l{
    border-left: 1px dashed;
}

#sm-showcase .height-180{
    height: 180px;
}

#sm-showcase .height-300{
    height: 270px;
}

#sm-showcase .margin-10{
   margin: 15px 10px;
    /*font-size: 16px;*/
}

#sm-showcase .tilte-tablet{
    /*font-size: 16px;*/
    font-weight: bold;
}

#sm-showcase .margin-t-l{
    margin-top: 10px;
    margin-left: 35px;
}
#sm-showcase .margin-l{
    margin-left: 75px;
}

#sm-showcase .margin-t{
    margin-top: 15px;
}

#sm-showcase .img-100-100{
    width: 100px;
    height: 100px;
}
