<div id='sm-showcase' ng-controller='sm-showcase' ng-init="init()">
    <section class="category-upsell-section no-padding panel-body">
        <div class="hidden-lg hidden-sm hidden-md">
            <div class="col-xs-12 no-padding border-b">
                <div class="category-upsell-list no-padding">
                    <div class="category-upsell-item col-xs-6 border-r height-300">
                        <a ng-click="categoryClick(0)" class="category-upsell-link">
                            <div class="img-background">
                                <img src="images/mobile1.png" class="img-responsive img-100-100">
                                <a href="javascript:void(0);" class="category-upsell-name" style="font-size: 15px"><span class="color-info-alt">Vaber</span>
                                    <span class="color-primary">Talent Sourcing</span></a>
                            </div>
                        </a>
                        <div class="col-xs-12 no-padding text-center">
                            <span class="color-gray-dark"  style="font-size: 12px">Expanding talent sourcing to everyone and everywhere</span>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Talent Refferals</a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Headnhunt</a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Body-shop</a>
                        </div>
                    </div>
                    <div class="category-upsell-item col-xs-6 height-300">
                        <a ng-click="categoryClick(1)" class="category-upsell-link">
                            <div class="img-background">
                                <img src="images/mobile2.jpg" class="img-responsive img-100-100">
                                <a href="javascript:void(0);" class="category-upsell-name" style="font-size: 15px"><span class="color-info-alt">Vaber</span>
                                    <span class="color-primary">Osin</span></a>
                            </div>

                        </a>
                        <div class="col-xs-12 no-padding text-center">
                            <span class="color-gray-dark"  style="font-size: 12px">Powering services</span>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                           <a href="javascript:void(0);" class="category-upsell-name">Full-time</a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                           <a href="javascript:void(0);" class="category-upsell-name">Part-time</a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                           <a href="javascript:void(0);" class="category-upsell-name">Sharing Osin</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="category-upsell-list no-padding">
                    <div class="category-upsell-item col-xs-6 height-300">
                        <a ng-click="categoryClick(2)" class="category-upsell-link">
                            <div class="img-background">
                                <img src="images/mobile3.png" class="img-responsive img-100-100">
                                <a href="javascript:void(0);" class="category-upsell-name" style="font-size: 15px"><span class="color-info-alt">Vaber</span>
                                    <span class="color-primary">Tutor</span></a>
                            </div>

                        </a>
                        <div class="col-xs-12 no-padding text-center">
                            <span class="color-gray-dark"  style="font-size: 12px">One-Click Tutor services</span>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Tutor </a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Sharing Tutor </a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Special Tutor</a>
                        </div>
                    </div>
                    <div class="category-upsell-item col-xs-6 border-l height-300">
                        <a ng-click="categoryClick(4)" class="category-upsell-link">
                            <div class="img-background">
                                <img src="images/mobile4.jpg" class="img-responsive img-100-100">
                                <a href="javascript:void(0);" class="category-upsell-name" style="font-size: 15px"><span class="color-info-alt">Vaber</span>
                                    <span class="color-primary">HouseWork</span></a>
                            </div>
                        </a>
                        <div class="col-xs-12 no-padding text-center">
                            <span class="color-gray-dark"  style="font-size: 12px">Whatever you need</span>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Sửa chữa gia dụng </a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Vệ sinh – Dọn Nhà  </a>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <a href="javascript:void(0);" class="category-upsell-name">Việc vặt </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="hidden-lg hidden-xs hidden-md">
            <div class="margin-10 text-center"><b>Vaber is a <span class="color-danger">global bidding platform</span>
                that <span
                        class="color-danger">makes it easy</span> for everyone to find best solution for their <span
                        class="color-danger">demand</span> regardless of <span
                        class="color-danger">whatever it is.</span>
                By <span class="color-danger">bridging values</span> to the demand efficiently, ween courage every value
                to be <span class="color-danger">exposed</span> and <span
                        class="color-danger">becomes most valuable</span></b></div>

            <div class="col-sm-12 col-xs-12 no-padding border-b">
                <div class="col-sm-3 col-xs-3 no-padding border-r height-180">
                    <a ng-click="categoryClick(0)" class="category-upsell-link">
                        <div class="img-background text-center">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <img src="images/tablet1.png" class="img-responsive img-100-100">
                            </div>
                        </div>
                    </a>

                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <a href="javascript:void(0);" class="tilte-tablet"><span
                                class="color-primary">Fast & Simple</span></a>
                    </div>
                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <span class="color-gray-dark">Post your demand in just minutes</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 no-padding border-r height-180">
                    <a ng-click="categoryClick(1)" class="category-upsell-link">
                        <div class="img-background  text-center">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <img src="images/tablet2.png" class="img-responsive img-100-100">
                            </div>
                        </div>

                    </a>

                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <a href="javascript:void(0);" class="tilte-tablet"><span
                                class="color-primary">Efficient</span></a>
                    </div>
                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <span class="color-gray-dark">Get multiple proposal within hour</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 no-padding height-180">
                    <a ng-click="categoryClick(2)" class="category-upsell-link">
                        <div class="img-background  text-center">
                            <div class="col-sm-12 col-xs-12 no-padding">
                                <img src="images/tablet3.png" class="img-responsive img-100-100">
                            </div>
                        </div>

                    </a>

                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <a href="javascript:void(0);" class="tilte-tablet"><span
                                class="color-primary">Chose The Best</span></a>
                    </div>
                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <span class="color-gray-dark">Compare and chose the best proposal</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding">
                <div class="col-sm-3 col-xs-3 no-padding border-r height-180">
                    <div class="col-sm-12 col-xs-12 no-padding text-center margin-t">
                        <span class="color-gray-dark"> <span class="color-info-alt">xxxx</span> demands with <span
                                class="color-info-alt">yyyy</span> billions budget are waiting for proposal</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 no-padding border-r height-180">
                    <div class="col-sm-12 col-xs-12 no-padding text-center margin-t">
                        <span class="color-gray-dark"> Thousands suppliers are ready to serve your demand</span>
                    </div>
                    <div class="col-sm-12 col-xs-12 no-padding text-center margin-t">
                        <span class="color-gray-dark"> <span class="color-info-alt">xxxx</span> IT candidates -  <span
                                class="color-info-alt">yyyy</span> osins - <span class="color-info-alt">zzzz</span> tutors - <span
                                class="color-info-alt">kkkk</span> supplier</span>
                    </div>

                </div>
                <div class="col-sm-3 col-xs-3 no-padding height-180">

                    <div class="col-sm-12 col-xs-12 no-padding text-center margin-t">
                        <span class="color-gray-dark"> <span class="color-info-alt">xxxx</span> proposals have been chosen</span>
                    </div>
                    <div class="col-sm-12 col-xs-12 no-padding text-center margin-t">
                        <span class="color-gray-dark"> <span class="color-info-alt">yyyy</span> billions awarded to date</span>
                    </div>




                </div>
            </div>

            <div class="col-sm-offset-4 col-sm-6 no-padding">
                <div class="col-sm-12 no-padding">
                    <a class="btn btn-primary margin-t-l">Get Started (It's Free)</a>
                </div>
                <div class="col-sm-12 no-padding">
                    <a class="btn btn-link margin-l">[Login]</a>
                </div>


            </div>

        </div>
    </section>
</div>


<!--<div id='sm-showcase' ng-controller='sm-showcase' ng-init="init()">-->
<!--<section class="category-upsell-section no-padding panel-body">-->
<!--<div class="col-xs-12 no-padding">-->
<!--<div class="category-upsell-list no-padding">-->
<!--<div class="category-upsell-item col-xs-6">-->
<!--<a ng-click="categoryClick(0)" class="category-upsell-link">-->
<!--<div class="img-thumbnail img-background">-->
<!--<img src="images/icon_viecnhanh.png" class="img-thumbnail img-circle">-->
<!--<span class="category-upsell-name">-->
<!--Việc nhanh-->
<!--</span>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="category-upsell-item col-xs-6">-->
<!--<a ng-click="categoryClick(1)" class="category-upsell-link">-->
<!--<div class="img-thumbnail img-background">-->
<!--<img src="images/icon_nhansu.png" class="img-thumbnail img-circle">-->
<!--<span class="category-upsell-name">-->
<!--Nhân sự-->
<!--</span>-->
<!--</div>-->

<!--</a>-->
<!--</div>-->
<!--<div class="category-upsell-item col-xs-6">-->
<!--<a ng-click="categoryClick(2)" class="category-upsell-link">-->
<!--<div class="img-thumbnail img-background">-->
<!--<img src="images/icon_giupviec.png" class="img-thumbnail img-circle">-->
<!--<span class="category-upsell-name">-->
<!--Giúp việc-->
<!--</span>-->
<!--</div>-->

<!--</a>-->
<!--</div>-->
<!--<div class="category-upsell-item col-xs-6">-->
<!--<a ng-click="categoryClick(4)" class="category-upsell-link">-->
<!--<div class="img-thumbnail img-background">-->
<!--<img src="images/icon_khac.png" class="img-thumbnail img-circle">-->
<!--<span class="category-upsell-name">-->
<!--Lĩnh vực khác-->
<!--</span>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--</div>-->
