<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id='edituser' class="page no-padding" ng-controller='edituser' ng-init="init()">
<section class="panel panel-default">
<div class="panel-body no-padding">
<form novalidate="novalidate" data-smart-validate-form>

<smart-tab>
<div class="ui-tab-container">

<ul class="nav nav-tabs">
    <li class="active "><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> <span
            data-i18n="account details"></span></a></li>
    <li><a href="#info" data-toggle="tab"><span class="glyphicon glyphicon-asterisk"></span> <span
            data-i18n="account settings"></span></a>
    </li>
    <li><a href="#contact" data-toggle="tab"><span class="glyphicon glyphicon-envelope"></span> <span
            data-i18n="notification settings"></span></a></li>
</ul>


<div class="tab-content">
<div class="tab-pane active" id="home">
<div class="col-md-6 col-md-offset-0 form-group-module text-left">
    <!--<h2>Thông tin tài khoản</h2>-->
</div>
    <form id="emailSettingsForm1" novalidate="novalidate" data-smart-validate-form ng-enter="saveClick()">
<div class="col-md-4 text-center col-md-offset-4">
    <button type="button" class="btn btn-primary btn-lg btn-block btn-facebook">
        <span class="fa fa-facebook icon-facebook flicon-facebook"></span>
        <span data-i18n="login with facebook"></span>
    </button>
</div>
<div class="hr pull-left">
    <div class="inner" data-i18n="or"></div>
</div>
<div class="clearfix"></div>
<div class="form-group">
<div class="col-md-6 no-padding">
<div class="form-group">
    <input id="firstname" type="text" data-i18n="i18n-placeholder" placeholder="first name"
           ng-model="accountdetails.firstname" name="username"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>
<div class="form-group">
    <input id="lastname" type="text" data-i18n="i18n-placeholder" placeholder="last name"
           ng-model="accountdetails.lastname" name="fullname"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>
<div class="form-group">
    <input id="address" type="text" data-i18n="i18n-placeholder" placeholder="address" ng-model="accountdetails.address"
           name="address"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>
<div class="form-group">
    <input id="phone" type="text" data-i18n="i18n-placeholder" placeholder="phone number" min="" pattern="[0-9]"
           ng-model="accountdetails.phone" name="phone"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>
<div class="form-group">
    <input id="company" type="text" data-i18n="i18n-placeholder" placeholder="company" ng-model="accountdetails.company"
           name="company"
           class="input-xlarge form-control"
            >
</div>
<div class="form-group">
    <input id="postalcode" type="text" data-i18n="i18n-placeholder" placeholder="postal code"
           ng-model="accountdetails.postalcode"
           name="postalcode"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>

<div class="form-group">
    <input id="state" type="text" data-i18n="i18n-placeholder" placeholder="state" ng-model="accountdetails.state"
           name="state"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>
<div class="form-group">
    <input id="city" type="text" data-i18n="i18n-placeholder" placeholder="city" ng-model="accountdetails.city"
           name="city"
           class="input-xlarge form-control"
           data-smart-validate-input
           data-required
           i18n-data-message-required="required field">
</div>
<div class="form-group">
    <select ng-model="parentCountries"
            ng-options="category.name for category in countries" data-smart-validate-input data-required
            class="input-xlarge form-control">
    </select>
</div>

<div class="form-group">
<select ng-model="parentTimezones"
        ng-options="category.text for category in timezones" data-smart-validate-input data-required
        class="input-xlarge form-control">
</select>
</div>
</div>
<div class="col-md-6 padding-right-0">
    <div class="form-group">
        <div class="dropzone height300" data-smart-dropzone></div>
    </div>
</div>
</div>
<div class="clearfix"></div>
        <!--<div class="form-group">-->
        <!--<div class="hr pull-left"></div>-->
        <!--<div class="form-group text-left">-->
        <!--<div class="col-md-12 form-group no-padding">-->
        <!--<div class="form-group backgound-image">-->
        <!--</div>-->
        <!--<div class="content">-->
        <!--<h3 data-i18n="security phone number"></h3>-->

        <!--<p data-i18n="provide phone number"></p>-->
        <!--<a href="javascript:void(0)" class="requestChange" data-i18n="setup security phone">-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

<div class="form-group">
    <button class="btn btn-action btn-lg pull-right margin-bottom-15" ng-click="saveClick()" data-i18n="save">Lưu thông
        tin
    </button>
</div>

</form>
</div>
<div class="tab-pane" id="info">
<div class="clearfix"></div>
<div class="col-md-6 col-md-offset-0 form-group text-left">
</div>
<form id="accountSettingsForm" novalidate="novalidate" data-smart-validate-form ng-enter="updateAccountClick()">
<div id="form-change-password" class="col-md-12 no-padding">
    <fieldset id="change-password" class="col-md-6 no-padding">
        <legend data-i18n="change password">
        </legend>
        <div>
            <div class="form-group">
                <div class="controls">
                    <input type="password" data-i18n="i18n-placeholder" placeholder="current password"
                           ng-model="accountsettings.password"
                           class="input-xlarge form-control"
                           name="oldpasswd" id="oldPasswd"
                           data-smart-validate-input>
                    <span class="help-inline small"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <input type="password" data-i18n="i18n-placeholder" placeholder="new password"
                           ng-model="accountsettings.newpassword"
                           class="input-xlarge form-control"
                           name="passwd" id="newPasswd1"
                           data-smart-validate-input>
                    <span class="help-inline small"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="controls ">
                    <input type="password" data-i18n="i18n-placeholder" placeholder="confirm password"
                           ng-model="accountsettings.confirmpassword" class="input-xlarge form-control"
                           name="passwd1" id="newPasswd2"
                           data-smart-validate-input>
                    <span class="help-inline small"></span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="col-md-6 padding-right-0">
        <legend data-i18n="finance settings">
        </legend>

        <div class="form-group">
            <label class="pull-left text-normal" for="currency" data-i18n="currency"></label>

            <div class="col-lg-4">
                <select ng-model="parentCurrency"
                        ng-options="category.name for category in currency" data-smart-validate-input data-required
                        class="form-control col-xs-12">
                </select>
            </div>
        </div>
    </fieldset>
</div>
<div class="clearfix ng-scope"></div>
<fieldset>
    <legend data-i18n="payment method">
    </legend>
    <div class="col-md-6 no-padding">
        <div class="form-group color-title">
            <h4 data-i18n="paypal accounts"></h4>
        </div>
        <div class="form-group">
            <label class="control-label text-normal" data-i18n="no verified accounts">
            </label>

            <div class="controls">
                <img style="margin-right: 10px;"
                     src="https://cdn3.f-cdn.com/img/payment-methods/pp-plain.jpg?v=456612bc97c642eb5b96cf86c50aebbd&amp;m=2">
                <a class="btn btn-primary" id="addPaymentVerifiedMethod1" data-i18n="verify now">
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group color-title">
            <h4 data-i18n="authorized credit cards"></h4>
        </div>
        <div class="form-group">
            <label class="control-label text-normal" data-i18n="no verified credit cards">
            </label>

            <div class="controls">
                <img style="margin-right: 20px;"
                     src="https://cdn6.f-cdn.com/img/payment-methods/cc-mb.gif?v=0295c032c5d16be970af8625f17c86c3&amp;m=2">
                <a class="btn btn-primary" id="addPaymentVerifiedMethod" data-i18n="verify now">
                </a>
            </div>

        </div>
    </div>

</fieldset>

<fieldset>
    <legend data-i18n="language settings">
    </legend>


    <div class="col-md-12 no-padding form-group">
        <label class="no-padding col-md-6 text-normal" data-i18n="choose languages"></label>
    <span class="col-lg-2">
        <select ng-model="parentLanguage"
                ng-options="category.name for category in language" data-smart-validate-input data-required
                class="form-control">
        </select>
                                                                </span>
    </div>
    <div class="form-group" style="display: none;">
        <div class="controls span5 margin-l0 margin-t5">
            <div id="selected_languages">

                                                            <span class="selected-bubbles">
                                                                <a id="selected_lang_vi" data-lang_id="vi"
                                                                   class="label label-info selected_lang">
                                                                    <span>×</span>
                                                                    Tiếng Việt
                                                                </a>
                                                            </span>

            </div>
            <span class="help-inline small"></span>
        </div>
    </div>
</fieldset>
<div class="clear"></div>

<fieldset>
    <legend data-i18n="account type">
    </legend>

    <div class="form-group">
        <!--<span class="control-label col-md-6" data-i18n="I am"></span>-->
        <span class="control-label col-md-6"></span>

        <div class="btn-checkbox col-md-6">
            <label class="ui-checkbox"><input name="customer" ng-model="accountsettings.customer"
                                              value="Employer" type="checkbox"><span
                    data-i18n="customer"></span></label>
                <label class="ui-checkbox"><input name="supplier" id="looking_for_work"
                                                  ng-model="accountsettings.supplier" value="Worker"
                                                  type="checkbox"><span data-i18n="supplier"></span></label>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend data-i18n="close account"></legend>
    <div class="form-group">
        <button id="btn_show_close_account" class="btn btn-primary" data-i18n="close account">
        </button>
    </div>
    <div class="row">
        <div id="close-account-fieldset" class="hide close-account-fieldset span8 hide fade in">
            <div class="form-group">
                <label class="control-label">Hãy cho chúng tôi biết vì sao bạn rời đi?</label>

                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="close_account_reason" value="privacy_concerns">
                        Tôi có vấn đề về sự riêng tư
                    </label>
                    <label class="radio">
                        <input type="radio" name="close_account_reason" value="unhelpful">
                        Tôi không thấy trang này hữu ích
                    </label>
                    <label class="radio">
                        <input type="radio" name="close_account_reason" value="too_many_notifications">
                        Tôi nhận được quá nhiều thông báo
                    </label>
                    <label class="radio">
                        <input type="radio" name="close_account_reason" value="can_not_understand">
                        Tôi không hiểu cách sử dụng trang này
                    </label>
                    <label class="radio">
                        <input type="radio" name="close_account_reason" value="temporary">
                        Chỉ là tạm thời thôi, tôi sẽ quay lại
                    </label>
                    <label class="radio">
                        <input type="radio" name="close_account_reason" value="other">
                        Khác
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="textarea">
                    Phản hồi của bạn rất đáng giá với chúng tôi:
                </label>

                <div class="controls">
                    <textarea class="input-xlarge" id="close_account_feedback" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Chúng tôi có thể liên hệ với bạn để biết thêm chi tiết không?
                </label>

                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="close_account_contact" value="1" checked="">
                        Có
                    </label>
                    <label class="radio">
                        <input type="radio" name="close_account_contact" value="0">
                        Không
                    </label>
                </div>
            </div>
            <strong>Đóng tài khoản có nghĩa là:</strong>
            <ul class="form-group">
                <li>Hồ sơ và tất cả mục đăng của bạn sẽ biến mất</li>
                <li>Bạn sẽ không còn nhận được thông báo của chúng tôi</li>
                <li>Bạn sẽ không thể đăng nhập lại vào trang này</li>
                <li>Quan trọng hơn là - Chúng tôi sẽ nhớ bạn!</li>
            </ul>
            <div class="form-group" id="close_account_buttons">
                <button id="btn_cancel_close_account" class="btn btn-mini">
                    Đừng đóng tài khoản của tôi
                </button>
                <button id="btn_do_close_account" class="btn btn-danger btn-mini">
                    Đóng tài khoản của tôi
                </button>
            </div>
        </div>
        <aside id="close-account-suggestion" class="span4 close-account-suggestion hide fade in">
            <h3>Các lựa chọn thay thế cho đóng tài khoản</h3>
            <a href="/users/settings.php#EmailSettings">
                Điều chỉnh các cài đặt thông báo email
            </a>

            <p>
                Chúng tôi có đang gửi cho bạn quá nhiều thông báo qua email không? Thay đổi quyền ưu tiên về thông báo.
            </p>
            <a href="/users/helpdesk.php">Liên hệ hỗ trợ</a>

            <p>Chúng tôi luôn có mặt 24/7 để trợ giúp bạn về bất kỳ vấn đề gì</p>
        </aside>
    </div>
</fieldset>
<fieldset>
    <button class="btn btn-action btn-lg pull-right" ng-click="updateAccountClick()" data-i18n="save">
    </button>
</fieldset>
</form>
</div>
<div class="tab-pane" id="contact">
<div id="emailSettings" class="tab-pane" style="display: block;">

<div class="col-md-6 col-md-offset-0 form-group text-left">
</div>

<div class="clearfix"></div>


<div id="emailSettingsErrors" class="alert alert-error settingsErrors hide">
    <strong>Không thể lưu cài đặt!</strong>
    <ul class="margin-t10">
    </ul>
</div>

<div id="emailSettingsSuccess" class="alert alert-success settingsSuccess hide">
    <strong>Đã lưu thành công thiết lập email của bạn!</strong>

    <p class="email-change" style="display:none">
        Một email xác minh đã được gửi đến địa chỉ email cũ và mới của bạn.
        Hãy làm theo hướng dẫn để xác nhận sự thay đổi địa chỉ email của bạn.
    </p>
</div>

<div id="emailRequestCanceled" class="alert alert-success hide">
    <strong>Bạn đã hủy thành công Yêu cầu thay đổi email!</strong>
</div>

<div id="emailRequestTableError" class="alert alert-error hide" style="display: none;">
    <strong>Không thể tải bảng yêu cầu thay đổi email đang chờ duyệt.</strong>
    <ul class="margin-t10">
    </ul>
</div>


<div class="email-requests-table">

</div>


<form id="emailSettingsForm" novalidate="novalidate" data-smart-validate-form ng-enter="updateEmailClick()">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input type="text" data-i18n="i18n-placeholder" placeholder="email address"
                       class="input-xlarge form-control" id="email"
                       name="email"
                       data-smart-validate-input
                       data-required
                       data-email
                       i18n-data-message-required="required field"
                       i18n-data-message-email="Invalid email address"
                       ng-model="notifications.email">
                <span class="help-inline small"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="password" data-i18n="i18n-placeholder" placeholder="if change email"
                       class="input-xlarge form-control" id="passwdEmail" name="passwd" autocomplete="off"
                       data-smart-validate-input
                       data-required
                       i18n-data-message-required="required field"
                       ng-model="notifications.password">
                <span class="help-inline small"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="updateEmailClick()" data-i18n="update email">
        </button>
    </div>
</form>


<div class="section"></div>
<div id="other-email-settings" class="email-settings">
<div>
<div id="email_format_selection">
    <div class="form-group col-md-12 no-padding">
        <label class="col-md-6 no-padding text-normal" for="select-email_format" data-i18n="email format"></label>

                                                                <span class="col-lg-2">
                                                                    <select ng-model="parentEmailformat"
                                                                            ng-options="category.name for category in emailformat"
                                                                            data-smart-validate-input data-required
                                                                            class="form-control">
                                                                    </select>
                                                                </span>
        <span class="error-message small margin-l20" style="display: none;"></span>
    </div>
</div>

<div class="section"></div>
<div class="form-group color-title">
    <legend data-i18n="notify posted orders"></legend>
</div>

<div id="project_email_settings">

    <div class="col-md-12 form-group no-padding">
        <label class="form-group col-md-6 text-normal no-padding" for="select-project_digest_pref"
               data-i18n="order related activity"></label>

                                                            <span class="col-md-2">
                                                                <select ng-model="parentEmailfrequencyactivity"
                                                                        ng-options="category.name for category in emailfrequencyactivity"
                                                                        data-smart-validate-input data-required
                                                                        class="form-control">
                                                                </select>

                                                                <div class="email-setting-tip hover-outer" style="">
                                                                    <div class="hover-inner">
                                                                        <div class="hover-item popover fade right in">
                                                                            <div class="arrow"></div>
                                                                            <div class="popover-inner">
                                                                                <div class="popover-content">
                                                                                    <p>Nhận 3 thông báo đầu tiên ngay
                                                                                        lập
                                                                                        tức. Sau đó tóm tắt hoạt động dự
                                                                                        án
                                                                                        được thực hiện sau 15, 30 và 45
                                                                                        phút, kế tiếp là sau 2 và 6 giờ,
                                                                                        tiếp theo là hàng ngày.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </span>
        <span class="error-message small margin-l20" style="display: none;"></span>
    </div>


    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="change a bid">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">

                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchEmail"><i></i></label>
                                                                                    {{switchOff}}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>
</div>
<div class="section"></div>
<div class="form-group color-title">
    <legend data-i18n="lastest orders"></legend>
</div>

<div id="project_notification_email_settings">

    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 form-group text-normal no-padding" for="select-latest_projects_contests_frequency"
               data-i18n="email frequency"></label>

                                                            <span class="col-lg-2">
                                                                <select ng-model="parentEmailfrequency"
                                                                        ng-options="category.name for category in emailfrequency"
                                                                        data-smart-validate-input data-required
                                                                        class="form-control">
                                                                </select>

                                                                <div class="email-setting-tip hover-outer"
                                                                     style="display: none;">
                                                                    <div class="hover-inner">
                                                                        <div class="hover-item popover fade right in">
                                                                            <div class="arrow"></div>
                                                                            <div class="popover-inner">
                                                                                <div class="popover-content">
                                                                                    <p></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </span>
        <span class="error-message small margin-l20" style="display: none;"></span>
    </div>


    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="order match skills">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle margin-l20  toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">

                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchProject"><i></i></label>
                                                                                    {{switchOn}}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>
</div>

<div class="section"></div>
<div class="form-group color-title">
    <legend data-i18n="individual notifications"></legend>
</div>

<div id="individual_notifications" class="toggle-div">

    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="news and announcements">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle margin-l20  toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">

                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchNew"><i></i></label>
                                                                                    {{switchOff}}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>


    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="customer awards">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle margin-l20  toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">

                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchBuy"><i></i></label>
                                                                                    {{switchOn}}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>

    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="top bidder">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle margin-l20  toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">


                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchOption"><i></i></label>
                                                                                    {{switchOn}}


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>

    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="lastest activity services">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle margin-l20  toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">

                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchService"><i></i></label>
                                                                                    {{switchOn}}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>
    <div class="col-md-12 form-group no-padding">
        <label class="col-md-6 text-normal no-padding" data-i18n="lastest activity freemarket">
        </label>

        <div class="col-md-6">
            <div class="toggle-wrapper">
                                                                    <span class="toggle margin-l20  toggle-on ">
                                                                        <div class="border">
                                                                            <div class="toggle-knob">
                                                                                <div class="circle">
                                                                                </div>
                                                                                <div class="labels">

                                                                                    <label class="switch switch-success"><input
                                                                                            type="checkbox"
                                                                                            ng-model="switchFreeMarket"><i></i></label>
                                                                                    {{switchOff}}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
            </div>
            <span class="error-message small margin-l20" style="display:none;"></span>
        </div>
    </div>
    <div class="clearfix ng-scope"></div>
</div>

<div id="unsubscribed-emails" class="toggle-div" style="display: none;">
    <div class="section"></div>
    <legend>Những thông báo khác</legend>

    <p>Bạn vừa hủy đăng kí nhận tin bằng đường dẫn phía dưới email:</p>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</smart-tab>


</form>
</div>
</section>
<!--/#services-->
</div>


