/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 3:28:16 PM
    Author     : Admin
*/

#edituser .btn-checkbox{
    display: inline-block;
    /*font-size: 15px !important;*/
    font-weight: bold;
    border: none;
    border-radius: 0px !important;
    text-decoration: none;
    background-color: transparent !important;
    color: #767676 !important;
    margin: 0px !important;
    line-height: 0px !important;
    padding-left: 15px;
}
#edituser .btn-custom{
    /*border: 1px solid #104b93 !important;*/
    padding: 15px 0px 5px 15px !important;
}

#edituser .backgound-image {
    background: url('../../../images/security.png') no-repeat;
    width: 64px;
    height: 120px;
    margin-right: 30px;
    float: left;
}

#edituser .btn-checkbox span {
    color: #767676;
}

#edituser .text-normal {
    font-weight: normal;
}

#edituser .ui-tab-container {
    border: none;
}

#edituser .padding-right-0 {
    padding-right: 0px;
}

#edituser .margin-bottom-15 {
    margin-bottom: 15px;
}

#edituser .btn-checkbox button:active, #edituser .btn-checkbox button:hover, #edituser .btn-checkbox button:focus {
    background: none;
}
@media (max-width: 768px) {
    #edituser .ui-tab-container .tab-content {
        padding: 15px;
    }

    #edituser .btn-gap {
        margin: 10px 0px;
    }

    #edituser .panel {
        border: none;
    }

    #edituser .col-md-6, #edituser .col-lg-4 {
        padding: 0px;
    }

    #edituser .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }
}