#headhunt .form-group label {
  color:#2B3D53;
}

#headhunt .select2-choices li {
    width:auto;
}
#headhunt .padding-bottom20{
    padding-bottom: 20px!important;
}

#headhunt span::before {
    margin:0px!important;
}

#headhunt span::after {
    left: 5px !important;
}

#headhunt .select2-choices {
    padding-left: 11px !important;
}

#headhunt .overwrite-title {
    color: #2B3D53;
    display: inline;
    position: initial;
    /*font-size: 20px;*/
}
@media (min-width: 768px){
    #headhunt .bootstrapWizard .tab-provision li:first-child {
        margin-top:30px;
     }
    #headhunt .bootstrapWizard .tab-provision li {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;

    }

    #headhunt .tab-provision ul {
        margin-left:-40px;
    }

    #headhunt .tab-provision .ui-checkbox {
        margin: 10px 20px 10px 0px;
    }

    #headhunt .tab-provision ul > li {
        list-style:none;
        list-style-type: decimal;
    }
}

#headhunt .tab-provision ul > li {
    list-style:none;
    list-style-type: decimal;
}

#headhunt .animate-switch .form-group .dropzone {
    border: none;
}

#headhunt .animate-switch .form-group .dropzone .file-input-wrapper {
    color: steelblue;
}

/*.parent-skills input{*/
    /*width: 100% !important;*/
/*}*/

div.ui-checkbox.no-margin{
    margin:0px !important;
}

.currency .input-group-btn select{
    width:100px;

}
.currency .input-group-btn select{
    /*border-left:0px;*/
}

.parent-skills input{
    height:40px !important;
}
.control-label {
  margin-top: 10px;
}
.parent-skills input{
    /*font-size:18px;*/
     padding-left:15px;
 }
.form-actions {
    margin-top: 20px;
}
.form-group label {
    font-weight: bold;
}
div.ui-checkbox.no-margin{
    margin:0px !important;
}

.no-padding-left{
    padding-left: 0px;
}
.no-padding-right{
    padding-right: 0px;
}
.margin-top-offset{
    margin: 10px 0 0 0;
}

.bs-example {
    height: 215px;
    position: relative;
    padding: 20px 15px 10px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.span-button{
    margin-bottom: -45px;
}
@media (max-width: 1024px){
    .span-button{
        margin-right: 1px;
    }
}
.dropdown-menu{
    margin-top: -105px;
}

.selecte-skill li{
    width:auto;
    margin-top:5px;
}

.selecte-skill .select2-container--open{
    z-index:0;
    position:inherit !important;

}
.select2-container--open{
  position:fixed !important;
    z-index: 9999999;

}
.pac-container{
    position:fixed !important;
}

.select2-container--default .select2-selection--multiple{
    border-radius:0px;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
    line-height: 1;
    /*font-size: 18px*/
}
#headhunt .dt-toolbar-footer{
    display: none !important;
    visibility: hidden !important;
}
#headhunt .dt-toolbar{
    display: none !important;
    visibility: hidden !important;
}
.dropdown-menu {
    margin-top: 5px;
}
 a.help-block {
      color: #337ab7;
      text-decoration: underline;
      margin-bottom: 3px;
 }

 .helper-container .dropdown-menu:before {
   border-bottom: 8px solid #e9e9e9;
 }

.helper-container .dropdown-menu:before {
  left: auto;
}

.helper-container .dropdown-menu:before {
  content: " ";
  position: absolute;
  left: 12px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
}


 .wizard > .actions > ul > li {
     margin: 0 0 0 0.5em;
   }
.serviceTable td{
    vertical-align: middle !important;
}

.serviceTable .price_old{
      text-decoration: line-through;
}
.serviceTable td.quantity{
    text-align:center;
}
.serviceTable .price{
      color: red;
      font-weight: 500;
}
#headhunt .blankColor{
    background: none!important;
    color: grey !important;
}


@media (min-width: 768px){
    #headhunt .setWidth-35{
        width: 35% !important;
    }
}


@media (min-width: 768px){
    #headhunt .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
    #headhunt .select2-selection__choice__remove
    {
        display: none;
    }
}

#headhunt .no-auto-select{
    -webkit-user-select: none;
}

.width10Percent {
    width: 10% !important;
}
#headhunt .no-margin-left{
    margin-left: 0px!important;
}

