<section class="page no-padding" id='headhunt' ng-controller='headhunt' ng-init="init()">
    <input type="hidden" id="choices_skill" data-i18n="i18n-placeholder" placeholder="skills select">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
                data-i18n="post order"></span>
        </strong></div>
        <div class="panel-body">
            <form novalidate="novalidate" data-smart-validate-form>
                <div class="col-xs-12" data-smart-wizard finish-label="post order"
                     data-smart-wizard-callback="wizard1CompleteCallback">
                    <div class="form-bootstrapWizard clearfix">
                        <ul class="bootstrapWizard hidden-xs">
                            <li data-smart-wizard-tab="1">
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" data-smart-wizard-pane="1">
                            <div class="row">
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <label class="control-label col-lg-3 no-padding"
                                           data-i18n="skills"></label>

                                    <div class="col-lg-9 form-group no-padding">
                                        <div class="form-group selecte-skill">
                                            <select name="skills" data-smart-validate-input data-required
                                                    data-message-required="validate choose skill" aria-required="true"
                                                    aria-describedby="title-error" placeholder="Ứng viên cần biết chuyên môn gì?"
                                                    aria-invalid="true" ng-model="selectedSkills"
                                                    ng-options="skill as skill.name for skill in selected.category.children[0].skills"
                                                    data-smart-select2 multiple ng-change="removeHasError()"
                                                    class="form-control select2 select2- no-auto-select"
                                                    style="width:100%;"></select>

                                            <div class="input-group"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <label class="control-label no-padding col-lg-3"
                                           data-i18n="information type"></label>

                                    <div class="form-group">
                                        <div class="col-lg-9 no-padding">
                                            <table datatable-basic id="infoMore" no-hightlight table-options="descriptionTable"
                                                   on-selection="formatContent" show-hidden
                                                   class="table table-striped table-bordered table-hover">
                                                <thead class="hidden-lg hidden-md hidden-sm">
                                                <tr>
                                                    <th><span data-i18n="selected"></span></th>
                                                    <th><span data-i18n="type"></span></th>
                                                    <th data-hide="phone"></span></th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid" style="margin-top:10px;">
                                    <label class="control-label no-padding col-lg-3" data-i18n="description more">
                                    </label>

                                    <div class="form-group col-lg-9 no-padding">
                                        <textarea class="form-control " data-i18n="i18n-placeholder"
                                                  placeholder="description more" name="description" reset-field
                                                  ng-model="post.content" rows="5" maxlength="1500"
                                                  data-smart-validate-input
                                                  data-required data-message-required="validate field"></textarea>

                                        <div class="helper-container dropdown">
                                            <a id="help-block" class="help-block" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-i18n="help block"></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="help-block">
                                                <li>
                                                    <a href="javascript:0;"
                                                       ng-click="loadSampleDescription(1)"><span
                                                            data-i18n="description 1"></span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:0;"
                                                       ng-click="loadSampleDescription(2)"><span
                                                            data-i18n="description 2"></span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:0;"
                                                       ng-click="loadSampleDescription(3)"><span
                                                            data-i18n="description 3"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <label class="control-label no-padding col-lg-3" data-i18n="advanced services"></label>

                                    <div class="form-group">
                                        <div class="col-lg-9 no-padding">
                                            <table datatable-basic id="addonService" no-hightlight table-options="serviceTable" show-hidden
                                                   class="table table-striped table-bordered table-hover serviceTable" on-selection="validateAddon"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><span data-i18n="selected"></span></th>
                                                    <th class="text-center"><span data-i18n="kind"></span></th>
                                                    <th data-hide="phone" class="text-center"><span data-i18n="description sevice"></span></th>
                                                    <th class="text-center"><span data-i18n="price"></span></th>
                                                    <th class="text-center" data-hide="phone,tablet,desktop"><span data-i18n="quantity"></span></th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row-fluid">-->
                                    <!--<label class="control-label hidden-md hidden-xs col-lg-3"-->
                                           <!--data-i18n="location"></label>-->

                                    <!--<div class="col-lg-9 form-group no-padding">-->
                                        <!--<div ng-model="post.more.address" smart-location-->
                                             <!--address="post.more.address"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-actions row no-margin-left">
                        <div class="wizard pull-right">
                            <div class="actions clearfix">
                                <ul role="menu" aria-label="Pagination">
                                        <li class=""><a href="" ng-click="goBack()" data-i18n="previous"></a></li>
                                    <li class="" data-smart-wizard-next><a href="" data-i18n="next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</section>

