<div id='share' flowtype ng-controller="share" xmlns="http://www.w3.org/1999/html" ng-init="init()">
    <div class="page no-padding-moblie no-padding">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
                    data-i18n="vaber info"></span></strong>
            </div>
            <div class="panel-body padding-moblie no-padding">
                <div class="page col-md-12">
                    <section class="row no-margin">
                        <div class="col-md-12">
                            <a class="btn btn-social-icon btn-facebook social-media-link-fb btn-size social-item btn-gap"
                               ng-click="inviteFacebook()" target="_blank" title="Vaber trên Facebook"><i
                                    class="fa fa-facebook"></i><span class="margin-left15">Facebook</span></a>

                            <a class="btn btn-social-icon btn-twitter social-media-link-twitter btn-size social-item btn-gap"
                               href="https://twitter.com/"
                               target="_blank" title="Vaber trên Twitter"><i class="fa fa-twitter"></i> <span
                                    class="margin-left15">Twitter</span></a>


                            <a class="btn btn-social-icon btn-google-plus social-media-link-gplus btn-size social-item btn-gap"
                               href="javascript:;"
                               target="_blank" title="Vaber trên Google Plus"><i
                                    class="fa fa-google-plus"></i> <span
                                    class="margin-left15">Google Plus</span></a>


                            <a class="btn btn-social-icon btn-instagram social-media-link-instagram btn-size social-item btn-gap"
                               href="https://instagram.com/" target="_blank" title="Vaber trên Instagram"><i
                                    class="fa fa-instagram"></i> <span class="margin-left15">Instagram</span></a>

                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
</div>

