#share h4 {
    color: #e13e60 !important;
    /*font-size: 16px;*/
    line-height: 28px;
    font-weight: bold;
}

#share .col-md-3 {
    color: #000000;
    font-weight: bold;
}

@media (max-width: 768px) {
    #share .col-md-12 {
        line-height: 28px;
    }
}
