/*==========  animations  ==========*/
// Thanks, https://github.com/daneden/animate.css

// animate-fade-up, a combination of "fadeOutUp" and "fadeInUp"
html { // fix webkit translate causing scollbar issue
  overflow-x: hidden;
    //position: relative;
}
.keyframes(~'animationName, 0%{ transform: scale(1.5); color: blue; } 100%{ transform: scale(2); color: red }');
.keyframes(~'fade-up-enter, 0% {opacity: 0; transform: translateY(20px); } 100% {opacity: 1; transform: translateY(0); } ');
.keyframes(~'fade-up-leave, 0% {opacity: 1; transform: translateY(0); } 100% {opacity: 0; transform: translateY(-20px); } ');
.animate-fade-up.ng-enter,
.animate-fade-up.ng-leave {}
.animate-fade-up.ng-enter {
    .animation(0.35s fade-up-enter);
}
// .animate-fade-up.ng-leave {
//     .animation(0.35s fade-up-leave);
// }

// animate-flip-y, a combination of "flipInY" and "flipOutY"
.keyframes(~'animate-flip-y-enter, 0% {transform: perspective(3000px) rotateY(90deg); opacity: 0; } 100% {transform: perspective(3000px) rotateY(0deg); opacity: 1; } ');
.keyframes(~'animate-flip-y-leave, 0% {transform: perspective(3000px) rotateY(0deg); opacity: 1; } 100% {transform: perspective(3000px) rotateY(-90deg); opacity: 0; } ');
.animate-flip-y.ng-enter {
    .animation(0.5s animate-flip-y-enter);
}
.animate-flip-y.ng-leave {
    .animation(0.5s animate-flip-y-leave);
}


// vertical slide
.keyframes(~'slideInDown, 0% {opacity: 0; transform: translateY(-2000px); } 100% {transform: translateY(0); } ');
.keyframes(~'slideOutUp, 0% {transform: translateY(0); } 100% {opacity: 0; transform: translateY(-2000px); } ');
.animate-vertical-slide.ng-hide-add {
    .animation(.35s slideOutUp ease-in-out);
}
.animate-vertical-slide.ng-hide-remove {
    .animation(.35s .35s slideInDown ease-in-out);
}
