<section class="page no-padding" id='tutoring' ng-controller='tutoring' ng-init="init()">
<section class="panel panel-default">
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
        data-i18n="post order"></span>
</strong></div>
<div class="panel-body">
<form novalidate="novalidate" data-smart-validate-form>
<div class="col-xs-12" data-smart-wizard finish-label="post order" data-smart-wizard-callback="wizard1CompleteCallback">
<div class="form-bootstrapWizard clearfix">
    <ul class="bootstrapWizard hidden-xs">
        <li data-smart-wizard-tab="1">

        </li>

    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane" data-smart-wizard-pane="1">
        <div class="row">
            <div class="row-fluid">
                <label class="control-label   col-lg-3 no-padding"
                       data-i18n="subject title"></label>

                <div class="col-lg-9 no-padding">
                    <div class="form-group selecte-skill">
                        <select name="skill" data-required ng-change="removeHasError()"
                                data-message-required="validate choose tutoring"
                                data-smart-validate-input ng-model="selectedSkills"
                                ng-options="skill as skill.name for skill in selected.category.skills"
                                data-smart-select2 multiple placeholder="Chọn môn học"
                                class="form-control  select2" style="width:100%;"></select>
                    </div>
                </div>
            </div>

            <div class="row-fluid no-control-picker col-lg-12 no-padding">
                <label class="control-label  hidden-sm col-lg-3 no-padding" data-i18n="time tutoring"></label>

                <div class="form-group col-lg-4 no-padding padding-right-15">
                    <!--<div class="input-group ">-->
                        <!--<input type="text" class="form-control" ng-model="post.more.dateStart"-->
                               <!--datepicker-popup="{{format}}"-->
                               <!--is-open="opened" min-date={{minDate}}-->
                               <!--data-smart-validate-input ng-click="open($event)"-->
                               <!--placeholder="dd/mm/yyyy" name="date_tutor"-->
                               <!--dateformat="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
                                              <!--<span class="input-group-btn">-->
                                                <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i-->
                                                        <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                              <!--</span>-->
                    <!--</div>-->
                    <div class="no-padding" ng-model="post.more.dateStart" is-open="opened" name="date_tutor" minDate mindatemobile dateformat smart-date></div>
                </div>
                <div class="form-group col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding no-padding-xs">
                    <!--<input type="time" class="form-control " name="timeFrom" ng-model="post.more.timeFrom"/>-->
                    <input type="time" class="form-control timeFrom" placeholder="HH:mm" data-smart-validate-input
                           comparetimeTo="validate time" name="timeFrom"
                           timeformat="validate time1"
                           ng-model="post.more.timeFrom"/>
                </div>
                <div class="col-lg-1 margin-top10 col-xs-2 col-md-2 col-sm-2 text-center no-padding">
                    <label data-i18n="calendar to"></label></div>
                <div class="form-group  col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding no-padding-xs">
                    <!--<input type="time" class="form-control " name="timeTo" ng-model="post.more.timeTo"/>-->
                    <input type="time" class="form-control timeTo" name="timeTo" placeholder="HH:mm"
                           data-smart-validate-input timeformat="validate time2"
                           comparetimeFrom="validate time3"
                           ng-model="post.more.timeTo"/>
                </div>
            </div>


            <!--<div class="row-fluid no-control-picker">-->
            <!--<label class="control-label  col-lg-3 no-padding"-->
            <!--data-i18n="calendar"></label>-->

            <!--<div class="form-group col-lg-4 no-padding">-->
            <!--<div class="input-group ">-->
            <!--<input type="date" class="form-control" ng-model="post.more.dateStart"-->
            <!--datepicker-popup-->
            <!--data-smart-validate-input is-open="opened" min-date="minDate"-->
            <!--data-i18n="i18n-placeholder" placeholder="start date helper"-->
            <!--name="date_tutor"-->
            <!--data-required-->
            <!--data-message-required="Chưa nhập dữ liệu hoặc sai định dạng"/>-->
            <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default"-->
            <!--ng-click="open($event)"><i-->
            <!--class="glyphicon glyphicon-calendar"></i></button>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding-xs no-padding-md no-padding-sm no-padding-md">-->
            <!--<input type="time" class="form-control " name="dateFrom"-->
            <!--ng-model="post.more.dateFrom" placeholder="HH:mm"/>-->
            <!--</div>-->
            <!--<div class="col-lg-1 margin-top10 col-xs-2 col-md-2 col-sm-2 text-center">-->
            <!--<label data-i18n="calendar to"></label></div>-->
            <!--<div class="form-group  col-lg-2 col-xs-5 col-md-5 col-sm-5 no-padding-xs no-padding-md pull-right no-padding-right">-->
            <!--<input type="time" class="form-control " name="dateTo"-->
            <!--ng-model="post.more.dateTo" placeholder="HH:mm"/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="clearfix"></div>
            <div class="row-fluid">
                <label class="control-label  col-lg-3 no-padding"
                       data-i18n="description more">
                </label>

                <div class="form-group col-lg-9 no-padding">
                    <textarea class="form-control " data-i18n="i18n-placeholder"
                              placeholder="description more" name="description" reset-field
                              ng-model="post.content" rows="5" maxlength="1500"
                              data-smart-validate-input
                              data-required data-message-required="validate field"></textarea>

                    <div class="helper-container dropdown">
                        <a id="help-block" class="help-block" data-target="#" href=""
                           data-toggle="dropdown" aria-haspopup="true" role="button"
                           aria-expanded="false" data-i18n="help block"></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="help-block">
                            <li>
                                <a href="javascript:0;"
                                   ng-click="loadSampleDescription(1)"><span
                                        data-i18n="description 1"></span></a>
                            </li>
                            <li>
                                <a href="javascript:0;"
                                   ng-click="loadSampleDescription(2)"><span
                                        data-i18n="description 2"></span></a>
                            </li>
                            <li>
                                <a href="javascript:0;"
                                   ng-click="loadSampleDescription(3)"><span
                                        data-i18n="description 3"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <label class="control-label  col-lg-3 no-padding gender-label"
                       data-i18n="gender"></label>

                <div class="col-lg-4 form-group no-padding">
                    <select class="form-control " ng-model="post.more.gender" name="gender">
                        <option value="" selected data-i18n="gender tutor"></option>
                        <option value="male" data-i18n="male"></option>
                        <option value="female" data-i18n="female"></option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <label class="control-label  col-lg-3 no-padding career-label"
                       data-i18n="career"></label>

                <div class="col-lg-4 form-group no-padding">
                    <select class="form-control " ng-model="post.more.career" name="career">
                        <option value="" selected data-i18n="career tutors"></option>
                        <option value="teacher" data-i18n="teacher"></option>
                        <option value="student" data-i18n="student"></option>
                        <option value="other" data-i18n="other"></option>
                    </select>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <label class="control-label  col-lg-3 no-padding" data-i18n="salary tutoring"></label>

                <div class="form-group col-lg-4 currency no-padding">
                    <div class="input-group ">
                        <input id="budget" class="form-control "
                               data-i18n="i18n-placeholder" reset-field numbers-only
                               placeholder="post currency" type="tel" name="post_currency" requirePrice="validate budget1"
                               maxlength="15" ng-model="post.more.salaryTutoring" format-currency data-smart-validate-input>
                        <div class="input-group-btn">
                            <span role="button" class="btn btn-default"><u>đ</u></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
            <div class="row-fluid">
                <label class="control-label no-padding col-lg-3" data-i18n="advanced services"></label>
                <div class="">
                    <div class="col-lg-9 form-group no-padding">
                        <table datatable-basic id="addonService" no-hightlight table-options="serviceTable" show-hidden
                               class="table table-striped table-bordered table-hover serviceTable" on-selection="validateAddon"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="text-center"><span data-i18n="selected"></span></th>
                                <th class="text-center"><span data-i18n="kind"></span></th>
                                <th class="text-center" data-hide="phone"><span data-i18n="description sevice"></span></th>
                                <th class="text-center"><span data-i18n="price"></span></th>
                                <th class="text-center" data-hide="phone,tablet,desktop"><span data-i18n="quantity"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <label class="control-label  col-lg-3 no-padding" data-i18n="location"></label>

                <div class="col-lg-9 form-group no-padding">
                    <div ng-model="post.more.address" smart-location address="post.more.address"
                         placeholder="Chọn địa điểm cần gia sư"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="form-actions row">
    <div class="wizard pull-right">
        <div class="actions clearfix">
            <ul role="menu" aria-label="Pagination">
                <li class=""><a href="" ng-click="goBack()" data-i18n="previous"></a>
                </li>
                <li class="" data-smart-wizard-next><a href="" data-i18n="post order"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</form>
</div>
</section>
</section>
