#tutoring .select2-choices li {
    width:auto;
}
#tutoring .padding-bottom20{
    padding-bottom: 20px!important;
}

#tutoring span::before {
    margin:0px!important;
}

#tutoring span::after {
    left: 5px !important;
}

#tutoring .select2-choices {
    padding-left: 11px !important;
}

#tutoring .overwrite-title {
    color: #2B3D53;
    display: inline;
    position: initial;
    /*font-size: 20px;*/
}
@media (min-width: 768px){
    #tutoring .bootstrapWizard .tab-provision li:first-child {
        margin-top:30px;
     }
    #tutoring .bootstrapWizard .tab-provision li {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;

    }

    #tutoring .tab-provision ul {
        margin-left:-40px;
    }

    #tutoring .tab-provision .ui-checkbox {
        margin: 10px 20px 10px 0px;
    }

    #tutoring .tab-provision ul > li {
        list-style:none;
        list-style-type: decimal;
    }
}

#tutoring .tab-provision ul > li {
    list-style:none;
    list-style-type: decimal;
}

#tutoring .animate-switch .form-group .dropzone {
    border: none;
}

#tutoring .animate-switch .form-group .dropzone .file-input-wrapper {
    color: steelblue;
}

/*.parent-skills input{*/
    /*width: 100% !important;*/
/*}*/

#tutoring div.ui-checkbox.no-margin{
    margin:0px !important;
}

#tutoring .currency .input-group-btn select{
    width:100px;

}
#tutoring .currency .input-group-btn select{
    /*border-left:0px;*/
}

#tutoring .parent-skills input{
    height:40px !important;
}
#tutoring .control-label {
  margin-top: 10px;
}
#tutoring .career-label, gender-label{
    margin-top:0px;
}

#tutoring .parent-skills input{
    /*font-size:18px;*/
     padding-left:15px;
 }

#tutoring .ui-checkbox small{
    /*font-size:14px;*/
    color:#767676;
}

#tutoring .selecte-skill li{
    width:auto;
    margin-top:5px;
}
#tutoring .selecte-skill .select2-container--open{
    z-index:0;
    position:inherit !important;

}
.select2-container--open{
  position:fixed !important;
    z-index: 9999999;

}
.pac-container{
    position:fixed !important;
}

#tutoring .select2-container--default .select2-selection--multiple{
    border-radius:0px;
}


#tutoring .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
    line-height: 1;
    /*font-size: 18px*/
}
#tutoring .form-group .btn-group label{
    color:#fff;
    font-weight:bold;
}

#tutoring .padding-top28{
    padding-top:28px;
}
#tutoring .margin-top10{
    margin-top:10px;
}
#tutoring .btn-plain {
  border-color: #104b93;
}
#tutoring  .btn-plain{
    color:#767676 !important;
}
#tutoring .btn-plain.active{
    color: #ffffff !important;
    background-color: #0f4485;
    border-color: #0a2f5c;
}
#tutoring  .dropdown-menu {
    margin-top: 5px;
}
#tutoring  a.help-block {
      color: #337ab7;
      text-decoration: underline;
      margin-bottom: 3px;
 }

#tutoring  .helper-container .dropdown-menu:before {
   border-bottom: 8px solid #e9e9e9;
 }

#tutoring .helper-container .dropdown-menu:before {
  left: auto;
}

#tutoring  .helper-container .dropdown-menu:before {
  content: " ";
  position: absolute;
  left: 12px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
}


#tutoring  .wizard > .actions > ul > li {
   margin: 0 0 0 0.5em;
 }

#tutoring  .no-control-picker table tr.text-center{
    display:none;
  }
#tutoring  .no-control-picker table tr>td>input{
    height: 46px;
    padding: 10px 16px;
    /*font-size: 18px;*/
    line-height: 1.33;
    border-radius: 0;
    width:60px !important;

}
#tutoring  .no-control-picker .pull-right table{
        float:right;
}
#tutoring  .padding-right-15{
    padding-right:15px !important;
}
@media(max-width:1200px){
    #tutoring  .padding-right-15{
        padding-right:0px !important;
    }
}

@media (max-width: 320px) {
    .no-control-picker .no-padding-xs input {
        font-size: 12px;
        padding: 7px 7px;
    }
}
#tutoring .dt-toolbar-footer{
    display: none !important;
    visibility: hidden !important;
}
#tutoring .dt-toolbar{
    display: none !important;
    visibility: hidden !important;
}

#tutoring .blankColor{
    background: none!important;
    color: grey !important;
}


@media (min-width: 768px){
    #tutoring .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}

/*@media(min-width: 768px){*/
  /*#tutoring  .no-control-picker .no-padding-sm{*/
        /*padding:0px !important;*/
     /*}*/
/*}*/
/*@media(min-width: 1200px){*/
  /*#tutoring  .no-control-picker .no-padding-sm{*/
        /*padding-left: 15px !important;*/
        /*padding-right: 15px !important;*/
    /*}*/
    /*#tutoring   .no-control-picker .no-padding-xs input{*/
        /*width:146px;*/
    /*}*/
    /*#tutoring  .no-control-picker .pull-right input{*/
        /*margin-left:-20px;*/
    /*}*/
    /*#tutoring  .no-control-picker .text-center label{*/
        /*margin-left:10px;*/
    /*}*/
/*}*/
/*@media(max-width:767px) {*/
    /*#tutoring   .no-control-picker .no-padding-sm{*/
            /*padding:0px !important;*/
         /*}*/
/*}*/