#help .cursor-point{
    cursor: pointer;
}

#help .margin-top-5{
     margin-top: 5px;
 }

#help .padding-bot-5{
    padding-bottom: 5px!important;
}

#help .padding-l-r-4{
    padding-left: 5px!important;
    padding-right: 5px!important;
}

#help .padding-bot-10{
    padding-bottom: 10px!important;
}

#help .img150_150{
    width: 150px;
    height: 150px;
}

#help .pad10{
    padding: 15px;
}

#help .border{
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
}