<div id='help' ng-controller="help" ng-init="init()">
<section class="panel panel-default">
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span
        data-i18n="help"></span></strong>
</div>
<div class="panel-body no-padding" data-i18n="i18n-url" url="help">

</div>
</section>
</div>




