/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/04/09, 10:46:07
    Author     : CrystD
*/
label > * { pointer-events: none; }
.padding-left2px {
    padding-left: 1px;
    padding-right: 1px;
}
.btn-custom-group
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-action {
    color: #FFF;
}

#loginPopup .icon-facebook {
    float: left;
    font-size: 24px;
    margin-left: 25px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #cbd5dd;
}

#loginPopup .btn-facebook {
    background-color: #3b5998 !important;
    background-image: none !important;
    color: #fff !important;
    text-shadow: 0 -1px transparent !important;
    font-weight: bold !important;
}

#loginPopup .btn-radio {
    /*margin-left: 23px;*/
    margin-bottom: 15px;
    width: 100%;
}

#loginPopup .ui-checkbox {
    margin: 5px 20px 5px 20px;
}

#loginPopup label > * {
    pointer-events: auto;
}

#loginPopup .ui-checkbox span {
    font-weight: bold;
}

#finishOrder .btn-sum {
    margin-left: 30px;
    margin-top: 15px;
}

.modal-header {
    max-height: 100px !important;
}

.close {
    margin-top: -40px !important;
}

#rejectProposal .close {
    margin-top: 0px !important;
}

#confirmProposal .close {
    margin-top: 0px !important;
}

#paymentPopup .close {
    margin-top: 0px !important;
}

#viewContactDetail .close {
    margin-top: 0px !important;
}

#viewContact .close {
    margin-top: 0px !important;
}

#confirmProposal .no-padding-top {
    padding-top: 0px !important;
}

#confirmProposal .no-padding-bot {
    padding-bottom: 0px !important;
}

.logo-header {
    margin-top: -40px !important;
}

#finishOrder .margin-table {
    margin-left: 30px;
    margin-top: 15px;
}

#loginPopup .btn:focus .btn:hover {
    background-color: #ffffff;
}

#loginPopup .modal-dialog {
    width: 100%;
    max-height: 100%;
}

#loginPopup .modal-btn-old-user {
    width: 186px;
}

#loginPopup .modal-btn-new-user {
    width: 167px;
}

#signupFacebook .modal-dialogsignup {
    width: 600px;
    margin: 0 auto;
}

#signupFacebook .margin-row {

    margin-left: -121px;
    margin-right: -308px;
    display: inline-block;
}

#signupFacebook .form-step {
    margin-top: 15px;
}

#signupFacebook .margin-auto {
    width: 50%;
    margin: 0 auto;
}

.top-header {
    border-bottom: 1px solid #e9e9e9;
}

#choseRole .margin-top-15px {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        display: none !important;
    }

    #choseRole .margin-top-1px {
        margin-top: 1px !important;
    }

    #nav-container {
        margin-top: 1px !important;
    }

    .width-mobile1 {
        width: 50%;
    }

    .width-mobile2 {
        width: 50%;
        float: left;
        float: right;
    }

    .modal-dialog {
        margin: 30px auto !important;
    }

    .btn-custom-mobile {

        margin-top: 15px;
    }

    .margin-row-mobile {
        margin-left: -30px !important;
    }

    #updateuser .no-padding-left-mobile {
        padding-left: 0px;
    }

    .panel {
        border: none;
    }

    section.panel > .panel-heading:first-child {
        display: none !important;
    }

    div.panel > .panel-heading {
        padding: 0px 15px !important;
    }

    /*.navbar-title h1 span {*/
    /*text-transform: capitalize;*/
    /*}*/

    .logo {
        border-bottom: 1px solid #e9e9e9;
    }

    .top-header {
        border-bottom: 1px solid #e9e9e9;
    }
}

@media (max-width: 1000px) {
    #choseRole .no-float-mobile {
        float: none !important;
    }

    .width-mobile1 {
        width: 50%;
        float: left;
    }

    .width-mobile2 {
        width: 50%;
        float: right;
    }

    .btn-custom-mobile {
        margin-top: 15px;
    }
}

#loginPopup .forgot-password-toggle {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 14px;
}

#loginPopup .font-role {
    font-size: 15px;
}

#loginPopup .hr {
    position: relative;
    width: 70%;
    height: 8px;
    margin: 21px 15% 30px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #fff, transparent 0 0 0;
    box-shadow: 0 1px 0 #fff, transparent 0 0 0;
    border-bottom: 1px solid #c3c4c7;
    text-align: center;
}

#loginPopup .hr .inner {
    background: #f4f4f4;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    width: auto;
    padding: 9px 10px;
    font-family: "Georgia", "Times", "Times New Roman", serif;
    font-size: 16px;
    font-style: italic;
    line-height: 0;
}

#loginPopup .icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

#loginPopup .icon-addon .fa, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon.addon-md .glyphicon {
    position: absolute;
    z-index: 2;
    left: 10px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}

#loginPopup .icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 25px;
    top: 4px;
}

#loginPopup .margin-10 {
    margin: 10px;
}

#loginPopup .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#loginPopup .no-padding {
    padding: 0px !important;
}

#loginPopup .select2-choices li {
    width: auto;
}

#loginPopup .padding-bottom20 {
    padding-bottom: 20px !important;
}

#loginPopup .bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

#loginPopup .bootstrapWizard a:active, #loginPopup .bootstrapWizard a:focus, #loginPopup .bootstrapWizard a:hover {
    text-decoration: none;
}

#loginPopup .bootstrapWizard li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0;
}

#loginPopup .bootstrapWizard li:before {
    border-top: 3px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1;
}

#loginPopup .bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

#loginPopup .bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

#loginPopup .bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E;
}

#loginPopup .bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px;
}

#loginPopup .bootstrapWizard li .step {
    background: #B2B5B9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

#loginPopup .bootstrapWizard li.active .step, #loginPopup .bootstrapWizard li.active.complete .step {
    background: #2FB3E9;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #55606E;
}

#loginPopup .bootstrapWizard li.active .title, #loginPopup .bootstrapWizard li.complete .title {
    color: #2B3D53;
}

#getPassword .modal-header-success {
    color: #1357aa;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #ffffff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 30px;
}

#getPassword .modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

#loginPopup .margin-bottom {
    margin-bottom: 15px;
    margin-top: 15px
}

#getPassword .center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

#choseRole .margin-left {
    margin-left: 40px;
}

#finishOrder .table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

#finishOrder .td {
    border: none;
}

#choseRole .modal-dialog {
    max-width: 350px;
    max-height: 100%;

}

#loginPopup .bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104;
    padding-left: 0px;
}

#loginPopup .wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

#loginPopup .wizard-actions li {
    display: inline;
}

#loginPopup .tab-content.transparent {
    background-color: transparent;
}

#loginPopup h3 {
    display: block;
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0;
    line-height: normal;
}

#loginPopup .tab-content > .tab-pane {
    display: none;
}

#loginPopup .tab-content > .active {
    display: block !important;
}

@media (min-width: 768px) {
    .logo {
        border-bottom: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
    }

    .modal-dialog {
        margin: 30px auto !important;
    }

    #loginPopup .bootstrapWizard li {
        float: none;
        width: 100%;
        text-align: left;
        margin-top: 40px;
    }

    #loginPopup .bootstrapWizard li:before {
        border: none;
    }

    #loginPopup .bootstrapWizard li .title {
        display: inline;
        position: initial;
        font-size: 20px;
        padding-left: 20px;
    }

    #loginPopup .bootstrapWizard li .step, #loginPopup .bootstrapWizard li.complete .step {
        background: #2FB3E9;
        color: #fff;
        font-weight: 700;
        padding: 7px 13px;
        font-size: 15px;
        border-radius: 50%;
        border: 3px solid #55606E;
    }

    #app {
        border-right: 1px solid #e9e9e9;
    }
}

/*.form-group label {*/
/*color: #2B3D53;*/
/*}*/

.no-padding {
    padding: 0px !important;
}

.select2-choices li {
    width: auto;
}

#loginPopup .padding-bottom20 {
    padding-bottom: 20px !important;
}
#loginPopup .font-color-black
{
    color: #222222 !important;
}
#loginPopup .btn-facebook {
    background-color: #3b5998 !important;
    background-image: none !important;
    color: #fff !important;
    text-shadow: 0 -1px transparent !important;
    font-weight: bold !important;

}

#loginPopup .btn-checkbox {
    background-color: transparent;
    border-color: #104b93;
    width: 50%;
    float: left;
}

#signupFacebook .btn-checkbox {
    background-color: transparent;
    border-color: #104b93;
}

.btn-custom {
    border-radius: 4px;
}

.modal-dialog {
    max-width: 400px;
    max-height: 600px;

}

#loginPopup .forgot-password-toggle {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 14px;
}

#loginPopup .hr {
    position: relative;
    width: 50%;
    height: 8px;
    margin: 21px 15% 30px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff, transparent 0 0 0;
    -webkit-box-shadow: 0 1px 0 #fff, transparent 0 0 0;
    box-shadow: 0 1px 0 #fff, transparent 0 0 0;
    border-bottom: 1px solid #c3c4c7;
    text-align: center;
}

#loginPopup .hr .inner {
    background: #f4f4f4;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    width: auto;
    padding: 9px 10px;
    font-family: "Georgia", "Times", "Times New Roman", serif;
    font-size: 16px;
    font-style: italic;
    line-height: 0;
}

#loginPopup .input-group {
    /*margin-bottom: 20px;*/
}

#loginPopup .icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

@media (max-width: 380px) {
    #signup .check-btn {
        padding: 0px !important;
    }
}

@media (max-width: 412px) {
    #loginPopup .btn-width {
        width: 100%;
    }

    #loginPopup .modal-btn-old-user {
        width: 50%;
        font-size: 14px;
        padding: 10px 12px;
    }

    #loginPopup .modal-btn-new-user {
        width: 50%;
        font-size: 14px;
        padding: 10px 12px;
    }

    #signupPopup input.input-lg {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .ui-checkbox {
        /*margin: 0 20px 10px 10px;*/
        font-size: 12px;
    }

    #loginPopup .btn-facebook span {
        font-size: 16px;
    }
}

@media (max-width: 292px) {
    .ui-checkbox {
        /*margin: 0 5px 10px 0px;*/
        font-size: 12px;
    }
}

#loginPopup .icon-addon .fa, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon.addon-md .glyphicon {
    position: absolute;
    z-index: 2;
    left: 10px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}

#loginPopup .icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 25px;
    top: 4px;
}

#loginPopup .margin-10 {
    margin: 10px;
}

#loginPopup .checkbox {
    display: inline-block;
}

#loginPopup .glyphicon {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#loginPopup .btn:active, .btn.active {
    webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0
}

.hr-divider:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    content: ''
}

.hr-divider-text {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: -10px;
    padding: 0 10px;
    background: #f4f4f4;
    /*font-weight: bold;*/
    color: #767676;
    -webkit-border-radius: 100px;
    font-family: "Georgia", "Times", "Times New Roman", serif;
    font-style: italic;
    font-size: 16px;
}

#choseRole .hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#choseRole .hr-divider:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    content: ''
}

#choseRole .hr-divider-text {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: -10px;
    padding: 0 10px;
    background: #fff;
    font-weight: bold;
    color: #aaa
}

.font-1 {
    font-size: 14px;
    color: #1357aa;
}

#choseRole .padding-bottom60 {
    padding-bottom: 60px;
}

#addRole .padding-bottom60 {
    padding-bottom: 60px;
}
#addRole .modal-dialog {
    max-width: 350px;
    max-height: 100%;
}

.header-search {
    position: relative;
    padding-right: 20px;
    text-align: left;
    overflow: hidden;
}

.header-search-form {
    position: absolute;
    height: 72px;
    top: -27px;
    left: -11px;
    width: 0;
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    -ms-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    -o-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.header-search-form .bucket-search-drop {
    top: 72px !important;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    margin-top: -9px;
    left: 0;
    width: 330px !important;
    padding: 10px 24px 24px;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.header-search-form .bucket-search-drop.empty {
    padding: 0;
}

.header-search-form .bucket-search-heading {
    background: none;
    font-size: 15px;
    border-bottom: 0;
    margin: 18px 24px;
    padding: 0 !important;
    color: #444;
}

.header-search-form .bucket-search-images {
    display: none;
}

.header-search-form .bucket-search-wrapper {
    position: static !important;
    width: auto !important;
}

.header-search-form .bucket-search-item {
    position: relative;
    padding: 10px 24px;
}

.header-search-form .bucket-search-item.hover {
    background: #ccedf9;
}

.header-search-form .results {
    display: none !important;
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    -o-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

.header-search-form .see_more_search {
    font-size: 14px;
    padding-top: 0;
}

.header-search-form .project-title {
    font-weight: bold;
}

.header-search-bt {
    display: inline-block;
    width: 29px;
    height: 72px;
    background: none;
    border: none;
    z-index: 4;
}

.header-search-bt [class*="flicon-"] {
    opacity: 1;
    width: 24px;
    height: auto;
    margin-top: -5px;
}

.header-search-bt:hover [class*="flicon-"] {
    stroke: #333;
    -webkit-transition: all .1s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: all .1s cubic-bezier(.25, .46, .45, .94);
    -ms-transition: all .1s cubic-bezier(.25, .46, .45, .94);
    -o-transition: all .1s cubic-bezier(.25, .46, .45, .94);
    transition: all .1s cubic-bezier(.25, .46, .45, .94);
}

.header-search-input {
    position: absolute;
    top: 8px;
    left: 0;
    width: 0;
    height: 64px;
    padding-left: 50px;
    z-index: 4;
    -webkit-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    -ms-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    -o-transition: all .2s cubic-bezier(.25, .46, .45, .94);
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
    font-size: 18px !important;
    border-radius: 3px 3px 0 0 !important;
}

.header-search-input:focus {
    border-color: #d1d1d1;
    box-shadow: none;
}

.header-search {
    overflow: visible;
}

.results {
    display: block !important;
    max-height: 1000px;
}

.header-search-form {
    z-index: 3;
    width: 315px;
    opacity: 1;
}

.header-search-form [class*="flicon-"] {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

.header-search-input {
    width: 330px;
}

.category-upsell-list {
    list-style: none
}

.category-upsell-list [class^="category-icon-"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    /*margin-top: 48px;*/
}

.category-icon-viecnhanh {
    background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%20%20%20%20%20viewBox%3D%22282%20372%2048%2048%22%20enable-background%3D%22new%20282%20372%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%20%20%20%20%3Cg%20opacity%3D%220.24%22%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%2300A3E0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20points%3D%22%0A%20%20%20%20%20%20%20%20%20%20%20%20312.5%2C386.3%20317.4%2C391.3%20312.5%2C396.2%20%20%20%20%20%20%20%20%20%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%2300A3E0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20points%3D%22%0A%20%20%20%20%20%20%20%20%20%20%20%20299.7%2C396.2%20294.8%2C391.3%20299.7%2C386.3%20%20%20%20%20%20%20%20%20%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%2300A3E0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22303.2%22%20y1%3D%22396.2%22%20x2%3D%22309%22%20y2%3D%22386.3%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cg%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22%0A%20%20%20%20%20%20%20%20%20%20%20%20M329%2C409.6c0%2C1.7-1.3%2C3.2-3%2C3.2h-39.8c-1.7%2C0-3-1.4-3-3.2V380c0-1.7%2C1.3-3.2%2C3-3.2H326c1.7%2C0%2C3%2C1.4%2C3%2C3.2V409.6z%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22292.1%22%20y1%3D%22416.7%22%20x2%3D%22320%22%20y2%3D%22416.7%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22306.1%22%20y1%3D%22412.7%22%20x2%3D%22306.1%22%20y2%3D%22416.7%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20cx%3D%22306.1%22%20cy%3D%22408.7%22%20r%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22283.2%22%20y1%3D%22404.8%22%20x2%3D%22329%22%20y2%3D%22404.8%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat;
}

.category-icon-hr {
    background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <g> <g> <polygon fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points=" 42,58 33,61 36,52 55,33 61,39 "></polygon> <line fill="none" stroke="#010101" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="50" y1="38" x2="56" y2="44"></line> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36" y1="52" x2="42" y2="58"></line> </g> <path fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d=" M29,43H8c-2.8,0-5-2.2-5-5V8c0-2.8,2.2-5,5-5h40c2.8,0,5,2.2,5,5v18"></path> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3" y1="13" x2="53" y2="13"></line> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="10" cy="8" r="1"></circle> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="16" cy="8" r="1"></circle> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="22" cy="8" r="1"></circle> </g> <rect x="10.8" y="19.9" fill="#C2E8F7" width="34.5" height="15.2"></rect> </svg>') no-repeat;
}

.category-icon-osin {
    background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <line fill="none" stroke="#C2E8F7" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="9.7" y1="33.3" x2="55" y2="3.5"></line> <polyline fill="none" stroke="#C2E8F7" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="54,12.5 55,3.5 46,2.5 "></polyline> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3" y1="58.5" x2="61" y2="58.5"></line> <rect x="7" y="50.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="8"></rect> <rect x="21" y="40.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="18"></rect> <rect x="35" y="30.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="28"></rect> <rect x="49" y="20.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="38"></rect> </svg>') no-repeat;
}

.category-icon-other {
    background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <g> <path fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M49,55.5c0,2.8-2.2,5-5,5 H20c-2.8,0-5-2.2-5-5v-48c0-2.8,2.2-5,5-5h24c2.8,0,5,2.2,5,5V55.5z"></path> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="15" y1="12.5" x2="49" y2="12.5"></line> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="15" y1="50.5" x2="49" y2="50.5"></line> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="25" y1="8.5" x2="39" y2="8.5"></line> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="32" cy="55.5" r="2"></circle> </g> <rect x="23.8" y="21.4" fill="#C2E8F7" width="16" height="19"></rect> </svg>') no-repeat;
}

.header-popup {
    font-weight: 700;
    border: none;
    padding: 5px;
}

.content-popup {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-popup {
    border: none;
}

.section-popup {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
}

header .none-border {
    border: none !important;
}

#updateuser .ui-tab-container {
    border: none;
}

#updateuser .no-padding-right {
    padding-right: 0px;
}

#choseRole .no-padding-right-left {
    padding-right: 0px;
    padding-left: 0px;
}

#updateuser .margin-bottom-15 {
    margin-bottom: 15px;
}

#extendPopup .pad-top-10 {
    padding-top: 10px;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/src\/less\/plugins\/chat\.less
    }

    line {
        font-family: \00003176

    }
}

.chatbox-support {
    bottom: 40px;
    width: 228px;
    right: 135px;
}

@media (max-width: 1200px) {
    .chatbox-support {
        bottom: 3px;
        width: 228px;
        right: 5px;
    }
}

.navbar-screen {
    /*border-bottom: 1px solid #c3c4c7;*/
}

#nav-container {
    width: 221px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background-color: #fff;
    margin-top: 0px;
}

.back-button {
    line-height: 18px;
}

.wrap-numberonly {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

section.panel > .panel-heading:first-child {
    display: block;
    padding: 9px 15px !important;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

#viewdetailCV .border-wrapper {
    display: block;
    padding: 2px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f5f5f5;
}

#viewdetailCV {
    transform: translate(-30%, 0%) !important;
}

#showListCV {
    transform: translate(-30%, 0%) !important;
}

@media (max-width: 991px) {
    #viewdetailCV {
        transform: translate(0%, 0%) !important;
    }

    #showListCV {
        transform: translate(0%, 0%) !important;
    }

    #signup .btn-checkbox {
        margin-bottom: 15px;
    }

    #signup .check-btn {
        margin-bottom: 40px;
    }
}

#notifyAddonService .dt-toolbar {
    display: none;
}

#notifyAddonService .dt-toolbar-footer {
    display: none;
}

#notifyAddonService .pad-bot-10 {
    padding-bottom: 10px!important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #66b5d7;
    border: 1px solid #66b5d7;
    border-radius: 0px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 5px;
    color: #fff;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #aaa 1px;
}

.input-group > input[datepicker-popup] {
    -webkit-user-select: none;
}

.input-group>input[type=text]+i.resetField {
    right: 35px !important;
}

.input-group>span+input[type=text]+i.resetField {
    right: 0px !important;
}

.input-group>input[type=tel]+i.resetField {
    right: 35px !important;
}

.input-group>span+input[type=tel]+i.resetField {
    right: 0px !important;
}

textarea+i.resetField {
    right: 10px !important;
}

.resetField {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #C0C0C0;
}

.center-rating {
    width: 150px;
    margin: 0 auto;
}

.serviceTable .price_old {
    text-decoration: line-through;
}

.serviceTable td.quantity {
    text-align: center;
}

.serviceTable .price {
    color: red;
    font-weight: 500;
}

#upgradeOrder .dt-toolbar-footer {
    display: none !important;
    visibility: hidden !important;
}

#upgradeOrder .dt-toolbar {
    display: none !important;
    visibility: hidden !important;
}

@media (min-width: 768px) {
    #upgradeOrder .form-inline .form-control {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .columnValue {
        padding-left: 15px !important;
    }
}

.verticalMiddle {
    vertical-align: middle !important;
}

.boldRedFirst {
    border-top: 3px solid red !important;
    border-left: 3px solid red !important;
    border-right: 3px solid red !important;
}

.boldRedLast {
    border-bottom: 3px solid red !important;
    border-left: 3px solid red !important;
    border-right: 3px solid red !important;
}

.boldRedMiddle {
    border-bottom: 3px solid red !important;
    border-left: 3px solid red !important;
    border-right: 3px solid red !important;
}

#upgradeOrder .blankColor {
    background: none !important;
    color: grey !important;
}

#upgradeOrder .ui-checkbox {
    margin: 0 0px 10px 30px;
}

/* Portrait */
@media screen and (orientation: portrait) {
    input[type=time] {
        min-width: 86%;
        vertical-align: middle !important;
        line-height: 34px;
        text-align: center;
    }
}

/* Landscape */
@media screen and (orientation: landscape) {
    input[type=time] {
        min-width: 90.5%;
        vertical-align: middle !important;
        line-height: 34px;
        text-align: center;
    }
}

/* Portrait */
@media screen and (orientation: portrait) {
    input[type=date] {
        min-width: 93.5%;
        text-align: left !important;
        vertical-align: middle !important;
        line-height: 34px;
        text-align: center;
    }
}

/* Landscape */
@media screen and (orientation: landscape) {
    input[type=date] {
        min-width: 96%;
        text-align: left !important;
        vertical-align: middle !important;
        line-height: 34px;
        text-align: center;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    input[type=time] {
        min-width: 90.6%;
        text-align: left !important;
        vertical-align: middle !important;
        line-height: 34px;
        text-align: center;
    }

}

@media (min-width: 992px) and (orientation: landscape) {
    input[type=time] {
        min-width: 93.9%;
        text-align: left !important;
        vertical-align: middle !important;
        line-height: 34px;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .displayBlock {
        display: block !important;
    }

}

@media (max-width: 768px) {
    .hide-when-mobile {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hide-when-desktop {
        display: none !important;
    }
}

#notifyAddonService .close {
    margin: 0 !important;
}
#notifyAddonService .dt-toolbar-footer{
    display: none !important;
    visibility: hidden !important;
}
#notifyAddonService .dt-toolbar{
    display: none !important;
    visibility: hidden !important;
}

.navbar {
    top:0;
    left:0;
    right:0;
}