#nav-wrapper-vertical .subnav-link:hover {
    color: #fff !important;   
    text-decoration: none;
    background: #1357aa !important;   
}
#nav-wrapper-vertical .no-padding{
     padding: 0px!important;
}

#nav-wrapper-vertical #nav > li > a{
     padding: 10px 15px !important;
 }

#nav-wrapper-vertical #nav > li{
    moz-transition: none !important;
    -o-transition: none !important;
     -webkit-transition: none !important;
     transition: none !important;
}

#nav-wrapper-vertical #nav ul li > a{
    padding: 7px 0 13px 25px !important;
}

#nav-wrapper-vertical .sub-subnav-link:hover{
    color: #1357aa !important;     
}
#nav-wrapper-vertical a{
     text-decoration: none;
}
#nav-wrapper-vertical .img40_40{
    width: 40px;
    height: 40px;
}
#nav-wrapper-vertical .label-username{
    font-weight: 600;
    font-size: 16px;
    padding-top:5px;
}
#nav-wrapper-vertical .label-logout{
    font-size: 11px;
}

#nav-wrapper-vertical .border-bot{
    border-bottom: 1px solid #e9e9e9;
}

#nav-wrapper-vertical .pad5{
    padding:5px;
}

#nav-wrapper-vertical .border-r{
    border-right: 1px solid #e9e9e9;
    margin-top: 2px;
}

#nav-wrapper-vertical .margin-l-25{
    margin-left: 25px;
}
#nav-wrapper-vertical .cursor-pointer{
    cursor: pointer;
}

#nav-wrapper-vertical .border-bot-grey{
    border-bottom: 1px solid #e9e9e9;
    margin-top: -2px;
}

#nav-wrapper-vertical .height-50{
    height: 50px;
}
#nav-wrapper-vertical .top-nav{
    color: #767676;
}

#nav-wrapper-vertical .top-nav .nav-left{
    margin-bottom:0px;
}
#nav-wrapper-vertical .top-nav .nav-left > li > a{
    height: auto;
    padding: 5px 15px;
}
#nav-wrapper-vertical .top-nav .nav-left{
    margin-bottom:0px;
}
#nav-wrapper-vertical .language{
    padding:0px 15px;
}
#nav-wrapper-vertical .ul-pad-mar{
    padding-top: 5px;
    margin-bottom: 5px;
}

#nav-wrapper-vertical .img40_30{
    width: 40px;
    height: 30px;
}

#nav-wrapper-vertical .pad-left-15{
    padding-left: 15px;
    padding-top: 3px;
}
#nav-wrapper-vertical .mar-left-5{
    margin-left: 5px;
    padding-top: 5px;
}

@media (max-width: 768px){
    #nav-wrapper-vertical .top-nav .nav-left > li > a .badge{
        top: -3px;
    }
}

#nav-wrapper-vertical .mar-left-20{
    margin-left: 20px;
}

#nav-wrapper-vertical .mar-left-80{
    margin-left: 80px;
}

#iconDown{
    position: absolute;
    top: 20px;
    left: 70px;
}


