#viewdetailproposal .hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0}
#viewdetailproposal .hr-divider:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    content: ''}

#viewdetailproposal .border-1{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
 #viewdetailproposal .margin-btn-submit{
     margin-right: 15px;

 }
 #viewdetailproposal .width2percent
 {
     width:2%;
 }
 #viewdetailproposal .holder {
     position: absolute;
     margin: 7px 8px;
     color: #A3A3A3;
     cursor: auto;
     ffont-family: inherit;
     font-size: 11pt;
     z-index: 1;
 }
 @media (max-width: 768px) {
     #viewdetailproposal .columnTitle {
         text-align: left!important;
     }
     #viewdetailproposal .columnValue {
         text-align: left!important;
     }
 }
 #viewdetailproposal .hr {
     position: relative;
     width: 70%;
     height: 8px;
     margin: 21px 15% 30px;
     -webkit-box-shadow: 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 0 #fff;
     box-shadow: 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     -webkit-box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     box-shadow: 0 1px 0 #fff,transparent 0 0 0;
     border-bottom: 1px solid #c3c4c7;
     text-align: center;
 }
 #viewdetailproposal .font-1{
     /*font-size:20px;*/
     color: #1357aa;
 }
 #viewdetailproposal .padding-bot10{
       padding-bottom: 10px;
   }
 #viewdetailproposal .no-padding-right{
     padding-right: 0px !important;
 }
 #viewdetailproposal .padding-right10px{
     padding-right: 10px !important;
 }
 #viewdetailproposal .border-2{
     border: 1px solid #767676;
     border-radius: 4px
 }
 #viewdetailproposal .border-3{
     border-left: 1px solid black;
     border-right: 1px solid black;
 }
 #viewdetailproposal .font-2{
     /*font-size:20px;*/
     color: greenyellow;
 }
 #viewdetailproposal .margin-1 {
      margin-left: 65px;
      margin-top: 16px;

  }
 #viewdetailproposal .margin-99 {
       margin-top: 25px;

   }
 #viewdetailproposal .border-l{
     border-left: 1px solid #dddddd;
 }

 #viewdetailproposal .border-r{
     border-right: 1px solid #dddddd;
 }

 #viewdetailproposal .icon-bookmark {

     margin-top: 0px;
     /*font-size: 25px;*/

     margin-right: 14px;

 }

 #viewdetailproposal  .background-children {
     background-color: #fff !important;
 }
 #viewdetailproposal  .background-children {
     background-color: #fff !important;
 }
 #viewdetailproposal  .padding-1{
     padding-top :10px;
     padding-bottom :10px;
 }
 #viewdetailproposal .margin-t-b{
     margin-top:3px;
     margin-bottom: 3px;
     padding-right: 3px;
     padding-left: 3px;
 }
 #viewdetailproposal .margin-3 {
     margin-left:10px;
 }
 #viewdetailproposal .margin-7 {
     margin-left:15px;
 }
 #viewdetailproposal .margin-4 {
     margin-left:45px;
 }
 #viewdetailproposal .title-1{
     /*font-size: 20px;*/
 }
 #viewdetailproposal .label-status{
     color: #1357aa;
     font-weight: 700;
 }
 #viewdetailproposal .tooltip-inner {
     max-width: 150px;
     /* If max-width does not work, try using width instead */
     width: 150px;
 }
 #viewdetailproposal .margin-2 {
     margin:5px 0px 5px 0px;
 }
 #viewdetailproposal .margin-5 {
     margin-left: 18px;
     margin-bottom: 10px;
     margin-top:10px;
 }
 #viewdetailproposal .margin-title {
     margin-left: 18px;
     margin-bottom: 0px !important;
     margin-top:0px !important;
 }
 #viewdetailproposal .margin-6 {

     margin-bottom: 15px;
     margin-top:15px;
 }
 #viewdetailproposal .margin-bottom0px {

     margin-bottom: 0px !important;

 }
 #viewdetailproposal .margin-top0px {

     margin-top: 0px !important;

 }
 #viewdetailproposal .margin-8 {
     margin-left: 30px;
     margin-top:20px;
 }
 #viewdetailproposal.control-label {
     padding-top: 7px;
     margin-bottom: 0;
     text-align: right;}
 #viewdetailproposal .padding-gap {
 padding-top: 15px !important;

 }
 #viewdetailproposal .no-display {
     display: none !important;

 }
 #viewdetailproposal .detailInfo {
    margin-left:-15px
 }
 #viewdetailproposal .label-1 {
     margin-left: -20px;
     margin-right: 35px;
     /*font-size: 18px;*/
     color: #2B3D53;
 }
 #viewdetailproposal .color-1 {
     color: #2f88cc !important;
 }
 #viewdetailproposal .margin-left-title {
     margin-left: 25px;
 }
 #viewdetailproposal .padding-bot-proposal {
     padding-bottom: 45px;
 }
 #viewdetailproposal .col-center-block {
     float: none;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 #viewdetailproposal .color-title {
     color: #8f4497 !important;
 }
 #viewdetailproposal .margin-paid-to-you {
     margin-left:13px;
 }
 #viewdetailproposal .border-wrapper{
      display: block    ;
      padding: 2px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      background-color: #f5f5f5;
  }
 #viewdetailproposal .border-wrapper-children{
      display: block;
      padding: 6px;
      border: 1px solid #dddddd;
      border-radius: 3px;

  }

 @media (max-width: 996px) {
     #viewdetailproposal .non-display-mobile
     {
         display: none;
     }
     #viewdetailproposal .noFloat{
         float: none !important;
     }
     #viewdetailproposal .margin-left-mobile{
         margin-left: 23px;

     }

     #viewdetailproposal .padding-right-mobile{
         padding-right: 0px;

     }
     #viewdetailproposal .row-mobile{

         margin-right: 15px;
     }
     #viewdetailproposal .no-padding-moblie{
        padding:0px !important;
     }
     #viewdetailproposal .padding-moblie-1{
         padding-right: 30px;
     }
     #viewdetailproposal .margin-1-mobile{
         margin-top: 15px;
         margin-left:0px;
     }
     #viewdetailproposal .no-margin-mobile{

         margin-left:-44px;
     }
     #viewdetailproposal .margin-4-mobile{

         margin-right:45px;
         margin-bottom:15px;
     }


     #viewdetailproposal .margin-title-mobile{
        margin-top:0px;
     }
     #viewdetailproposal .margin-des-mobile{
         margin-left: 30px;
     }
     #viewdetailproposal .margin-brn-mobile{
         margin-left:45px;
     }
 }
 #viewdetailproposal .desc-scrollable{
     max-height: 100px;
     overflow-y: scroll;
 }
 #viewdetailproposal .text-center{
     text-align: center;
 }
 #viewdetailproposal .cell{
     border-bottom: 1px solid #DDDDDD;
     padding-bottom: 5px;
     padding-top: 5px;
     text-align: left;
 }
 #viewdetailproposal .select2-choices li {
     width:auto;
 }
 #viewdetailproposal .padding-bottom20{
     padding-bottom: 20px!important;
 }

 #viewdetailproposal span::before {
     margin:0px!important;
 }

 #viewdetailproposal span::after {
     left: 5px !important;
 }

 #viewdetailproposal .select2-choices {
     padding-left: 11px !important;
 }

 #viewdetailproposal .overwrite-title {
     color: #2B3D53;
     display: inline;
     position: initial;
     /*font-size: 20px;*/
 }
 @media (min-width: 768px){
     #viewdetailproposal .bootstrapWizard .tab-provision li:first-child {
         margin-top:30px;
     }
     #viewdetailproposal .bootstrapWizard .tab-provision li {
         float: none;
         width: 100%;
         text-align: left;
         margin-top: 10px;
         margin-bottom: 5px;

     }

     #viewdetailproposal .tab-provision ul {
         margin-left:-40px;
     }

     #viewdetailproposal .tab-provision .ui-checkbox {
         margin: 10px 20px 10px 0px;
     }

     #viewdetailproposal .tab-provision ul > li {
         list-style:none;
         list-style-type: decimal;
     }
 }

 #viewdetailproposal .tab-provision ul > li {
     list-style:none;
     list-style-type: decimal;
 }

 #viewdetailproposal .animate-switch .form-group .dropzone {
     border: none;
 }

 #viewdetailproposal .animate-switch .form-group .dropzone .file-input-wrapper {
     color: steelblue;
 }

 /*.parent-skills input{*/
 /*width: 100% !important;*/
 /*}*/

#viewdetailproposal div.ui-checkbox.no-margin{
     margin:0px !important;
 }

#viewdetailproposal .currency .input-group-btn select{
     width:100px;

 }
#viewdetailproposal .currency .input-group-btn select{
     /*border-left:0px;*/
 }

#viewdetailproposal .parent-skills input{
     height:40px !important;
 }
#viewdetailproposal .control-label {
     margin-top: 10px;
 }
#viewdetailproposal .career-label, gender-label{
     margin-top:0px;
 }

#viewdetailproposal .parent-skills input{
     /*font-size:18px;*/
     padding-left:15px;
 }

#viewdetailproposal .ui-checkbox small{
     /*font-size:14px;*/
     color:#767676;
 }

#viewdetailproposal .selecte-skill li{
     width:auto;
     margin-top:5px;
 }

#viewdetailproposal .selecte-skill .select2-container--open{
     z-index:0;
     position:inherit !important;

 }
#viewdetailproposal .select2-container--open{
     position:fixed !important;
     z-index: 9999999;

 }
#viewdetailproposal .pac-container{
     position:fixed !important;
 }

#viewdetailproposal .select2-container--default .select2-selection--multiple{
     border-radius:0px;
 }


#viewdetailproposal .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
     color: #fff;
     cursor: pointer;
     display: inline-block;
     font-weight: bold;
     margin-left: 2px;
     line-height: 1;
     /*font-size: 18px*/
 }
#viewdetailproposal .form-group .btn-group label{
     color:#fff;
     font-weight:bold;
 }

#viewdetailproposal .padding-top28{
     padding-top:28px;
 }
#viewdetailproposal .margin-top10{
     margin-top:10px;
 }
 #viewdetailproposal .center-col-md-12
 {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

 #viewdetailproposal .no-padding-right {

     pdding-right: 0px !important;
 }
 #viewdetailproposal .no-padding-left {

     pdding-left: 0px !important;
 }
 #viewdetailproposal .no-padding-right-left {
     padding-left: 0px;
     pdding-right: 0px;
 }

 @media (max-width: 768px){
     #viewdetailproposal div.panel > .panel-heading {
         padding: 0px!important;
     }
 }

 #viewdetailproposal .header-mobile {
     /*font-size: 14px;*/
 }

 #viewdetailproposal .content-mobile {
     font-size: 12px;
 }

 #viewdetailproposal .footer-pull-left-mobile {
     /*font-size: 14px;*/
     font-weight: bold;
     color:#1357aa;
 }

 #viewdetailproposal .footer-pull-right-mobile {
     font-size: 10px;
 }

#viewdetailproposal .img64_75 {
    width: 64px;
    height: 75px;
}

@media (max-width: 768px){
    #viewdetailproposal .is-so-close{
        float: right !important;
    }
    #viewdetailproposal .label-status{
        font-size: 12px;
    }
    #viewdetailproposal .input-sm{
        padding: 1px 10px;
    }

    #viewdetailproposal .action-selection{
        vertical-align: middle;
    }
    #viewdetailproposal .title-mobile{
        font-size: 20px;
    }
}