<div id='viewdetailproposal' ng-controller="viewdetailproposal" xmlns="http://www.w3.org/1999/html" ng-init="init()">

    <div class="page no-padding-moblie no-padding">
        <section class="panel panel-default">


            <div class="panel-heading no-padding"><strong><span class="glyphicon glyphicon-th"></span>
                <span data-i18n="detail proposal"></span></strong>
            </div>

                <div class="panel-body no-padding">
                    <div class="col-md-12 col-xs-12 padding-bot10">
                        <h2 class="title-mobile">{{idSO}} {{titleSO}}</h2>
                        <div class="pull-left no-padding">
                            <div class="col-md-12 col-xs-12 no-padding active-status-bidding non-display label-status"><span data-i18n="status"></span>: <span data-i18n="bidding"></span></div>
                            <div class="col-md-12 col-xs-12 no-padding active-status-awarded non-display label-status"><span data-i18n="status"></span>: <span data-i18n="awarded"></span></div>
                            <div class="col-md-12 col-xs-12 no-padding active-status-complete non-display label-status"><span data-i18n="status"></span>: <span data-i18n="complete"></span></div>
                            <div class="col-md-12 col-xs-12 no-padding active-status-transaction-failed non-display label-status"><span data-i18n="status"></span>: <span data-i18n="transaction failed"></span></div>
                            <div class="col-md-12 col-xs-12 no-padding active-status-rejected non-display label-status"><span data-i18n="status"></span>: <span data-i18n="closed"></span></div>
                        </div>
                    </div>

                    <div class="col-md-12" id="content-input">
                        <div class="no-padding col-xs-12 no-padding-moblie col-md-12">
                            <div class="col-md-12 no-padding form-group">
                                <div class="col-md-2 no-padding">
                                    <div><label data-i18n="proposal id"></label></div>
                                </div>
                                <div class="col-md-10 no-padding-right no-padding-moblie">
                                    <input class="form-control" ng-disabled="hideProposal"
                                           data-i18n="i18n-placeholder" placeholder="proposal title"
                                           type="text" name="idProposal"
                                           ng-model="idProposal"
                                           reset-field
                                           data-smart-validate-input
                                           data-required
                                           data-message-required="Bắt buộc phải nhập">
                                </div>

                            </div>

                            <div class="col-md-12 no-padding form-group">
                                <div class="col-md-2 no-padding">
                                    <div><label data-i18n="title">Tiêu đề</label></div>
                                </div>
                                <div class="col-md-10 no-padding-right no-padding-moblie">
                                    <input id="titleProposal" class="form-control" ng-disabled="hideProposal"
                                           data-i18n="i18n-placeholder" placeholder="proposal title"
                                           type="text" name="titleProposal"
                                           ng-model="titleProposal"
                                           reset-field
                                           data-smart-validate-input
                                           data-required
                                           data-message-required="Bắt buộc phải nhập">
                                </div>

                            </div>
                            <div class="col-md-12 padding-right-mobile no-padding form-group">


                            <div class="col-md-2 no-padding">
                                <label><span data-i18n="description more"></span></label>
                            </div>
                            <div class="col-md-10 no-padding-right no-padding-moblie">
                                <textarea ng-model="contentProposal" name="proposal" ng-disabled="hideProposal"
                                          class="form-control"
                                          data-i18n="i18n-placeholder" placeholder="detail description placeholder"
                                          data-smart-validate-input
                                          data-required
                                          data-message-required="Xin hãy nhập đề xuất của bạn"
                                          rows="9"
                                          reset-field
                                          ng-trim="false" maxlength="1500"
                                        ></textarea>
                            </div>
                        </div>
                            <div class="col-md-12 padding-right-mobile no-padding form-group" data-ng-show="isShow">


                                <div class="col-md-2 no-padding">
                                    <label><span data-i18n="type"></span></label>
                                </div>
                                <div class="col-md-10 no-padding-right no-padding-moblie">
                                    <input class="form-control" ng-disabled="hideProposal"
                                           data-i18n="i18n-placeholder" placeholder="proposal title"
                                           type="text" name="titleProposal"
                                           ng-model="serviceProposal"
                                           reset-field
                                           data-smart-validate-input
                                           data-required
                                           data-message-required="Bắt buộc phải nhập">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 form-group no-padding">
                            <div class="col-md-2 no-padding">
                                <label data-i18n="bid proposal">Giá đề xuất:</label>
                            </div>
                            <!--data-i18n="i18n-placeholder" -->
                            <div class="col-md-10  no-padding-right no-padding-moblie">
                                <div class="input-group ">
                                    <input id="budget" class="form-control" ng-disabled="hideProposal"
                                           reset-field
                                           placeholder="Nhập số tiền bạn muốn nhận"
                                           type="tel" name="price"
                                           maxlength="15"
                                           ng-model="priceProposal"
                                           data-smart-validate-input
                                           data-required
                                           format-currency numbers-only data-message-required="Bắt buộc phải nhập">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">&nbsp;<u>đ</u></button>
                </span>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-12 col-xs-12 form-group" id="content-addCV">
                        <div class="col-md-2 no-padding">
                            <label data-i18n="list cv"></label>
                        </div>
                        <div class="col-md-10 no-padding-right no-padding-moblie">
                            <div class="col-md-12 form-group col-xs-12 no-padding">
                                <table id="listCV" datatable-basic on-selection="hideContent" show-hidden
                                       mouseover-apply="Desktop"
                                       click-apply="SmartDevice" on-mouseover="formatContent" table-options="listCV"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead class="hide-when-mobile">
                                    <tr>
                                        <th class="text-center verticalMiddle"><span
                                                data-i18n="picture"></span></th>
                                        <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                                data-i18n="first name"></span></th>
                                        <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                                data-i18n="gender"></span></th>
                                        <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                                data-i18n="yob"></span></th>
                                        <th data-hide="phone,tablet" class="text-center verticalMiddle"><span
                                                data-i18n="skills"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center verticalMiddle"><span
                                                data-i18n="experience year"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center verticalMiddle"><span
                                                data-i18n="join time"></span></th>
                                        <th data-hide="phone,tablet,desktop" class="text-center verticalMiddle"><span
                                                data-i18n="note"></span></th>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-12 col-xs-12 no-padding">
                                <!--<a href="javascript:void(0);" data-ng-click="cancel()"-->
                                   <!--class="btn btn-primary btn-md btn-gap pull-right hidden-xs"><span-->
                                        <!--data-i18n="back"></span></a>-->
                                <a id="btnAward" href="javascript:void(0);" data-ng-click="submitAwardOrder()"
                                                                class="btn btn-primary btn-md btn-gap pull-right non-display"><span
                                    data-i18n="award order"></span></a>
                                <span ng-back class="hidden-xs"></span>
                            </div>
                        </div>
                    </div>


                </div>

        </section>
    </div>
</div>
</div>

