#chart .form-group label {
  color:#2B3D53;
}

#chart .select2-choices li {
    width:auto;
}

#chart .padding-bottom20 {
    padding-bottom: 20px!important;
}

#chart span::before {
    margin:0px!important;
}

#chart span::after {
    left: 5px !important;
}

#chart .select2-choices {
    padding-left: 11px !important;
}

#chart .overwrite-title {
    color: #2B3D53;
    display: inline;
    position: initial;
    /*font-size: 20px;*/
}
@media (min-width: 768px){
    #chart .bootstrapWizard .tab-provision li:first-child {
        margin-top:30px;
     }

    #chart .bootstrapWizard .tab-provision li {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;

    }

    #chart .tab-provision ul {
        margin-left:-40px;
    }

    #chart .tab-provision .ui-checkbox {
        margin: 10px 20px 10px 0px;
    }

    #chart .tab-provision ul > li {
        list-style:none;
        list-style-type: decimal;
    }
}

#chart .tab-provision ul > li {
    list-style:none;
    list-style-type: decimal;
}

#chart .animate-switch .form-group .dropzone {
    border: none;
}

#chart .animate-switch .form-group .dropzone .file-input-wrapper {
    color: steelblue;
}

#chart .select2-container-multi .select2-choices .select2-search-field input {
    /*font-size:18px;*/
}

#chart .margin-0 {
    margin:0 !important;
}
.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 7px 3px 0 3px;
}

#chart .ver-align-baseline {
    vertical-align: baseline !important;
}

#chart .readonly-btn {
    pointer-events: none;
}

#chart .w100h46 {
    height: 46px;
    width: 100%;
}

#chart .padding-top28 {
  padding-top: 28px;
}

#chart .panel-heading {
    margin-top: -19px;
}

/* prevent text from appearing underneath the icon */
input[reset-field] {
    padding-right: 19px;
}

/* hide the built-in IE10+ clear field icon */
input[reset-field]::-ms-clear {
    display: none;
}
/* hide cancel icon for search type */
input[reset-field]::-webkit-search-cancel-button {
    /*-webkit-appearance: none;*/
}


/* animations for ngAnimate */
input[reset-field] + .fa.ng-hide-add {
    display:inline!important;
    -webkit-animation: 0.3s fadeOut;
    -moz-animation: 0.3s fadeOut;
    -ms-animation: 0.3s fadeOut;
    animation: 0.3s fadeOut;
}
input[reset-field] + .fa.ng-hide-remove {
    -webkit-animation: 0.5s fadeIn;
    -moz-animation: 0.5s fadeIn;
    -ms-animation: 0.5s fadeIn;
    animation: 0.5s fadeIn;
}