<section class="page no-padding" id='chart' ng-controller='chart' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
                data-i18n="statistics"></span>
        </strong></div>
        <div class="panel-body">
            <div id="datachart" class="col-md-12 no-padding">
                <div data-flot-chart
                     data-data="line1.data"
                     data-options="line1.options"
                     style="width: 100%; height: 300px;"
                        ></div>
            </div>
            <div id="piechart" class="col-xs-12 col-md-6">
                <div data-flot-chart col-xs-12 col-md-6
                     data-data="pie.data"
                     data-options="pie.options"
                     style="width: 100%; height: 300px;"
                        ></div>
            </div>


            <!-- end stats -->

        </div>
        <!-- stats -->
        <div class="row hide">
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-rocket"></i>
                </span>
                    <div class="box-info">
                        <p class="size-h2">25 <span class="size-h4">%</span></p>
                        <p class="text-muted"><span data-i18n="Growth"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>
                    <div class="box-info">
                        <p class="size-h2">112</p>
                        <p class="text-muted"><span data-i18n="New users"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-dollar"></i>
                </span>
                    <div class="box-info">
                        <p class="size-h2">4,550</p>
                        <p class="text-muted"><span data-i18n="Profit"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                    <div class="box-info">
                        <p class="size-h2">262</p>
                        <p class="text-muted"><span data-i18n="Sales"></span></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
