<div ng-controller='welcome' ng-init="init()">
  <!--<p ng-style="panel.style" ng-bind-html-unsafe="panel.content | striphtml | newlines"></p>-->
  <markdown ng-show="ready && panel.mode == 'markdown'">
    {{panel.content}}
  </markdown>
  <p ng-show="panel.mode == 'text'" ng-style='panel.style' ng-bind-html="panel.content | striphtml | newlines">
  </p>
  <p ng-show="panel.mode == 'html'" ng-bind-html="panel.content">
  </p>
</div>