
.btn-facebook {
  background-color: #3b5998 !important;
  background-image: none !important;
  color: #fff !important;
  text-shadow: 0 -1px transparent !important;
  font-weight: bold !important;
}


#login .forgot-password-toggle {
  display: inline-block;
  width: 50%;
  text-align: right;
  /*font-size: 14px;*/
}

#login.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  /*font-size: 18px;*/
  padding: 10px 16px 10px 40px;
}

#login.icon-addon .fa, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon.addon-md .glyphicon {
  position: absolute;
  z-index: 2;
  left: 10px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

#login.icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
  /*font-size: 18px;*/
  margin-left: 0;
  left: 25px;
  top: 4px;
}

#login .margin-10{
  margin: 10px;
}

#login .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#login .margin-bottom {
    margin-bottom: 15px;
    margin-top: 15px;
}

#login .input-group-1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#login #savelogin {
    width: 18px;
    height: 18px;
    margin: 1px 8px 0px -20px;
}

#login .ui-checkbox {
    margin: 0px;
}

.ui-checkbox input[name="savelogin"]:checked + span:after {
    top: 5px !important;
}