<div ng-controller='login' id="login" ng-init="init()">
    <section class="panel-body">
        <form data-ng-show="isShow" id="formLogin" novalidate="novalidate" data-smart-validate-form ng-enter="login()">
            <div class="no-padding col-md-6 col-md-offset-3 form-group">

                <div class="input-group">
                        <span class="input-group-addon "><label class="glyphicon glyphicon-phone-alt"
                                                                rel="tooltip" title="username"></label></span>
                    <input type="tel" ng-model="mobile"
                           class="form-control " id="mobile" name="mobile"
                           data-i18n="i18n-placeholder" placeholder="mobile login"
                           data-smart-validate-input reset-field maxlength="50"
                           data-required numbers-only
                           data-message-required="validate input login name">

                </div>

            </div>

            <div class="no-padding col-md-12 form-group">
                <div class="col-xs-12 no-padding">
                    <button class="btn btn-primary btn-md col-xs-12" ng-click="login()"
                            data-i18n="next">
                    </button>
                </div>
            </div>
        </form>

        <div id="submit-pass-code" data-ng-show="!isShow">
            <div class="col-xs-12 text-center form-group">
                <span class="h4 text-bold">Kích hoạt</span>
            </div>

            <div class="form-group">
                <span class="h5">Caber vừa gửi bạn mã kích hoạt đến số điện thoại:</span>
            </div>
            <div class="col-xs-12 text-center form-group">
                <span class="h4">01679241024</span>
            </div>
            <div class="form-group">
                <span class="h5">Vui lòng nhập mã kích hoạt để hoàn tất quá trình xác thực</span>
            </div>
            <div class="no-padding col-md-6 col-md-offset-3 form-group">

                <div class="input-group">
                        <span class="input-group-addon "><label class="glyphicon glyphicon-lock"
                                                                rel="tooltip" title="passcode"></label></span>
                    <input type="tel" ng-model="passcode"
                           class="form-control " id="passcode" name="passcode"
                           data-i18n="i18n-placeholder" placeholder="pass code"
                           data-smart-validate-input reset-field maxlength="4"
                           data-required numbers-only
                           data-message-required="validate input pass code">

                </div>

            </div>
            <div class="no-padding col-xs-12 form-group">
                <div class="col-xs-12 no-padding">
                    <button class="btn btn-primary btn-md col-xs-12" ng-click="submitPassCode()"
                            data-i18n="confirm">
                    </button>
                </div>
            </div>
            <div class="no-padding col-xs-12 form-group">
                <div class="col-xs-12 no-padding">
                    <button class="btn btn-primary btn-md col-xs-12" ng-click="resendPassCode()"
                            data-i18n="resend pass code">
                    </button>
                </div>
            </div>

        </div>


    </section>
</div>