/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 8, 2015, 3:16:27 PM
    Author     : Admin
*/
#updateskills input[type="search"] {
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 3px;
}
#updateskills .primary-skill-container {
    padding: 10px 10px 15px;
    transition: all .1s ease-out;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    list-style: none;
    margin: 0;
    width: 320px;
    height: 467px;
    color: #3c3f47;
    zoom: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 14px;*/
    line-height: 18px;
}
#updateskills .select2-selection__choice__remove
{
    color: #fff;
}
/*#updateskills .disableIOSDropDown*/
/*{*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/
#updateskills .col-md-4 .col-sm-6{
    width: 100%;
}
#updateskills .col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}
#updateskills .container {
    width: 100%;
    background: #fff;
    padding-left: 0px;
    padding-right: 0px;
    /*border: 1px solid #ccc;*/
}
#updateskills #updateskills1{
    border: 1px solid #ccc;
}
#updateskills .dataTables_filter .input-group-addon{
    /*width: 11%;*/
}
#updateskills .selected-skill-desc{
    padding: 10px 30px 5px 30px;
}
#updateskills .dataTables_empty{
    border: 0px solid #dddddd !important;
    border-top: 0px solid #dddddd !important;
}
#updateskills .padding-top{
    padding-top: 34px;
}
#updateskills .cuscol3{
    color: #fff;
    /*margin-top: 40px;*/
}
#updateskills .page-title{
    /*font-size: 30px;*/
    color: #000;
    margin-left: 35px;
}
#updateskills .margin-left{
    margin-left: 35px;
}
#updateskills #updateskills2 td:hover{
    background: #33b5e6;
}
#updateskills .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
    background: none;
}
#updateskills #saveSkillForm{
    height: 554px;
    margin-left:10px;
}
#updateskills .sorting_asc, #updateskills .dt-toolbar-footer{
    display:none;
}
#updateskills .bootstrapWizard li {
    float: left;
    width: 33.33333333%;
    text-align: center;
    margin-top: 20px;
}
#updateskills .selected-skill-container{
    background: #33b5e6;
    min-height: 186px;
}
#updateskills .form-actions{
    margin-top: 20px;
}
#updateskills td{
    text-align: left;
}
#updateskills #table2_length, #updateskills #table2_paginate{
    display: none;
}

#updateskills .wizard, .tabcontrol {
    overflow: inherit;
}

#updateskills .wizard > .actions {
    position: inherit;
}

#updateskills .dataTables_scroll .dataTables_scrollHead {
    background: #dddddd;
}
@media (max-width: 768px) {
    #updateskills .no-padding-moblie{
        padding: 0px;
    }
    #updateskills .padding-moblie{
        padding: 10px;
    }

    #updateskills .dataTables_scrollBody {
        /*float: none;*/
        margin-bottom: 15px;
    }
    #updateskills .select2-selection__choice__remove
    {
        display: none;
    }
}

#updateskills #parentskills_wrapper .dataTables_scrollBody{
    height: 200px!important;
}
