<div id='updateskills' ng-controller='updateskills' ng-init="init()">
    <div class="no-padding-moblie">
        <section class="panel panel-default" style="background-color: #fff;">
            <div class="panel-heading"><strong><span
                    class="glyphicon glyphicon-th"></span> <span data-i18n="update skills"></span></strong>
            </div>
            <div class="panel-body padding-moblie">
                <div class="container hidden-xs">
                    <form novalidate="novalidate" data-smart-validate-form>
                        <div data-smart-wizard finish-label="finish" data-smart-wizard-callback="finishUpdated">
                            <div class="form-bootstrapWizard clearfix">
                                <ul class="bootstrapWizard hidden-xs">
                                    <li data-smart-wizard-tab="1">
                                        <a> <span class="step">1</span> <span class="title"
                                                                              data-i18n="select fields"></span>
                                        </a>
                                    </li>
                                    <li data-smart-wizard-tab="2">
                                        <a> <span class="step">2</span> <span class="title"
                                                                              data-i18n="select skills"></span> </a>
                                    </li>
                                    <li data-smart-wizard-tab="3">
                                        <a> <span class="step">3</span> <span class="title"
                                                                              data-i18n="list selected skills"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="row">
                                    <div id="col-md-8">
                                        <div class="tab-pane" data-smart-wizard-pane="1">
                                            <br>

                                            <div class='col-md-12'>
                                                <table id="parentskills" on-selection="selectedIndex" datatable-basic
                                                       table-options="parentskills"
                                                       multi-select="SmartDevice"
                                                       class="table table-striped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" data-smart-wizard-pane="2">
                                            <br>

                                            <div class="col-md-12">
                                                <table on-selection='chooseSkill' datatable-basic
                                                       table-options="childrenskills"
                                                       class="table table-striped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" data-smart-wizard-pane="3">
                                        <br>

                                        <div class="col-md-12">
                                            <table datatable-basic on-selection='editSkill' table-options="skillstable"
                                                   class="table table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row wizard">
                                    <div class="actions clearfix">
                                        <ul role="menu" aria-label="Pagination">
                                            <li class="hidden-lg hidden-md hidden-sm" data-smart-wizard-prev><a href="#" data-i18n="previous"></a>
                                            </li>
                                            <li data-smart-wizard-next><a href="javascript:;" data-i18n="next"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <div class="col-md-12 no-padding">
                        <!--<div class="col-md-12 no-padding">-->
                        <label class="control-label col-lg-3 no-padding" data-i18n="services"></label>
                        <!--</div>-->
                        <!--<div class="col-md-12 no-padding-mobile no-padding">-->
                        <div class="col-lg-9 form-group no-padding">
                            <select ng-model="parentCategory" name="service"
                                    ng-change="chooseParentCategory(parentCategory)"
                                    ng-options="category.name for category in categories"
                                    data-smart-validate-input options-class
                                    class="form-control">
                                <option value='' selected data-i18n="select service"></option>
                            </select>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="col-md-12 no-padding" ng-show="parentCategory && parentCategory.children">
                        <!--<div class="col-md-12 no-padding">-->
                        <label class="control-label col-lg-3 no-padding" data-i18n="services more"></label>
                        <!--</div>-->
                        <!--<div class="col-md-12 no-padding-mobile no-padding">-->
                        <div class="col-lg-9 form-group no-padding">
                            <select ng-model="childrenCategory" name="serviceChildren"
                                    ng-change="chooseChildrenCategory(childrenCategory)"
                                    ng-options="cat.name for cat in parentCategory.children track by cat.name"
                                    data-smart-validate-input
                                    class="form-control">
                                <option value='' selected data-i18n="chosen service mobile"></option>
                            </select>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="col-md-12 no-padding">
                        <!--<div class="col-md-12 no-padding">-->
                        <label class="control-label col-lg-3 no-padding" data-i18n="skill"></label>
                        <!--</div>-->
                        <!--<div class="col-md-12 no-padding-mobile no-padding">-->
                        <div class="selecte-skill col-lg-9 form-group no-padding">

                            <select name="skills" data-smart-validate-input data-required
                                    id="selectedSkill"
                                    data-message-required="Chọn kỹ năng" aria-required="true"
                                    aria-describedby="title-error"
                                    placeholder="Chọn kĩ năng"
                                    aria-invalid="true" ng-model="selectedSkills"
                                    ng-options="skill as skill.name for skill in customCategory"
                                    data-smart-select2 multiple
                                    class="form-control select2 select2- disableIOSDropDown"
                                    style="width:100%"></select>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="col-md-12 no-padding">
                        <button class="btn btn-primary pull-right margin-bottom-15"
                                ng-click="finishUpdated()" data-i18n="finish">
                        </button>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
