<section class="page no-padding" id='post' ng-controller='post' ng-init="init()">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span
                data-i18n="post order"></span>
        </strong></div>
        <div class="panel-body">

            <form novalidate="novalidate" data-smart-validate-form>
                <div class="col-xs-12 no-padding" data-smart-wizard finish-label="post now"
                     data-smart-wizard-callback="wizard1CompleteCallback">
                    <div class="form-bootstrapWizard clearfix">
                        <ul class="bootstrapWizard hidden-xs">
                            <li data-smart-wizard-tab="1">

                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" data-smart-wizard-pane="1">
                            <div class="col-sm-12 no-padding">
                                <div class="col-lg-12 col-sm-12 no-padding">
                                    <!--<div class="col-lg-3 no-padding pad-left-15 hidden-md hidden-sm hidden-lg padding-bot10">-->
                                        <!--<select class="form-control" name="templateTitle" ng-model="templateTitle"-->
                                                <!--ng-options="templateTitle.name for templateTitle in template" ng-change="selectTemplate(templateTitle.data)">-->
                                            <!--<option value="">Chọn mẫu có sẵn</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <div class="control-label col-lg-3 no-padding ">
                                        <label class="label-post" data-i18n="name"></label>
                                    </div>
                                    <div class="form-group col-lg-9  col-md-12 col-sm-12 no-padding">
                                        <div class="input-group ">
                                            <input class="form-control non-border-right" data-i18n="i18n-placeholder"
                                                   placeholder="request title" type="text" name="title"
                                                   ng-model="post.title" maxlength="60"
                                                   data-smart-validate-input
                                                   data-required reset-field
                                                   data-message-required="validate field">
                                         <span class="input-group-btn">
                                             <div class="styled-select">
                                                 <select class="form-control non-border-left" name="templateTitle" ng-model="templateTitle"
                                                         ng-options="templateTitle.name for templateTitle in template" ng-change="selectTemplate(templateTitle.data)">
                                                 </select>
                                             </div>

                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12 no-padding">
                                    <div class="control-label col-lg-3 no-padding ">
                                        <label class="label-post" data-i18n="order description"></label>
                                    </div>
                                    <div class="form-group col-lg-9 no-padding">
                                        <textarea class="form-control " data-i18n="i18n-placeholder"
                                                  placeholder="description more" name="description"
                                                  ng-model="post.content" ng-trim="false"
                                                  data-smart-validate-input data-required rows="5" maxlength="1500"
                                                  reset-field
                                                  data-message-required="validate field"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 no-padding">
                                    <div class="control-label col-lg-3 no-padding ">
                                        <label class="label-post" data-i18n="post deal"></label>
                                    </div>
                                    <div class="form-group col-lg-9 no-padding currency">
                                        <div class="input-group ">
                                            <input id="budget" class="form-control"
                                                   data-i18n="i18n-placeholder"
                                                   placeholder="post deal title" type="tel" name="post_currency"
                                                   reset-field maxlength="15"
                                                   ng-model="post.budgetTo"
                                                   data-smart-validate-input
                                                   requireField="validate budget"
                                                   format-currency numbers-only>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default">&nbsp;<u>đ</u></button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="col-lg-12 no-padding">
                                    <div class="control-label col-lg-3 no-padding">
                                        <label class="label-post" data-i18n="expired date"></label>
                                    </div>

                                    <div class="col-lg-9 no-padding" ng-model="date_expired" is-open="opened" name="date_expried" minDate data-required mindatemobile dateformat smart-date></div>
                                </div>

                                <div class="col-lg-12 no-padding">
                                    <div class="control-label col-lg-3  no-padding">
                                        <label class="label-post" data-i18n="city"></label>
                                    </div>
                                    <div class="form-group col-lg-9 no-padding">
                                        <select class="form-control" name="city" ng-model="parentCities" data-required
                                                data-message-required="validate choose city post" data-smart-validate-input
                                                ng-options="parentCities.name for parentCities in cities track by parentCities.code">
                                            <option value="" data-i18n="chosen city"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 no-padding">
                                    <div class="control-label col-lg-3  no-padding">
                                        <label class="label-post" data-i18n="services"></label>
                                    </div>
                                    <div class="form-group col-lg-9 no-padding">
                                        <select ng-model="selected.category" name="service"
                                                ng-change="changeCategory(selected.category)"
                                                ng-options="category.name for category in categories"
                                                options-class
                                                data-smart-validate-input data-required
                                                data-message-required="validate choose service post"
                                                class="form-control">
                                            <option value='' selected data-i18n="chosen service"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 no-padding">
                                    <div class="col-lg-3 no-padding"></div>
                                    <div class="form-group col-lg-9 no-padding">
                                        <div class="ui-checkbox no-margin">
                                            <label>
                                                <input type="checkbox"
                                                       ng-model="checkboxRule"><span></span>
                                                <small data-i18n="provision text"></small>
                                                <a href="#/policy" target="_blank" id="policy"
                                                   data-section-toggle="signup">
                                                    <small data-i18n="term and conditions"></small>
                                                </a>
                                                <small data-i18n="provision text 2"></small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="wizard pull-right">
                            <div class="actions clearfix">
                                <ul role="menu" aria-label="Pagination">
                                    <li ng-hide="moreEnabled" ng-class='!checkboxRule?"disabled" : ""'
                                        data-smart-wizard-next><a data-i18n="post now"></a></li>
                                    <li ng-class='!checkboxRule?"disabled" : ""'
                                        data-smart-click="wizardPostMoreCompleteCallback">
                                        <a>
                                            <span class="setCursor" ng-if="!moreEnabled" data-i18n="post more"></span>
                                            <span class="setCursor" ng-if="moreEnabled" data-i18n="next"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
