

#post .select2-choices li {
    width:auto;
}
#post .padding-bottom20{
    padding-bottom: 20px!important;
}

#post span::before {
    margin:0px!important;
}

#post span::after {
    left: 5px !important;
}
#post .left-text {
   text-align: left;
}
#post .select2-choices {
    padding-left: 11px !important;
}

#post .overwrite-title {
    color: #2B3D53;
    display: inline;
    position: initial;
    /*font-size: 20px;*/
}
@media (min-width: 768px){
    #post .bootstrapWizard .tab-provision li:first-child {
        margin-top:30px;
     }
    #post .bootstrapWizard .tab-provision li {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;

    }

    #post .tab-provision ul {
        margin-left:-40px;
    }

    #post .tab-provision .ui-checkbox {
        margin: 10px 20px 10px 0px;
    }

    #post .tab-provision ul > li {
        list-style:none;
        list-style-type: decimal;
    }
}

#post .tab-provision ul > li {
    list-style:none;
    list-style-type: decimal;
}

#post .animate-switch .form-group .dropzone {
    border: none;
}

#post .animate-switch .form-group .dropzone .file-input-wrapper {
    color: steelblue;
}

#post .select2-container-multi .select2-choices .select2-search-field input {
    /*font-size:18px;*/
}

#post .margin-0{
    margin:0 !important;
}
.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 7px 3px 0 3px;
}

#post .ver-align-baseline{
    vertical-align: baseline !important;
}

#post .disabled{
    pointer-events: none;
    color: #999;
}

#post .w100h46{
    height: 46px;
    width: 100%;
}

#post .padding-bot10{
  padding-bottom: 10px!important;
}

/* prevent text from appearing underneath the icon */
input[reset-field] {
    padding-right: 19px;
}

/* hide the built-in IE10+ clear field icon */
input[reset-field]::-ms-clear {
    display: none;
}
/* hide cancel icon for search type */
input[reset-field]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* animations for ngAnimate */
input[reset-field] + .fa.ng-hide-add {
    display:inline!important;
    -webkit-animation: 0.3s fadeOut;
    -moz-animation: 0.3s fadeOut;
    -ms-animation: 0.3s fadeOut;
    animation: 0.3s fadeOut;
}
input[reset-field] + .fa.ng-hide-remove {
    -webkit-animation: 0.5s fadeIn;
    -moz-animation: 0.5s fadeIn;
    -ms-animation: 0.5s fadeIn;
    animation: 0.5s fadeIn;
}

#post .ui-checkbox {
    margin: 0 0 0 0;
}

#post .setCursor{
    cursor: pointer;
}

#policy .bootstrapWizard a:active, .bootstrapWizard a:focus, .bootstrapWizard a:hover{
    text-decoration: underline;
}

#post .pad-left-15{
    padding-left: 15px!important;
}

@media (max-width: 768px) {
    #post .pad-left-15{
        padding-left: 0px!important;
    }
}

#post .non-border-right{
    /*border-right: none;*/
}
#post .non-border-left{
    border-left: none;
}

/*select[name=templateTitle]:focus{*/
    /*border-color: #cbd5dd !important;*/
    /*box-shadow: none !important;*/
/*}*/

/*input[name=title]:focus{*/
    /*border-color: #cbd5dd !important;*/
    /*box-shadow: none !important;*/
/*}*/

/*.input-group>input[name=title]+i.resetField {*/
    /*right: 20px !important;*/
/*}*/

/*.has-success .form-control:focus {*/
    /*border-color: #4c9c77 !important;*/
/*}*/


select[name=templateTitle]{
    padding-right: 21px;
    background: transparent;
    /*font-size: 16px;*/
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    cursor: pointer;
}

#post .styled-select {
    height: 32px;
    overflow: hidden;
    background: url('../../../images/dropdown.png') no-repeat;
    background-size: 35px 34px;
    background-position: center;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
}

#post label > * {
    pointer-events: auto;
}
