.header-login-bt,.header-signup-bt {
  border: none;
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
  background-color: transparent !important;
  box-shadow: none;
  font-size: 14px;
}