  @icon-customise: 0px 0px 0px 0px 30px 30px 30px 180px '../img/icon-.png';
  @icon-lightweight: 0px 30px 0px -30px 30px 30px 30px 180px '../img/icon-.png';
  @icon-scale: 0px 60px 0px -60px 30px 30px 30px 180px '../img/icon-.png';
  @icon-setup: 0px 90px 0px -90px 30px 30px 30px 180px '../img/icon-.png';
  @icon-tests: 0px 120px 0px -120px 30px 30px 30px 180px '../img/icon-.png';
  @icon-yeoman: 0px 150px 0px -150px 30px 30px 30px 180px '../img/icon-.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }

  .icon-customise {
    .sprite(@icon-customise);
  }
  .icon-lightweight {
    .sprite(@icon-lightweight);
  }
  .icon-scale {
    .sprite(@icon-scale);
  }
  .icon-setup {
    .sprite(@icon-setup);
  }
  .icon-tests {
    .sprite(@icon-tests);
  }
  .icon-yeoman {
    .sprite(@icon-yeoman);
  }
