<div id='sample' ng-controller='sample' ng-init="init()">
  <!-- Tab -->
    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Tabs</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-6">
                    <h3>Simple Tabs</h3>
                    <div class="divider"></div>
                    <tabset class="ui-tab">
                        <tab heading="Static title">Static content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quidem, officiis, et ex laudantium sed cupiditate voluptatum libero nobis sit illum voluptates beatae ab. Ad, repellendus non sequi et at.</tab>
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                            {{tab.content}}
                        </tab>
                    </tabset>

                    <h3>Panel Tabs</h3>
                    <div class="divider"></div>
                    <div class="ui-tab-container">
                        <tabset class="ui-tab">
                            <tab heading="Home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus. </tab>
                            <tab heading="Quod ea">Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!</tab>
                            <tab heading="Earum sequi">Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.</tab>
                        </tabset>
                    </div>
                </div>

                <div class="col-sm-6">
                    <h3>Justified Tabs</h3>
                    <div class="divider"></div>
                    <tabset justified="true" class="ui-tab">
                        <tab heading="Justified">Justified content</tab>
                        <tab heading="SJ">Short Labeled Justified content</tab>
                        <tab heading="Long Justified">Long Labeled Justified content</tab>
                    </tabset>

                    <div class="divider divider-md"></div>

                    <h3>Justified Panel Tabs</h3>
                    <div class="divider"></div>
                    <div class="ui-tab-container">
                        <tabset justified="true" class="ui-tab">
                            <tab heading="Justified">Justified content</tab>
                            <tab heading="SJ">Short Labeled Justified content</tab>
                            <tab heading="Long Justified">Long Labeled Justified content</tab>
                        </tabset>
                    </div>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="ui-tab-container ui-tab-success">
                        <tabset class="ui-tab">
                            <tab heading="Home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus. </tab>
                            <tab heading="Quod ea">Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!</tab>
                            <tab heading="Earum sequi">Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.</tab>
                        </tabset>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="ui-tab-container ui-tab-info">
                        <tabset class="ui-tab">
                            <tab heading="Home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus. </tab>
                            <tab heading="Quod ea">Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!</tab>
                            <tab heading="Earum sequi">Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.</tab>
                        </tabset>
                    </div>                      
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="ui-tab-container ui-tab-warning">
                        <tabset class="ui-tab">
                            <tab heading="Home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus. </tab>
                            <tab heading="Quod ea">Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!</tab>
                            <tab heading="Earum sequi">Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.</tab>
                        </tabset>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="ui-tab-container ui-tab-danger">
                        <tabset class="ui-tab">
                            <tab heading="Home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus. </tab>
                            <tab heading="Quod ea">Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!</tab>
                            <tab heading="Earum sequi">Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.</tab>
                        </tabset>
                    </div>                      
                </div>
            </div>
        </div>
    </section>
    <!-- end Tab -->
    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Accordion or Collapse</div>
        <div class="panel-body">
            <p>Open only one at a time?</p>
            <label class="switch switch-success"><input type="checkbox" ng-model="oneAtATime"><i></i></label>
            <hr>
            <accordion close-others="oneAtATime" class="ui-accordion">
                <accordion-group heading="Static Header, initially expanded" is-open="true">
                    This content is straight in the template.
                </accordion-group>
                <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    {{group.content}}
                </accordion-group>
            </accordion>
        
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                        <accordion-group heading="Consectetur adipisicing elit" is-open="true">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                        </accordion-group>
                        <accordion-group heading="Temporibus consequatur vel veritatis" is-open="false">
                            Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                        </accordion-group>
                        <accordion-group heading="Vel veritatis corrupti minima" is-open="false">
                             Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-md-6">
                    <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-info">
                        <accordion-group heading="Consectetur adipisicing elit" is-open="false">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                        </accordion-group>
                        <accordion-group heading="Temporibus consequatur vel veritatis" is-open="true">
                            Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                        </accordion-group>
                        <accordion-group heading="Vel veritatis corrupti minima" is-open="false">
                             Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
                        </accordion-group>                    
                    </accordion>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-warning">
                        <accordion-group heading="Consectetur adipisicing elit" is-open="false">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                        </accordion-group>
                        <accordion-group heading="Temporibus consequatur vel veritatis" is-open="false">
                            Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                        </accordion-group>
                        <accordion-group heading="Vel veritatis corrupti minima" is-open="true">
                             Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-md-6">
                    <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-danger">
                        <accordion-group heading="Consectetur adipisicing elit" is-open="true">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                        </accordion-group>
                        <accordion-group heading="Temporibus consequatur vel veritatis" is-open="false">
                            Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                        </accordion-group>
                        <accordion-group heading="Vel veritatis corrupti minima" is-open="false">
                             Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
                        </accordion-group>                    
                    </accordion>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Modal -->
    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Modal</div>
        <div class="panel-body">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3>I am a modal!</h3>
                </div>
                <div class="modal-body">
                    <span ng-repeat="item in items" class="list-unstyled">
                        <label class="ui-radio"><input name="radio1" type="radio" value="{{ item }}"  ng-checked="selected.item === item" ng-click="selected.item = item"><span>{{ item }}</span></label>
                    </span>
                    <br>
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <button class="btn btn-primary" ng-click="openDialog()">Open me!</button>
            <div class="divider"></div>
            <div class="callout callout-info" ng-show="selected">
                <p>Selection from a modal: {{ selected }}</p>
            </div>
        </div>
    </section>
    <!-- end Modal -->
    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Switch</div>
        <div class="panel-body">
            <div class="row">
                <label class="switch switch-success"><input type="checkbox" ng-model="switchOff"><i></i></label>
                {{switchOff}}
            </div>
            <div class="row">
                <label class="switch switch-success"><input type="checkbox" ng-model="switchOn"><i></i></label>
                {{switchOn}}
            </div>
        </div>
       
    </section>
    <!-- end Accordion -->
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Tags Input</strong></div>
        <div class="panel-body">
            <tags-input ng-model="tags" class="ui-tags-input" ></tags-input>
        </div>
    </section> 
    <!-- Notfify -->
    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Notify</div>
        <div class="panel-body">
            <button class="btn btn-w-md btn-gap btn-info" data-ng-click="notify('info')">info message</button>
            <button class="btn btn-w-md btn-gap btn-success" data-ng-click="notify('success')">success message</button>
            <button class="btn btn-w-md btn-gap btn-warning" data-ng-click="notify('warning')">warning message</button>
            <button class="btn btn-w-md btn-gap btn-danger" data-ng-click="notify('error')">error message</button>
            <div class="callout callout-info">
                <p>Notification will show in lower right corner.</p>
            </div>
        </div>
    </section>
    <!-- end Notify -->

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Rating</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <rating class="ui-rating size-h3"
                            ng-model="rate"
                            max="max"
                            readonly="isReadonly"
                            on-hover="hoveringOver(value)"
                            on-leave="overStar = null"
                            state-on="'fa fa-star'"
                            state-off="'fa fa-star-o'"></rating>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                    <div class="callout callout-info">
                        <p>Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></p>
                    </div>


                    <button class="btn btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
                    <button class="btn btn-info" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
                </div>
                <div class="col-md-6">
                    <h5>Colorful and Sizing</h5>
                    <rating ng-init="x = 4" class="ui-rating size-h4 ui-rating-success"
                            ng-model="x"
                            max="6"
                            readonly="true"
                            state-on="'fa fa-star'"
                            state-off="'fa fa-star-o'"></rating>
                    <br>
                    <rating ng-init="x = 5" class="ui-rating size-h3 ui-rating-info"
                            ng-model="x"
                            max="7"
                            readonly="true"
                            state-on="'fa fa-star'"
                            state-off="'fa fa-star-o'"></rating>
                    <br>
                    <rating ng-init="x = 6" class="ui-rating size-h2 ui-rating-warning"
                            ng-model="x"
                            max="8"
                            readonly="true"
                            state-on="'fa fa-star'"
                            state-off="'fa fa-star-o'"></rating>
                    <br>
                    <rating ng-init="x = 7" class="ui-rating size-h1 ui-rating-danger"
                            ng-model="x"
                            max="9"
                            readonly="true"
                            state-on="'fa fa-star'"
                            state-off="'fa fa-star-o'"></rating>
                </div>
            </div>
        </div>
    </section>

    <!-- Datepicker -->
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Datepicker</strong></div>
        <div class="panel-body">
            <div class="row">
                <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

                <h4>Inline</h4>
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                </div>

                <h4>Popup</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
                    </div>
                </div>

                <hr />
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
        </div>
    </section>
    <!-- end Datepicker -->

    <button type="button" class="btn btn-sm btn-info" ng-click="backNative()">Back Native App</button>

</div>