#showcase .category-upsell-section .category-upsell-list {
  list-style:none
}
.category-upsell-section {
    padding: 80px 0;
    background-color: #fff}

#showcase .category-upsell-section .category-upsell-list .category-upsell-item {
  text-align:center;
  margin-bottom:20px;
}

#showcase .category-upsell-section .category-upsell-list .category-upsell-name {
  display:block;
  /*font-size:20px;*/
  margin-bottom:10px;
  color:#3c3f47;
}

#showcase .category-upsell-section .category-upsell-link:hover {
  text-decoration:none;
}


#showcase .category-upsell-section .category-upsell-link:hover .category-upsell-icon {
  -webkit-box-shadow:0 0 0 8px #f4fbfe;
  -moz-box-shadow:0 0 0 8px #f4fbfe;
  box-shadow:0 0 0 8px #f4fbfe;
  -moz-box-shadow:0 0 0 8px #f4fbfe,transparent 0 0 0;
  -webkit-box-shadow:0 0 0 8px #f4fbfe,transparent 0 0 0;
  box-shadow:0 0 0 8px #f4fbfe,transparent 0 0 0;
}


#showcase .category-upsell-section .category-upsell-link:hover .category-upsell-icon::after {
  -webkit-transform:scale(.9);
  -moz-transform:scale(.9);
  -ms-transform:scale(.9);
  -o-transform:scale(.9);
  transform:scale(.9);
  border:2px solid #99daf3;
  top:-1px;
  left:-1px;
  opacity:.003;
  filter:alpha(opacity=0.3);
  -moz-opacity:.3;
  -khtml-opacity:.3;
  -webkit-opacity:.3;
  opacity:.3;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);filter:alpha(opacity=30);
}
#showcase .category-upsell-section .category-upsell-icon {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff,transparent 0 0 0;
  -webkit-box-shadow: 0 0 0 0 #fff,transparent 0 0 0;
  box-shadow: 0 0 0 0 #fff,transparent 0 0 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#showcase .category-upsell-section .category-upsell-icon::after {
 position:absolute;
 top:0;
 left:0;
 content:"";
 display:block;
 width:148px;
 height:148px;
 border:2px solid #c8c9cc;
 -ms-border-radius:100px;
 -o-border-radius:100px;
 -webkit-border-radius:100px;
 -moz-border-radius:100px;
 border-radius:100px;
 -webkit-transition:all .1s ease-out;
 -moz-transition:all .1s ease-out;
 -o-transition:all .1s ease-out;
 -ms-transition:all .1s ease-out;
 transition:all .1s ease-out
}
#showcase .category-upsell-title {
  /*font-size: 36px;*/
  font-weight: normal;
  margin-bottom: 80px;
  margin-top: 0;
}
#showcase h1, h2, h3, h4, h5 {
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-weight: normal;
  letter-spacing: -0.03em;
}

#showcase .category-upsell-section .category-upsell-price{
    /*font-size:15px;*/
    color:#33b5e6
}

#showcase .category-upsell-section [class^="category-icon-"] {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 48px;
}
#showcase .category-upsell-section .category-icon-viecnhanh {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%20%20%20%20%20viewBox%3D%22282%20372%2048%2048%22%20enable-background%3D%22new%20282%20372%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%20%20%20%20%3Cg%20opacity%3D%220.24%22%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%2300A3E0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20points%3D%22%0A%20%20%20%20%20%20%20%20%20%20%20%20312.5%2C386.3%20317.4%2C391.3%20312.5%2C396.2%20%20%20%20%20%20%20%20%20%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%2300A3E0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20points%3D%22%0A%20%20%20%20%20%20%20%20%20%20%20%20299.7%2C396.2%20294.8%2C391.3%20299.7%2C386.3%20%20%20%20%20%20%20%20%20%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%2300A3E0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22303.2%22%20y1%3D%22396.2%22%20x2%3D%22309%22%20y2%3D%22386.3%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cg%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22%0A%20%20%20%20%20%20%20%20%20%20%20%20M329%2C409.6c0%2C1.7-1.3%2C3.2-3%2C3.2h-39.8c-1.7%2C0-3-1.4-3-3.2V380c0-1.7%2C1.3-3.2%2C3-3.2H326c1.7%2C0%2C3%2C1.4%2C3%2C3.2V409.6z%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22292.1%22%20y1%3D%22416.7%22%20x2%3D%22320%22%20y2%3D%22416.7%22%2F%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22306.1%22%20y1%3D%22412.7%22%20x2%3D%22306.1%22%20y2%3D%22416.7%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20cx%3D%22306.1%22%20cy%3D%22408.7%22%20r%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23231F20%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22283.2%22%20y1%3D%22404.8%22%20x2%3D%22329%22%20y2%3D%22404.8%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat;
}
#showcase .category-upsell-section .category-icon-hr {
  background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <g> <g> <polygon fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points=" 42,58 33,61 36,52 55,33 61,39 "></polygon> <line fill="none" stroke="#010101" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="50" y1="38" x2="56" y2="44"></line> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36" y1="52" x2="42" y2="58"></line> </g> <path fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d=" M29,43H8c-2.8,0-5-2.2-5-5V8c0-2.8,2.2-5,5-5h40c2.8,0,5,2.2,5,5v18"></path> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3" y1="13" x2="53" y2="13"></line> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="10" cy="8" r="1"></circle> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="16" cy="8" r="1"></circle> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="22" cy="8" r="1"></circle> </g> <rect x="10.8" y="19.9" fill="#C2E8F7" width="34.5" height="15.2"></rect> </svg>') no-repeat;
}
#showcase .category-upsell-section .category-icon-osin {
  background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <line fill="none" stroke="#C2E8F7" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="9.7" y1="33.3" x2="55" y2="3.5"></line> <polyline fill="none" stroke="#C2E8F7" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="54,12.5 55,3.5 46,2.5 "></polyline> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3" y1="58.5" x2="61" y2="58.5"></line> <rect x="7" y="50.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="8"></rect> <rect x="21" y="40.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="18"></rect> <rect x="35" y="30.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="28"></rect> <rect x="49" y="20.5" fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8" height="38"></rect> </svg>') no-repeat;
}
#showcase .category-upsell-section .category-icon-other {
  background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <g> <path fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M49,55.5c0,2.8-2.2,5-5,5 H20c-2.8,0-5-2.2-5-5v-48c0-2.8,2.2-5,5-5h24c2.8,0,5,2.2,5,5V55.5z"></path> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="15" y1="12.5" x2="49" y2="12.5"></line> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="15" y1="50.5" x2="49" y2="50.5"></line> <line fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="25" y1="8.5" x2="39" y2="8.5"></line> <circle fill="none" stroke="#010101" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="32" cy="55.5" r="2"></circle> </g> <rect x="23.8" y="21.4" fill="#C2E8F7" width="16" height="19"></rect> </svg>') no-repeat;
}
